<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:data="http://www.thymeleaf.org/extras/data" layout:decorator="layout/fragments/LayoutPadrao">
<head>

<link rel="stylesheet" th:href="@{/vendors/css/upload.min.css}" />

</head>
<body>
	<section layout:fragment="conteudo">
		<div class="container-fluid">
			
			
			<div class="row">

				<form method="POST" id="form" role="form" th:object="${pessoaFisicaCondominio}"
						th:action="${pessoaFisicaCondominio.id}==0 ? @{/administrador/condominio/funcionario/novo} :
						 @{/administrador/condominio/funcionario/editar/{id}(id=${pessoaFisicaCondominio.id})}">


										<input type="hidden" th:field="*{id}"> 
										<input type="hidden" th:field="*{condominio}"> 
										<input type="hidden" th:field="*{pessoaFisica}"> 
										<input type="hidden" th:field="*{pessoaFisica.pessoaFisicaPerfilCondominio[0].perfilCondominio.id}"> 
<!-- 										<input type="hidden" th:field="*{pessoaFisica.emails[0]}"> -->


						<div class="col-md-8">
							<div class="card">
								<div class="card-header card-header-icon" data-background-color="blue">
									<i class="material-icons">face</i>
								</div>
								<div class="card-content">
									<h4 class="card-title" th:unless="${pessoaFisicaCondominio.novo}">Editar Funcionário</h4>
									
									<th:block th:if="${pessoaFisicaCondominio.novo}">
										<h5 class="card-title"  th:utext="|Incluir Funcionário Para <strong>${pessoaFisicaCondominio.condominio.pessoaJuridica.nomeFantasia}</strong>|">Incluir Funcionario</h5>
										
									</th:block>


									<div class="alert alert-warning alert-with-icon" data-notify="container" th:if="${#fields.hasAnyErrors()}">
										<i class="material-icons" data-notify="icon">notifications</i>
										<th:block th:each="erro : ${#fields.detailedErrors()}">
											<div>
												<i class="fa fa-exclamation-circle text-info "></i> <b th:text="${erro.message}">Mensagem de erro</b>
											</div>
									</div>
									
									<div class="row">
										<div class="col-md-6 form-group" syndic:classforerror="tipoFuncionario">
											<select class="form-control" data-style="select-with-transition" title="Sexo" data-size="7" th:field="*{tipoFuncionario}">
											<option value="0">Selecione o cargo do funcionário *</option>
												<option th:each="tipo : ${listaTipoFuncionario}" th:value="${tipo.id}" th:text="${tipo.nome}"></option>
											</select>
										</div>
									</div>
									
									<div class="row">
										<div class="col-md-6">
											<div class="form-group label-floating" syndic:classforerror="pessoaFisica.nome">
												<label class="control-label">Nome Completo <star>*</star></label> 
												<input type="text" class="form-control required" placeholder=""	th:field="*{pessoaFisica.nome}" />
											</div>
										</div>
										
										<div class="col-md-3">
											<div class="form-group label-floating " syndic:classforerror="inicio" >
												<label class="control-label">Data Início<star>*</star></label> 
												<input type="text" class="form-control datepicker data-mask" th:field="*{inicio}">
											</div>
										</div>
										
										<div class="col-md-3">
											<div class="form-group label-floating" >
												<label class="control-label">Data Término</label> 
												<input type="text" class="form-control datepicker data-mask" placeholder=""	
												th:field="*{dataFim}">
											</div>
										</div>
										
									</div>


									<div class="row">
										<div class="col-md-7">
											<div class="form-group label-floating " syndic:classforerror="pessoaFisica.cpf">
												<label class="control-label">CPF <star>*</star></label> 
												<input type="text"  class="form-control required cpf-mask" placeholder=""	th:field="*{pessoaFisica.cpf}">
											</div>
										</div>
										
										
										<div class="col-md-5">
											<div class="form-group label-floating " syndic:classforerror="pessoaFisica.dataNascimento">
												<label class="control-label" >Data Nascimento <star>*</star></label> 
												<input type="text" class="form-control datepicker data-mask" placeholder=""	
												th:field="*{pessoaFisica.dataNascimento}">
											</div>
										</div>
										

								</div>
								
								<div class="row">
								
										<div class="col-md-4 form-group" syndic:classforerror="pessoaFisica.sexo">
											<select class="form-control" data-style="select-with-transition" title="Sexo" data-size="7" th:field="*{pessoaFisica.sexo}">
												<option th:each="sex,iterationStatus : ${sexo}" th:value="${sex.id}" th:text="${sex.nome}"></option>
											</select>
										</div>
										
										<div class="col-md-8">
											<div class="form-group label-floating" syndic:classforerror="pessoaFisica.emails[0].nome">
												<label class="control-label">E-mail <star>*</star></label> 
												<input type="email"   class="form-control" email="true" 
												th:field="*{pessoaFisica.emails[0].nome}">
											</div>
										</div>
								 
								
								</div>


									<div class="row">
                                            <div class="col-md-1">
                                            	<div class="form-group label-floating" syndic:classforerror="pessoaFisica.telefones[0].ddd" >
                                                    <label class="control-label">DDD</label>
                                                    <input type="text" class="form-control " th:field="*{pessoaFisica.telefones[0].ddd}">
                                                </div>
                                            </div>    
                                            <div class="col-md-5">
                                                <div class="form-group label-floating"  syndic:classforerror="pessoaFisica.telefones[0].numero" >
                                                    <label class="control-label">Telefone</label>
                                                    <input type="text" class="form-control telefone-mask" th:field="*{pessoaFisica.Telefones[0].numero}">
                                                </div>
                                            </div>  
                                            <div class="col-md-1">
                                                <div class="form-group label-floating"  syndic:classforerror="pessoaFisica.telefones[1].ddd">
                                                    <label class="control-label">DDD</label>
                                                    <input type="text" class="form-control" th:field="*{pessoaFisica.telefones[1].ddd}">
                                                </div>
                                            </div>    
                                            <div class="col-md-5">
                                               	<div class="form-group label-floating"  syndic:classforerror="pessoaFisica.telefones[1].numero" >
                                                    <label class="control-label">Celular</label>
                                                    <input type="text" class="form-control telefone-mask" th:field="*{pessoaFisica.telefones[1].numero}">
                                                </div>
                                           	</div> 
                             			</div>  
                             


								<div class="row">
										<div class="col-md-12">
											<div class="form-group label-floating" syndic:classforerror="pessoaFisica.nomeMae">
												<label class="control-label">Nome da Mãe <star>*</star></label> 
												<input type="text"   class="form-control required"  
												th:field="*{pessoaFisica.nomeMae}">
											</div>
										</div>
								</div>
								
								
								<div class="row">
										<div class="col-md-12">
											<div class="form-group label-floating " syndic:classforerror="pessoaFisica.nomePai">
												<label class="control-label">Nome do Pai</label> 
												<input type="text"   class="form-control required"  
												th:field="*{pessoaFisica.nomePai}">
											</div>
										</div>
								</div>
								
									<button type="button" onClick="history.back()"	class="btn btn-warning pull-right">Cancelar</button>
									<button type="submit" class="btn btn-info pull-right">Salvar</button>
									<button th:if="${pessoaFisicaCondominio.id!=0}" th:data-url="@{/administrador/condominio/funcionario/enviarsenha}" type="button" class="btn btn-info pull-right js-gerar-senha">Gerar Senha</button>
									
									<div class="clearfix"></div>

								</div>
							</div>
						</div>





						<div class="col-md-4">
							<div class="card">

								<input type="hidden" class="js-nomeFoto" th:field="*{pessoaFisica.nomeFoto}" /> 
								<input type="hidden" class="js-contentType" th:field="*{pessoaFisica.contentType}" />
								<input type="hidden" class="js-novaFoto" th:field="*{pessoaFisica.novaFoto}" /> 
								<input type="hidden" class="js-urlFoto" th:field="*{condominio.urlFoto}" /> 
								<input type="hidden" class="js-id-pessoa" th:field="*{pessoaFisica.id}" /> 
								<input type="hidden" class="js-idcondominio" th:field="*{condominio.id}" /> <!-- vai salvar no diretorio HOME/iddocondominio/FotoPessoa/ -->
								<input type="hidden" class="js-diretorio" id="diretorio" name="diretorio"
									value="FotoPessoa" />


								<h6 class="category text-gray">&nbsp;</h6>
								<div class="col-md-12 col-sm-12 text-center">
									<div id="foto">
										<div class="fileinput fileinput-new text-center js-container-foto" th:attr="data-url=@{/foto}" data-provides="fileinput">
											<div id="upload-drop">
											<div class="row">
											<div class="col-md-12 col-sm-12">
												<div class="fileinput-new thumbnail">
													<img th:src="@{/assets/img/image_placeholder.jpg}">
												</div>
												</div>
											</div>
											<div class="row">
											<div class="col-md-12 col-sm-12">
												<div class="fileinput-preview fileinput-exists thumbnail"></div>
												<span class="btn btn-info btn-file"> <span
													class="fileinput-new ">Foto</span> 
													<span  class="fileinput-exists">Aguarde...</span>
													<input
													id="upload-select" type="file" name="..."
													accept=".jpg,.jpeg,.png" />
												</span> 
											</div>
											</div>

										</div>
										</div>

									</div>
								</div>
							</div>


						</div>

					</form>
				</div>
			
			
		</div>
	</section>

	<section layout:fragment="javascript-extra">
	
	
			<!-- upload de imagens -->
		<script th:src="@{/vendors/js/uikit.min.js}"></script>
		<script th:src="@{/vendors/js/upload.min.js}"></script>
		<script th:src="@{/javascripts/upload-foto.js}"></script>
	
	<!-- mascara -->
		<script th:src="@{/javascripts/mascara-input.js}"></script>
		<script th:src="@{/assets/js/jquery.mask.js}"></script>
	
	<script type="text/javascript">
    $(document).ready(function() {
        
    	 $(".js-gerar-senha").click(function(){
    		 
    		 $("#form").attr("action",$(this).attr('data-url'));
    		 $("#form").submit();
    		 
    		 
    	 });
    	
        //tratamento do label da data que estava bugado com o calendário
        $(".datepicker").blur(function(){
        	if($(this).val() != ""){
        		$(this).parent().removeClass("is-empty");
        	}else{
        		$(this).parent().addClass("is-empty");
        	}
        });
        
        $('.datepicker').datetimepicker({
            format: 'DD/MM/YYYY',
            icons: {
                time: "fa fa-clock-o",
                date: "fa fa-calendar",
                up: "fa fa-chevron-up",
                down: "fa fa-chevron-down",
                previous: 'fa fa-chevron-left',
                next: 'fa fa-chevron-right',
                today: 'fa fa-screenshot',
                clear: 'fa fa-trash',
                close: 'fa fa-remove'
            }
        });

    });
</script>

	</section>

</body>
</html>

