<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
				xmlns:th="http://www.thymeleaf.org" 
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
				xmlns:data="http://www.thymeleaf.org/thymeleaf/data" 
				layout:decorator="layout/LayoutPadrao"
				xmlns:sec="http://www.thymeleaf.org/extras/springsecurity4">
<head>
	<link rel="stylesheet" type="text/css" th:href="@{/vendors/css/plugins/dataTables/datatables.min.css}" />

</head>
<body>
	<section layout:fragment="conteudo">
       
		<div class="row wrapper border-bottom white-bg page-heading">
			<div class="col-lg-12">
           		<h2>Ordem de serviço</h2>
				<ol class="breadcrumb">
					<li>
						<a th:href="@{/}">Início</a>
					</li>
					<li class="active">
						<strong>Atendimento</strong>
					</li>					
             	</ol>
        	</div>
    	</div>

		<div class="wrapper wrapper-content animated fadeInRight">		
			<div class="row">
                <div class="col-lg-12">
                	<div class="ibox float-e-margins">
                    	<div class="ibox-title">
                        	<h5>Atendimento - Resumo</h5>
                        	<div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
	                    </div>
	                    <div class="ibox-content">
	                   		<div class="table-responsive">
	                    		<table class="table table-hover">
	                                <thead>
	                                <tr>
	                                    <th>Solicitante</th>                                  
	                                    <th>Tipo de Atendimento</th>
	                                    <th>Abertura</th>	
	                                    <th>Descrição</th>
	                                    <th>Protocolo</th>
	                                </tr>
	                                </thead>
	                                <tbody>
		                                <tr th:each="obj,iterationStatus : ${atendimentoResposta.atendimento}">
		                                	<td th:text="${obj.pessoaFisica.nome}"></td>
		                                	<td th:text="${obj.tipoAtendimento.idSubordinacao.nome} + ' - ' + ${obj.tipoAtendimento.nome}"></td>
		                                    <td th:text="${#dates.format(obj.dataCadastro, 'dd-MMM-yyyy')}"></td>
		                                    <td th:text="${obj.descricao}"></td>
		                                    <td th:text="${obj.numeroProtocolo}"></td>
		                                </tr>
	                                </tbody>
                           	 	</table>
	                        </div>
	                    </div>
	                </div>
	            </div>
			</div>
		
			<div class="row">
                <div class="col-lg-12">
					<div class="ibox float-e-margins">
                    	<div class="ibox-content">
                        	<div>
               					<div class="chat-activity-list" th:each="obj,iterationStatus : ${listAtendimentoResposta}">

									<th:block th:if="${#authentication.pessoaFisica.id} != ${obj.pessoaFisica.id}">
                    					<div class="chat-element ">
                        					<a href="#" class="pull-left">
                        							<small class="text-muted" th:text="${#dates.format(obj.dataResposta, 'dd/MM/yyyy')}">Today 4:21 pm - 12.06.2014</small>
<!--                             					<img alt="image" class="img-circle" src="img/a2.jpg"> -->
<!--                             					<img alt="image" class="img-circle thumbnail" th:src="@{/foto/FotoFuncionarios/{nome}(nome=${'thumbnail.'+#authentication.pessoaFisica.nomeFoto})}" /> -->
                        					</a>
	                        				<div class="media-body">
<!-- 	                            				<small class="pull-right text-navy">1m ago</small> -->
	                            				<strong th:text="${obj.pessoaFisica.nome}">Mike Smith</strong>
	                            				<p class="m-b-xs" th:text="${obj.resposta}"></p>
	                            				<small class="text-muted" th:text="${#dates.format(obj.dataResposta, 'dd/MM/yyyy')}">Today 4:21 pm - 12.06.2014</small>
	                        				</div>
                    					</div>
									</th:block>
									<th:block th:if="${#authentication.pessoaFisica.id} == ${obj.pessoaFisica.id}">
                    					<div class="chat-element right">
                       						<a href="#" class="pull-right">
<!--                             					<img alt="image" class="img-circle" src="img/a4.jpg"> -->
                        					</a>
                        					<div class="media-body text-right ">
<!--                             					<small class="pull-left">5m ago</small> -->
                            					<strong th:text="${obj.pessoaFisica.nome}">Mike Smith</strong>
                            					<p class="m-b-xs" th:text="${obj.resposta}"></p>
                            					<small class="text-muted" th:text="${#dates.format(obj.dataResposta, 'dd/MM/yyyy')}">Today 4:21 pm - 12.06.2014</small>
                        					</div>
                    					</div>

									</th:block>

                				</div>
                			</div>
	                        <div class="chat-form">
	                            <form method="POST" th:object="${atendimentoResposta}" name="form" id="form" th:action="@{/atendimento/resposta}">
	                    			<div class="alert alert-success alert-dismissable" th:if="${not #strings.isEmpty(mensagem)}">
										<button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
										<i class="fa fa-exclamation-circle fa-lg"></i><span th:text="${mensagem}"> Mensagem de Sucesso</span>
									</div>
						
									<div class="alert alert-danger alert-dismissable" th:if="${#fields.hasAnyErrors()}">
										<button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
						
										<th:block th:each="erro : ${#fields.detailedErrors()}">
											<div>
												<i class="fa fa-exclamation-circle fa-lg"></i> <span th:text="${erro.message}">Mensagem de erro</span>
											</div>
										</th:block>
									</div>
                    			
									<input type="hidden" th:field="*{id}">
									<input type="hidden" th:field="*{atendimento.id}">
	                                
	                                
	                                <div class="form-group" syndic:classforerror="resposta">
	                                    <textarea class="form-control required" aria-required="true" placeholder="Mensagem" th:field="*{resposta}"></textarea>
	                                </div>
	                                <div class="text-right">
	                                    <button type="submit" id="btnEnviar" class="btn btn-sm btn-primary m-t-n-xs"><strong>Enviar Mensagem</strong></button>
	                                    <a href="#" id="foo"></a>
	                                </div>
	                            </form>
	                        </div>
                	</div>
                </div>



	            </div>
			</div>					
		</div>
	</section>
	<section layout:fragment="javascript-extra">

			<script th:src="@{/vendors/js/plugins/dataTables/datatables.min.js}"></script>
        
			<script>
	        $(document).ready(function(){
	        	
	        	window.location.href='#foo';
	        	
	            $('.dataTables-example').DataTable({
	                pageLength: 25,
	                responsive: true,
	                language: {
	                	search:			"Pesquisar",
	                	lengthMenu:    "_MENU_",
	                	info:           "Mostrando de _START_ &agrave; _END_ de um total de _TOTAL_ elementos",
	                	paginate: {
	                        first:      "Primeiro",
	                        previous:   "Anterior",
	                        next:       "Próximo",
	                        last:       "Último"
	                    },
	                }
	            });
	            
				function adicionarCsrfToken(xhr) {
					
					var token = $('input[name=_csrf]').val();
					xhr.setRequestHeader('x-csrf-token', token);
				}
				
			    $(".btnSalvar").on("click", function(){
			    	
			    	var arrayRecursos;
			    	arrayRecursos = $(this).val();
			    	
			    	if(arrayRecursos != null){
			    		$.ajax({
					          
					          url: "/funcao/listafuncaorecurso",
					          method: "POST",
					          beforeSend: adicionarCsrfToken,
					          data: {nomes: arrayRecursos, id: $("#nome").data("idfuncao")},
					          dataType: "json",
					          success: function(json){	 
					        	  	
					          }
						});	   
			    	}else{
			    		//retornar o array com a string "vazio" para excluir todos os recursos de uma vez
			    		$.ajax({
					          
					          url: "/funcao/listafuncaorecurso",
					          method: "POST",
					          beforeSend: adicionarCsrfToken,
					          data: {nomes: ["vazio"], id: $("#nome").data("idfuncao")},
					          dataType: "json",
					          success: function(json){	 
					        	  	
					          }
						});	   
			    	}
			    	
        	       
				
			    });
	
	        });
		    </script>
		</section>
</body>
</html>