<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
				xmlns:th="http://www.thymeleaf.org" 
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
				xmlns:data="http://www.thymeleaf.org/thymeleaf/data"
				xmlns:syndic="http://sgpol.pm.df.gov" 
				layout:decorator="layout/LayoutPadrao"
				xmlns:sec="http://www.thymeleaf.org/extras/springsecurity4">

<head>
	<link rel="stylesheet" th:href="@{/vendors/css/upload.min.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/vendors/css/plugins/sweetalert/sweetalert.css}" />
</head>
<body>
	<section layout:fragment="conteudo">

		<div class="row wrapper border-bottom white-bg page-heading">
			<div class="col-lg-10">
				<h2>Atendimento</h2>
				<ol class="breadcrumb">
					<li><a href="/">Início</a></li>
					<li><a>Formulário</a></li>
					<li class="active"><strong th:text="${atendimento.id==0?'Incluir':'Editar'}">Incluir</strong></li>
				</ol>
			</div>
			<div class="col-lg-2"></div>
		</div>

		<div class="wrapper wrapper-content animated fadeInRight">

			<div class="row">
				<div class="col-lg-12">

					<div class="ibox float-e-margins">
						<div class="ibox-title">
							<h5>
								Atendimento <small> - Cadastrar um novo atendimento.</small>
							</h5>
							<div class="ibox-tools">
								<th:block th:if="${atendimento.id}">
								  <a class="btn btn-primary" th:href="@{/atendimento/incluir}">
 									<i class="fa  fa-plus-circle"></i> <span class="hidden-xs  hidden-sm">&nbsp;Incluir Atendimento</span>
 								</a>
								</th:block>
							</div>
						</div>
						<div class="ibox-content">
							<div class="row">
								<div class="col-sm-12 ">

									<form method="POST" th:object="${atendimento}" name="form" id="form" th:action="@{/atendimento/incluir}">

										<input type="hidden" th:field="*{id}">
										<input type="hidden" th:field="*{pessoaFisica.id}">

										<div class="alert alert-success alert-dismissable" th:if="${not #strings.isEmpty(mensagem)}">
											<button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
											<i class="fa fa-exclamation-circle fa-lg"></i><span th:text="${mensagem}"> Mensagem de Sucesso</span>
										</div>

										<div class="alert alert-danger alert-dismissable" th:if="${#fields.hasAnyErrors()}">
											<button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>

											<th:block th:each="erro : ${#fields.detailedErrors()}">
												<div>
													<i class="fa fa-exclamation-circle fa-lg"></i> <span th:text="${erro.message}">Mensagem de erro</span>
												</div>
											</th:block>
										</div>
										<div class="row">
										
										<div class="col-md-6" syndic:classforerror="tipoAtendimento.idSubordinacao" >
				                    	   	<label  class="control-label">Tipo de Atendimento</label> 
				 	                    	<select class="form-control atualizar-auto" th:data-atualizar="select-subtipoatendimento" th:field="*{tipoAtendimento.idSubordinacao}">            
					                    		<option value="" selected="selected" >Selecione o Tipo de Atendimento</option>	
				 								<option th:each="tpAtendimento,iterationStatus : ${listTipoAtendimentoPrincipal}" th:value="${tpAtendimento.id}"  th:text="${tpAtendimento.nome}"></option>
				 							</select>
				 						</div>
				 						
				 						<div class="col-md-6 " syndic:classforerror="tipoAtendimento" >
				 							<label  class="control-label">Subtipo de Atendimento</label> 
				 							<div class="sgp-field-action">
				 								<select class="form-control select-subtipoatendimento" th:data-url="@{/atendimento/listarsubtipoatendimento}" th:Field="*{tipoAtendimento}">
						                    		<option value="" selected="selected">Selecione o SubTipo do Atendimento</option>
				 								</select>
				 								
				 								<div class="sgp-field-__icon js-img-loading" style="display:none;">
				 									<img th:src="@{/img/mini-loading.gif}" />
												</div>
											</div>
										</div>	
										
											<div class="col-md-12">				
												<div class="form-group" syndic:classforerror="descricao">
													<label for="descricao" class="control-label">Descrição</label> 
													<textarea rows="5" class="form-control required" aria-required="true" placeholder="descricao" th:field="*{descricao}"></textarea>
												</div>
											</div>		
										</div>
										
										
										
										
										
										
										
										
										
										
										
										
										
										
										
										<div>
											<button class="btn btn-sm  btn-primary  btn-lg" type="submit">
												<strong>Salvar</strong>
											</button>

												<a class="btn btn-sm btn-primary  btn-lg" th:href="@{/atendimento/excluir/{id}(id = *{id})}" role="button">&nbsp;Excluir</a>
												<a class="btn btn-sm btn-primary  btn-lg" th:href="@{/atendimento/listar}" role="button">&nbsp;Listar</a>

										</div>
									</form>
									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</section>			
	
	<section layout:fragment="javascript-extra">
	
		
		

		 <!-- Data picker -->
    	<!-- Date range picker -->
    	
		<script th:src="@{/javascripts/combo-atualizar-combo.js}"></script>
    	
    	<!-- mascara -->
			
	
		<div th:replace="layout/fragments/MensagemExcluido :: modal"></div>
	</section>
</body>
</html>