<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:data="http://www.thymeleaf.org/extras/data" layout:decorator="layout/fragments/LayoutPadrao">
<head>
</head>
<section layout:fragment="conteudo">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header card-header-icon" th:data-background-color="orange">
							<i class="material-icons">build</i>
						</div>

<!-- 						<div class="card-header card-header-icon pull-right" th:data-background-color="purple"> -->
<!-- 							<a th:href="@{/unidade/atendimento/incluir}"> <i rel="tooltip" title="Adicionar Registro" class="material-icons">add_circle_outline</i></a> -->
<!-- 						</div> -->

						<div class="card-content ">
							
							<h4 class="card-title">Resumo do Atendimento</h4>
							

							<div class="alert alert-success alert-with-icon" data-notify="container" th:if="${not #strings.isEmpty(mensagem)}">
								<i class="material-icons" data-notify="icon">check</i>
								<button type="button" aria-hidden="true" class="close">
									<i class="material-icons">close</i>
								</button>
								<span data-notify="message" th:text="${mensagem}">Mensagem de Sucesso</span>
							</div>

<!-- 							<h4 class="card-title"> -->
<!-- 								Lista de Proprietários da <strong class="category" th:text="|${unidade.tipoUnidade.nome} ${unidade.unidadeHabitacional}, ${unidade.enderecoUnidade.descricao} ${unidade.tipoEnderecoUnidade.descricao} - ${condominio.pessoaJuridica.nomeFantasia}  |">Uniade</strong> -->
<!-- 							</h4> -->

							<div class="ibox-content">
		                   		<div class="table-responsive">
		                    		<table id="datatables" class="table" cellspacing="0" width="100%" style="width:100%">
										<thead>
											<tr>
			                                    <th>Protocolo</th>
												<th>Solicitante</th>                                  
			                                    <th>Tipo de Atendimento</th>
			                                    <th>Descrição</th>
			                                    <th>Abertura</th>	
			                                    <th>status</th>	
											</tr>
										</thead>
											<tbody >
			                    				<tr th:each="obj,iterationStatus : ${atendimento}">
				                                    <td th:text="|${obj.protocoloZeros}|"></td>
				                                	<td th:text="${obj.pessoaFisica.nome}"></td>
				                                	<td th:text="${obj.tipoAtendimento.idSubordinacao.nome} + ' - ' + ${obj.tipoAtendimento.nome}"></td>
				                                    <td th:text="${obj.descricao}"></td>
				                                    <td th:text="${#dates.format(obj.dataCadastro, 'dd-MMM-yyyy')}"></td>
				                                    <td th:text="${obj.ultimoStatusAtendimento.statusChamado.nome}"></td>
				                                    
				                                </tr>
		                    			</tbody>
									</table>
		                        </div>
		                    </div>
		                    
		                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            	<div class="panel panel-default">
                                	<div class="panel-heading" role="tab" id="headingOne">
                                    	<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="collapsed">
                                        	<h4 class="panel-title">
                                            	Histórico Ordem de Servico
                                                <i class="material-icons">keyboard_arrow_down</i>
											</h4>
                                        </a>
									</div>
									<div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne" aria-expanded="false" style="height: 0px;">
					            		<div class="panel-body">
						               		
						               		<div class="table-responsive">
					                    		<table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
													<thead>
														<tr>
						                                    <th>#</th>
									                        <th>Nome</th>
									                        <th>Tipo de Atendimento</th>
									                        <th>Data Cadastro</th>
									                        <th>Data Fim</th>
									                        <th>Descrição</th>
														</tr>
													</thead>
													<tbody >
					                    				<tr th:each="obj,iterationStatus : ${listHistoricoOrdemServico}">
					                         			<td th:text="${iterationStatus.count}"></td>
								                        <td th:text="${obj.ordemServico.tipoOrdemServico.nome}"></td>
								                        <td th:text="${obj.ordemServicoStatus.nome}"></td>
								                        <td th:text="${#dates.format(obj.dataInicio, 'dd/MM/yyyy')}"></td>				
								                        <td th:text="${#dates.format(obj.dataFim, 'dd/MM/yyyy')}"></td>
								                        <td th:text="${obj.descricao}"></td>
				                    				</tbody>
												</table>
					                        </div>
						               		
									    </div>
									</div>
								</div>
							</div>

							<div class="row ">
								<div class="col-md-12">
									<a type="button" class="btn btn-warning pull-right" th:href="@{/unidade/editarpormorador}">Voltar </a>
								</div>
							</div>
														
						</div>
						<!-- end content-->
					</div>
				</div>
			</div>			
			<!--  end card  -->
			
			<th:block sec:authorize="hasRole('ROLE_SINDICO')" >
			
				<div class="row">
					<div class="col-md-12">
						<div class="card">
										
							<div class="card-header card-header-icon" th:data-background-color="orange">
								<i class="material-icons">build</i>
							</div>
		
							<div class="card-content ">
												
								<h4 class="card-title">Controle de Ordem de Serviço</h4>
	
		                   			<div class="ibox-content">
	                   					<div class="table-responsive">
		                    				<form method="POST" th:object="${ordemServico}" name="form" id="form" th:action="@{/ordemservico/incluir/{id}(id=${atendimento.id})}">
		                    			
												<input type="hidden" th:value="${atendimento.id}" th:name="atendimento.id">
																																
	<!-- 			                    			<div class="alert alert-success alert-dismissable" th:if="${not #strings.isEmpty(mensagem)}"> -->
	<!-- 												<button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button> -->
	<!-- 												<i class="fa fa-exclamation-circle fa-lg"></i><span th:text="${mensagem}"> Mensagem de Sucesso</span> -->
	<!-- 											</div> -->
								
												<div class="alert alert-warning alert-with-icon" data-notify="container" th:if="${#fields.hasAnyErrors()}">
													<i class="material-icons" data-notify="icon">notifications</i>
													<th:block th:each="erro : ${#fields.detailedErrors()}">
														<div>
															<i class="fa fa-exclamation-circle text-info "></i> <b th:text="${erro.message}">Mensagem de erro</b>
														</div>
												</div>
											
												<div class="col-md-12">											
													<div class="form-group" syndic:classforerror="tipoOrdemServico">
														<label for="tipoOrdemServico"  class="control-label" >Tipo Ordem de Serviço</label> 
														<select class="form-control" th:field="*{tipoOrdemServico}">
															<th:block th:if="${#lists.size(listTipoOrdemServico)} != 1">
																<option value="0">Selecione o Tipo de Ordem de Serviço</option>
															</th:block>
															<option th:each="obj,iterationStatus : ${listTipoOrdemServico}" th:value="${obj.id}"  th:text="${obj.nome}"></option>
														</select>
													</div>
												</div>
												
												<div class="col-md-12">											
													<div class="form-group" syndic:classforerror="listHistoricoOrdemServico[0].ordemServicoStatus">
														<label for="ordemServicoStatus"  class="control-label" >Status da Ordem de Serviço</label> 
														<select class="form-control" th:field="*{listHistoricoOrdemServico[0].ordemServicoStatus}">
															<option value="0">Selecione o Status da Ordem de Serviço</option>
															<option th:each="obj,iterationStatus : ${listOrdemServicoStatus}" th:value="${obj.id}"  th:text="${obj.nome}"></option>
														</select>
													</div>
												</div>
													
												<div class="col-md-12">													
													<div class="form-group" >
														<textarea rows="5" class="form-control required" aria-required="true" placeholder="descricao" th:field="*{listHistoricoOrdemServico[0].descricao}"></textarea>
													</div>
												</div>
											
												<div class="col-md-12">
													<button class="btn btn-info pull-right" type="submit">
														<strong>Salvar</strong>
													</button>
		<!-- 											<a class="btn btn-sm btn-primary  btn-lg" th:href="@{/ordemservico/salvar}" role="button" id="btnSalvar">&nbsp;Salvar</a> -->
		<!-- 											<a class="btn btn-sm btn-primary  btn-lg" th:href="@{/ordemservico/excluir/{id}(id = *{id})}" role="button">&nbsp;Excluir</a> -->
												</div>
										</form>
		                        	</div>
		                    	</div>
							</div>
						</div>
					</div>
				</div>
			</th:block>
						
		</div>
		<!-- end col-md-12 -->
	<!-- end row -->
</section>


<section layout:fragment="javascript-extra">
	<script type="text/javascript">
		$(document).ready(function() {
			$(function () {
				  $('[data-toggle="tooltip"]').tooltip()
				})
			
			
			$('.card .material-datatables label').addClass('form-group');
		});
	</script>
</section>


</body>
</html>