<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/LayoutPadrao">
<head>
	<link rel="stylesheet" type="text/css" th:href="@{/vendors/css/plugins/dataTables/datatables.min.css}" />

</head>
<body>
	<section layout:fragment="conteudo">
       
		<div class="row wrapper border-bottom white-bg page-heading">
			<div class="col-lg-12">
           		<h2>Cadastro de Atendimentos</h2>
				<ol class="breadcrumb">
					<li>
						<a th:href="@{/}">Início</a>
					</li>
					<li class="active">
						<strong>Atendimento</strong>
					</li>					
             	</ol>
        	</div>
    	</div>

		<div class="wrapper wrapper-content animated fadeInRight">
		
			<div class="alert alert-success alert-dismissable"  th:if="${not #strings.isEmpty(mensagem)}" >
				<button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
				<i class="fa fa-exclamation-circle fa-lg"></i><span th:text="${mensagem}"> Mensagem de Sucesso</span>
			</div>
		
			<div class="row">
                <div class="col-lg-12">
                	<div class="ibox float-e-margins">
                    	<div class="ibox-title">
                        	<h5>Lista de Atendimentos</h5>
	                        <div class="ibox-tools">
	                            
	                             <a class="btn btn-primary" th:href="@{/atendimento/incluir}">
 									<i class="fa  fa-plus-circle"></i> <span class="hidden-xs  hidden-sm">&nbsp;Incluir Atendimento</span>
 								</a>
	                            
	                        </div>
	                    </div>
	                    <div class="ibox-content">
	                   		<div class="table-responsive">
	                    		<table class="table table-striped table-bordered table-hover dataTables-example" >
	                    			<thead>
	                    				<tr>
					                        <th>#</th>
					                        <th>Nome</th>
					                        <th>Tipo do Atendimento</th>
					                        <th>Subtipo do Atendimento</th>
					                        <th>Data Cadastro</th>
					                        <th>Protocolo</th>
					                        <th>Descrição</th>
					                        <th>Ação</th>
	                    				</tr>
	                    			</thead>
	                    			<tbody >
		                    				<tr th:each="obj,iterationStatus : ${atendimento}">
		                         			<td th:text="${iterationStatus.count}"></td>
					                        <td th:text="${obj.pessoaFisica.nome}"></td>
					                        <td th:text="${obj.tipoAtendimento.idSubordinacao.nome}"></td>
					                        <td th:text="${obj.tipoAtendimento.nome}"></td>
					                        <td th:text="${#dates.format(obj.dataCadastro, 'dd/MM/yyyy')}"></td>
					                        <td th:text="${obj.numeroProtocolo}"></td>         
					                        <td th:text="${obj.descricao}"></td>
					                        <td>
					                        	&nbsp;
				                        		<a th:href="@{/atendimento/resposta/{idatendimento}(idatendimento = ${obj.id})}"> 
				                        			<i class="fa fa-wechat fa-2x">
				                        			</i>
				                        		</a>												
				                        		&nbsp;
				                        		<a th:href="@{/ordemservico/listar/{idatendimento}(idatendimento = ${obj.id})}"> 
				                        			<i class="fa fa-cogs fa-2x">
				                        			</i>
				                        		</a>
											</td>
	                    				</tr>
	                    			</tbody>
	                    			<tfoot>
	                   
	                    			</tfoot>
	                    		</table>
	                        </div>
	                    </div>
	                </div>
	            </div>
			</div>
		</div>
	</section>
	<section layout:fragment="javascript-extra">

			<script th:src="@{/vendors/js/plugins/dataTables/datatables.min.js}"></script>
        
			<script>
	        $(document).ready(function(){
	            $('.dataTables-example').DataTable({
	                pageLength: 25,
	                responsive: true,
	                language: {
	                	search:			"Pesquisar",
	                	lengthMenu:    "_MENU_",
	                	info:           "Mostrando de _START_ &agrave; _END_ de um total de _TOTAL_ elementos",
	                	paginate: {
	                        first:      "Primeiro",
	                        previous:   "Anterior",
	                        next:       "Próximo",
	                        last:       "Último"
	                    },
	                }
	            });
	
	        });
		    </script>
		</section>
</body>
</html>