
<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/fragments/LayoutPadrao">

<body>
	<section layout:fragment="conteudo">


		<div class="row">
			<div class="col-md-6">
				<div class="card">
					<div class="card-header card-header-icon" data-background-color="blue">
						<i class="material-icons">timeline</i>
					</div>
					<div class="card-content">
						<h4 class="card-title">
							Resumo dos Atendimentos <small> - Últimos 06 Mêses</small>
						</h4>
					</div>
					<div>
						<canvas id="graficoServicoPorMes"></canvas>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="card">
					<div class="card-header card-header-icon" data-background-color="red">
						<i class="material-icons">pie_chart</i>
					</div>
					<div class="card-content">
						<h4 class="card-title">Situação dos Atendimentos <small>Últimos 06 Mêses.</small></h4>
					</div>
					<div id="canvas-holder">
								<canvas id="graficoServicoPorMesPizza"></canvas>
							</div>
				</div>
			</div>
		</div>
		
		
		
		
		<div class="row">
			<div class="col-md-6">
				<div class="card">
					<div class="card-header card-header-icon" data-background-color="blue">
						<i class="material-icons">timeline</i>
					</div>
					<div class="card-content">
						<h4 class="card-title">
							Resumo dos Atendimentos <small> - Últimos 06 Mêses</small>
						</h4>
					</div>
					<div>
						<canvas id="graficoServicoPorCategoria"></canvas>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="card">
					<div class="card-header card-header-icon" data-background-color="red">
						<i class="material-icons">pie_chart</i>
					</div>
					<div class="card-content">
						<h4 class="card-title">Resumo dos <small>Últimos 06 Mêses.</small></h4>
					</div>
					<div >

						<div class="col-md-4" th:each="tipo: ${listTipoAtendimento}">
							<button type="button" class="btn btn-danger m-r-sm" th:text="${tipo.quantidade}">12</button>
							<span th:text="${tipo.tipo}">Emergências</span>
						</div>
					</div>
				</div>
			</div>
		</div>



	</section>

	<section layout:fragment="javascript-extra">
		<!-- ChartJS-->
		<script th:src="@{/vendors/js/plugins/chartJs/Chart.min.js}"></script>
		<script th:src="@{/vendors/js/Chart.bundle.js}"></script>
		<script th:src="@{/vendors/js/utils.js}"></script>
		<script th:src="@{/javascripts/graficos-atendimento.js}"></script>
	</section>

</body>
</html>