
<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:data="http://www.thymeleaf.org/extras/data"
	layout:decorator="layout/fragments/LayoutPadrao">
<head>

<link rel="stylesheet" th:href="@{/vendors/css/upload.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/vendors/css/plugins/sweetalert/sweetalert.css}" />

</head>
<body>
	<section layout:fragment="conteudo">
		<div class="content">
			<div class="container-fluid">


				<div class="row">

					<div class="col-md-12">

						<form method="POST" role="form" th:object="${tipoMaterial}" th:action="@{/tipomaterial/{id}(id=${tipoMaterial.id})}">
						
							<input type="hidden"  th:value="*{id}">

							<div class="alert alert-success alert-with-icon" data-notify="container" th:if="${not #strings.isEmpty(mensagem)}">
								<i class="material-icons" data-notify="icon">check</i>
								<button type="button" aria-hidden="true" class="close">
									<i class="material-icons">close</i>
								</button>
								<span data-notify="message" th:text="${mensagem}">Mensagem de Sucesso</span>
							</div>

							<div class="card">
								<div class="card-header card-header-icon" data-background-color="blue">
									<i class="material-icons">settings_input_component</i>
								</div>
								<div class="card-content">
									<h4 class="card-title" th:unless="${tipoMaterial.novo}">Editar tipo de material</h4>
									<h4 class="card-title" th:if="${tipoMaterial.novo}">Incluir Novo tipo de material</h4>

									<div class="alert alert-warning alert-with-icon" data-notify="container" th:if="${#fields.hasAnyErrors()}">
										<i class="material-icons" data-notify="icon">close</i>
										<button type="button" aria-hidden="true" class="close">
											<i class="material-icons">close</i>
										</button>
										<th:block th:each="erro : ${#fields.detailedErrors()}">
											<span data-notify="message" th:utext="${erro.message}">Mensagem de erro</span>
										</th:block>
									</div>

									<div class="row">
										<div class="col-md-12">
											<div class="form-group label-floating" syndic:classforerror="nome">
												<label class="control-label">Tipo de Material *</label>
												<input type="text" class="form-control required" placeholder="" th:field="*{nome}" />
											</div>
										</div>
									</div>							

									<a th:href="@{/tipomaterial}"  class="btn btn-warning pull-right">cancelar</a>
									<button type="submit" class="btn btn-info pull-right">Salvar</button>

									<div class="clearfix"></div>

								</div>
							</div>

						</form>
					</div>
				</div>
			</div>
				<div th:replace="/syndic/sistema/tipomaterial/listar"></div>
			

		</div>
	</section>

	<section layout:fragment="javascript-extra">

		<!-- upload de imagens -->
		<script th:src="@{/vendors/js/uikit.min.js}"></script>
		<script th:src="@{/vendors/js/upload.min.js}"></script>

		<script th:src="@{/vendors/js/plugins/sweetalert/sweetalert.min.js}"></script>
		
			<script th:src="@{/javascripts/dialogo-excluir.js}"></script>
		<!-- mascara -->
		<script th:src="@{/assets/js/jquery.mask.js}"></script>

		<script type="text/javascript">
			$(document).ready(
					function() {
						$('#datatables').DataTable(
								{
									"pagingType" : "full_numbers",
									"lengthMenu" : [ [ 10, 25, 50, -1 ],
											[ 10, 25, 50, "All" ] ],
									responsive : true,
									language : {
										search : "_INPUT_",
										searchPlaceholder : "Localizar",
									}

								});

						var table = $('#datatables').DataTable();

							table.on('click', '.edit', function() {
							$tr = $(this).closest('tr');

							var data = table.row($tr).data();
						});

						$('.card .material-datatables label').addClass(
								'form-group');
					});
		</script>

	</section>

</body>
</html>