<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:data="http://www.thymeleaf.org/extras/data"
	layout:decorator="layout/fragments/LayoutPadrao">
<head>

<link th:href="@{/vendors/css/plugins/dropzone/basic.css}"
	rel="stylesheet">
<link th:href="@{/vendors/css/plugins/dropzone/dropzone.css}"
	rel="stylesheet">
	


</head>
<body>
	<section layout:fragment="conteudo">
		<div class="container-fluid">

							



			<div class="row">
			
			
			
							<div class="alert alert-warning alert-with-icon" data-notify="container" th:if="${not #strings.isEmpty(mensagem)}">
								<i class="material-icons" data-notify="icon">check</i>
								<button type="button" aria-hidden="true" class="close">
									<i class="material-icons">close</i>
								</button>
								<span data-notify="message" th:text="${mensagem}">Mensagem de Sucesso</span>
							</div>
			

				<form method="POST" id="form" role="form" th:object="${documentoFiltro}"
					th:action="@{/condominio/documentos/buscar/{id}(id=${documentoFiltro.condominio.id})}">


					<input type="hidden" th:field="*{condominio}"> 
					




					<div class="col-md-12 js-card-form">
						
						<div class="card">
							<div class="card-header card-header-icon"
								data-background-color="orange">
								<i class="material-icons">find_in_page</i> 
							</div>
							<div class="card-content">
								<h4 class="card-title" >Encontrar Documentos
									</h4>

									<div class="row ">
										<div class="col-sm-6 col-lg-6 col-md-6 " >
											<select class="form-control js-select-documento "  th:field="*{tipoDocumento}" title="Tipo de Documento"
												data-size="7" >
												<option value="0"> TIPO DE DOCUMENTO <star>*</star></option>
												<option th:each="tipo,iterationStatus : ${listTipoDocumento}"
													th:value="${tipo.id}" th:text="${tipo.nome}"></option>
											</select>
										</div>
										<div class="col-sm-6 col-lg-6 col-md-6 form-group" >
											<select class="form-control js-endereco atualizar-auto" th:field="*{enderecoUnidade}"  atualizar="js-subendereco"   data-style="select-with-transition"  data-size="7">
												<option value="0">Endereco Unidade </option>
												<option th:each="endereco : ${listEnderecoUnidade}" th:value="${endereco.id}" th:text="${endereco.descricao}"></option>
											</select>
										</div>
									</div>
									
									
									<div class="row">
										<div class="col-sm-6 col-lg-6 col-md-6 form-group" >
											<select class="form-control js-subendereco atualizar-auto" th:field="*{tipoEnderecoUnidade}" th:url="|@{/enderecamento/pesquisarporendereco/}${documentoFiltro.condominio.id}/|"  
											atualizar="js-unidadehabitacional"   data-style="select-with-transition"  data-size="7">
												<option value="0">Sub Endereco Unidade </option>
<!-- 												<option th:each="endereco : ${listTipoEnderecoUnidade}" th:value="${endereco.id}" th:text="${endereco.descricao}"></option> -->
											</select>
										</div>
										<div class="col-sm-6 col-lg-6 col-md-6 form-group" >
											<select class="form-control js-unidadehabitacional atualizar-auto" th:field="*{unidade}"  th:url="|@{/enderecamento/pesquisarportipoendereco/}${documentoFiltro.condominio.id}/|" 
											 id="unidade" name="unidade"  data-style="select-with-transition"  data-size="7">
												<option value="0">Unidade Habitacional </option>
<!-- 												<option th:each="unidade : ${unidades}" th:value="${unidade.id}" th:text="${unidade.unidadeHabitacionalDescricao}"></option> -->
											</select>
										</div>
									</div>


							

								<div class="row">

									<div class="col-sm-6 col-lg-6 col-md-6 form-group">
										<div class="form-group label-floating">
											<label class="control-label">Observações sobre o
												documento 
											</label>
											<input type="text" maxlength="150" th:field="*{descricao}" class="form-control js-obs" placeholder=""  >
										</div>
									</div>

									<div class="col-sm-6 col-lg-6 col-md-6">
									<button type="submit" 	class="btn btn-success pull-left">Aplicar Filtro</button>
									</div>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>
					</div>
					
					</form>
					
					
			</div>
			
			
			
			<div class="row">
				<div class="col-md-12">


					<div class="card">
						<div class="card-header card-header-icon" th:data-background-color="orange">
							<i class="fa fa-file-archive-o fa-2x"></i>
						</div>


						<div class="card-content ">



							<h4 class="card-title">
								Lista de Documentos do Condomínio
							</h4>


							<div class="material-datatables">

									<table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
										<thead>
											<tr>
												<th>#</th>
												<th>Status</th>
												<th>Tipo</th>
												<th width="30%;">descricao</th>
												<th>Responsável</th>
												<th>Arquivo</th>
										</thead>
										<tbody>
											<tr th:each="documento,iterationStatus : ${listDocumentos}">
												<td th:text="${iterationStatus.count}">cont</td>
<!-- 												<td ><b th:if="${documento.dataValidacao}" style="color: green;" > Válido</b> <b th:unless="${documento.dataValidacao}" style="color: red;" > NÃO VALIDADO</b></td> -->
												<td ><b  style="color: green;" th:text="${documento.statusDocumento.nome}" > Válido</b> </td>
												<td th:text="${documento.tipoDocumento}==null?'--':${documento.tipoDocumento.nome}">tipo</td>
												<td th:text="${documento.descricao}">tipo</td>
												<td  th:text="${documento.pessoaFisicaUnidade.pessoaFisica.nome}" >respons</td>
												
												<td class="td-actions pull-center"  >
													<a th:href="@{/arquivo/{id}(id = ${documento.id})}" class="btn btn-warning btn-round"
														rel="tooltip" title="Visualizar Arquivo"  th:if="${documento.nome}!=null" > <i class="fa fa-paperclip fa-2x"></i>
													</a>
												
												</td>
												
											</tr>


										</tbody>
									</table>
								</div>
								
								<div class="row "><br/>
									<a type="button" class="btn btn-warning pull-right" th:href="@{/sindico/condominio/editar/{id}(id=${documentoFiltro.condominio.id})}">Voltar </a>
								</div>
						</div>
						<!-- end content-->
					</div>
				</div>
			</div>


		</div>
	</section>

	<section layout:fragment="javascript-extra">


		<script th:src="@{/javascripts/combo-atualizar-combo.js}"></script>

		<script type="text/javascript">
		
		
			$(document).ready(function() {

						
				$(".js-select-documento").change(function() {
					
					$("#tipodocumento").val($(this).val());
					
				});
				
				$(".js-endereco").change(function() {
					
					$("#endereco").val($(this).val());
					
				});
				
				$(".js-subendereco").change(function() {
					
					$("#subendereco").val($(this).val());
					
				});
				
				$(".js-unidadehabitacional").change(function() {
					
					$("#unidadehabitacional").val($(this).val());
					
				});
				
				$(".js-obs").keyup(function() {
					$("#obs").val($(this).val());
				});
				
						$(".js-chk-recurso").click(function() {

							$(".js-input-tipo").val($(this).attr("id"));
							$("#tipo").val($(this).attr("id"));
							
							if($(this).attr("id")==1){
								$("#2").prop("checked", false);
							}
							else{
								$("#1").prop("checked", false);
							}

						});

						

						//tratamento do label da data que estava bugado com o calendário
						$(".datepicker").blur(function() {
							if ($(this).val() != "") {
								$(this).parent().removeClass("is-empty");
							} else {
								$(this).parent().addClass("is-empty");
							}
						});

						$('.datepicker').datetimepicker({
							format : 'DD/MM/YYYY',
							icons : {
								time : "fa fa-clock-o",
								date : "fa fa-calendar",
								up : "fa fa-chevron-up",
								down : "fa fa-chevron-down",
								previous : 'fa fa-chevron-left',
								next : 'fa fa-chevron-right',
								today : 'fa fa-screenshot',
								clear : 'fa fa-trash',
								close : 'fa fa-remove'
							}
						});

					});
			
			
			
			$(document).ready(function() {
				$('#datatables').DataTable({
					"pagingType" : "full_numbers",
					"lengthMenu" : [ [ 10, 25, 50, -1 ], [ 10, 25, 50, "All" ] ],
					responsive : true,
					language : {
						search : "_INPUT_",
						searchPlaceholder : "Localizar",
					}

				});

				var table = $('#datatables').DataTable();

				// Edit record
				table.on('click', '.edit', function() {
					$tr = $(this).closest('tr');

					var data = table.row($tr).data();
					//  alert('You press on Row: ' + data[0] + ' ' + data[1] + ' ' + data[2] + '\'s row.');
				});

				$('.card .material-datatables label').addClass('form-group');
			});
			
			
		</script>

	</section>

</body>
</html>

