<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:data="http://www.thymeleaf.org/extras/data"
	layout:decorator="layout/fragments/LayoutPadrao">
<head>

<link th:href="@{/vendors/css/plugins/dropzone/basic.css}"
	rel="stylesheet">
<link th:href="@{/vendors/css/plugins/dropzone/dropzone.css}"
	rel="stylesheet">
	


</head>
<body>
	<section layout:fragment="conteudo">
		<div class="container-fluid">

							



			<div class="row">

				<form method="POST" id="form" role="form" th:object="${condominio}"
					th:action="${condominio.id}==0 ? @{/condominio/documento/novo} :
						 @{/condominio/documento/novo/{id}(id=${condominio.id})}">


					<input type="hidden" th:field="*{id}"> 
					
					<input type="hidden" id="total_enviado" name="total_enviado" class="js-total-enviado" value=0> 




					<div class="col-md-6 js-card-form">
						
						<div class="card">
							<div class="card-header card-header-icon"
								data-background-color="blue">
								<i class="fa fa-file-archive-o fa-2x"></i>
							</div>
							<div class="card-content">
								<h4 class="card-title" th:unless="${condominio.novo}">Upload de Documentos
									</h4>



									<div  class="js-tipo-envio"> 
											<div class="row">
												<div class="col-md-12">
													<h4 >Escolha a forma de envio<star> *</star></h4>
												</div>
											</div>
			
											<div class="row ">
											
											<div class="col-sm-12 col-lg-12 col-md-12 ">
													<div class="checkbox checkbox-inline ">
														<label> <input type="checkbox"  id="2" class="js-chk-recurso " 
															name="optionsCheckboxes">Documento para uma ou mais Unidades
														</label>
													</div>
												</div>
											
												<div class="col-sm-12 col-lg-12 col-md-12 ">
													<div class="checkbox checkbox-inline ">
														<label> <input type="checkbox"   id="1" class="js-chk-recurso " 
															name="optionsCheckboxes">Batch de Documentos
														</label>
													</div>
												</div>
												<input type="hidden" class="js-input-tipo" >
												
											</div>
								
									</div>
									<br/>
									
									<div class="row erro">
										<div class="col-sm-12 col-lg-12 col-md-12 " >
											<select class="form-control js-select-documento "  title="Tipo de Documento"
												data-size="7" >
												<option value="0"> TIPO DE DOCUMENTO <star>*</star></option>
												<option th:each="tipo,iterationStatus : ${listTipoDocumento}"
													th:value="${tipo.id}" th:text="${tipo.nome}"></option>
											</select>
										</div>
									</div>
									
									
									<div class="row">
										<div class="col-sm-12 col-lg-12 col-md-12 form-group" >
											<select class="form-control js-endereco atualizar-auto" atualizar="js-subendereco"   data-style="select-with-transition"  data-size="7">
												<option value="">Endereco Unidade </option>
												<option th:each="endereco : ${listEnderecoUnidade}" th:value="${endereco.id}" th:text="${endereco.descricao}"></option>
											</select>
										</div>
									</div>
									
									
									<div class="row">
										<div class="col-sm-12 col-lg-12 col-md-12 form-group" >
											<select class="form-control js-subendereco atualizar-auto" th:url="|@{/enderecamento/pesquisarporendereco/}${condominio.id}/|"  
											atualizar="js-unidadehabitacional"   data-style="select-with-transition"  data-size="7">
												<option value="0">Sub Endereco Unidade </option>
<!-- 												<option th:each="endereco : ${listTipoEnderecoUnidade}" th:value="${endereco.id}" th:text="${endereco.descricao}"></option> -->
											</select>
										</div>
									</div>
									
									
									<div class="row">
										<div class="col-sm-12 col-lg-12 col-md-12 form-group" >
											<select class="form-control js-unidadehabitacional atualizar-auto"  th:url="|@{/enderecamento/pesquisarportipoendereco/}${condominio.id}/|" 
											 id="unidade" name="unidade"  data-style="select-with-transition"  data-size="7">
												<option value="">Unidade Habitacional </option>
												<option value="0">Todas as Unidades</option>
<!-- 												<option th:each="unidade : ${unidades}" th:value="${unidade.id}" th:text="${unidade.unidadeHabitacionalDescricao}"></option> -->
											</select>
										</div>
									</div>


							

								<div class="row">

									<div class="col-sm-12 col-lg-12 col-md-12 form-group">
										<div class="form-group label-floating">
											<label class="control-label">Observações sobre o
												documento 
											</label>
											<input type="text" maxlength="150" class="form-control js-obs" placeholder=""  >
										</div>
									</div>

								</div>
								


								<div class="row ">
									<br />
									<div class="col-sm-12 col-lg-12 col-md-12">
									<button type="button" onClick="history.back()"
										class="btn btn-warning pull-right">cancelar</button>
								</div>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>
					</div>
					
					
					
					</form>
					
					
					
					
					
					<div class="col-md-6 js-relatorio" style="display: none;">
						
						<div class="card">
							<div class="card-header card-header-icon"
								data-background-color="blue">  
								<i class="fa fa-file-archive-o fa-2x"></i>
							</div>
							<div class="card-content">
								<h4 class="card-title" >Relatório de Envio</h4>
								
								<h3 class="text" ><span class="js-tentativas text text-info"> 0 </span> Tentativas / <span class="js-enviados text text-success"> 0 </span> Enviados</h3>
								<h3 class="text" ></h3>
								<h3 class="text" ><span class="js-erros text text-danger"> 0 </span> Erros</h3>
								<img alt="" class="js-aguarde"  th:src="@{/img/aguarde.gif}"></img>
								 
								 <div style="height: 330px; overflow-y: auto;">
								 <table class="table relatorio-erro-table" style="display: none; "><tr><th>Relatório de Erros</th></tr></table>
								</div>
								<br/>
								<br/>
							
						</div>
					</div>
					</div>
					
					
						<div class="col-md-6 text-left js-anexos">
							<div class="card">
							
							
							<div class="col-md-12 col-sm-12" >
							<div class="alert alert-warning alert-with-icon  alert-dismissible js-msg-forma"
									data-notify="container" style="display: none;" >
									<i class="material-icons" data-notify="icon">notifications</i>
										<div>
											<strong>Atenção!</strong> Forma de Envio é obrigatório
										</div>
								</div>
								
								
								<div class="alert alert-warning alert-with-icon  alert-dismissible js-msg-tipo"
									data-notify="container" style="display: none;" >
									<i class="material-icons" data-notify="icon">notifications</i>
										<div>
											<strong>Atenção!</strong> Tipo de Documento é Obrigatório
										</div>
								</div>
							
							
							</div>
							

								<div class="col-md-12 col-sm-12" >
									<br/>
									 <form th:action="@{/arquivo/condominio/{id}(id=${condominio.id})}" class="dropzone" id="arquivoUpload">  
									    <input type="hidden"  id="tipo" name="tipo" >
									     <input type="hidden"  id="tipodocumento" name="tipodocumento" >
									     
									      <input type="hidden"  id="endereco" name="endereco" >
									     <input type="hidden"  id="subendereco" name="subendereco" >
									     
									     <input type="hidden"  id="unidadehabitacional" name="unidadehabitacional" >
									     
									     <input type="hidden"  id="obs" name="obs" >
									    
									    <div class="fallback"> 
									      <input name="fileToUpload" type="file" multiple /> 
									    </div> 
									    
									    
									 </form>
										<br/>
										<h5 class="text js-relatorio-i" style="display: none;" >
										    <span class="js-tentativas-i text text-info"> 0 </span> Tentativas / 
										    <span class="js-enviados-i text text-success"> 0 </span> Enviados /
										    <span class="js-erros-i text text-danger"> 0 </span> Erros
									    </h5>	
									    <small class="text text-danger js-lista-erros" style="display: none;"><p>Lista de Erros</p></small>
									    
									    									
<!-- 										<div class="row"> -->
<!-- 											<div class="col-sm-12 col-lg-12 col-md-12"> -->
<!-- 												<br/><br/><strong>* Atenção:</strong> -->
<!-- 												<p class="description">Neste cadastro é importante que você coloque no anexo arquivos de qualidade, -->
<!-- 												 legives e que sejam realmente necessários para compor sua pasta de documentos.  -->
<!-- 												 Lembrando que seu documento será validado pela administração do condominio, podendo até ser descartado em alguns casos.</p> -->
<!-- 											</div> -->
<!-- 										</div> -->
										
										
										<div class="row">
											<div class="col-sm-12 col-lg-12 col-md-12">
												<br/><br/><strong>* Batch de Documentos:</strong>
												<p class="description">Quando você quiser enviar vários arquivos de uma só vez para várias unidades, preencha o formulário ao lado
												e arraste os arquivos para dentro desta caixa. Os arquivos devem ter nome equivalente ao endereco da unidade<br/> <strong>Ex.:QD 01 LOTE 08 ou QD 01 CONJ 03 LOTE 08 </strong>. </p>
											</div>
										</div>
										
										<div class="row">
											<div class="col-sm-12 col-lg-12 col-md-12">
												<br/><br/><strong>* Documento para uma ou mais Unidades:</strong>
												<p class="description">Quando você quiser enviar um ou vários arquivos de uma só vez para uma ou várias unidades, 
												preencha o formulário ao lado e arraste os arquivos para dentro desta caixa que os arquivos serão enviados para as 
												unidades ou conjuto de unidade selecioandas, caso não seja selecionada nenhuma unidade o documentos será enviado para todas unidades do condominio </p>
											<br/><strong> * O documento só é visivel pelo proprietário da Unidade.</strong>
											</div>
										</div>
								</div>
								
								
								
							</div>
						</div>
					
					
				
			</div>


		</div>
	</section>

	<section layout:fragment="javascript-extra">



		
		<!-- DROPZONE -->
		<script th:src="@{/vendors/js/plugins/dropzone/dropzone.js}"></script>

		<script th:src="@{/javascripts/upload-documentos.js}"></script>
		<script th:src="@{/javascripts/combo-atualizar-combo.js}"></script>



		<script type="text/javascript">
		
		
			$(document).ready(function() {

						
				$(".js-select-documento").change(function() {
					
					$("#tipodocumento").val($(this).val());
					
				});
				
				$(".js-endereco").change(function() {
					
					$("#endereco").val($(this).val());
					
				});
				
				$(".js-subendereco").change(function() {
					
					$("#subendereco").val($(this).val());
					
				});
				
				$(".js-unidadehabitacional").change(function() {
					
					$("#unidadehabitacional").val($(this).val());
					
				});
				
				$(".js-obs").keyup(function() {
					$("#obs").val($(this).val());
				});
				
						$(".js-chk-recurso").click(function() {

							$(".js-input-tipo").val($(this).attr("id"));
							$("#tipo").val($(this).attr("id"));
							
							if($(this).attr("id")==1){
								$("#2").prop("checked", false);
							}
							else{
								$("#1").prop("checked", false);
							}

						});

						

						//tratamento do label da data que estava bugado com o calendário
						$(".datepicker").blur(function() {
							if ($(this).val() != "") {
								$(this).parent().removeClass("is-empty");
							} else {
								$(this).parent().addClass("is-empty");
							}
						});

						$('.datepicker').datetimepicker({
							format : 'DD/MM/YYYY',
							icons : {
								time : "fa fa-clock-o",
								date : "fa fa-calendar",
								up : "fa fa-chevron-up",
								down : "fa fa-chevron-down",
								previous : 'fa fa-chevron-left',
								next : 'fa fa-chevron-right',
								today : 'fa fa-screenshot',
								clear : 'fa fa-trash',
								close : 'fa fa-remove'
							}
						});

					});
		</script>

	</section>

</body>
</html>

