
<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:data="http://www.thymeleaf.org/extras/data" layout:decorator="layout/fragments/LayoutPadrao">
<head>

<link rel="stylesheet" th:href="@{/vendors/css/upload.min.css}" />

</head>
<body>
	<section layout:fragment="conteudo">
		<div class="container-fluid">
			
				<div class="row">

					<form method="POST" role="form" th:object="${recurso}" th:action="@{/recurso/incluir}">

						<div class="col-md-12">
							<div class="card">
								<div class="card-header card-header-icon" data-background-color="blue">
									<i class="material-icons">local_offer</i>
								</div>
								<div class="card-content">
									<h4 class="card-title" th:text="${recurso.id} == 0 ? 'Incluir Novo Recurso de Sistema' : 'Editar Recurso de Sistema'">Incluir Novo</h4>

									<div class="alert alert-warning alert-with-icon" data-notify="container" th:if="${#fields.hasAnyErrors()}">
										<i class="material-icons" data-notify="icon">notifications</i>
										<th:block th:each="erro : ${#fields.detailedErrors()}">
											<div>
												<i class="fa fa-exclamation-circle text-info "></i> <b th:text="${erro.message}">Mensagem de erro</b>
											</div>
									</div>

									<input type="hidden" th:field="*{id}" /> 

									<div class="row">
										<div class="col-md-12">
											<div class="form-group label-floating" syndic:classforerror="nome">
												<label class="control-label">Nome *</label> 
												<input type="text" class="form-control required" placeholder="" th:field="*{nome}" maxlength="255"/>
											</div>
										</div>
										<div class="col-md-12">
											<div class="form-group label-floating" syndic:classforerror="nome">
												<label class="control-label">Descrição *</label> 
												<input type="text" class="form-control required" placeholder="" th:field="*{descricao}" maxlength="255"/>
											</div>
										</div>
									</div>
									
									<button type="button" onClick="history.back()" class="btn btn-warning pull-right">cancelar </button>
									<button type="submit" class="btn btn-info pull-right">Salvar </button>

									<div class="clearfix"></div>

								</div>
							</div>
						</div>

					</form>
				</div>
				
			</div>
	</section>

	<section layout:fragment="javascript-extra">

		<script th:src="@{/vendors/js/plugins/sweetalert/sweetalert.min.js}"></script>
		<!-- mascara -->
		<script th:src="@{/javascripts/mascara-input.js}"></script>
		<script th:src="@{/assets/js/jquery.mask.js}"></script>



	</section>

</body>
</html>