	<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:data="http://www.thymeleaf.org/extras/data" layout:decorator="layout/fragments/LayoutPadrao">
<head>

<link rel="stylesheet" th:href="@{/vendors/css/upload.min.css}" />

</head>
<body>
	<section layout:fragment="conteudo">
		<div class="container-fluid">
			
			
			<div class="row">

				<form method="POST" id="form" role="form" th:object="${pessoaFisicaUnidade}"
						th:action="${pessoaFisicaUnidade.id}==0 ? @{/condominio/morador/novo} :
						 @{/condominio/morador/novo/{id}(id=${pessoaFisicaUnidade.id})}">


										<input type="hidden" th:field="*{id}"> 
										<input type="hidden" th:field="*{pessoaFisica}"> 


						<div class="col-md-8">
							<div class="card">
								<div class="card-header card-header-icon" data-background-color="green">
									<i class="material-icons">group</i>
								</div>
								<div class="card-content">
									<h4 class="card-title" th:unless="${pessoaFisicaUnidade.novo}">Editar Proprietário/Morador</h4>
									
									<th:block th:if="${pessoaFisicaUnidade.novo}">
										<h5 class="card-title" >Incluir Proprietário/Morador</h5>
									</th:block>


									<div class="alert alert-warning alert-with-icon" data-notify="container" th:if="${#fields.hasAnyErrors()}">
										<i class="material-icons" data-notify="icon">notifications</i>
										<th:block th:each="erro : ${#fields.detailedErrors()}">
											<div>
												<i class="fa fa-exclamation-circle text-info "></i> <b th:text="${erro.message}">Mensagem de erro</b>
											</div>
									</div>




								<div class="row">
								
										<div class="col-md-4">
											<div class="form-group label-floating " syndic:classforerror="dataInicio" >
												<label class="control-label">Data Início<star>*</star></label> 
												<input type="text" class="form-control datepicker data-mask" th:field="*{dataInicio}">
											</div>
										</div>
										
										<div class="col-md-4">
											<div class="form-group label-floating" >
												<label class="control-label">Data Fim</label> 
												<input type="text" class="form-control datepicker data-mask" placeholder=""	
												th:field="*{dataFim}">
											</div>
										</div>
										
										<div class="col-md-4">
											<div class="form-group label-floating " syndic:classforerror="pessoaFisica.cpf">
												<label class="control-label">CPF </label> 
												<input type="text"  class="form-control required cpf-mask" placeholder=""	th:field="*{pessoaFisica.cpf}">
											</div>
										</div>
								
									</div>


								
								<div class="row">

									<div class="col-md-12 form-group" syndic:classforerror="unidade">
										<select class="form-control js-unidade" th:data-url="@{/unidade/proprietario}" data-style="select-with-transition"  data-size="7"
											th:field="*{unidade}">
											<option value="">Unidade Habitacional <star>*</star></option>
											<option th:each="unidade : ${unidades}" th:value="${unidade.id}" th:text="${unidade.unidadeHabitacionalDescricao}"></option>
										</select>
									</div>
								</div>

								<div class="row">

									<div class="col-md-4 form-group" syndic:classforerror="tipoPessoaFisicaUnidade">
										<select class="form-control js-tipo-morador"  data-style="select-with-transition"  data-size="7"
											th:field="*{tipoPessoaFisicaUnidade}">
											<option value="">Tipo de Morador <star>*</star></option>
											<option th:each="tipo,iterationStatus : ${listTipoPessoaFisicaUnidade}" th:value="${tipo.id}" th:text="${tipo.nome}"></option>
										</select>
									</div>


									<div class="col-md-8">
											<div class="form-group label-floating" syndic:classforerror="pessoaFisica.nome">
												<label class="control-label">Nome Completo <star>*</star></label> 
												<input type="text" class="form-control required" placeholder=""	th:field="*{pessoaFisica.nome}" />
											</div>
										</div>
										
									
									

								</div>




									<div class="row">
										
										
										<div class="col-lg-3 col-md-3 col-sm-3" syndic:classforerror="pessoaFisica.sexo">
											<select class="selectpicker" data-style="btn btn-default btn-round" title="Sexo *" data-size="7" th:field="*{pessoaFisica.sexo}">
												<option th:each="sex,iterationStatus : ${sexo}" th:value="${sex.id}" th:text="${sex.nome}"></option>
											</select>
										</div>
										
										
										<div class="col-md-4">
											<div class="form-group label-floating " syndic:classforerror="pessoaFisica.dataNascimento" >
												<label class="control-label" >Data Nascimento <star>*</star></label> 
												<input type="text" class="form-control datepicker data-mask" placeholder=""	
												th:field="*{pessoaFisica.dataNascimento}">
											</div>
										</div>
										
										
										
										<div class="col-md-5">
											<input type="hidden" th:field="*{pessoaFisica.emails[0].id}"></input>
											<div class="form-group label-floating" syndic:classforerror="pessoaFisica.emails[0].nome">
												<label class="control-label">E-mail </label> 
												<input type="email"   class="form-control" email="true" 
												th:field="*{pessoaFisica.emails[0].nome}">
											</div>
										</div>
								 
										

								</div>
								


									<div class="row">
                                            <div class="col-md-1">
                                                <div class="form-group label-floating"  syndic:classforerror="pessoaFisica.telefones[0].ddd">
                                                    <label class="control-label">DDD</label>
                                                    <input type="text" class="form-control" th:field="*{pessoaFisica.telefones[0].ddd}">
                                                </div>
                                            </div>    
                                            <div class="col-md-5">
                                               	<div class="form-group label-floating"  syndic:classforerror="pessoaFisica.telefones[0].numero" >
                                                    <label class="control-label">Telefone</label>
                                                    <input type="text" class="form-control telefone-mask" th:field="*{pessoaFisica.telefones[0].numero}">
                                                </div>
                                           	</div> 
                                           	
                                           	<div class="col-md-6 form-group" style="display: none;" syndic:classforerror="parentesco" >
												<select class="form-control" data-style="select-with-transition"  data-size="7"
													th:field="*{parentesco}">
													<option value="">Parentesco com proprietário</option>
													<option th:each="grau,iterationStatus : ${listGrauParentesco}" th:value="${grau.id}" th:text="${grau.nome}"></option>
												</select>
											</div>
                                           	
                             		</div>
                             		
                             		<div style="display: none;" class="js-nome-mae"> 
	                             		<div class="row">
											<div class="col-md-12">
												<div class="form-group label-floating" syndic:classforerror="pessoaFisica.nomeMae">
													<label class="control-label">Nome da Mãe <star>*</star></label> 
													<input type="text"   class="form-control required"  
													th:field="*{pessoaFisica.nomeMae}">
												</div>
											</div>
										</div>
									
									
										<div class="row">
											<div class="col-md-12">
												<div class="form-group label-floating " syndic:classforerror="pessoaFisica.nomePai">
													<label class="control-label">Nome do Pai</label> 
													<input type="text"   class="form-control required"  
													th:field="*{pessoaFisica.nomePai}">
												</div>
											</div>
										</div>
										
										<div  style="display: none;" class="row js-percentual">
											<div class="col-md-6">
											 <div class="input-group">
												<div class="form-group label-floating " syndic:classforerror="parteImovel">
													<label class="control-label">Percentual da Parte</label> 
													<input type="text"  class="form-control required percentual-mask"  
													th:field="*{parteImovel}">
												</div>
												<span class="input-group-addon">
                                                           %
                                                 </span>
											</div>
											</div>
										</div>
										
										
										
										<input type="hidden" th:field="*{id}"> 
										
										
                             		</div>
									<div style="display: none;" class="js-recursos"> 
											<div class="row">
												<div class="col-md-12">
													<h4 >O que esse morador poderá fazer?</h4>
												</div>
											</div>
			
											<div class="row ">
												<div class="col-sm-3">
													<div class="checkbox checkbox-inline">
														<label> <input type="checkbox"  th:checked="${#lists.contains(recursos, 6)}" id="6" class="js-chk-recurso" 
															name="optionsCheckboxes">Utilizar o Sistema
														</label>
													</div>
												</div>
												<div class="col-sm-3">
													<div class="checkbox checkbox-inline">
														<label> <input type="checkbox" th:checked="${#lists.contains(recursos, 8)}" id="8" class="js-chk-recurso" 
															name="optionsCheckboxes">Reservar Espaços
														</label>
													</div>
												</div>
												<div class="col-sm-3">
													<div class="checkbox checkbox-inline">
														<label> <input type="checkbox" th:checked="${#lists.contains(recursos, 10)}" id="10" class="js-chk-recurso"
															name="optionsCheckboxes">Solicitar Serviços
														</label>
													</div>
												</div>
												
												<div class="col-sm-3">
													<div class="checkbox checkbox-inline">
														<label> <input type="checkbox" th:checked="${#lists.contains(recursos, 4)}" id="4" class="js-chk-recurso"
															name="optionsCheckboxes">Cadastrar Moradores
														</label>
													</div>
												</div>
											</div>
			
											<div class="row ">
												<div class="col-sm-3">
													<div class="checkbox checkbox-inline">
														<label> <input type="checkbox" th:checked="${#lists.contains(recursos, 7)}" id="7"class="js-chk-recurso" 
															name="optionsCheckboxes">Cadastrar Visitantes
														</label>
													</div>
												</div>
												<div class="col-sm-3">
													<div class="checkbox checkbox-inline">
														<label> <input type="checkbox" th:checked="${#lists.contains(recursos, 3)}" id="3" class="js-chk-recurso"
															name="optionsCheckboxes">Cadastrar Animais
														</label>
													</div>
												</div>
												<div class="col-sm-3">
													<div class="checkbox checkbox-inline">
														<label> <input type="checkbox" th:checked="${#lists.contains(recursos, 9)}" id="9" class="js-chk-recurso"
															name="optionsCheckboxes">Publicar Classificados
														</label>
													</div>
												</div>
												<input type="hidden" class="js-input-recurso" th:value="${recursosids}" name="recursos" id="recursos" ></input>
											</div>
								
								</div>



								<div class="row "><br/>
									<div class="col-lg-12">
										 <span> <strong class="js-proprietario" >Proprietário Atual</strong></span>
									</div>
								</div>

								<div class="row "><br/>
									<div class="col-lg-12">
										<a type="button" class="btn btn-warning pull-right" th:href="@{/sindico/condominio/editar/{id}(id=${condominio.id})}">cancelar </a>
										<button type="submit" class="btn btn-info pull-right">Salvar</button>
										<a th:if="${pessoaFisicaUnidade.id!=0}" type="button" th:href="@{/pessoa/enviarsenha/{id}(id=${pessoaFisicaUnidade.PessoaFisica.id})}" class="btn btn-info pull-right js-gerar-senha">Gerar Senha</a>
									</div>
								</div>
								<div class="clearfix"></div>

								</div>
							</div>
						</div>





						<div class="col-md-4 text-center" >
							<div class="card">

								<input type="hidden" class="js-nomeFoto" th:field="*{pessoaFisica.nomeFoto}" /> 
								<input type="hidden" class="js-contentType" th:field="*{pessoaFisica.contentType}" />
								<input type="hidden" class="js-novaFoto" th:field="*{pessoaFisica.novaFoto}" /> 
								<input type="hidden" class="js-urlFoto" th:field="${condominio.urlFoto}" /> 
								<input type="hidden" class="js-id-pessoa" th:field="*{pessoaFisica.id}" /> 
								<input type="hidden" class="js-idcondominio" th:field="${condominio.id}" /> <!-- vai salvar no diretorio HOME/iddocondominio/FotoPessoa/ -->
								<input type="hidden" class="js-diretorio" id="diretorio" name="diretorio"
									value="FotoPessoa" />

								<h6 class="category text-gray">&nbsp;</h6>
								
								<div class="col-md-12 col-sm-12">
									<div id="foto">
										<div class="fileinput fileinput-new text-center js-container-foto" th:attr="data-url=@{/foto}" data-provides="fileinput">
											<div id="upload-drop">
												<div class="fileinput-new thumbnail">
													<img th:src="@{/assets/img/image_placeholder.jpg}">
												</div>
												<div class="fileinput-preview fileinput-exists thumbnail"></div>
												<div>
													<span class="btn btn-info btn-file"> 
													<span class="fileinput-new ">FOTO</span> 
													<span  class="fileinput-exists">Aguarde...</span>
													<input id="upload-select" type="file" name="..."	accept=".jpg,.jpeg,.png" />
													</span> 
												</div>
											</div>
										</div>

									</div>
								</div>
								
								
							</div>
						</div>
						
						

					</form>
				</div>
			
			
		</div>
	</section>

	<section layout:fragment="javascript-extra">
	
	
			<!-- upload de imagens -->
		<script th:src="@{/vendors/js/uikit.min.js}"></script>
		<script th:src="@{/vendors/js/upload.min.js}"></script>
		<script th:src="@{/javascripts/upload-foto.js}"></script>
	
	<!-- mascara -->
		<script th:src="@{/javascripts/mascara-input.js}"></script>
		<script th:src="@{/assets/js/jquery.mask.js}"></script>
	
	<script type="text/javascript">
	
	
	
    $(document).ready(function() {
        
    	
    	if($(".js-unidade").val()!=''){
				carregarProprietarioAtual($(".js-unidade").attr("data-url"),$(".js-unidade").val());
			
			}	 
    	
    	
 			if($(".js-tipo-morador").val()==1 || $(".js-tipo-morador").val()==6){//proprietário ou proprietário de parte
 				$(".js-nome-mae").show();
 				
 				if($(".js-tipo-morador").val()==6){
 					$(".js-percentual").show();
 				}
 			
 				$(".js-recursos").hide();
 			} 
 			else if($(".js-tipo-morador").val()==2){//morador
 				$(".js-recursos").show();
 				$(".js-percentual").hide();
 				$(".js-nome-mae").hide();
 			}
 			else{
 				$(".js-recursos").hide();
 				$(".js-percentual").hide();
 				$(".js-nome-mae").hide();
 			}
    		 
    		 
    	
    	
    	 $(".js-chk-recurso").click(function(){
    		
    		 var ids = "";
    		 var cont = 0;
    		 
    		
    		 
    		 
    		 $('input[type=checkbox]').each(function () {
	  	           if (this.checked) {
	  	        	 	cont++;
	  	           }
    		 });
    		 
    		 if (cont>0) {
    			 $("#6").prop("checked", true);
    		 }
    		 
    		 var cont = 0;
    		 
    		 $('input[type=checkbox]').each(function () {
    	           if (this.checked) {
    	        	   if(cont==0){
    	        		   
    	        		   ids =  $(this).attr("id");
    	        	   }
    	        	   else{
    	        		   ids =  ids+","+$(this).attr("id");
    	        	   }
    	               cont++;
    	           }
    			});
    		 
    		$(".js-input-recurso").val(ids);
    		 
    	 });
    	
    	
        //tratamento do label da data que estava bugado com o calendário
        $(".datepicker").blur(function(){
        	if($(this).val() != ""){
        		$(this).parent().removeClass("is-empty");
        	}else{
        		$(this).parent().addClass("is-empty");
        	}
        });
        
        $('.datepicker').datetimepicker({
            format: 'DD/MM/YYYY',
            icons: {
                time: "fa fa-clock-o",
                date: "fa fa-calendar",
                up: "fa fa-chevron-up",
                down: "fa fa-chevron-down",
                previous: 'fa fa-chevron-left',
                next: 'fa fa-chevron-right',
                today: 'fa fa-screenshot',
                clear: 'fa fa-trash',
                close: 'fa fa-remove'
            }
        });
        
        
        $(".js-unidade").change(function(){
        	
        		
   				if($(".js-unidade").val()!=''){
   					carregarProprietarioAtual($(".js-unidade").attr("data-url"),$(".js-unidade").val());
   				
   				}
        	
        	
        	
        });
        
        
        $(".js-tipo-morador").change(function(){
   		 
   			if($(this).val()==1 || $(this).val()==6){//proprietário ou proprietário de parte
   				
   				
   				if($(this).val()==6){
 					$(".js-percentual").show();
 				}
   				else{
   					$(".js-percentual").hide();
   				}
   			
   				$(".js-nome-mae").show();
   				$(".js-recursos").hide();
   				
   				
   				if($(".js-unidade").val()!=''){
   					carregarProprietarioAtual($(".js-unidade").attr("data-url"),$(".js-unidade").val());
   				
   				}
   				
   			} 
   			else if($(this).val()==2){//morador
   				$(".js-recursos").show();
   				$(".js-nome-mae").hide();
   				$(".js-percentual").hide();
   			}
   			else{
   				$(".js-recursos").hide();
   				$(".js-percentual").hide();
   				$(".js-nome-mae").hide();
   			}
   		 
   		 
   	 	});
    }); 
        
        function carregarProprietarioAtual(caminho,unidade){
        	  $.ajax({
					url :caminho,
					method:'GET',
					contentType:'application/json',
					data: {'unidade':unidade},
					success:function(resposta){
						$('.js-proprietario').html(resposta);
						
						
					}
        	  });
        }
           

</script>

	</section>

</body>
</html>

