
<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:data="http://www.thymeleaf.org/extras/data"
	layout:decorator="layout/fragments/LayoutPadrao">
<head>

<link rel="stylesheet" th:href="@{/vendors/css/upload.min.css}" />

<link rel="stylesheet" type="text/css" th:href="@{/vendors/css/plugins/sweetalert/sweetalert.css}" />

</head>
<body>
	<section layout:fragment="conteudo">
		<div class="content">
			<div class="container-fluid">


				<div class="row">

					<div class="col-md-12">

						<form method="POST" role="form" th:object="${material}" th:action="@{/material/{id}(id=${material.id})}">
						
							<input type="hidden"  th:value="*{id}">

							<div class="alert alert-success alert-with-icon" data-notify="container" th:if="${not #strings.isEmpty(mensagem)}">
								<i class="material-icons" data-notify="icon">check</i>
								<button type="button" aria-hidden="true" class="close">
									<i class="material-icons">close</i>
								</button>
								<span data-notify="message" th:text="${mensagem}">Mensagem de Sucesso</span>
							</div>

							<div class="card">
								<div class="card-header card-header-icon" data-background-color="blue">
									<i class="material-icons">build</i>
								</div>
								<div class="card-content">
									<h4 class="card-title" th:unless="${material.novo}">Editar Material</h4>
									<h4 class="card-title" th:if="${material.novo}">Incluir Novo(a) Material</h4>

									<div class="alert alert-warning alert-with-icon" data-notify="container" th:if="${#fields.hasAnyErrors()}">
										<i class="material-icons" data-notify="icon">close</i>
										<button type="button" aria-hidden="true" class="close">
											<i class="material-icons">close</i>
										</button>
										<th:block th:each="erro : ${#fields.detailedErrors()}">
											<span data-notify="message" th:utext="${erro.message}">Mensagem de erro</span>
										</th:block>
									</div>
									
									<div class="row">
										<div class="col-md-6 form-group" syndic:classforerror="pessoaJuridica">
											<select class="form-control" data-style="select-with-transition" title="Fornecedor *" data-size="7" th:field="*{pessoaJuridica}">
												<option value="">SELECIONE A EMPRESA *</option>
												<option th:each="obj : ${listPessoaJuridica}" th:value="${obj.id}" th:text="${obj.nomeFantasia}"></option>
											</select>
										</div>
										<div class="col-md-6 form-group" syndic:classforerror="tipoMaterial">
											<select class="form-control" data-style="select-with-transition" title="Tipo de Material *" data-size="7" th:field="*{tipoMaterial}">
												<option value="">SELECIONE O TIPO DE MATERIAL *</option>
												<option th:each="obj : ${listTipoMaterial}" th:value="${obj.id}" th:text="${obj.nome}"></option>
											</select>
										</div>
									</div>	

									<div class="row">
										<div class="col-md-6">
											<div class="form-group label-floating" syndic:classforerror="nome">
												<label class="control-label">Material *</label>
												<input type="text" class="form-control required" maxlength="255" placeholder="" th:field="*{nome}" />
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group label-floating" syndic:classforerror="precoUnitario">
												<label class="control-label">Preço Unitário R$ *</label>
												<input type="text" class="form-control required js-decimal" maxlength="10" placeholder="" th:field="*{precoUnitario}" />
											</div>
										</div>
									</div>
									<div class="row">	
										<div class="col-md-12">
											<div class="form-group label-floating" syndic:classforerror="descricao">
												<label class="control-label">Descrição</label>
												<textarea type="text" class="form-control" rows="3" placeholder="" th:field="*{descricao}" >
												</textarea>
											</div>
										</div>
									</div>							

									<a th:href="@{/material}"  class="btn btn-warning pull-right">cancelar</a>
									<button type="submit" class="btn btn-info pull-right">Salvar</button>

									<div class="clearfix"></div>

								</div>
							</div>

						</form>
					</div>
					
					
					
			<div th:replace="/syndic/sistema/material/listar"></div>
			

		</div>
	</section>

	<section layout:fragment="javascript-extra">

		<!-- upload de imagens -->
		<script th:src="@{/vendors/js/uikit.min.js}"></script>
		<script th:src="@{/vendors/js/upload.min.js}"></script>
		<script th:src="@{/javascripts/upload-foto.js}"></script>

		<script th:src="@{/vendors/js/plugins/sweetalert/sweetalert.min.js}"></script>
		
		<script th:src="@{/javascripts/dialogo-excluir.js}"></script>
		
		<!-- mascara -->
		<script th:src="@{/javascripts/mascara-input.js}"></script>
		<script th:src="@{/assets/js/jquery.mask.js}"></script>
		<script th:src="@{/vendors/js/jquery.maskMoney.min.js}"></script>

		<script type="text/javascript">
// 		    $(document).ready(function() {
// 		        $('#datatables').DataTable({
// 		            "pagingType": "full_numbers",
// 		            "lengthMenu": [
// 		                [10, 25, 50, -1],
// 		                [10, 25, 50, "All"]
// 		            ],
// 		            responsive: true,
// 		            language: {
// 		                search: "_INPUT_",
// 		                searchPlaceholder: "Localizar",
// 		            }
		
// 		        });
		
		
// 		        var table = $('#datatables').DataTable();
		
// 		        // Edit record
// 		        table.on('click', '.edit', function() {
// 		            $tr = $(this).closest('tr');
		
// 		            var data = table.row($tr).data();
// 		          //  alert('You press on Row: ' + data[0] + ' ' + data[1] + ' ' + data[2] + '\'s row.');
// 		        });
		

		
// 		        $('.card .material-datatables label').addClass('form-group');
// 		    });
		</script>

	</section>

</body>
</html>