


<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
   	xmlns:th="http://www.thymeleaf.org" 
   	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:data="http://www.thymeleaf.org/extras/data" >
	
<head>
<style type="text/css">
.js-sumir{
	display:none;
}
.js-mostrar{
	display:block;
}
</style>

</head>
<body>
<div class="row">
	<div class="col-md-12">
		<div class="timeline-heading">
          	
        </div>
              
        <div class="alert alert-info">
              <span><span th:text="|${ordemServico.condominio.pessoaJuridica.nomeFantasia} - ${ordemServico.tipoOrdemServico.nome}|"></span><b>
              <span th:text="|Status OS - ${ordemServico.ultimoHistoricoOrdemServico.ordemServicoStatus.nome}|"></span></b></span>
          </div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<form>
		
			<div class="alert alert-warning alert-with-icon hidden" data-notify="container">
				<i class="material-icons" data-notify="icon">close</i>
				<button type="button" aria-hidden="true" class="close">
					<i class="material-icons">close</i>
				</button>
				<span data-notify="message" class="js-mensagem-erro"></span>
			</div>
		
			<input type="hidden" id="ordemServico" th:value="${ordemServico.id}" />
			
			<div class="modal-footer">
			
			</div>
			
					<!-- 1 arquivo -->
					<input type="hidden" class="js-total-permitido-orcameto" value="4" />
					
					
					<input type="hidden" class="js-iniciando-upload" th:value="${#lists.size(ordemServico.listOrcamento)}" />
					<!-- TOTAL DE ARQUIVOS PERMITIDOS PARA UPLOAD -->
					<input type="hidden" class="js-url-excluirOrcamento" th:data-url="@{/arquivo/financeiro/excluir}" value="1" /> 
					<input type="hidden" class="js-diretorioOrcamento" id="diretorio" name="diretorio" value="ArquivosOsOrcamento" /> 
					<input type="hidden" class="js-idOrcamento" th:field="${ordemServico.id}" /> 
					
					<input type="hidden" class="js-nomeArquivoOrcamento1" th:field="${ordemServico.listOrcamento[0].nome}" /> 
					<input type="hidden" class="js-contentTypeOrcamento1" th:field="${ordemServico.listOrcamento[0].contentType}" />

					<!-- 2 arquivo -->
					<input type="hidden" class="js-nomeArquivoOrcamento2" th:field="${ordemServico.listOrcamento[1].nome}" /> 
					<input type="hidden" class="js-contentTypeOrcamento2" th:field="${ordemServico.listOrcamento[1].contentType}" />
					
					<!-- 3 arquivo -->
					<input type="hidden" class="js-nomeArquivoOrcamento3" th:field="${ordemServico.listOrcamento[2].nome}" /> 
					<input type="hidden" class="js-contentTypeOrcamento3" th:field="${ordemServico.listOrcamento[2].contentType}" />
					
					<!-- 4 arquivo -->
					<input type="hidden" class="js-nomeArquivoOrcamento4" th:field="${ordemServico.listOrcamento[3].nome}" /> 
					<input type="hidden" class="js-contentTypeOrcamento4" th:field="${ordemServico.listOrcamento[3].contentType}" />


					<input type="hidden" class="js-idOrcameto1" th:field="${ordemServico.listOrcamento[0].id}" /> 
					<input type="hidden" class="js-idOrcameto2" th:field="${ordemServico.listOrcamento[1].id}" /> 
					<input type="hidden" class="js-idOrcameto3" th:field="${ordemServico.listOrcamento[2].id}" /> 
					<input type="hidden" class="js-idOrcameto4" th:field="${ordemServico.listOrcamento[3].id}" /> 
			
				</form>
		
									<div class="row">
										
										
											<th:block   sec:authorize="hasRole('ROLE_SINDICO')">


												<th:block th:each="anexo,contador : ${ordemServico.listOrcamento}"	th:if="${contador.count}!=4">
							
							
													<div th:class="|col-md-2 col-sm-2 pull-left js-upload${contador.count} js-sumir|">
														<form th:action="@{/arquivo/orcamento}"	th:object="${ordemServico}" class="dropzone"
															th:id="|arquivoUploadOrcamento${contador.count}|"
															th:name="|arquivoUploadOrcamento${contador.count}|">
															<div class="fallback">
																<input name="fileToUpload" type="file" multiple />
															</div>
														</form>
													</div>
							
												</th:block>

												<th:block  th:if="${not #lists.isEmpty(orcamentos)}" >
													<div  class="col-md-2 col-sm-2 text-center js-arquivo-Orcamento4 js-mostrar">
														<span class="bigger-150 bolder"  >Arquivo</span><br /><i class="material-icons">attach_file</i> 
														<span class="js-imagem-arquivo4"></span>
														<br /> 
														<a  type="button" href="#" th:data-url="@{/arquivo/orcamento}" data-id="4" class="btn btn-danger pull-center btn-sm js-btn-excluir-orcamento">excluir</a>
													
													</div>
													
													<div  class="col-md-2 col-sm-2 pull-left js-upload4 js-sumir" >
													<!-- th:if="${documento.nome}==null" -->
													<form th:action="@{/arquivo/orcamento}"  th:object="${ordemServico}" class="dropzone" id="arquivoUploadOrcamento4" name="arquivoUploadOrcamento4">
														<div class="fallback">
															<input name="fileToUpload" type="file" multiple />
														</div>
													</form>
												</div>
												</th:block>	
												
												
												<th:block  th:if="${#lists.isEmpty(orcamentos)}" >
													<div  class="col-md-2 col-sm-2 text-center js-arquivo-Orcamento4 js-sumir">
														<span class="bigger-150 bolder"  >Arquivo</span><br /><i class="material-icons">attach_file</i> 
														<span class="js-imagem-arquivo4"></span>
														<br /> 
														<a  type="button" href="#" th:data-url="@{/arquivo/orcamento}" data-id="4" class="btn btn-danger pull-center btn-sm js-btn-excluir-orcamento">excluir</a>
													
													</div>
													
													<div  class="col-md-2 col-sm-2 pull-left js-upload4 js-mostrar" >
													<!-- th:if="${documento.nome}==null" -->
													<form th:action="@{/arquivo/orcamento}"  th:object="${ordemServico}" class="dropzone" id="arquivoUploadOrcamento4" name="arquivoUploadOrcamento4">
														<div class="fallback">
															<input name="fileToUpload" type="file" multiple />
														</div>
													</form>
												</div>
												</th:block>	
											
											
											</th:block>
											
											
											<th:block th:each="anexo,contador : ${ordemServico.listOrcamento}"  th:if="${contador.count}<4" sec:authorize="!hasRole('ROLE_SINDICO')">
													
													<div  th:class="|col-md-2 col-sm-2 text-center js-arquivo-Orcamento${contador.count} ${anexo.id==0 ? 'js-sumir' : 'js-mostrar'}|">
														<span class="bigger-150 bolder"  >Arquivo</span><br /><i class="material-icons">attach_file</i> 
														<span th:class="|js-imagem-arquivo${contador.count}|"></span>
														<br /> 
														<a  type="button" href="#" th:data-url="@{/arquivo/orcamento}" th:data-id="${contador.count}" class="btn btn-danger pull-center btn-sm js-btn-excluir-orcamento">excluir</a>
													</div>
											
											
												<div th:class="|col-md-2 col-sm-2 pull-left js-upload${contador.count} ${anexo.id!=0  ? 'js-sumir' :'js-mostrar'}   |" >
													<!-- th:if="${documento.nome}==null" -->
													<form th:action="@{/arquivo/orcamento}"  th:object="${ordemServico}" class="dropzone" th:id="|arquivoUploadOrcamento${contador.count}|" th:name="|arquivoUploadOrcamento${contador.count}|">
														<div class="fallback">
															<input name="fileToUpload" type="file" multiple />
														</div>
													</form>
												</div>
											
											</th:block>
											
											
											
										</div>
										
										
										<div class="row"  sec:authorize="hasRole('ROLE_SINDICO') ">
												<div class="col-md-12 col-sm-12 " >
												
														<h4>
															<strong>
															&nbsp;Atenção !</strong> Ao adicionar seu orçamento a empresa executora vai descartar os outros orçamentos, e dar prioridade ao seu para compra de materiais.
														</h4>
														
												
												</div>
										
										</div>
										
									<hr />	
									
									<button type="button" class="btn  btn-primary btn-raised pull-right js-btn-fechar" style="z-index: 100;" data-dismiss="modal">Fechar</button>
	</div>
</div>
<br/>
<script th:src="@{/javascripts/upload-arquivo-orcamento.js}"></script>
<script type="text/javascript">




// $(".js-btn-fechar").click(function() {
$('body').on('click', '.js-btn-fechar', function() {
	window.location.reload();
}); 
// $(".js-btn-excluir-orcamento").click(function() {
$('body').on('click', '.js-btn-excluir-orcamento', function() {
	//resetDropZone();
		campo = $(this).attr("data-id");
		nome = $(".js-nomeArquivoOrcamento"+campo).val();
		
		id = $(".js-idOrcamento"+campo).val();
		

		var parametro = nome;
	
		$.ajax({
		    url: $(this).attr("data-url")+"/"+parametro,
		    type: "PUT",
		    beforeSend: adicionarCsrfToken,
		    success: function(result) {
		    	
		    	 $(".js-total-permitido-orcameto").val(parseInt($(".js-total-permitido-orcameto").val())+1);
		    	
		    	$('.js-contentTypeOrcamento'+campo).val("");
				$('.js-nomeArquivoOrcamento'+campo).val("");
				$('.js-arquivo-Orcamento'+campo).hide();
				
				$(".js-upload"+campo).show();
				$(".js-upload"+campo).removeClass("js-sumir");
				
				$(".js-arquivo-Orcamento"+campo).addClass("js-sumir");
				$(".js-arquivo-Orcamento"+campo).removeClass("js-mostrar");
		    }
		});
		
		
		
}); 

	function adicionarCsrfToken(xhr) {
		var token = $('input[name=_csrf]').val();
		xhr.setRequestHeader('x-csrf-token', token);
	}
</script>
</body>



</html>