<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:data="http://www.thymeleaf.org/extras/data"
	layout:decorator="layout/fragments/LayoutPadrao">
<head>
	<link rel="stylesheet" type="text/css" th:href="@{/vendors/css/plugins/sweetalert/sweetalert.css}" />
</head>
<body>
	<section layout:fragment="conteudo">

		<div class="content">
			<div class="container-fluid"></div>
			
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header card-header-icon" th:data-background-color="gray">
							<i class="material-icons">card_travel</i>
						</div>

						<div class="card-content">
							<h4 class="card-title">
								Pacote de Serviço do <strong th:text="${condominioPacoteServico.condominio.pessoaJuridica}==null?' ': ${condominioPacoteServico.condominio.pessoaJuridica.nomeFantasia}">Condomínio</strong>
							</h4>
							<div class="toolbar">
							</div>

							<form method="POST" role="form" th:object="${condominioPacoteServico}" th:action="@{/condominio/pacoteservico/gerenciar}">
							
								<input type="hidden" th:field="*{condominio.id}" />
								<input type="hidden" th:field="*{id}" />
							
								<div class="alert alert-warning alert-with-icon" data-notify="container" th:if="${#fields.hasAnyErrors()}">
									<i class="material-icons" data-notify="icon">notifications</i>
									<th:block th:each="erro : ${#fields.detailedErrors()}">
										<div>
											<i class="fa fa-exclamation-circle text-info "></i> <b th:text="${erro.message}">Mensagem de erro</b>
										</div>
									</th:block>
								</div>
								
								<div class="alert alert-success alert-with-icon" data-notify="container" th:if="${not #strings.isEmpty(mensagem)}">
									<i class="material-icons" data-notify="icon">check</i>
									<button type="button" aria-hidden="true" class="close">
										<i class="material-icons">close</i>
									</button>
									<span data-notify="message" th:text="${mensagem}">Mensagem de Sucesso</span>
								</div>

								

								<div class="row">
									<div class="col-md-10">
										<select class="form-control" data-style="select-with-transition" data-size="7" th:field="*{pacoteServico}">
										<option  value="0" >Escolha o Pacote</option>
											<option th:each="obj : ${listPacoteServico}" th:value="${obj.id}" th:text="${obj.nome}"></option>
										</select>
									</div>
								</div>	
								
								<div class="row">
										<div class="col-md-3">
											<div class="form-group label-floating " syndic:classforerror="inicio" >
												<label class="control-label">Data Início<star>*</star></label> 
												<input type="text" class="form-control datepicker data-mask" th:field="*{inicio}">
											</div>
										</div>
										
										<div class="col-md-3">
											<div class="form-group label-floating" >
												<label class="control-label">Data Término</label> 
												<input type="text" class="form-control datepicker data-mask" placeholder=""	th:field="*{dataFim}">
											</div>
										</div>
									</div>
								
								<button type="button" onClick="history.back()" class="btn btn-warning pull-right">cancelar </button>
								<button type="submit" class="btn btn-info pull-right">Salvar </button>				
							
							</form>
	
						</div>
						
						

					</div>
				</div>
				
				
			</div>
			
		</div>
		
		<div th:replace="/syndic/condominios/pacoteservico/listar"></div>
		
	</section>

	<section layout:fragment="javascript-extra">
		
		<script th:src="@{/vendors/js/plugins/sweetalert/sweetalert.min.js}"></script>
		<script th:src="@{/javascripts/dialogo-excluir.js}"></script>
		
		<!-- mascara -->
	<script th:src="@{/vendors/js/jquery.maskMoney.min.js}"></script>
		<script th:src="@{/javascripts/mascara-input.js}"></script>
		<script th:src="@{/assets/js/jquery.mask.js}"></script>


<script type="text/javascript">
    $(document).ready(function() {
    	
        //tratamento do label da data que estava bugado com o calendário
        $(".datepicker").blur(function(){
        	if($(this).val() != ""){
        		$(this).parent().removeClass("is-empty");
        	}else{
        		$(this).parent().addClass("is-empty");
        	}
        });
        
        $('.datepicker').datetimepicker({
            format: 'DD/MM/YYYY',
            icons: {
                time: "fa fa-clock-o",
                date: "fa fa-calendar",
                up: "fa fa-chevron-up",
                down: "fa fa-chevron-down",
                previous: 'fa fa-chevron-left',
                next: 'fa fa-chevron-right',
                today: 'fa fa-screenshot',
                clear: 'fa fa-trash',
                close: 'fa fa-remove'
            }
        });

    });
</script>

	</section>

</body>
</html>