<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
   xmlns:th="http://www.thymeleaf.org" 
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:data="http://www.thymeleaf.org/extras/data" >
<head>
</head>
<body>
	 <div class="content">
                     <div class="card">
                         <div class="card-header card-header-icon" data-background-color="orange">
                             <i class="material-icons">list</i>
                         </div>
                         <div class="card-content">
                             <h4 class="card-title">Histórico de Pacotes</h4>
                             <div class="toolbar">
                             </div>
                             <div class="material-datatables">
                                 <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                                     <thead>
                                         <tr>
                                           	<th>#</th>
											<th>Condomínio</th>
											<th>Pacote de Serviço</th>
											<th>Data Início</th>
											<th>Data Fim</th>
											<th class="disabled-sorting text-right" style="width: 100px;" >Ação</th>
                                         </tr>
                                     </thead>                                    
                                     <tbody>
                                         <tr th:each="obj, iterationStatus : ${listCondominioPacoteServico}">
											<td th:text="${iterationStatus.count}">cont</td>
											<td th:text="${obj.condominio.pessoaJuridica.nomeFantasia}">obj</td>
											<td th:text="${obj.pacoteServico.nome}">obj</td>
											<td th:text="${#dates.format(obj.inicio, 'dd/MM/yyyy')}">obj</td>
											<td th:text="${obj.dataFim != null ? #dates.format(obj.dataFim, 'dd/MM/yyyy') : '-'}">obj</td>
											
											<td class="td-actions text-right" style="width: 100px;">
											
												<a th:href="@{/condominio/pacoteservico/editar/{id}(id=${obj.id})}" class="btn btn-warning btn-round edit"> 
													<i class="material-icons js-modal" th:data-id="${obj.id}" data-toggle="modal" rel="tooltip" title="Editar" >create</i>
												</a>
												<a class="btn btn-danger btn-round btn-excluir" rel="tooltip" title="Excluir Registro" name="excluir" id="excluir" th:data-url="@{/condominio/pacoteservico/excluir/} + ${obj.id}" th:data-id="${obj.id}" th:data-retorno="@{/condominio/pacoteservico/gerenciar/{id}(id=${obj.condominio.id})}" th:value="${id}"> 
													<i class="material-icons">close</i>
												</a>
											</td>
										</tr>
                                     </tbody>
                                 </table>
                             </div>
                 </div>
             </div>
     </div>
</body>
</html>