<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:data="http://www.thymeleaf.org/extras/data"
	layout:decorator="layout/fragments/LayoutPadrao">
<head>

<link th:href="@{/vendors/css/plugins/dropzone/basic.css}"
	rel="stylesheet">
<link th:href="@{/vendors/css/plugins/dropzone/dropzone.css}"
	rel="stylesheet">

</head>
<body>
	<section layout:fragment="conteudo">
		<div class="container-fluid">

<div class="alert alert-warning alert-with-icon  alert-dismissible js-limite-excedido"
									data-notify="container" style="display: none;" >
									<i class="material-icons" data-notify="icon">notifications</i>
										<div>
											<strong>Atenção!</strong> Limite de anexos excedido
										</div>
								</div>



			<div class="row">

				<form method="POST" id="form" role="form" th:object="${documento}"
					th:action="${documento.id}==0 ? @{/unidade/documento/novo} :
						 @{/unidade/documento/novo/{id}(id=${documento.id})}">


					<input type="hidden" th:field="*{id}"> 
					<input type="hidden"	th:field="*{unidade}">


					<div class="col-md-8">
						<div class="card">
							<div class="card-header card-header-icon"
								data-background-color="blue">
								<i class="fa fa-file-archive-o fa-2x"></i>
							</div>
							<div class="card-content">
								<h4 class="card-title" th:unless="${documento.novo}">Editar
									Dados do Documento</h4>

								<th:block th:if="${documento.novo}">
									<h5 class="card-title"
										th:utext="|Incluir Documento Para <strong>${unidade.enderecoUnidade.descricao}
										  ${unidade.tipoEnderecoUnidade.descricao}
										 
										   ${unidade.tipoUnidade.nome}
										  
										  ${unidade.unidadeHabitacional}
										 </strong>|">Incluir
										Documento</h5>

								</th:block>


								<div class="alert alert-warning alert-with-icon"
									data-notify="container" th:if="${#fields.hasAnyErrors()}">
									<i class="material-icons" data-notify="icon">notifications</i>
									<th:block th:each="erro : ${#fields.detailedErrors()}">
										<div>
											<i class="fa fa-exclamation-circle text-info "></i> <b
												th:text="${erro.message}">Mensagem de erro</b>
										</div>
								</div>


						<div class="row">



									<div class="col-md-6 "
										syndic:classforerror="statusDocumento">
										<select class="selectpicker "
											data-style="select-with-transition" title="Status do Documento "
											data-size="7" th:field="*{statusDocumento}">
											<option	th:each="status,iterationStatus : ${listStatusDocumento}"
												th:value="${status.id}"
												th:text="${status.nome}"></option>
										</select>
									</div>

									



								</div>


								<div class="row">



									<div class="col-md-6 "
										syndic:classforerror="pessoaFisicaUnidade">
										<select class="selectpicker "
											data-style="select-with-transition" title="Responsável "
											data-size="7" th:field="*{pessoaFisicaUnidade}">
											<option
												th:each="pessoa,iterationStatus : ${listProprietarios}"
												th:value="${pessoa.id}"
												th:text="${pessoa.pessoaFisica.nome}"></option>
										</select>
									</div>

									<div class="col-md-6 " syndic:classforerror="tipoDocumento">
										<select class="selectpicker "
											data-style="select-with-transition" title="Tipo de Documento"
											data-size="7" th:field="*{tipoDocumento}">
											<option th:each="tipo,iterationStatus : ${listTipoDocumento}"
												th:value="${tipo.id}" th:text="${tipo.nome}"></option>
										</select>
									</div>



								</div>





								<div class="row">

									<div class="col-md-12">
										<div class="form-group label-floating"
											syndic:classforerror="descricao">
											<label class="control-label">Observações sobre o
												documento <star>*</star>
											</label>
											<textarea class="form-control required" placeholder=""
												rows="3" th:field="*{descricao}"></textarea>
										</div>
									</div>

									



								</div>
								
								
								<div class="row">
									<div class="col-md-12">
										<br/><br/><strong>* Atenção:</strong>
										<p class="description">Neste cadastro é importante que você coloque no anexo arquivos de qualidade,
										 legives e que sejam realmente necessários para compor sua pasta de documentos. 
										 Lembrando que seu documento será validado pela administração do condominio, podendo até ser descartado em alguns casos.</p>
									</div>
								</div>



								<div class="row ">
									<br />
									<button type="button" onClick="history.back()"
										class="btn btn-warning pull-right">cancelar</button>
									<button type="submit" class="btn btn-info pull-right">Salvar</button>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>
					</div>
					
					<input type="hidden" class="js-nomeArquivo" th:field="*{nome}" />
								<input type="hidden" class="js-contentType"	th:field="*{contentType}" /> 
								<input type="hidden" class="js-novoArquivo" th:field="*{novoArquivo}" /> 
								<input type="hidden" class="js-urlFoto" th:field="*{urlArquivo}" />
								<input type="hidden" class="js-total-permitido"  value="1" /><!-- TOTAL DE ARQUIVOS PERMITIDOS PARA UPLOAD -->
								<input type="hidden" class="js-url-excluir" th:data-url="@{/arquivo/}"  value="1" />
								<input type="hidden" class="js-id" th:field="*{id}" />
								<input type="hidden" class="js-idunidade" th:field="${unidade.id}" />
										<!-- vai salvar no diretorio HOME/iddocondominio/FotoAnimal/ -->
								<input type="hidden" class="js-diretorio" id="diretorio" name="diretorio" value="ArquivosUnidades" />
					
					</form>
					
					<div class="col-md-3 text-center">
							<div class="card">

								

								
								
								<div class="col-md-12 col-sm-12"  th:if="${documento.nome}==null" >
									<br/>
									 <form th:action="@{/arquivo}" class="dropzone" id="arquivoUpload">  
									    <div class="fallback"> 
									      <input name="fileToUpload" type="file" multiple /> 
									    </div> 
									     <b>Limite de 5MB</b>
									 </form>
										<br/>
								</div>
								
								
								<div class="col-md-12 col-sm-12" th:unless="${documento.nome}==null" >
								<br/>
								
									 <i class="fa fa-paperclip fa-5x"></i>
									 <div class="row ">
									 <form    > 
										<br />
										<a type="button"  th:href="@{/arquivo/{id}(id=${documento.id})}"  class="btn btn-success pull-center btn-sm">Baixar</a>
										<button type="button"  class="btn btn-danger pull-center btn-sm btn-excluir-anexo" th:data-url="@{/arquivo/{id}(id=${documento.id})}">Alterar</button>
									 </form>
								</div>

										<br/>
								</div>
								
								
							</div>
						</div>
					
					
					
					
				
			</div>


		</div>
	</section>

	<section layout:fragment="javascript-extra">



		
		<!-- DROPZONE -->
		<script th:src="@{/vendors/js/plugins/dropzone/dropzone.js}"></script>

		<script th:src="@{/javascripts/upload-arquivo.js}"></script>




		<script type="text/javascript">
		
		
			$(document).ready(
					function() {

						 
						
						
						$(".js-chk-recurso").click(function() {

							var ids = "";
							var cont = 0;

							$('input[type=checkbox]').each(function() {
								if (this.checked) {
									cont++;
								}
							});

							if (cont > 0) {
								$("#6").prop("checked", true);
							}

							var cont = 0;

							$('input[type=checkbox]').each(function() {
								if (this.checked) {
									if (cont == 0) {

										ids = $(this).attr("id");
									} else {
										ids = ids + "," + $(this).attr("id");
									}
									cont++;
								}
							});

							$(".js-input-recurso").val(ids);

						});

						$(".js-gerar-senha").click(
								function() {

									$("#form").attr(
											"action",
											"/unidade/proprietario/enviarsenha/"
													+ $("#id").val());
									$("#form").submit();

								});

						//tratamento do label da data que estava bugado com o calendário
						$(".datepicker").blur(function() {
							if ($(this).val() != "") {
								$(this).parent().removeClass("is-empty");
							} else {
								$(this).parent().addClass("is-empty");
							}
						});

						$('.datepicker').datetimepicker({
							format : 'DD/MM/YYYY',
							icons : {
								time : "fa fa-clock-o",
								date : "fa fa-calendar",
								up : "fa fa-chevron-up",
								down : "fa fa-chevron-down",
								previous : 'fa fa-chevron-left',
								next : 'fa fa-chevron-right',
								today : 'fa fa-screenshot',
								clear : 'fa fa-trash',
								close : 'fa fa-remove'
							}
						});

					});
		</script>

	</section>

</body>
</html>

