<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:data="http://www.thymeleaf.org/extras/data" layout:decorator="layout/fragments/LayoutPadrao">
<head>
</head>
<section layout:fragment="conteudo">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">


					<div class="card">
						<div class="card-header card-header-icon" th:data-background-color="orange">
							<i class="fa fa-file-archive-o fa-2x"></i>
						</div>

						<div class="card-header card-header-icon pull-right" th:data-background-color="purple" sec:authorize="hasRole('ROLE_SINDICO')">
							<a th:href="@{/unidade/documento/adicionar/{id}(id = ${unidade.id})}"> <i class="material-icons">add_circle_outline</i></a>
						</div>
						
						<div class="card-header card-header-icon pull-right" th:data-background-color="purple" sec:authorize="!hasRole('ROLE_SINDICO')">
							<a th:href="@{/unidade/documento/adicionarpormorador/{id}(id = ${unidade.id})}"> <i class="material-icons">add_circle_outline</i></a>
						</div>

						<div class="card-content ">


							<div class="alert alert-success alert-dismissable" th:if="${not #strings.isEmpty(mensagem)}">
								<button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
								<i class="fa fa-exclamation-circle fa-lg"></i><span th:text="${mensagem}"> Mensagem de Sucesso</span>
							</div>


							<h4 class="card-title">
								Lista de Documentos da <strong class="category" th:text="|${unidade.tipoUnidade.nome} ${unidade.unidadeHabitacional}, ${unidade.enderecoUnidade.descricao} ${unidade.tipoEnderecoUnidade.descricao} - ${condominio.pessoaJuridica.nomeFantasia}  |">Uniade</strong>
							</h4>


							<div class="material-datatables">

									<table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
										<thead>
											<tr>
												<th>#</th>
												<th>Status</th>
												<th>Tipo</th>
												<th width="30%;">descricao</th>
												<th>Responsável</th>
												<th>Arquivo</th>
												<th class="disabled-sorting text-right">Ação</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="documento,iterationStatus : ${listDocumento}">
												<td th:text="${iterationStatus.count}">cont</td>
<!-- 												<td ><b th:if="${documento.dataValidacao}" style="color: green;" > Válido</b> <b th:unless="${documento.dataValidacao}" style="color: red;" > NÃO VALIDADO</b></td> -->
												<td ><b  style="color: green;" th:text="${documento.statusDocumento.nome}" > Válido</b> </td>
												<td th:text="${documento.tipoDocumento}==null?'--':${documento.tipoDocumento.nome}">tipo</td>
												<td th:text="${documento.descricao}">tipo</td>
												<td  th:text="${documento.pessoaFisicaUnidade.pessoaFisica.nome}" >respons</td>
												
												<td class="td-actions pull-center"  >
													<a th:href="@{/arquivo/{id}(id = ${documento.id})}" class="btn btn-warning btn-round"
														rel="tooltip" title="Visualizar Arquivo"  th:if="${documento.nome}!=null" > <i class="fa fa-paperclip fa-2x"></i>
													</a>
												
												</td>
												
												<td class="td-actions text-right" sec:authorize="!hasRole('ROLE_SINDICO')" >
													<a th:href="@{/unidade/documento/editarpormorador/{id}(id = ${documento.id})}" class="btn btn-info btn-round"
														rel="tooltip" title="Editar Informações"> <i class="material-icons">assignment</i>
													</a>
													
													<a th:href="@{/unidade/documento/excluir/{id}(id = ${documento.id})}" class="btn btn-danger btn-round"
														rel="tooltip" title="Excluir Documento"> 
														 <i class="material-icons">close</i>
													</a>
												
												</td>
												
												<td class="td-actions text-right"  sec:authorize="hasRole('ROLE_SINDICO')" >
													<a th:href="@{/unidade/documento/editar/{id}(id = ${documento.id})}" class="btn btn-info btn-round"
														rel="tooltip" title="Editar Informações"> <i class="material-icons">assignment</i>
													</a>
													
													<a th:href="@{/unidade/documento/excluir/{id}(id=${documento.id})}" class="btn btn-danger btn-round"
														rel="tooltip" title="Excluir Documento">  <i class="material-icons">close</i>
													</a>
												
												</td>
											</tr>


										</tbody>
									</table>
								</div>
								
								<div class="row "><br/>
									<a type="button" class="btn btn-warning pull-right" th:href="@{/unidade/editar/{id}(id=${unidade.id})}">Voltar </a>
								</div>
						</div>
						<!-- end content-->
					</div>
				</div>
			</div>
			<!--  end card  -->
		</div>
		<!-- end col-md-12 -->
	<!-- end row -->
</section>


<section layout:fragment="javascript-extra">
	<script type="text/javascript">
		$(document).ready(function() {
			$('#datatables').DataTable({
				"pagingType" : "full_numbers",
				"lengthMenu" : [ [ 10, 25, 50, -1 ], [ 10, 25, 50, "All" ] ],
				responsive : true,
				language : {
					search : "_INPUT_",
					searchPlaceholder : "Localizar",
				}

			});

			var table = $('#datatables').DataTable();

			// Edit record
			table.on('click', '.edit', function() {
				$tr = $(this).closest('tr');

				var data = table.row($tr).data();
				//  alert('You press on Row: ' + data[0] + ' ' + data[1] + ' ' + data[2] + '\'s row.');
			});

			$('.card .material-datatables label').addClass('form-group');
		});
	</script>
</section>


</body>
</html>