<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
   xmlns:th="http://www.thymeleaf.org" 
   xmlns:sec="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:data="http://www.thymeleaf.org/extras/data" >
	
<head>
		<link rel="stylesheet" th:href="@{/vendors/css/upload.min.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/vendors/css/plugins/sweetalert/sweetalert.css}" />
</head>
<body>
<div class="row">
	<div class="col-md-12">
        <div class="alert alert-warning">
              <span><span th:text="|${ordemServico.condominio.pessoaJuridica.nomeFantasia} - ${ordemServico.tipoOrdemServico.nome}|"></span></span>
              <span><span th:text="${ordemServico.observacao} == '' ? 'Observação: Sem observações do síndico' : |Observação: ${ordemServico.observacao}| "></span></span>
        </div>
	</div>
</div>


<div class="row" sec:authorize="hasRole('ROLE_SINDICO')">
	<div class="col-md-12">
		 <form method="POST" th:action="@{/avaliacao/salvar}" th:object="${avaliacaoOrdemServico}" class="form-horizontal">
		
			<input type="hidden" id="idOrdemServico" th:value="${ordemServico.id}" />
			<input type="hidden" class="js-url-ordemservico" th:data-url="@{/ordemservico}" />
			
			<input type="hidden" name="ordemServico" th:value="${ordemServico.id}" />

			<th:block th:if="${ordemServico.ultimoHistoricoOrdemServico.ordemServicoStatus.id} != 7">
				<div>
					<div class="form-group label-floating">
						<label class="control-label">Observação <star>*</star></label>
						<textarea rows=2 class="form-control required observacao"></textarea>
					</div>
				</div>
			</th:block>
			
			<input type="hidden" th:value="${ordemServico.tipoFluxo}" />
			<div class="row" th:each="pergunta, contador : ${listPerguntaAvaliacao}">
                
                <div class="col-sm-4">
	           		<label class="label-on-left" th:text="${pergunta.nome}">pergunta</label>
            		<input type="hidden" th:name="listAvaliacaoOSPerguntaAvaliacao[__ ${contador.index} __].perguntaAvaliacao.id" th:value="${pergunta.id}"></input>
                </div>
            	
            	<div class="col-sm-2">	                                           
		           	<select class="form-control" data-style="btn btn-primary"  title="Selecione a Pontuação" th:field="*{listAvaliacaoOSPerguntaAvaliacao[__ ${contador.index} __].pontuacao}">
		            	<th:block th:if="${pergunta.objetiva} == 0">
							<option value="5">Muito Bom</option>	
							<option value="4">Bom</option>	
							<option value="3">Regular</option>	
							<option value="2">Ruim</option>	
							<option value="1">Muito Ruim</option>	
		            	</th:block>
		            	<th:block th:if="${pergunta.objetiva} == 1">
							<option value="1">Sim</option>	
							<option value="0">Não</option>	
		            	</th:block>
					</select>
				</div>
				
			</div>
			
			<br/>
			<div class="row">
				<div class="col-sm-12">
					<div class="form-group label-floating">
						<label class="control-label">Observação <star>*</star></label>
						<textarea rows=2 class="form-control required observacao" th:field="*{observacao}"></textarea>
					</div>
				</div>
			</div>
												
			<div class="modal-footer" >
					<button type="submit" class="btn btn-primary btn-raised">Salvar</button>
			</div>
		</form>
	</div>
</div>

<section layout:fragment="javascript-extra">

</section>


</body>
</html>