<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
   xmlns:th="http://www.thymeleaf.org" 
   xmlns:sec="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:data="http://www.thymeleaf.org/extras/data" >
<head>
</head>
<body>



<div class="row">
	<div class="col-md-12">
        <div class="alert alert-warning">
              <span><span th:text="|${ordemServico.condominio.pessoaJuridica.nomeFantasia} - ${ordemServico.tipoOrdemServico.nome}|"></span></span>
              <span><span th:text="${ordemServico.observacao} == '' ? 'Observação: Sem observações do síndico' : |Observação: ${ordemServico.observacao}| "></span></span>
        </div>
	</div>
</div>

<div class="row"  sec:authorize="hasRole('ROLE_EMPRESA_ADMINISTRADOR') || hasRole('ROLE_EMPRESA_ASSISTENTE')" >
	<div class="col-md-12">
		<div class="checkbox">
	    	<label>
	        	<input class="js-emergencia" type="checkbox" name="terms" th:data-url="@{/ordemservico/emergencia}"> Emergência
	    	</label>
		</div>
	</div>
</div>	

<div class="row"  sec:authorize="hasRole('ROLE_EMPRESA_ADMINISTRADOR') || hasRole('ROLE_EMPRESA_ASSISTENTE')" th:if="${ordemServico.ultimoHistoricoOrdemServico.ordemServicoStatus.id} == 1">
	<div class="col-md-8 js-tipo-servico">
		
<!-- 		<span></span> -->
		
		<div class="form-group">
		
			<th:block th:if="${ordemServico.visitaExecutada}">
				<select class="form-control js-tipoServicoIdentificado" data-style="select-with-transition" title="tipoServicoIdentificado *" id="tipoServicoIdentificado" data-size="7" th:data-url="@{/ordemservico/tiposervico}">
					<option value="0">SELECIONE O TIPO DE SERVIÇO</option>
					<option th:each="obj : ${listServicoIdentificado}" th:value="${obj.id}" th:text="${obj.descricao}" th:selected="(${ordemServico.servicoIdentificado} == ${obj.id})"></option>
				</select>
			</th:block>
			
			<th:block th:unless="${ordemServico.visitaExecutada}">
				<select class="form-control js-tipoServicoIdentificado" disabled="disabled" data-style="select-with-transition" title="tipoServicoIdentificado *" id="tipoServicoIdentificado" data-size="15" th:data-url="@{/ordemservico/tiposervico}">
					<option value="0">SELECIONE O TIPO DE SERVIÇO APÓS A EXECUÇÃO DA VISITA PELO FUNCIONÁRIO</option>
				</select>
			</th:block>
		</div>
	</div>
	<div class="col-md-6">
		<div class="form-group">
			<span class="js-div-tipo-servico"></span>
		</div>
	</div>
</div>
<br />

<div class="row">
	<div class="col-md-12">
		<div class="material-datatables">
			<table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
				<thead>
					<tr>
						<th>#</th>
						<th>Status</th>
						<th>Início</th>
						<th>Fim</th>
						<th>Tempo Decorrido</th>
						<th>Descrição</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="obj, iterationStatus : ${ordemServico.listHistoricoOrdemServico}">
						<td th:text="${iterationStatus.count}">cont</td>
						<td th:text="${obj.ordemServicoStatus.nome}">obj</td>
						<td th:text="${#dates.format(obj.dataInicio, 'dd/MM/yyyy HH:mm')}">obj</td>						
						<td th:text="${#dates.format(obj.dataFim, 'dd/MM/yyyy HH:mm')}">obj</td>
						<td th:text="${obj.getDiferencaData()}">obj</td>
						
						
<!-- 						<td th:text="${obj.dataFim} != null ? "></td> -->
						<td th:text="${obj.descricao}">obj</td>
					</tr>
				</tbody>
			</table>			
		</div>
	</div>
</div>

<div class="row" sec:authorize="hasRole('ROLE_EMPRESA_ADMINISTRADOR')">
	<div class="col-md-12">
		<form>
		
			<input type="hidden" id="idOrdemServico" th:value="${ordemServico.id}" />
			<input type="hidden" class="js-url-ordemservico" th:data-url="@{/ordemservico}" />

			<th:block th:if="${ordemServico.ultimoHistoricoOrdemServico.ordemServicoStatus.id} != 7">
				<div>
					<div class="form-group label-floating">
						<label class="control-label">Observação <star>*</star></label>
						<textarea rows=2 class="form-control required observacao"></textarea>
					</div>
				</div>
			</th:block>
			
			<input type="hidden" th:value="${ordemServico.tipoFluxo}" />
									
			<div class="modal-footer" >
			
				<th:block th:if="${ordemServico.tipoFluxo} == 0">
				
					<th:block th:if="${ordemServico.ultimoHistoricoOrdemServico.ordemServicoStatus.id} == 1">						
						<button type="button" class="btn btn-primary btn-raised js-modal-btn-visitaexecutada" th:url="@{/ordemservico/visitaexecutada}" disabled="disabled" rel="tooltip" title="Selecione o tipo de serviço" >Visita Executada</button>
						<button type="button" class="btn  btn-primary btn-raised js-modal-btn-cancelar" th:url="@{/ordemservico/cancelar}">Cancelar OS</button>
					</th:block>
				
				</th:block>
			
				<th:block th:if="${ordemServico.tipoFluxo} == 1">
				
					<th:block th:if="${ordemServico.ultimoHistoricoOrdemServico.ordemServicoStatus.id} == 1">						
						<button type="button" class="btn btn-primary btn-raised js-modal-btn-visitaexecutada" th:url="@{/ordemservico/visitaexecutada}" rel="tooltip">Visita Executada</button>
						<button type="button" class="btn  btn-primary btn-raised js-modal-btn-cancelar" th:url="@{/ordemservico/cancelar}">Cancelar OS</button>
					</th:block>
				
					<th:block th:if="${ordemServico.ultimoHistoricoOrdemServico.ordemServicoStatus.id} == 2">						
						<button type="button" class="btn btn-primary btn-raised js-modal-btn-executar" th:url="@{/ordemservico/executar}">Executar OS</button>
						<button type="button" class="btn  btn-primary btn-raised js-modal-btn-cancelar" th:url="@{/ordemservico/cancelar}">Cancelar OS</button>
					</th:block>
					<th:block th:if="${ordemServico.ultimoHistoricoOrdemServico.ordemServicoStatus.id} == 6">						
						<button type="button" class="btn  btn-primary btn-raised js-modal-btn-executada" th:url="@{/ordemservico/executada}">Executado</button>
						<button type="button" class="btn  btn-primary btn-raised js-modal-btn-cancelar" th:url="@{/ordemservico/cancelar}">Cancelar OS</button>
					</th:block>
				</th:block>
				
				<th:block th:if="${ordemServico.tipoFluxo} == 2">
				
					<th:block th:if="${ordemServico.ultimoHistoricoOrdemServico.ordemServicoStatus.id} == 1">						
						<button type="button" class="btn btn-primary btn-raised js-modal-btn-visitaexecutada" th:url="@{/ordemservico/visitaexecutada}" rel="tooltip">Visita Executada</button>
						<button type="button" class="btn  btn-primary btn-raised js-modal-btn-cancelar" th:url="@{/ordemservico/cancelar}">Cancelar OS</button>
					</th:block>
				
					<th:block th:if="${ordemServico.ultimoHistoricoOrdemServico.ordemServicoStatus.id} == 2">
						<button type="button" class="btn  btn-primary btn-raised js-modal-btn-cotacao" th:url="@{/ordemservico/cotacao}">COTAÇÃO DE MATERIAL</button>
						<button type="button" class="btn  btn-primary btn-raised js-modal-btn-cancelar" th:url="@{/ordemservico/cancelar}">Cancelar OS</button>
					</th:block>
					
					<th:block th:if="${ordemServico.ultimoHistoricoOrdemServico.ordemServicoStatus.id} == 3">
						<button type="button" class="btn  btn-primary btn-raised" disabled="disabled">Aguarde a autorização de serviço</button>
						<button type="button" class="btn  btn-primary btn-raised js-modal-btn-cancelar" th:url="@{/ordemservico/cancelar}">Cancelar OS</button>
					</th:block>
					
					<th:block th:if="${ordemServico.ultimoHistoricoOrdemServico.ordemServicoStatus.id} == 4">
						<button type="button" class="btn  btn-primary btn-raised js-modal-btn-compra" th:url="@{/ordemservico/compra}">Compra de Material</button>
						<button type="button" class="btn  btn-primary btn-raised js-modal-btn-cancelar" th:url="@{/ordemservico/cancelar}">Cancelar OS</button>
					</th:block>
					
					<th:block th:if="${ordemServico.ultimoHistoricoOrdemServico.ordemServicoStatus.id} == 5">
						<button type="button" class="btn btn-primary btn-raised js-modal-btn-executar" th:url="@{/ordemservico/executar}">Executar OS</button>
						<button type="button" class="btn  btn-primary btn-raised js-modal-btn-cancelar" th:url="@{/ordemservico/cancelar}">Cancelar OS</button>
					</th:block>
					
					<th:block th:if="${ordemServico.ultimoHistoricoOrdemServico.ordemServicoStatus.id} == 6">
						<button type="button" class="btn  btn-primary btn-raised js-modal-btn-executada" th:url="@{/ordemservico/executada}">Executado</button>
						<button type="button" class="btn  btn-primary btn-raised js-modal-btn-cancelar" th:url="@{/ordemservico/cancelar}">Cancelar OS</button>
					</th:block>
					
				</th:block>
				
				
<!-- 				<th:block th:if="${ordemServico.ultimoHistoricoOrdemServico.ordemServicoStatus.id} == 3"> -->
<!-- 					<button type="button" class="btn  btn-primary btn-raised js-modal-btn-executada" th:url="@{/ordemservico/executada}">Executada</button> -->
<!-- 					<button type="button" class="btn  btn-primary btn-raised js-modal-btn-executar-nao-executada" th:url="@{/ordemservico/naoexecutada}">Não Executada</button> -->
<!-- 					<button type="button" class="btn  btn-primary btn-raised js-modal-btn-cancelar" th:url="@{/ordemservico/cancelar}">Cancelar OS</button> -->
<!-- 				</th:block>				 -->
			</div>
		</form>
	</div>
</div>
<th:block th:if="${ordemServico.ultimoHistoricoOrdemServico.ordemServicoStatus.id} == 3">
	<div class="row">
		<div class="col-md-12">
			<small><strong>Selecione um dos orçamentos para autorizar o serviço!</strong></small>
		</div>
	</div>
</th:block>
<th:block th:if="${ordemServico.ultimoHistoricoOrdemServico.ordemServicoStatus.id} == 7">
	<div class="row">
		<div class="col-md-12">
			<small><strong>Aguardando o aceite do serviço!</strong></small>
		</div>
	</div>
</th:block>

<br/>

</body>
</html>