<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:data="http://www.thymeleaf.org/extras/data"
	layout:decorator="layout/fragments/LayoutPadrao">
<head>

	<link rel="stylesheet" th:href="@{/vendors/css/upload.min.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/vendors/css/plugins/sweetalert/sweetalert.css}" />
	<link th:href="@{/vendors/css/plugins/dropzone/basic.css}" rel="stylesheet">
	<link th:href="@{/vendors/css/plugins/dropzone/dropzone.css}" rel="stylesheet">
	
	<style type="text/css">
		.dropzone{
			padding: 6px 20px;
		}
		.cl_emergencia{
			background-color: #FF7F7F !important;
		}
		.js-upload{
			padding-right: 15px;
    		padding-left: 7px;
		}
	</style>

</head>
<body>
	<section layout:fragment="conteudo">
		<div class="content">
			<div class="container-fluid">
			
			
			<div class="row">

				<div class="col-md-12">
				
					<div class="card">
						<div class="card-header card-header-icon" data-background-color="blue">
							 Histórico Ordem de Serviço
						</div>
						
						
						
						<div class="card-content">
						
						
								<div class="card">
							  		<div class="card-header" style="background-color: lightgray; border-radius: 5px; padding: 1px 5px 0;">
					                	<h5><strong>Informações</strong></h5>
					              	</div>
									<div class="card-body" style="padding: 0px 20px 20px 20px;">
											
											<div class="row ">
												<div class=" col-md-12 col-sm-12  ">
													<p  >Condomínio/síndico - <small class="category" th:text="|${historicoOrdemServico.ordemServico.condominio.pessoaJuridica.nomeFantasia}|"></small>
								    					<small class="category" th:text="${historicoOrdemServico.ordemServico.condominio.pfCondominioSindicoAtual().pessoaFisica} != null ? '/ ' + ${historicoOrdemServico.ordemServico.condominio.pfCondominioSindicoAtual().pessoaFisica.nome} : ''"></small>
										   			</p>
										    		<p   >Endereço - <small class="category" th:text="${historicoOrdemServico.ordemServico.condominio.endereco}"></small></p>
										    		<p   >Telefones - <small class="category" th:text="${historicoOrdemServico.ordemServico.condominio.telefones}"></small></p>
										   			<p  >OS nº - <small class="category" th:text="|${historicoOrdemServico.ordemServico.protocolo}|"></small></p>
										    		<p  >Tipo OS - <small class="category" th:text="|${historicoOrdemServico.ordemServico.tipoOrdemServico.tipoOrdemServicoSubordinacao.nome}/${historicoOrdemServico.ordemServico.tipoOrdemServico.nome}|"></small></p>
									 			</div>
								 			</div>
								 	</div>
								</div>

								<form method="POST" id="formhistorico" name="formhistorico" role="form" th:object="${historicoOrdemServico}" th:action="@{/ordemservico/editardescricaohistorico/{id}(id=${historicoOrdemServico.id})}">
								
									<input type="hidden" th:field="*{ordemServico}">
									<input type="hidden" th:field="*{ordemServicoStatus}">
									<input type="hidden" th:field="*{pessoaFisicaExecutor}">
								
									<div class="alert alert-success alert-with-icon" data-notify="container" th:if="${not #strings.isEmpty(mensagem)}">
										<i class="material-icons" data-notify="icon">check</i>
										<button type="button" aria-hidden="true" class="close">
											<i class="material-icons">close</i>
										</button>
										<span data-notify="message" th:text="${mensagem}">Mensagem de Sucesso</span>
									</div>
									
									<div class="alert alert-warning alert-with-icon" data-notify="container" th:if="${#fields.hasAnyErrors()}">
										<i class="material-icons" data-notify="icon">close</i>
										<button type="button" aria-hidden="true" class="close">
											<i class="material-icons">close</i>
										</button>
										<th:block th:each="erro : ${#fields.detailedErrors()}">
											<span data-notify="message" th:utext="${erro.message}">Mensagem de erro</span>
										</th:block>
									</div>

									
									<div class="row">
										<div class="col-md-12">
											<label>Descrição:</label>
											<div class="form-group label-floating" sec:authorize="hasRole('ROLE_SINDICO')" syndic:classforerror="descricao">
												<input class="form-control" disabled="disabled" placeholder="Digite aqui a Descrição" th:field="*{descricao}" />
											</div>
											<div class="form-group label-floating" sec:authorize="hasRole('ROLE_ADMINISTRADOR') || hasRole('ROLE_EMPRESA_ADMINISTRADOR') || hasRole('ROLE_EMPRESA_ASSISTENTE')" syndic:classforerror="descricao">
												<input class="form-control" placeholder="Digite aqui a Descrição" th:field="*{descricao}" />
											</div>
										</div>
									</div>

									
								</form>
								 
								<a th:href="@{/ordemservico/ficha/{id}(id=${historicoOrdemServico.ordemServico.id})}" class="btn btn-warning pull-right">Cancelar</a>
								<button type="button" class="btn btn-info pull-right js-btn-salvar">Salvar</button>

							</div>
						
						</div>
				
					</div>
				
				</div>
				
			</div>
		</div>
	</section>

	<section layout:fragment="javascript-extra">

		<script type="text/javascript">

			$(".js-btn-salvar").click(function() {
				$("#formhistorico").submit();
			});
			
		</script>

	</section>

</body>
</html>