<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:data="http://www.thymeleaf.org/extras/data"
	layout:decorator="layout/fragments/LayoutPadrao">
<head>

<link rel="stylesheet" th:href="@{/vendors/css/upload.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/vendors/css/plugins/sweetalert/sweetalert.css}" />
<link th:href="@{/vendors/css/plugins/dropzone/basic.css}" rel="stylesheet">
<link th:href="@{/vendors/css/plugins/dropzone/dropzone.css}" rel="stylesheet">

<style type="text/css">
	.btn{
		vertical-align: initial;
	}
	
	.clickable {
	    cursor: pointer;
	        z-index: -1;
	}
	
	.modal-dialog {  
 		max-width : 95% ; 
 		width : 100% ; 
		
 		max-height : 80% ; 
 		height: 90% ; 
 	} 

	.modal-body{
		max-height : 80% ;
		height: 740px;
	}
	
</style>

</head>
<body>
	<section layout:fragment="conteudo">
	
	
	<div class="card">
		<div class="card-header card-header-icon" data-background-color="blue">
			<i class="material-icons">business</i>
		</div>
		<div class="card-content">
			<h4 class="card-title">
				Detalhamento da Ordem de Serviço
			</h4>

			<div class="card">
		  		<div class="card-header" style="background-color: lightgray; border-radius: 5px; padding: 1px 5px 0;">
                	<h5><strong>Informações Básicas</strong></h5>
              	</div>
				<div class="card-body" style="padding: 0px 20px 20px 20px;">
						<div class="row" sec:authorize="hasRole('ROLE_EMPRESA_ADMINISTRADOR') || hasRole('ROLE_EMPRESA_ASSISTENTE')" >
							<th:block th:unless="${condominio.adimplente}">
								<div class=" col-md-12 col-sm-12  ">
								<div class="alert alert-danger  ">
										<span><b> Atenção - </b> Esse condomínio encontra-se inadimplente!</span>
									</div>
								</div>
							</th:block>
						</div>
						<div class="row ">
						<div class=" col-md-12 col-sm-12  ">
						<p  >Condomínio/síndico - <small class="category" th:text="|${ordemServico.condominio.pessoaJuridica.nomeFantasia}|"></small>
		    		<small class="category" th:text="${condominio.pfCondominioSindicoAtual().pessoaFisica} != null ? '/ ' + ${condominio.pfCondominioSindicoAtual().pessoaFisica.nome} : ''"></small>
				    </p>
				    <p   >Endereço - <small class="category" th:text="${condominio.endereco}"></small></p>
				    <p   >Telefones - <small class="category" th:text="${condominio.telefones}"></small></p>
				    <p  >OS nº - <small class="category" th:text="|${ordemServico.protocolo}|"></small></p>
				    <p  >Tipo OS - <small class="category" th:text="|${ordemServico.tipoOrdemServico.tipoOrdemServicoSubordinacao.nome}/${ordemServico.tipoOrdemServico.nome}|"></small></p>
				    <p  >Observação do síndico - <small class="category" th:text="${ordemServico.observacao} == '' ? 'Sem observações do síndico' : |${ordemServico.observacao}| "></small></p>
			 	</div>
			 	</div>
			 	</div>
			</div>
			
			<div class="card">
		  		<div class="card-header" style="background-color: lightgray; border-radius: 5px; padding: 1px 5px 0;">
                	<h5><strong>Funcionários responsáveis </strong></h5>
              	</div>
				<div class="card-body">

						<th:block sec:authorize="hasRole('ROLE_EMPRESA_ADMINISTRADOR') || hasRole('ROLE_EMPRESA_ASSISTENTE')">
							<input type="hidden" id="tipopessoa" name="tipopessoa" value="0">
						</th:block>
						<th:block sec:authorize="hasRole('ROLE_SINDICO') ">
							<input type="hidden" id="tipopessoa" name="tipopessoa" value="2">
						</th:block>

						<div class="row"  sec:authorize="hasRole('ROLE_EMPRESA_ADMINISTRADOR') || hasRole('ROLE_EMPRESA_ASSISTENTE')  || hasRole('ROLE_ADMINISTRADOR')" >
						<div class="col-md-12" >
						<form>
						
							<th:block th:if="${ordemServico.ultimoHistoricoOrdemServico.ordemServicoStatus.id} != 6  and ${ordemServico.ultimoHistoricoOrdemServico.ordemServicoStatus.id} != 4">
								
								<input type="hidden" class="js-ordem-servico" id="idOrdemServico" th:value="${ordemServico.id}" />
								
								<div class="">
									
									<div class="col-md-12 form-group">
										<select class="form-control" data-style="select-with-transition" title="Responsável *" id="responsavel" data-size="7">
											<option value="">SELECIONE O FUNCIONÁRIO *</option>
											<option th:each="obj : ${listFuncionario}" th:value="${obj.id}" th:text="${obj.nome}" th:if="${obj.ativo} == 1"></option>
										</select>
										</div>
									<div class="col-md-12 form-group">
											<textarea rows="2" class="form-control required observacao" placeholder="Observação*"></textarea>
									</div>
								</div>
								
							</th:block>
							<div class="col-md-12">
								<input type="hidden" class="js-url-ordemservico" th:data-url="@{/ordemservico}" />
								<input type="hidden" class="js-url-responsavel-excluir" th:data-url="@{/ordemservico/responsavel/excluir}" />
				
								<th:block th:if="${ordemServico.ultimoHistoricoOrdemServico.ordemServicoStatus.id} != 6  and ${ordemServico.ultimoHistoricoOrdemServico.ordemServicoStatus.id} != 4">
									<button type="button"  id="js-btn-inserir-responsavel" name="js-btn-inserir-responsavel"  
									class="btn btn-primary  pull-right js-btn-inserir-responsavel" th:url="@{/ordemservico/responsavel/inserir}">Inserir</button>
								</th:block>
								
							</div>
						</form>
					</div>	
					</div>			
					
					<div class="col-md-12" >
						<div class="material-datatables">
						<div class="table-responsive">
							<table   class="table table-striped table-no-bordered table-hover" cellspacing="0" width="90%" style="width:90%">
								<thead>
									<tr>
										<th >#</th>
										<th>Funcionário</th>
										<th>Ciente</th>
										<th>Visita Executada</th>
										<th class="text-right" sec:authorize="hasRole('ROLE_EMPRESA_ADMINISTRADOR')" >Ação</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="obj, iterationStatus : ${ordemServico.listPessoaFisicaOrdemServico}">
										<td th:text="${iterationStatus.count}">cont</td>
										<td th:text="${obj.pessoaFisica.nome}">obj</td>
										<td th:if="${obj.visita}"><span class="label label-info">SIM</span></td>
										<td th:if="${obj.ciente}"><span class="label label-info">SIM</span></td>
										<td th:unless="${obj.visita}"><a th:href="@{/ordemservico/visitaexecutada/{id}(id=${ordemServico.id})}"><span class="label label-danger">NÃO</span></a></td>
										<td th:unless="${obj.ciente}"><a th:href="@{/ordemservico/visitaexecutada/{id}(id=${ordemServico.id})}"><span class="label label-danger">NÃO</span></a></td>
										<td class="td-actions text-right" >
											<th:block th:if="${ordemServico.ultimoHistoricoOrdemServico.ordemServicoStatus.id} != 6  and ${ordemServico.ultimoHistoricoOrdemServico.ordemServicoStatus.id} != 4" sec:authorize="hasRole('ROLE_EMPRESA_ADMINISTRADOR')">
												<a class="btn btn-danger btn-round js-btn-excluir-responsavel" rel="tooltip" title="Excluir Registro" name="excluir" th:data-url="@{/ordemservico/responsavel/excluir}" th:data-id="${obj.id}"> 
													<i class="material-icons">close</i>
												</a>
											</th:block>
										</td>
									</tr>
								</tbody>
							</table>
							</div>	
							<br/>		
						</div>
					</div> 	
				</div>
			</div>
			
			<div class="card"  sec:authorize="hasRole('ROLE_EMPRESA_ADMINISTRADOR') || hasRole('ROLE_ADMINISTRADOR')">
		  		<div class="card-header" style="background-color: lightgray; border-radius: 5px; padding: 1px 5px 0;">
                	<h5><strong>Alterar Status da Ordem de Serviço</strong></h5>
              	</div>
				<div class="card-body">
						
					<th:block>
						<div class="col-md-12">
							<div class="form-group">
								<select class="form-control" data-style="select-with-transition" id="novoStatusOs" data-size="7">
									<option value="0">SELECIONE O NOVO STATUS DA ORDEM DE SERVIÇO</option>
									<option th:each="obj : ${listOrdemServicoStatus}" th:value="${obj.id}" th:text="${obj.nome}"></option>
								</select>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group label-floating">
								<label class="control-label">Observação <star>*</star></label>
								<textarea rows=1 class="form-control required observacao-novoStatusOs"></textarea>
							</div>
						</div>
						<div class="col-md-12">
							<button type="button" id="js-btn-inserir-novo-status" class="btn btn-primary pull-right" th:url="@{/ordemservico/novostatus}">Atualizar</button>
						</div>
					</th:block>
					
			 	</div>
			</div>
			
			<div class="card">
				<input type="hidden" th:url="@{/ordemservico/ficha/__${ordemServico.id}__#detalheos}" id="js-redirect-tipo-servico" />
				<a href="#detalheos"></a>
		  		<div class="card-header" style="background-color: lightgray; border-radius: 5px; padding: 1px 5px 0;">
                	<h5><strong>Detalhes da OS</strong></h5>
              	</div>
				<div class="card-body">
					<div  sec:authorize="hasRole('ROLE_EMPRESA_ADMINISTRADOR') || hasRole('ROLE_EMPRESA_ASSISTENTE') || hasRole('ROLE_ADMINISTRADOR')" >
						<div class="col-md-12">
							<div class="checkbox">
						    	<label>
						        	<input class="js-emergencia" type="checkbox" name="terms" th:data-url="@{/ordemservico/emergencia}" th:field="${ordemServico.emergencia}"> Emergência
						    	</label>
							</div>
						</div>
					</div>	
					<div  sec:authorize="hasRole('ROLE_EMPRESA_ADMINISTRADOR') || hasRole('ROLE_EMPRESA_ASSISTENTE') || hasRole('ROLE_ADMINISTRADOR')">
						<div class="col-md-8 js-tipo-servico">
							<div class="form-group">
								<th:block th:if="${ordemServico.visitaExecutada}">
								<select class="form-control js-tipoServicoIdentificado" data-style="select-with-transition" title="tipoServicoIdentificado *" id="tipoServicoIdentificado" data-size="7" th:data-url="@{/ordemservico/tiposervico}">
									<option value="0">SELECIONE O TIPO DE SERVIÇO</option>
									<option th:each="obj : ${listServicoIdentificado}" th:value="${obj.id}" th:text="${obj.descricao}" th:selected="(${ordemServico.servicoIdentificado} == ${obj.id})"></option>
								</select>
								</th:block>
								
								<th:block th:unless="${ordemServico.visitaExecutada}">
									<select class="form-control js-tipoServicoIdentificado" disabled="disabled" data-style="select-with-transition" title="tipoServicoIdentificado *" id="tipoServicoIdentificado" data-size="15" th:data-url="@{/ordemservico/tiposervico}">
										<option value="0">SELECIONE O TIPO DE SERVIÇO APÓS A EXECUÇÃO DA VISITA PELOS FUNCIONÁRIO</option>
									</select>
								</th:block>
							</div>
						</div>
						<div class="col-md-4 js-div-tipo-servico" style="display: none;">
							<i class="material-icons" style="font-size: 40px; color:green">done</i>
						</div>
<!-- 						<div class="col-md-6"> -->
<!-- 							<div class="form-group"> -->
<!-- 								<span class="js-div-tipo-servico"></span> -->
<!-- 							</div> -->
<!-- 						</div> -->
					</div>
						<div class="col-md-12">
							<div class="col-md-12" >
						<div class="material-datatables">
						<div class="table-responsive">
							<table   class="table table-striped table-no-bordered table-hover" id="js-lista-status" cellspacing="0" width="100%" style="width:100%">
									<thead>
										<tr>
											<th>#</th>
											<th>Status</th>
											<th>Início</th>
											<th>Fim</th>
											<th>Tempo Decorrido</th>
											<th>Descrição</th>
											<th class="disabled-sorting text-right">Ação</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="obj, iterationStatus : ${ordemServico.listHistoricoOrdemServico}" th:class="${obj.atrasado}?'bg-danger':''"  >
											<td th:text="${iterationStatus.count}">cont</td>
											<td th:text="${obj.ordemServicoStatus.nome}">obj</td>
											<td th:text="${#dates.format(obj.dataInicio, 'dd/MM/yyyy HH:mm')}">obj</td>						
											<td th:text="${#dates.format(obj.dataFim, 'dd/MM/yyyy HH:mm')}">obj</td>
											<td th:text="${obj.getDiferencaData()}">obj</td>
											<td th:text="${obj.descricao}" >obj</td>
											<td class="text-right">
												<a th:href="@{/ordemservico/editardescricaohistorico/{id}(id = ${obj.id})}" class="btn btn-simple btn-warning btn-icon edit"
													rel="tooltip" data-placement="left" title="Editar"> <i class="material-icons">edit</i>
												</a>
											
											</td>
											
										</tr>
									</tbody>
								</table>
								<br/>			
							</div>
						</div>
					</div>
					</div>
					
					<input type="hidden" th:value="${ordemServico.ultimoHistoricoOrdemServico.ordemServicoStatus.id}" />
					<input type="hidden" id="tipoFluxo" th:value="${ordemServico.tipoFluxo}" />
					
					<div sec:authorize="hasRole('ROLE_EMPRESA_ADMINISTRADOR')">
						<div class="col-md-12">
							<form>
							
								<input type="hidden" id="idOrdemServico" th:value="${ordemServico.id}" />
								<input type="hidden" class="js-url-ordemservico" th:data-url="@{/ordemservico}" />
					
								<th:block th:if="${ordemServico.ultimoHistoricoOrdemServico.ordemServicoStatus.id} != 9 and ${ordemServico.ultimoHistoricoOrdemServico.ordemServicoStatus.id} != 10 ">
									<div>
										<div class="form-group label-floating">
											<label class="control-label">Observação <star>*</star></label>
											<textarea rows=1 class="form-control required observacaoNovoStatus"></textarea>
										</div>
									</div>
								</th:block>
								
								<div class="text-right" sec:authorize="hasRole('ROLE_EMPRESA_ADMINISTRADOR') || hasRole('ROLE_EMPRESA_ASSISTENTE')">
								
									<button type="button" class="btn btn-primary btn-raised js-modal-btn-selecione-tipo-servico" disabled="disabled">Selecione o tipo de serviço</button>
									
									<th:block th:if="${ordemServico.tipoFluxo} == 0">
										<th:block th:if="${ordemServico.ultimoHistoricoOrdemServico.ordemServicoStatus.id} == 1">
											<button type="button" class="btn btn-primary btn-raised js-modal-btn-visitaexecutada js-tipo-servico-nao-selecionado" th:url="@{/ordemservico/visitaexecutada}" rel="tooltip">Visita Executada</button>						
											<button type="button" class="btn  btn-primary btn-raised js-modal-btn-cancelar" th:url="@{/ordemservico/cancelar}">Cancelar OS</button>
										</th:block>									
									</th:block>
								
									<th:block th:if="${ordemServico.tipoFluxo} == 1">
									
<!-- 										<th:block th:if="${ordemServico.ultimoHistoricoOrdemServico.ordemServicoStatus.id} == 1 or ${ordemServico.ultimoHistoricoOrdemServico.ordemServicoStatus.id} == 11">						 -->
										<th:block th:if="${ordemServico.ultimoHistoricoOrdemServico.ordemServicoStatus.id} == 1">						
											<button type="button" class="btn btn-primary btn-raised js-modal-btn-visitaexecutada js-tipo-servico-nao-selecionado" th:url="@{/ordemservico/visitaexecutada}" rel="tooltip">Visita Executada</button>
											<button type="button" class="btn  btn-primary btn-raised js-modal-btn-cancelar" th:url="@{/ordemservico/cancelar}">Cancelar OS</button>
										</th:block>
									
										<th:block th:if="${ordemServico.ultimoHistoricoOrdemServico.ordemServicoStatus.id} == 2">						
											<button type="button" class="btn btn-primary btn-raised js-modal-btn-executar js-tipo-servico-nao-selecionado" th:url="@{/ordemservico/executar}">Executar OS</button>
											<button type="button" class="btn  btn-primary btn-raised js-modal-btn-cancelar" th:url="@{/ordemservico/cancelar}">Cancelar OS</button>
										</th:block>
										<th:block th:if="${ordemServico.ultimoHistoricoOrdemServico.ordemServicoStatus.id} == 6">						
											<button type="button" class="btn  btn-primary btn-raised js-modal-btn-executada js-tipo-servico-nao-selecionado" th:url="@{/ordemservico/executada}">Executado</button>
											<button type="button" class="btn  btn-primary btn-raised js-modal-btn-cancelar" th:url="@{/ordemservico/cancelar}">Cancelar OS</button>
										</th:block>
									</th:block>
									
									<th:block th:if="${ordemServico.tipoFluxo} == 2">
										<th:block th:if="${ordemServico.ultimoHistoricoOrdemServico.ordemServicoStatus.id} == 1">						
											<button type="button" class="btn btn-primary js-modal-btn-visitaexecutada js-tipo-servico-nao-selecionado" th:url="@{/ordemservico/visitaexecutada}">Visita Executada</button>
											<button type="button" class="btn btn-primary js-modal-btn-cancelar" th:url="@{/ordemservico/cancelar}">Cancelar OS</button>
										</th:block>
									
										<th:block th:if="${ordemServico.ultimoHistoricoOrdemServico.ordemServicoStatus.id} == 2">
											<button type="button" class="btn  btn-primary btn-raised js-modal-btn-cotacao js-tipo-servico-nao-selecionado" th:url="@{/ordemservico/cotacao}">COTAÇÃO DE MATERIAL</button>
											<button type="button" class="btn  btn-primary btn-raised js-modal-btn-cancelar" th:url="@{/ordemservico/cancelar}">Cancelar OS</button>
										</th:block>
										
										<th:block th:if="${ordemServico.ultimoHistoricoOrdemServico.ordemServicoStatus.id} == 3">
											<button type="button" class="btn  btn-primary btn-raised js-tipo-servico-nao-selecionado" disabled="disabled">Aguarde a autorização de serviço</button>
											<button type="button" class="btn  btn-primary btn-raised js-modal-btn-cancelar" th:url="@{/ordemservico/cancelar}">Cancelar OS</button>
										</th:block>
										
										<th:block th:if="${ordemServico.ultimoHistoricoOrdemServico.ordemServicoStatus.id} == 4">
											<button type="button" class="btn  btn-primary  js-modal-btn-compra js-tipo-servico-nao-selecionado" th:url="@{/ordemservico/compra}">Compra de Material</button>
											<button type="button" class="btn  btn-primary  js-modal-btn-cancelar" th:url="@{/ordemservico/cancelar}">Cancelar OS</button>
										</th:block>
										
										<th:block th:if="${ordemServico.ultimoHistoricoOrdemServico.ordemServicoStatus.id} == 5">
											<button type="button" class="btn btn-primary btn-raised js-modal-btn-executar js-tipo-servico-nao-selecionado" th:url="@{/ordemservico/executar}">Executar OS</button>
											<button type="button" class="btn  btn-primary btn-raised js-modal-btn-cancelar" th:url="@{/ordemservico/cancelar}">Cancelar OS</button>
										</th:block>
										
										<th:block th:if="${ordemServico.ultimoHistoricoOrdemServico.ordemServicoStatus.id} == 6">
											<button type="button" class="btn  btn-primary js-modal-btn-executada js-tipo-servico-nao-selecionado" th:url="@{/ordemservico/executada}">Executado</button>
											<button type="button" class="btn  btn-primary js-modal-btn-cancelar" th:url="@{/ordemservico/cancelar}">Cancelar OS</button>
										</th:block>
									</th:block>
									
									<th:block th:if="${ordemServico.ultimoHistoricoOrdemServico.ordemServicoStatus.id} == 11">
										<button type="button" class="btn  btn-primary js-modal-btn-garantia js-tipo-servico-nao-selecionado" th:url="@{/ordemservico/garantia}" rel="tooltip" title='Ao acionar a garantia o status da OS será atualizada para "ABERTA"!' >GARANTIA</button>
									<div class="alert alert-warning  " >
										<span><b> Atenção - </b> Ao acionar a garantia o status da OS será atualizada para "ABERTA"!!</span>
									</div>
									</th:block>
								</div>
								
								<input type="hidden" th:value="${ordemServico.tipoFluxo}" />
								
								<div class="alert alert-danger js-custos " style="display: none;">
										<span><b> Atenção - </b> Informe os custos de mão de obra e de material antes de marcar a ordem de serviço como executada.!</span>
									</div>
								
																	
								
							</form>
						</div>
					</div>
			 	</div>
			</div>
			
			<div class="card"  sec:authorize="hasRole('ROLE_EMPRESA_ADMINISTRADOR')">
		  		<div class="card-header" style="background-color: lightgray; border-radius: 5px; padding: 1px 5px 0;">
                	<h5><strong>Valores da OS</strong></h5>
              	</div>
				<div class="card-body">
						
				<form method="POST" th:object="${ordemServico}" th:action="@{/ordemservico/valores}" >
				
				<input type="hidden" th:field="*{id}" />
				
					<div class="col-md-12  ">
						<div class="form-group div-input-mo">
							<div class="form-group label-floating">
								<label class="control-label">Custo da Mão de Obra R$<star>*</star></label>
								<input class="form-control required js-decimal js-input-mo" type="text" th:field="*{valorMaoDeObra}"/>
							</div>
						</div>
					</div>
					<div class="col-md-12 ">
						<div class="form-group div-input-cm">
							<div class="form-group label-floating"> 
								<label class="control-label">Custo do Material R$<star>*</star></label>
								<input class="form-control required js-decimal js-input-cm" type="text" th:field="*{valorMaterial}"  />
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<button type="submit" class="btn btn-primary pull-right " >Salvar</button>
					</div>
				</form>
					
			 	</div>
			</div>
			
			
			<!-- ####################################### -->
			<!-- ####################################### -->
			<!-- #####  FOTOS DA ABERTURA DA OS  ####### -->
			<!-- ####################################### -->
			<!-- ####################################### -->

			<div class="card" >
		  		<div class="card-header" style="background-color: lightgray; border-radius: 5px; padding: 1px 5px 0;">
                	<h5><strong>Fotos</strong></h5>
              	</div>
				<div class="card-body" style="padding: 0px 0px 0px 5px;">
			     	<div class="col-md-12 col-sm-12">
						
						<th:block th:each="anexo,contador : ${ordemServico.fotosAberturaOs}" th:if="${anexo.id}!=0">
								
								<div class=" js-arquivo-1 arquivo" style="float: left;" >
									&nbsp;<a href="#" class="js-btn-anexo-os" th:data-tipo="${anexo.TipoReduzido}" th:data-id="${anexo.id}" data-target="#anexoDocumento" data-toggle="modal">
										<span class="bigger-150 bolder">
										<img alt="" class=" img img-circle"  style="width: 70px; height: 70px;" th:src="@{/arquivo/arquivoos/{id} (id=${anexo.id})}"></span>
									</a>
									<span th:class="|js-imagem-arquivo${contador.count}|"></span>
								<p>&nbsp;	<p/> 
<!-- 									<a type="button" href="#" th:data-url="@{/arquivo/os/}" th:data-id="${contador.count}" class="btn btn-danger pull-center btn-sm js-btn-excluir">excluir</a> -->
								</div>
						</th:block>
						
						
						<th:block th:if="${#lists.size(ordemServico.listFotoOrdemServico)==0}">
								<span> Não existem fotos cadastradas</span>
						</th:block>
						
					
					</div>
				</div>
			</div>
			
			
			
			<!-- ####################################### -->
			<!-- ####################################### -->
			<!-- ########  BLOCO DO ORÇAMENTO  ######### -->
			<!-- ####################################### -->
			<!-- ####################################### -->
			
			<div class="card" th:if="${ordemServico.ultimoHistoricoOrdemServico.ordemServicoStatus.id} == 3" >
		  		<div class="card-header" style="background-color: lightgray; border-radius: 5px; padding: 1px 5px 0;">
                	<h5><strong>Orçamentos</strong></h5>
              	</div>
				<div class="card-body" style="padding: 0px 0px 0px 20px;">
			     	<div class="col-md-12">
						&nbsp;&nbsp;<a  href="#" rel="tooltip" data-toggle="modal" data-target="#anexoDocumento"  
						th:class="${orcamento.aceite} == 1 ? 'btn btn-success btn-round js-btn-orcamento' : 'btn btn-danger btn-round js-btn-orcamento'"  
						th:each="orcamento, contador : ${ordemServico.listOrcamento}"  th:data-tipo="${orcamento.TipoReduzido}" th:data-id="${orcamento.id}"> 
						&nbsp;<spam th:text="|${contador.count}º ${orcamento.sindicoUpload==1?'Orçamento do Condominio':''}|"></spam>&nbsp;
						</a>&nbsp;&nbsp;
						
						<th:block sec:authorize="hasRole('ROLE_EMPRESA_ADMINISTRADOR') || hasRole('ROLE_EMPRESA_ASSISTENTE')  || hasRole('ROLE_SINDICO')" >
							<a href="#"> <i
								class="btn btn-success btn-round material-icons js-modal-orcamento dp36"
								th:data-url="@{/orcamento/} + ${ordemServico.id}"
								data-toggle="ModalOrcamento" rel="tooltip" title="Adicionar Orçamento">add_shopping_cart</i>
							</a>
							
							
							<th:block sec:authorize="hasRole('ROLE_EMPRESA_ADMINISTRADOR')" >
							<a href="#"> <i
								class="btn btn-success btn-round material-icons js-notificar-orcamento dp36"
								th:data-url="@{/mensagem/notificarorcamento/sindico} "
								rel="tooltip" title="Notificar o síndico sobre orçamentos">record_voice_over</i>
							</a>
							</th:block>
							
					</th:block>
					</div>			 	
				
						<th:block  sec:authorize="hasRole('ROLE_SINDICO') ">
								<th:block th:if="${ordemServico.ultimoHistoricoOrdemServico.ordemServicoStatus.id} == 3">
								
									<div class="col-md-12">
										<h4>
											<strong>&nbsp;Atenção !</strong> Selecione um dos orçamentos para autorizar o serviço! ou adicione você mesmo um orçamento de sua preferência.
										</h4>
									</div>
							
							</th:block>
						
						</th:block>
				</div>

			</div>
			
			
			
			
			
			<!-- SE JÁ TIVER UM ORÇAMENTO SELECIONADO -->
			<div class="card" th:if="${ordemServico.ultimoHistoricoOrdemServico.ordemServicoStatus.id} > 3" >
		  		<div class="card-header" style="background-color: lightgray; border-radius: 5px; padding: 1px 5px 0;">
                	<h5><strong>Orçamentos</strong></h5>
              	</div>
				<div class="card-body" style="padding: 0px 0px 90px 10px;">
			     	<div class="col-md-12">
						&nbsp;&nbsp;<a  href="#" rel="tooltip" data-toggle="modal" data-target="#anexoDocumento" th:title="${orcamento.aceite} == 1 ? 'Orçamento Selecionado' : 'Orçamento Descartado'" 
						th:class="${orcamento.aceite} == 1 ? 'btn btn-success btn-round js-btn-orcamento' : 'btn btn-danger btn-round js-btn-orcamento'"  
						th:each="orcamento, contador : ${ordemServico.listOrcamento}"  th:data-tipo="${orcamento.TipoReduzido}" th:data-id="${orcamento.id}"> 
						&nbsp;<spam th:text="|${contador.count}º ${orcamento.sindicoUpload==1?'Orçamento do Condominio':''}|"></spam>&nbsp;
						</a>&nbsp;&nbsp;
						
					</div>			 	
						
				</div>

			</div>
			
			
			
			
			
			
			
			
			
			<!-- ####################################### -->
			<!-- ####################################### -->
			<!-- #### ARQUIVOS COMPLEMENTARES ######### -->
			<!-- ####################################### -->
			<!-- ####################################### -->
			
			<div class="card" >
		  		<div class="card-header" style="background-color: lightgray; border-radius: 5px; padding: 1px 5px 0;">
                	<h5><strong>Fotos Complementares</strong></h5>
              	</div>
				<div class="card-body" style="padding: 0px 0px 0px 20px;">
			     	<div class="col-md-12">
						
						
						<th:block th:each="anexo,contador : ${ordemServico.fotosAndamentoOs}" >
								
								<div class=" js-arquivo-1 arquivo" style="float: left;" >
									&nbsp;<a href="#" class="js-btn-anexo-os" th:data-tipo="${anexo.TipoReduzido}" th:data-id="${anexo.id}" data-target="#anexoDocumento" data-toggle="modal">
										<span class="bigger-150 bolder">
										<img alt="" class=" img img-circle"  style="width: 70px; height: 70px;" th:src="@{/arquivo/arquivoos/{id} (id=${anexo.id})}"></span>
									</a>
									<span th:class="|js-imagem-arquivo${contador.count}|"></span>
								<p>&nbsp;	<p/> 
<!-- 									<a type="button" href="#" th:data-url="@{/arquivo/os/}" th:data-id="${contador.count}" class="btn btn-danger pull-center btn-sm js-btn-excluir">excluir</a> -->
								</div>
						</th:block>
						
						
						
						
						<th:block >
							 &nbsp;<a href="#"> <i
								class="btn btn-success btn-round material-icons js-modal-foto-complementar dp36"
								th:data-url="@{/ordemservico/foto/} + ${ordemServico.id}"
								data-toggle="ModalFotoComplementar" rel="tooltip" title="Adicionar Foto">camera_enhance</i>
							</a>
						</th:block>
					</div>			 	
				
						
				</div>

			</div>
			
			
			<div class="card" th:if="${ordemServico.ultimoHistoricoOrdemServico.ordemServicoStatus.id} >= 7">
		  		<div class="card-header" style="background-color: lightgray; border-radius: 5px; padding: 1px 5px 0;">
                	<h5><strong>Pesquisa de Satisfação</strong></h5>
              	</div>
				<div class="card-body" style="padding: 0px 0px 0px 20px;">
					<th:block th:if="${ordemServico.ultimoHistoricoOrdemServico.ordemServicoStatus.id} >= 7 and ${#lists.isEmpty(ordemServico.listAvaliacaoOrdemServico)}" sec:authorize="hasRole('ROLE_EMPRESA_ADMINISTRADOR') || hasRole('ROLE_EMPRESA_ASSISTENTE')">
						<strong>A Pesquisa de Satisfação ainda não foi realizada pelo síndico!</strong>
					</th:block>
			     	<th:block th:unless="${#lists.isEmpty(ordemServico.listAvaliacaoOrdemServico)}">
			     		<div class="table-responsive">
							<table class="table">
								<thead class="text-primary">
									<tr>
										<th><strong>Pergunta</strong></th>
										<th><strong>Resposta</strong></th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="pergunta, contador : ${ordemServico.listAvaliacaoOrdemServico[0].listAvaliacaoOSPerguntaAvaliacao}">
										<td th:utext="|<strong>${pergunta.perguntaAvaliacao.nome}</strong>|">Dakota Rice</td>
										<td th:utext="|${pergunta.pontuacaoExtenso}|">Dakota Rice</td>
									</tr>
									
									<tr >
										<td colspan="2" ><strong>Observações:</strong></td>
									</tr>
									<tr >
										<td colspan="2" th:text="${ordemServico.listAvaliacaoOrdemServico[0].observacao}">Observacao</td>
									</tr>
								</tbody>
							</table>
						</div>
					</th:block>
				
					<th:block class="row" sec:authorize="hasRole('ROLE_SINDICO')" th:if="${#lists.isEmpty(ordemServico.listAvaliacaoOrdemServico)}">
						 <div class="col-sm-12">
						 <form method="POST" th:action="@{/avaliacao/salvar}" th:object="${avaliacaoOrdemServico}" class="form-horizontal">
			
							<input type="hidden" id="idOrdemServico" th:value="${ordemServico.id}" />
							<input type="hidden" class="js-url-ordemservico" th:data-url="@{/ordemservico}" />
							
							<input type="hidden" name="ordemServico" th:value="${ordemServico.id}" />
				
<!-- 							<th:block th:if="${ordemServico.ultimoHistoricoOrdemServico.ordemServicoStatus.id} != 7"> -->
<!-- 								<div> -->
<!-- 									<div class="form-group label-floating"> -->
<!-- 										<label class="control-label">Observação <star>*</star></label> -->
<!-- 										<textarea rows=2 class="form-control required observacao"></textarea> -->
<!-- 									</div> -->
<!-- 								</div> -->
<!-- 							</th:block> -->
							
							<input type="hidden" th:value="${ordemServico.tipoFluxo}" />
							
							<div class="row" th:each="pergunta, contador : ${listPerguntaAvaliacao}">
				                <div class="col-sm-6 col-md-6">
					           		<label class="label-on-left" th:text="${pergunta.nome}">pergunta</label>
				            		<input type="hidden" th:name="listAvaliacaoOSPerguntaAvaliacao[__ ${contador.index} __].perguntaAvaliacao.id" th:value="${pergunta.id}"></input>
				                </div>
				            	
				            	<div class="col-sm-6 col-md-6">	                                           
						           	<select class="form-control" data-style="btn btn-primary"  title="Selecione a Pontuação" th:field="*{listAvaliacaoOSPerguntaAvaliacao[__ ${contador.index} __].pontuacao}">
						            	<th:block th:if="${pergunta.objetiva} == 0">
											<option value="5">Muito Bom</option>	
											<option value="4">Bom</option>	
											<option value="3">Regular</option>	
											<option value="2">Ruim</option>	
											<option value="1">Muito Ruim</option>	
						            	</th:block>
						            	<th:block th:if="${pergunta.objetiva} == 1">
											<option value="1">Sim</option>	
											<option value="0">Não</option>	
						            	</th:block>
									</select>
								</div>
							</div>
							
							<br/>
								<div class="row">
									<div class="col-sm-12">
										<div class="form-group label-floating">
											<label class="control-label">Observação <star>*</star></label>
											<textarea rows=2 class="form-control required observacao"
												th:field="*{observacao}"></textarea>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-12">
										<div class="pull-right">
											<button type="submit"
												class="btn btn-primary btn-raised text-right">Salvar</button>
										</div>
									</div>
								</div>
							</form>
							</div>
					</th:block>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-12 text-right">
					<div class="modal inmodal fade" id="anexoDocumento" tabindex="-1" role="dialog" aria-hidden="true"  data-backdrop="false">
						<div class="modal-dialog modal-lg">
							<div class="modal-content">
								<div class="modal-header">
<!-- 									<button type="button" class="close btn btn-round " data-dismiss="modal"> -->
<!-- 										<span aria-hidden="true">&nbsp;&nbsp;&times;&nbsp;&nbsp;</span><span class="sr-only">Close</span> -->
<!-- 									</button> -->
									
									<th:block th:if="${ordemServico.ultimoHistoricoOrdemServico.ordemServicoStatus.id == 3}">
<!-- 									<input type="text" th:field="${ordemServico.ultimoHistoricoOrdemServico.ordemServicoStatus.nome}" /> -->
										<button sec:authorize="hasRole('ROLE_SINDICO')" class="btn btn-warning js-selecionar-orcamento"  data-orcamento="0" th:data-url="@{/orcamento/selecionar}" data-dismiss="modal">Selecionar Orçamento E Autorizar Serviço</button>
									</th:block>
									<button type="button" class="btn btn-success btn-sm js-btn-anexo-girar-anti" th:data-id="${0}" ><i class="material-icons">history</i> (90º)</button>
									<button type="button" class="btn btn-success btn-sm js-btn-anexo-girar" th:data-id="${0}" ><i class="material-icons">update</i> (90º)</button>
									
									<button type="button" class="btn btn-info btn-sm js-btn-anexo-zoom-aumentar" th:data-id="${0}" ><i class="material-icons">zoom_in</i> +</button>
									<button type="button" class="btn btn-info btn-sm js-btn-anexo-zoom-diminuir" th:data-id="${0}" ><i class="material-icons">zoom_out</i> -</button>
									<button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Fechar</button>
									
								</div>
								<div class="modal-body js-anexo text text-center" style="overflow:auto; "></div>
			
								<div class="modal-footer">
									
<!-- 									<button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button> -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	
	
					<div class="modal fade" id="ModalOrcamento" tabindex="-1"
						role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"  data-backdrop="false">
						<div class="modal-dialog modal-lg">
							<div class="modal-content">
								<div class="modal-header">
									<div class="js-div-botoes"> 
									<button type="button" class="btn btn-success btn-sm js-btn-orcamento-anexo-girar-anti" th:data-id="${0}" ><i class="material-icons">history</i> (90º)</button>
									<button type="button" class="btn btn-success btn-sm js-btn-orcamento-anexo-girar" th:data-id="${0}" ><i class="material-icons">update</i> (90º)</button>
									
									<button type="button" class="btn btn-info btn-sm js-btn-anexo-orcamento-zoom-aumentar" th:data-id="${0}" ><i class="material-icons">zoom_in</i> +</button>
									<button type="button" class="btn btn-info btn-sm js-btn-anexo-orcamento-zoom-diminuir" th:data-id="${0}" ><i class="material-icons">zoom_out</i> -</button>
									</div>
									<button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Fechar</button>
									<h5 class="modal-title">
										<b>Orçamento</b>
									</h5>
								</div>
								<div class="modal-body js-container-modal-orcamento" style="overflow:auto; "></div>
							</div>
						</div>
					</div>
					
					
					
					<div class="modal fade" id="ModalFotoComplementar" tabindex="-1"
						role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"  data-backdrop="false">
						<div class="modal-dialog modal-lg">
							<div class="modal-content">
								<div class="modal-header">
									<div class="js-div-botoes"> 
									<button type="button" class="btn btn-success btn-sm js-btn-orcamento-anexo-girar-anti" th:data-id="${0}" ><i class="material-icons">history</i> (90º)</button>
									<button type="button" class="btn btn-success btn-sm js-btn-orcamento-anexo-girar" th:data-id="${0}" ><i class="material-icons">update</i> (90º)</button>
									
									<button type="button" class="btn btn-info btn-sm js-btn-anexo-orcamento-zoom-aumentar" th:data-id="${0}" ><i class="material-icons">zoom_in</i> +</button>
									<button type="button" class="btn btn-info btn-sm js-btn-anexo-orcamento-zoom-diminuir" th:data-id="${0}" ><i class="material-icons">zoom_out</i> -</button>
									</div>
									<button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Fechar</button>
									
								</div>
								<div class="modal-body js-container-modal-foto-complementar" style="overflow:auto; "></div>
							</div>
						</div>
					</div>
					
					
</section>

	<section layout:fragment="javascript-extra">

		<!-- upload de imagens  992035569-->
		<script th:src="@{/vendors/js/uikit.min.js}"></script>
		<script th:src="@{/vendors/js/upload.min.js}"></script>
		<script th:src="@{/javascripts/upload-foto.js}"></script>

		<script th:src="@{/vendors/js/plugins/sweetalert/sweetalert.min.js}"></script>

		<script th:src="@{/javascripts/dialogo-excluir.js}"></script>

		<script th:src="@{/javascripts/dialogo-detalheordemservico.js}"></script>

		<!-- mascara -->
		<script th:src="@{/vendors/js/jquery.mask.js}"></script>
		<script th:src="@{/vendors/js/jquery.maskMoney.min.js}"></script>
		<script th:src="@{/javascripts/mascara-input.js}"></script>


		<script th:src="@{/javascripts/combo-atualizar-combo-os.js}"></script>

		<!-- DROPZONE -->
		<script th:src="@{/vendors/js/plugins/dropzone/dropzone.js}"></script>

		<script type="text/javascript">
		
		$('.js-decimal').maskMoney({allowNegative: false, thousands:'.', decimal:','});
		
		$('.js-decimal').each(function(){ // function to apply mask on load!
		    $(this).maskMoney('mask', $(this).val());
		})
		
			$('#js-lista-status').DataTable({
				"pagingType" : "full_numbers",
				"lengthMenu" : [ [ 25, 50, -1 ], [ 25, 50, "All" ] ],
				columnDefs: [
			        {
			            type: 'date-br', 
			            targets: 4 
			        }
			    ],
				responsive : true,
				language : {
					search : "_INPUT_",
					searchPlaceholder : "Localizar",
				}
	
			});
			
			var table2 = $('#js-lista-status').DataTable();
		

			$('body').on('click', '#js-btn-inserir-novo-status', function() {
				
				novoStatus= $("#novoStatusOs").val();
				observacao = $(".observacao-novoStatusOs").val();
				urlNova = $(this).attr("url");
				idOs = $("#idOrdemServico").val();
				
				mensagemErro = "";

				if (novoStatus == 0) {
					$("#novoStatusOs").parent().addClass("has-error");
					mensagemErro = "Informe o novo status!"
				}
				
				if (mensagemErro == "") {
					$.ajax({
						url : urlNova,
						method : 'GET',
						contentType : 'application/json',
						data : { "idOs": idOs, "status": novoStatus, "observacao": observacao},
						async : false,
						success : function(conteudo) {
							location.reload();
						}
					});
				}
			});
	
			$('body').on('click', '.js-modal-btn-executar', function() {
				salvarNovoHistorico($(this).attr("url"));
			});
	
			$('body').on('click', '.js-modal-btn-cancelar', function() {
				salvarNovoHistorico($(this).attr("url"));
			});
	
			$('body').on('click', '.js-modal-btn-compra', function() {
				salvarNovoHistorico($(this).attr("url"));
			});
			
			$('body').on('click', '.js-modal-btn-executada', function() {
				
				if($(".js-input-cm").val() == '0,00' || $(".js-input-mo").val()=='0,00' || $(".js-input-cm").val() == '' || $(".js-input-mo").val()==''){
					$(".js-custos").show();
					$(".div-input-cm").addClass('has-error');
					$(".div-input-mo").addClass('has-error');
				}else{
					salvarNovoHistorico($(this).attr("url"));
				}
			});
	
			$('body').on('click', '.js-modal-btn-executar-nao-executada',function() {
				salvarNovoHistorico($(this).attr("url"));
			});
			
			$('body').on('click', '.js-modal-btn-cotacao', function() {
				salvarNovoHistorico($(this).attr("url"));
			});
			
			$('body').on('click', '.js-modal-btn-visitaexecutada', function() {
				salvarNovoHistorico($(this).attr("url"));
			});
			
			$('body').on('click', '.js-modal-btn-garantia', function() {
				salvarNovoHistorico($(this).attr("url"));
			});
		
			$(".js-selecionar-orcamento").on("click", function() {
				idOrcamento = $(".js-selecionar-orcamento").attr("data-orcamento");
				
				
				
				url = $(this).attr("data-url");
				$.ajax({
					url : url,
					method : 'GET',
					contentType : 'application/json',
					data : {
						"idOrcamento" : idOrcamento
					},
					async : false,
					success : function(conteudo) {
						swal({
							title : "Orçamento selecionado com sucesso!",
							type : "success",
							timer : 2000,
							showConfirmButton : false
						}, function() {
							location.reload();

						});
					}
				});
			})
//###############################
//###############################
//###############################
		$(".js-btn-anexo-os").on("click",function() {
				
				if($(this).attr("data-tipo")=='pdf'){
					   $(".js-anexo").html("<iframe class='js-iframe' align=\"center\" src=\"/arquivo/arquivoos/" + $(this).attr("data-id") + "\" data-orcamento=" + $(this).attr("data-id") + " style=\"width:95%; height:600px; align:center;\" frameborder=\"0\"></iframe>")
					}
					else{
// 						$(".js-anexo").html("<iframe class='js-iframe' align=\"center\" src=\"/arquivo/arquivoos/" + $(this).attr("data-id") + "\" data-orcamento=" + $(this).attr("data-id") + " style=\"width:95%; height:600px; align:center;\" frameborder=\"0\"></iframe>")
						$(".js-anexo").html("<img  class=\"js-zoom\" src=\"/arquivo/arquivoos/"+$(this).attr("data-id")+"\" ></img>")
					}
				$(".js-selecionar-orcamento").hide();
				
				$(".js-btn-anexo-girar").attr("data-id",$(this).attr("data-id"));
				$(".js-btn-anexo-girar-anti").attr("data-id",$(this).attr("data-id"));
				
				
		});
			
		$(".js-btn-anexo-girar").on("click", function(){
				
				$(".js-anexo").html("<img width=\"500px;\" class=\"js-zoom\" src=\"/arquivo/girar/anexo/"+$(this).attr("data-id")+"\" ></img>")
			
		}); 
		$(".js-btn-anexo-girar-anti").on("click", function(){
			
			$(".js-anexo").html("<img width=\"300px;\" class=\"js-zoom\" src=\"/arquivo/giraranti/anexo/"+$(this).attr("data-id")+"\" ></img>")

		}); 

		$(".js-btn-anexo-zoom-aumentar").on("click", function(){
			
			var filhoW = $(".js-zoom").width();
			
			$(".js-zoom").width( filhoW ).addClass( "mod" );
		  	filhoW += 50;
		  
		  	$(".js-zoom").css('width' , filhoW);

		}); 

		$(".js-btn-anexo-zoom-diminuir").on("click", function(){
			
			var filhoW = $(".js-zoom").width();
			
			$(".js-zoom").width( filhoW ).addClass( "mod" );
		  	filhoW -= 50;
		  
		  	$(".js-zoom").css('width' , filhoW);
			  
		}); 
		
		
			
		//###############################
		//###############################
		//###############################
		//###############################
			
			

			$(".js-btn-orcamento").on("click",function() {
				if($(this).attr("data-tipo")=='pdf'){
				   $(".js-anexo").html("<iframe class='js-iframe' align=\"center\" src=\"/arquivo/arquivoorcamento/" + $(this).attr("data-id") + "\" data-orcamento=" + $(this).attr("data-id") + " style=\"width:95%; height:600px; align:center;\" frameborder=\"0\"></iframe>")
				}
				else{
					$(".js-anexo").html("<img width=\"500px;\" class=\"js-zoom\" src=\"/arquivo/arquivoorcamento/"+$(this).attr("data-id")+"\" ></img>")
				}
				$(".js-selecionar-orcamento").attr("data-orcamento",$(this).attr("data-id"));
				$(".js-btn-anexo-orcamento-girar").attr("data-id",$(this).attr("data-id"));
				$(".js-btn-anexo-orcamento-girar-anti").attr("data-id",$(this).attr("data-id"));
				$(".js-selecionar-orcamento").show();
				$(".js-btn-anexo-orcamento-girar").show();
				$(".js-btn-anexo-orcamento-girar-anti").show();
			});
			
			
			
			
		$(".js-btn-anexo-orcamento-girar").on("click", function(){
				
				$(".js-anexo").html("<img width=\"500px;\" class=\"js-zoom\" src=\"/arquivo/girar/anexoorcamento/"+$(this).attr("data-id")+"\" ></img>")
			
		}); 
		$(".js-btn-anexo-orcamento-girar-anti").on("click", function(){
			
			$(".js-anexo").html("<img width=\"500px;\" class=\"js-zoom\" src=\"/arquivo/giraranti/anexoorcamento/"+$(this).attr("data-id")+"\" ></img>")

		}); 

		$(".js-btn-anexo-orcamento-zoom-aumentar").on("click", function(){
			
			var filhoW = $(".js-zoom").width();
			
			$(".js-zoom").width( filhoW ).addClass( "mod" );
		  	filhoW += 50;
		  
		  	$(".js-zoom").css('width' , filhoW);

		}); 
		
		
		
		//abrir modal com o orçamento
		$(".js-modal-orcamento").click(function() {
			
			$.ajax({
				url : $(this).attr("data-url"),
				method : 'GET',
				async : false,
				success : function(conteudo) {
					$('.js-container-modal-orcamento').html(conteudo);
					$("#ModalOrcamento").modal('show');
				}
			});
			$(".js-div-botoes").hide();
			$(".js-selecionar-orcamento").show();
		});
		
		//abrir modal com o orçamento
		$(".js-modal-foto-complementar").click(function() {
			$.ajax({
				url : $(this).attr("data-url"),
				method : 'GET',
				async : false,
				success : function(conteudo) {
					$('.js-container-modal-foto-complementar').html(conteudo);
					$("#ModalFotoComplementar").modal('show');
				}
			});
			$(".js-div-botoes").hide();
			$(".js-selecionar-orcamento").show();
		});
		
		
		$(".js-modal-anexo").click(function() {
			$.ajax({
				url : $(this).attr("data-url"),
				method : 'GET',
				async : false,
				success : function(conteudo) {
					$('.js-container-modal-anexo').html(conteudo);
					$("#ModalAnexo").modal('show');
				}
			});
		})
			
			
			

			$(".js-btn-salvar").click(function() {
				$("#formarquivo").submit();
			});

			$(".js-btn-excluir").click(
					function() {

						//resetDropZone();
						campo = $(this).attr("data-id");

						nome = $(".js-nomeArquivo" + campo).val();

						id = $(".js-id" + campo).val();

						var parametro = (id != 0 ? id : nome);

						var acao = (id != 0 ? "DELETE" : "PUT");
						$.ajax({
							url : $(this).attr("data-url") + parametro,
							type : acao,
							beforeSend : adicionarCsrfToken,
							success : function(result) {

								$(".js-total-permitido")
										.val(
												parseInt($(
														".js-total-permitido")
														.val()) + 1);

								$('.js-contentType' + campo).val("");
								$('.js-nomeArquivo' + campo).val("");
								$('.js-arquivo-' + campo).hide();

								if ($('.js-nomeArquivo1').val() == ''
										|| $('.js-nomeArquivo2').val() == '') {
									$('.js-upload').show();
								}
								if (id != 0) {
									window.location.reload();
								}

							}
						});

					});
			
			
			
			
			
			$(".js-btn-excluir-foto").click( function() {
				//resetDropZone();
				campo = $(this).attr("data-id");
				
				nome = $(".js-nomeArquivo" + campo)
						.val();

				id = $(".js-id" + campo).val();

				var parametro = nome;

				$.ajax({
					url : $(this).attr("data-url") + parametro,
					type : "PUT",
					beforeSend : adicionarCsrfToken,
					success : function(result) {
						$(".js-total-permitido-foto-andamento").val(parseInt($(".js-total-permitido-foto-andamento").val()) + 1);
						$('.js-contentType' + campo).val("");
						$('.js-nomeArquivo' + campo).val("");
						$('.js-arquivo-foto' + campo).hide();
						$(".js-upload" + campo).addClass("js-mostrar");
						$(".js-upload" + campo).removeClass("js-sumir");
						$(".js-arquivo-foto" + campo).addClass("js-sumir");
						$(".js-arquivo-foto" + campo).removeClass("js-mostrar");
					}
				});

			});

			
			$(".js-btn-excluir-orcamento").click( function() {
				//resetDropZone();
				campo = $(this).attr("data-id");
				

				nome = $(".js-nomeArquivoOrcamento" + campo)
						.val();

				id = $(".js-idOrcamento" + campo).val();

				var parametro = nome;
				
				
				
				$.ajax({
					url : $(this).attr("data-url") + parametro,
					type : "PUT",
					beforeSend : adicionarCsrfToken,
					success : function(result) {
						$(".js-total-permitido-orcameto").val(parseInt($(".js-total-permitido-orcameto").val()) + 1);
						$('.js-contentTypeOrcamento' + campo).val("");
						$('.js-nomeArquivoOrcamento' + campo).val("");
						$('.js-arquivo-Orcamento' + campo).hide();
						$(".js-upload" + campo).addClass("js-mostrar");
						$(".js-upload" + campo).removeClass("js-sumir");
						$(".js-arquivo-Orcamento" + campo).addClass("js-sumir");
						$(".js-arquivo-Orcamento" + campo).removeClass("js-mostrar");
					}
				});

			});

			function adicionarCsrfToken(xhr) {
				var token = $('input[name=_csrf]').val();
				xhr.setRequestHeader('x-csrf-token', token);
			}

			//abrir modal com detalhamento da os
			$(".js-modal").click(function() {
				$.ajax({
					url : $(this).attr("data-url"),
					method : 'GET',
					async : false,
					success : function(conteudo) {
						$('.js-container-modal').html(conteudo);
						$("#ModalEndereco").modal('show');
					}
				});
			})

			//abrir modal com detalhamento da os
			$(".js-modal-responsavel").click(
					function() {
						$.ajax({
							url : $(this).attr("data-url"),
							method : 'GET',
							async : false,
							success : function(conteudo) {
								$('.js-container-modal-responsavel').html(
										conteudo);
								$("#ModalResponsavel").modal('show');

								$(".js-pessoa-fisica-nome").each(
										function() {
											$(
													"#responsavel option[value='"
															+ $(this).attr(
																	"data-id")
															+ "']").hide();
										})
							}
						});
					})

			
			
			

			function salvarNovoHistorico(urlExecucao) {

				obs = $(".observacaoNovoStatus").val();
				idOs = $("#idOrdemServico").val();
				url = urlExecucao;
				
// 				console.log(obs);
// 				return false;

				splitURL = url.split('/');

				if (splitURL[parseInt(splitURL.length - 1)] == "executar") {
					responsavel = $("#responsavel").val();
				} else {
					responsavel = 0;
				}

				$.ajax({
					url : url,
					method : 'GET',
					contentType : 'application/json',
					data : {
						"idOS" : idOs,
						"obs" : obs,
						"responsavel" : responsavel
					},
					async : false,
					success : function(conteudo) {
						swal({
							title : "Status da OS Alterado!",
							type : "success",
							timer : 1000,
							showConfirmButton : false
						}, function() {
							location.reload();
						});
					}
				});
			}
			$('body').on('click', '.js-btn-inserir-responsavel', function() {
				responsavel = $("#responsavel").val();
				observacao = $(".observacao").val();
				mensagemErro = "";

				if (responsavel == "") {
					$("#responsavel").parent().addClass("has-error");
					mensagemErro = "Informe o Funcionário!"
				}

				if (mensagemErro != "") {
					$(".js-mensagem-erro").html(mensagemErro);
					$(".alert-danger").removeClass("hidden");
				} else {
					$(".alert-danger").addClass("hidden");
				}

				if (mensagemErro == "") {

					$.ajax({
						url : $(this).attr("url"),
						method : 'GET',
						contentType : 'application/json',
						data : {
							"os" : $(".js-ordem-servico").val(),
							"responsavel" : responsavel,
							"observacao" : observacao
						},
						async : false,
						success : function(conteudo) {
							location.reload();
						}
					});
				}
			});
			
			$(".js-notificar-orcamento").on("click", function() {

				idOs = $("#idOrdemServico").val();
				url = $(this).attr("data-url");
				$.ajax({
					url : url,
					method : 'GET',
					contentType : 'application/json',
					data : {
						"idOs" : idOs
					},
					async : false,
					success : function(conteudo) {
						swal({
							title : "Notificação enviada com sucesso!",
							type : "success",
							timer : 2000,
							showConfirmButton : false
						}, function() {
							location.reload();
						});
					}
				});
				
			});

			$('body').on('click', '.js-btn-excluir-responsavel', function() {

				$.ajax({
					url : $(this).attr("data-url"),
					method : 'GET',
					contentType : 'application/json',
					data : {
						"id" : $(this).attr("data-id")
					},
					async : false,
					success : function(conteudo) {
						location.reload();
					}
				});
			});
			//responsavel

			//INSERIR TIPO DE SERVIÇO IDENTIFICADO
			if( $("#tipoServicoIdentificado").val() != 0){
				$(".js-modal-btn-selecione-tipo-servico").hide();
				$(".js-tipo-servico-nao-selecionado").show();	
			}else{
				$(".js-modal-btn-selecione-tipo-servico").show();
				$(".js-tipo-servico-nao-selecionado").hide();	
			}

			$('body').on('change','#tipoServicoIdentificado',function() {

				idOS = $("#idOrdemServico").val();
				idTipoOS = $(this).val();
				url = $(this).attr("data-url");

				$.ajax({
					url : url,
					method : 'GET',
					contentType : 'application/json',
					data : { "idOS" : idOS, "idTipoOS" : $("#tipoServicoIdentificado").val()},
					async : false,
					success : function(conteudo) {
// 						$(".js-div-tipo-servico").html('<i class="material-icons" style="font-size: 40px; color:green">done</i>');
// 						location.reload();
						
						$(".js-div-tipo-servico").show("slow");
						$( ".js-div-tipo-servico" ).hide(4000);
						
						if( $("#tipoServicoIdentificado").val() != 0){
							$(".js-modal-btn-selecione-tipo-servico").hide();
							$(".js-tipo-servico-nao-selecionado").show();	
						}else{
							$(".js-modal-btn-selecione-tipo-servico").show();
							$(".js-tipo-servico-nao-selecionado").hide();	
						}
					}
				});
			});

			//INSERIR TIPO DE SERVIÇO IDENTIFICADO

			//marcar como emergencia
			$('body').on('click', '.js-emergencia', function() {

				idOS = $("#idOrdemServico").val();
				url = $(this).attr("data-url");
				emergencia = "";

				if ($(this).is(":checked")) {
					emergencia = 1;
				} else {
					emergencia = 0;
				}

				$.ajax({
					url : url,
					method : 'GET',
					contentType : 'application/json',
					data : {
						"idOS" : idOS,
						"emergencia" : emergencia
					},
					async : false,
				});
			});
			//marcar como emergencia
		</script>

	</section>
</body>
</html>