<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:data="http://www.thymeleaf.org/extras/data"
	layout:decorator="layout/fragments/LayoutPadrao">
<head>

	<link rel="stylesheet" th:href="@{/vendors/css/upload.min.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/vendors/css/plugins/sweetalert/sweetalert.css}" />
	<link th:href="@{/vendors/css/plugins/dropzone/basic.css}" rel="stylesheet">
	<link th:href="@{/vendors/css/plugins/dropzone/dropzone.css}" rel="stylesheet">
	
	<style type="text/css">
		.dropzone{
			padding: 6px 20px;
		}
		.cl_emergencia{
			background-color: #FF7F7F !important;
		}
		.js-upload{
			padding-right: 15px;
    		padding-left: 7px;
		}
	</style>

</head>
<body>
	<section layout:fragment="conteudo">
		<div class="content">
			<div class="container-fluid">
			
			<form method="POST" th:object="${ordemServico}">
			
				<div class="alert alert-success alert-with-icon" data-notify="container" th:if="${not #strings.isEmpty(mensagem)}">
					<i class="material-icons" data-notify="icon">check</i>
					<button type="button" aria-hidden="true" class="close">
						<i class="material-icons">close</i>
					</button>
					<span data-notify="message" th:text="${mensagem}">Mensagem de Sucesso</span>
				</div>
				
				<div class="alert alert-warning alert-with-icon" data-notify="container" th:if="${#fields.hasAnyErrors()}">
					<i class="material-icons" data-notify="icon">close</i>
					<button type="button" aria-hidden="true" class="close">
						<i class="material-icons">close</i>
					</button>
					<th:block th:each="erro : ${#fields.detailedErrors()}">
						<span data-notify="message" th:utext="${erro.message}">Mensagem de erro</span>
					</th:block>
				</div>
			</form>
				<div class="row">

					<div class="col-md-12">



						<div class="card">
							<div class="card-header card-header-icon" data-background-color="blue">
								 Ordem de Serviço
							</div>

							<div class="card-content">
								<br/>
									<div class="row"  >
										<div    >
											
											<th:block th:if="${ordemServico.listFotoOrdemServico == null || ordemServico.listFotoOrdemServico[0].id==0 || ordemServico.listFotoOrdemServico[1].id==0}  ">
												<div class="col-md-1 col-sm-1  js-upload" style="float: left;" >
													<!-- th:if="${documento.nome}==null" --><br/>
													<form th:action="@{/arquivo/os}" class="dropzone" id="arquivoUpload" style="background-color:#D3D3D3;width: 74px;min-height: 50px !important;font-size:8px;-moz-border-radius:90px !important;-webkit-border-radius:90px !important;border-radius: 60px !important;height: 73px;">
														<div class="fallback">
															<input name="fileToUpload" type="file" multiple />
														</div>
													</form>
												</div>
											</th:block>
											
											
											
											<th:block th:each="anexo,contador : ${ordemServico.listFotoOrdemServico}" th:if="${anexo.id}!=0">
												<div  class="col-md-1 col-sm-1 text-center js-arquivo-1 arquivo" style="float: left;">
													<a th:href="@{/arquivo/financeiro/{id} (id=${anexo.id})}" target="_blank" ><span class="bigger-150 bolder"  >Arquivo</span></a><br /> 
													<span th:class="|js-imagem-arquivo${contador.count}|"></span>
													<a type="button" href="#" th:data-url="@{/arquivo/os/}" th:data-id="${contador.count}" class="btn btn-danger pull-center btn-sm js-btn-excluir">excluir</a>
												</div>
											</th:block>
											
											
											
											<div style="display: none; width: 90px; height: 90px; float: left;" class=" text-center js-arquivo-1 arquivo thumbnail img-circle" >
												<span class="bigger-150 bolder"><a type="button"  href="#" th:data-url="@{/arquivo/os/}" th:data-id="${1}" class="btn btn-danger btn-sm btn-just-icon btn-link pull-center   js-btn-excluir"><i class="fa fa-trash" aria-hidden="true"></i></a></span><br/>
												<span class="js-imagem-arquivo1 " style="width: 70px; height: 70px;"></span>
												
											</div>
											
											<div style="display: none;  width: 90px; height: 90px; float: left;" class=" text-center js-arquivo-2 arquivo thumbnail img-circle" >
												<span class="bigger-150 bolder"><a type="button"  href="#"   th:data-id="${2}" th:data-url="@{/arquivo/os/}" class="btn btn-danger btn-sm btn-just-icon btn-link pull-center   js-btn-excluir"><i class="fa fa-trash" aria-hidden="true"></i></a></span><br/>
												<span class="js-imagem-arquivo2 "></span>
												
											</div>
											
											<div style="display: none;  width: 90px; height: 90px; float: left;" class="text-center js-arquivo-3 arquivo thumbnail img-circle" >
												<span class="bigger-150 bolder"><a type="button"  href="#"   th:data-id="${3}" th:data-url="@{/arquivo/os/}" class="btn btn-danger btn-sm btn-just-icon btn-link pull-center   js-btn-excluir"><i class="fa fa-trash" aria-hidden="true"></i></a></span><br/>
												<span class="js-imagem-arquivo3 "></span>
												
											</div>
											
											<div style="display: none;  width: 90px; height: 90px; float: left;" class=" text-center js-arquivo-4 arquivo thumbnail img-circle" >
												<span class="bigger-150 bolder"><a type="button"  href="#"   th:data-id="${4}" th:data-url="@{/arquivo/os/}" class="btn btn-danger btn-sm btn-just-icon btn-link pull-center   js-btn-excluir"><i class="fa fa-trash" aria-hidden="true"></i></a></span><br/>
												<span class="js-imagem-arquivo4 "></span>
												
											</div>
											
											
										</div>
									</div>
								<br/>

								<form method="POST" id="formarquivo" name="formarquivo" role="form" th:object="${ordemServico}" th:action="@{/ordemservico/{id}(id=${ordemServico.id})}">

									<input type="hidden" th:value="*{id}"> 
									<input type="hidden" th:data-url="@{/ordemservico/busca/nova}" class="js-url-busca-nova-os" />

									<div class="row" sec:authorize="hasRole('ROLE_EMPRESA_ADMINISTRADOR') || hasRole('ROLE_EMPRESA_ASSISTENTE')">
										<div class="col-md-12">
											<div class="checkbox">
	                                            <label>
	                                                <input type="checkbox" name="terms" th:field="*{emergencia}"> Emergência
	                                            </label>
	                                        </div>
										</div>
									</div>
									
									<div class="row" sec:authorize="hasRole('ROLE_EMPRESA_ADMINISTRADOR') || hasRole('ROLE_EMPRESA_ASSISTENTE')">
										<input type="hidden" name="empresa" th:value="${pessoaJuridicaPessoaFisica.pessoaJuridica.id}" />
									</div>

									<div class="row">
										<div class="col-md-12" syndic:classforerror="condominio">
											<select class="selectpicker js-condominio" th:data-url="@{/ordemservico/restante}" data-style="btn btn-primary" title="Condomínio *" data-size="7" th:field="*{condominio}">
<!-- 												<option value="">SELECIONE O CONDOMÍNIO *</option> -->
												<option th:each="obj : ${listCondominio}" th:value="${obj.id}" th:text="|${obj.pessoaJuridica.nomeFantasia} - ${obj.pessoaJuridica.cnpj}|"></option>
											</select>
										</div>
									</div>
									
									
									<div class="row" sec:authorize="hasRole('ROLE_SINDICO')">
										<div class="col-md-12" syndic:classforerror="empresa">
											<select class="selectpicker" data-style="btn btn-primary" title="SELECIONE A EMPRESA PARA EXECUTAR A OS *" data-size="7" th:field="*{empresa}">
<!-- 												<option value="">SELECIONE A EMPRESA PARA EXECUTAR A OS *</option> -->
												<option th:each="obj : ${listPessoaJuridicaCondominio}" th:value="${obj.pessoaJuridica.id}" th:text="|${obj.pessoaJuridica.nomeFantasia} - ${obj.pessoaJuridica.cnpj}|"></option>
											</select>
										</div>
									</div>
									
									<div class="row">

										<div class="col-md-6">
											<select class=" atualizar-auto selectpicker" data-style="btn btn-primary" title="SELECIONE O TIPO DE ORDEM DE SERVIÇO *" data-size="7" id="tipo" name="tipo"  >
												<option disabled selected >SELECIONE O TIPO DE ORDEM DE SERVIÇO *</option>
												<option th:each="obj,iterationStatus : ${listTipoOrdemServico}" th:value="${obj.id}" th:text="${obj.nome}"></option>
											</select>
										</div>

										<div class="col-md-6 ">
											<div class="sgp-field-action">
												<select class="selectpicker select-subtipoordemservico" id="subtipoordemservico" name="subtipoordemservico" data-style="btn btn-primary"
													th:url="@{/tipoordemservico/listarsubtipoordemservico}"
													th:field="*{tipoOrdemServico}">
													<option value="" selected="selected">SELECIONE O
														SUBTIPO DA ORDEM DE SERVIÇO *</option>
												</select>
											</div>
										</div>

									</div>

									<div class="row">
										<div class="col-md-12">
											<div class="form-group label-floating" syndic:classforerror="observacao">
												<input class="form-control" placeholder="Observações sobre a ordem de serviço" th:field="*{observacao}" />
											</div>
										</div>
									</div>

									<!-- 1 arquivo -->
									<input type="hidden" class="js-total-permitido" value="4" />
									<!-- TOTAL DE ARQUIVOS PERMITIDOS PARA UPLOAD -->
									<input type="hidden" class="js-url-excluir"	th:data-url="@{/arquivo/financeiro/excluir}" value="1" />
									<input type="hidden" class="js-diretorio" id="diretorio" name="diretorio" value="ArquivosOs" /> 
									<input type="hidden" class="js-id" th:field="*{id}" /> 
								
								
									<input type="hidden" class="js-nomeArquivo1" th:field="*{listFotoOrdemServico[0].nome}" /> 
									<input type="hidden" class="js-contentType1" th:field="*{listFotoOrdemServico[0].contentType}" />

									<!-- 2 arquivo -->
									<input type="hidden" class="js-nomeArquivo2" th:field="*{listFotoOrdemServico[1].nome}" /> 
									<input type="hidden" class="js-contentType2" th:field="*{listFotoOrdemServico[1].contentType}" /> 
									
									<input type="hidden" class="js-nomeArquivo3" th:field="*{listFotoOrdemServico[2].nome}" /> 
									<input type="hidden" class="js-contentType3" th:field="*{listFotoOrdemServico[2].contentType}" /> 
									
									<input type="hidden" class="js-nomeArquivo4" th:field="*{listFotoOrdemServico[3].nome}" /> 
									<input type="hidden" class="js-contentType4" th:field="*{listFotoOrdemServico[3].contentType}" /> 
									
									
									
									<input type="hidden" class="js-id1" th:field="*{listFotoOrdemServico[0].id}" /> 
									<input  type="hidden" class="js-id2" th:field="*{listFotoOrdemServico[1].id}" />
									<input  type="hidden" class="js-id3" th:field="*{listFotoOrdemServico[2].id}" />
									<input  type="hidden" class="js-id4" th:field="*{listFotoOrdemServico[3].id}" />
								</form>

								
								 
								<a th:href="@{/ordemservico}" class="btn btn-warning pull-right">cancelar</a>
								<button type="button" class="btn btn-info pull-right js-btn-salvar">Salvar</button>
								<small>* Atenção! Os prazos da Ordem de Serviço serão contados a partir do próximo dia útil!</small>
							</div>
						</div>
					</div>

			</div>
		</div>
	</section>

	<section layout:fragment="javascript-extra">

		<!-- upload de imagens -->
		<script th:src="@{/vendors/js/uikit.min.js}"></script>
		<script th:src="@{/vendors/js/upload.min.js}"></script>
		<script th:src="@{/javascripts/upload-foto.js}"></script>

		<script th:src="@{/vendors/js/plugins/sweetalert/sweetalert.min.js}"></script>

		<script th:src="@{/javascripts/dialogo-excluir.js}"></script>

		<script th:src="@{/javascripts/dialogo-detalheordemservico.js}"></script>

		<!-- mascara -->
		<script th:src="@{/javascripts/mascara-input.js}"></script>
		<script th:src="@{/assets/js/jquery.mask.js}"></script>
		<script th:src="@{/vendors/js/jquery.maskMoney.min.js}"></script>


		<script th:src="@{/javascripts/combo-atualizar-combo-os.js}"></script>

		<!-- DROPZONE -->
		<script th:src="@{/vendors/js/plugins/dropzone/dropzone.js}"></script>

		<script th:src="@{/javascripts/upload-arquivo-os.js}"></script>

		<script type="text/javascript">
	
			$(".js-condominio").change(function(){
				url = $(this).attr("data-url");
				condominio = $(this).val();
				
				$.ajax({
					url : url,
					method : 'GET',
					contentType : 'application/json',
					data : { "condominio" : condominio },
					async : false,
					success : function(conteudo) {
						
						if(conteudo != 1){
							swal("Atenção !!!",
								 "O condomínio já realizou todas as visitas disponíveis para o mês, caso prossiga será cobrado a vista excedente no valor de R$ " +conteudo+ "."
								
							);
						}
						
					}
				});
			})		
		
			$(".js-selecionar-orcamento").on("click", function() {

				idOrcamento = $(".js-iframe").attr("data-orcamento");
				url = $(this).attr("data-url");

				$.ajax({
					url : url,
					method : 'GET',
					contentType : 'application/json',
					data : {
						"idOrcamento" : idOrcamento
					},
					async : false,
					success : function(conteudo) {
						swal({
							title : "Orçamento selecionado com sucesso!",
							type : "success",
							timer : 2000,
							showConfirmButton : false
						}, function() {
							location.reload();

						});
					}
				});
			})

			$(".js-btn-anexo-os")
					.on(
							"click",
							function() {
								$(".js-anexo")
										.html(
												"<iframe align=\"center\" src=\"/divano/arquivo/arquivoos/"
														+ $(this).attr(
																"data-id")
														+ "\" style=\"width:95%; height:600px; align:center;\" frameborder=\"0\"></iframe>")
								$(".js-selecionar-orcamento").hide();
							});

			$(".js-btn-orcamento")
					.on(
							"click",
							function() {
								$(".js-anexo")
										.html(
												"<iframe class='js-iframe' align=\"center\" src=\"/divano/arquivo/arquivoorcamento/"
														+ $(this).attr(
																"data-id")
														+ "\" data-orcamento="
														+ $(this).attr(
																"data-id")
														+ " style=\"width:95%; height:600px; align:center;\" frameborder=\"0\"></iframe>")
								$(".js-selecionar-orcamento").show();
							});

			$(".js-btn-salvar").click(function() {
				$("#formarquivo").submit();
			});

			$(".js-btn-excluir").click(
					function() {

						//resetDropZone();
						campo = $(this).attr("data-id");

						nome = $(".js-nomeArquivo" + campo).val();

						id = $(".js-id" + campo).val();

						var parametro = (id != 0 ? id : nome);

						var acao = (id != 0 ? "DELETE" : "PUT");
						$.ajax({
							url : $(this).attr("data-url") + parametro,
							type : acao,
							beforeSend : adicionarCsrfToken,
							success : function(result) {

								$(".js-total-permitido")
										.val(
												parseInt($(
														".js-total-permitido")
														.val()) + 1);

								$('.js-contentType' + campo).val("");
								$('.js-nomeArquivo' + campo).val("");
								$('.js-arquivo-' + campo).hide();

								if ($('.js-nomeArquivo1').val() == ''
										|| $('.js-nomeArquivo2').val() == '') {
									$('.js-upload').show();
								}
								if (id != 0) {
									window.location.reload();
								}

							}
						});

					});

			$(".js-btn-excluir-orcamento")
					.click(
							function() {
								//resetDropZone();
								campo = $(this).attr("data-id");

								nome = $(".js-nomeArquivoOrcamento" + campo)
										.val();

								id = $(".js-idOrcamento" + campo).val();

								var parametro = nome;

								$
										.ajax({
											url : $(this).attr("data-url")
													+ parametro,
											type : "PUT",
											beforeSend : adicionarCsrfToken,
											success : function(result) {

												$(
														".js-total-permitido-orcameto")
														.val(
																parseInt($(
																		".js-total-permitido-orcameto")
																		.val()) + 1);

												$(
														'.js-contentTypeOrcamento'
																+ campo)
														.val("");
												$(
														'.js-nomeArquivoOrcamento'
																+ campo)
														.val("");
												$(
														'.js-arquivo-Orcamento'
																+ campo).hide();

												$(".js-upload" + campo)
														.addClass("js-mostrar");
												$(".js-upload" + campo)
														.removeClass("js-sumir");

												$(
														".js-arquivo-Orcamento"
																+ campo)
														.addClass("js-sumir");
												$(
														".js-arquivo-Orcamento"
																+ campo)
														.removeClass(
																"js-mostrar");
											}
										});

							});

			function adicionarCsrfToken(xhr) {
				var token = $('input[name=_csrf]').val();
				xhr.setRequestHeader('x-csrf-token', token);
			}

			//abrir modal com detalhamento da os
			$(".js-modal").click(function() {
				$.ajax({
					url : $(this).attr("data-url"),
					method : 'GET',
					async : false,
					success : function(conteudo) {
						$('.js-container-modal').html(conteudo);
						$("#ModalEndereco").modal('show');
					}
				});
			})

			//abrir modal com detalhamento da os
			$(".js-modal-responsavel").click(
					function() {
						$.ajax({
							url : $(this).attr("data-url"),
							method : 'GET',
							async : false,
							success : function(conteudo) {
								$('.js-container-modal-responsavel').html(
										conteudo);
								$("#ModalResponsavel").modal('show');

								$(".js-pessoa-fisica-nome").each(
										function() {
											$(
													"#responsavel option[value='"
															+ $(this).attr(
																	"data-id")
															+ "']").hide();
										})
							}
						});
					})

			//abrir modal com o orçamento
			$(".js-modal-orcamento").click(function() {

				$.ajax({
					url : $(this).attr("data-url"),
					method : 'GET',
					async : false,
					success : function(conteudo) {
						$('.js-container-modal-orcamento').html(conteudo);
						$("#ModalOrcamento").modal('show');
					}
				});
			})

			function salvarNovoHistorico(urlExecucao) {

				obs = $(".observacao").val();
				idOs = $("#idOrdemServico").val();
				url = urlExecucao;

				splitURL = url.split('/');

				if (splitURL[parseInt(splitURL.length - 1)] == "executar") {
					responsavel = $("#responsavel").val();
				} else {
					responsavel = 0;
				}

				$.ajax({
					url : url,
					method : 'GET',
					contentType : 'application/json',
					data : {
						"idOS" : idOs,
						"obs" : obs,
						"responsavel" : responsavel
					},
					async : false,
					success : function(conteudo) {
						swal({
							title : "Status da OS Alterado!",
							type : "success",
							timer : 1000,
							showConfirmButton : false
						}, function() {
							window.location = $(".js-url-ordemservico").attr(
									"data-url");

						});
					}
				});
			}

			$('body').on('click', '.js-modal-btn-executar', function() {
				salvarNovoHistorico($(this).attr("url"));
			});
			
			$('body').on('click', '.js-modal-btn-cotacao', function() {
				console.log("teste");
// 				salvarNovoHistorico($(this).attr("url"));
			});

			$('body').on('click', '.js-modal-btn-cancelar', function() {
				salvarNovoHistorico($(this).attr("url"));
			});

			$('body').on('click', '.js-modal-btn-executada', function() {
				salvarNovoHistorico($(this).attr("url"));
			});

			$('body').on('click', '.js-modal-btn-executar-nao-executada', function() {
				salvarNovoHistorico($(this).attr("url"));
			});
			
			
			//responsavel
			$('body')
					.on(
							'click',
							'.js-modal-btn-inserir',
							function() {

								responsavel = $("#responsavel").val();
								observacao = $(".observacao").val();
								mensagemErro = "";

								if (responsavel == "") {
									$("#responsavel").parent().addClass(
											"has-error");
									mensagemErro = "Informe o Funcionário!"
								}

								if (mensagemErro != "") {
									$(".js-mensagem-erro").html(mensagemErro);
									$(".alert-danger").removeClass("hidden");
								} else {
									$(".alert-danger").addClass("hidden");
								}

								if (mensagemErro == "") {

									$
											.ajax({
												url : $(this).attr("url"),
												method : 'GET',
												contentType : 'application/json',
												data : {
													"os" : $(
															".js-ordem-servico")
															.val(),
													"responsavel" : responsavel,
													"observacao" : observacao
												},
												async : false,
												success : function(conteudo) {
													stringRetorno = "<tr class='js-tr-excluir-" + conteudo + "'><td>"
															+ $(
																	"#responsavel :selected")
																	.text()
															+ "</td>";
													stringRetorno = stringRetorno
															+ "<td>"
															+ observacao
															+ "</td>";
													stringRetorno = stringRetorno
															+ "<td class='td-actions text-right'>";
													stringRetorno = stringRetorno
															+ "<a class='btn btn-danger btn-round js-btn-excluir-responsavel' rel='tooltip' title='Excluir Registro' name='excluir' data-url='"
															+ $(
																	".js-url-responsavel-excluir")
																	.attr(
																			"data-url")
															+ "' data-id='"
															+ conteudo + "'>";
													stringRetorno = stringRetorno
															+ "<i class='material-icons'>close</i></a></td></tr>";

													$(".tbodyRetorno")
															.last()
															.append(
																	stringRetorno);

													//esconder responsavel
													$(
															"#responsavel option[value='"
																	+ responsavel
																	+ "']")
															.hide();
													$("#responsavel").val("");
													$(".observacao").val("");
												}
											});
								}

							});

			$('body').on(
					'click',
					'.js-btn-excluir-responsavel',
					function() {

						$.ajax({
							url : $(this).attr("data-url"),
							method : 'GET',
							contentType : 'application/json',
							data : {
								"id" : $(this).attr("data-id")
							},
							async : false,
							success : function(conteudo) {
								console.log(conteudo);
								$(".js-tr-excluir-" + conteudo + "").remove();

								$("#responsavel option").show();

								$(".js-pessoa-fisica-nome").each(
										function() {
											$(
													"#responsavel option[value='"
															+ $(this).attr(
																	"data-id")
															+ "']").hide();
										})
							}
						});
					});
			//responsavel
		</script>

	</section>

</body>
</html>