<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:data="http://www.thymeleaf.org/extras/data"
	layout:decorator="layout/fragments/LayoutPadrao">
<head>

	<link rel="stylesheet" th:href="@{/vendors/css/upload.min.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/vendors/css/plugins/sweetalert/sweetalert.css}" />
	<link th:href="@{/vendors/css/plugins/dropzone/basic.css}" rel="stylesheet">
	<link th:href="@{/vendors/css/plugins/dropzone/dropzone.css}" rel="stylesheet">
	
	<style type="text/css">
		.dropzone{
			padding: 6px 20px;
		}
		.cl_emergencia{
			background-color: #FF7F7F !important;
		}
	</style>

</head>
<body>
	<section layout:fragment="conteudo">
		<div class="content">
		
			<form method="POST" th:action="@{/ordemservico/finalizadas}" class="form-horizontal">
				<div class="row">
					<div class="col-md-12">
						<div class="card">
							<div class="card-header card-header-icon" data-background-color="orange">
		                        <i class="material-icons">list</i>
		                    </div>
		                    <div class="card-content">
								<h4 class="card-title">Ordens de Serviço Finalizadas</h4>
		                    </div>
		                    
		                    <div class="card-content">
			                    <div class="row">	                 		
			                    	<div class="col-md-3">
			                    		<select class="form-control" name="condominio" data-style="select-with-transition" title="Condomínio" data-size="7">
											<option value="">Selecione o Condomínio *</option>
											<option th:each="obj : ${listCondominio}" th:value="${obj.id}" th:text="|${obj.pessoaJuridica.nomeFantasia} - ${obj.pessoaJuridica.cnpj}|" th:selected="(${condominio} == ${obj.id})"></option>
										</select>
			                    	</div>
			                    	
			                    	<div class="col-md-1">
										<button type="submit" class="btn btn-success btn-primary"  data-dismiss="modal">Buscar</button>
									</div>
			                   	</div>
		                   	</div>
		            	</div>
		            </div>
		        </div>
			</form>
		
             <div class="row">
                 <div class="col-md-12">
                     <div class="card">
                         <div class="card-header card-header-icon" data-background-color="orange">
                             <i class="material-icons">list</i>
                         </div>
                         
                         <div class="card-header card-header-icon pull-right" th:data-background-color="purple">
							<a th:href="@{/ordemservico/0}"> <i class="material-icons">add_circle_outline</i></a>
						</div>
                         
                         <input type="hidden" th:data-url="@{/ordemservico/detalhar/}" class="js-url-detalhar-os"  />
                         
                         <div class="card-content">
                             <h4 class="card-title">Ordens de Serviço Finalizadas</h4>
                             <div class="toolbar">
                             </div>
                             <div class="material-datatables">
                                 <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                                     <thead>
                                         <tr>
                                           	<th>#</th>
											<th>Condomínio</th>
											<th>Tipo de OS</th>
											<th>Status OS</th>
											<th>Data Abertura</th>
											<th>Funcionário</th>
											<th class="disabled-sorting text-right" style="width: 100px;" >Ação</th>
                                         </tr>
                                     </thead>                                    
                                     <tbody>
                                         <tr th:each="obj, iterationStatus : ${listOrdemServico}">
											<td th:text="${obj.protocolo}" th:id="${obj.id}" class="js-id-td-os">cont</td>
											
											
											
											<td>
												<th:block th:if="${obj.emergencia}">
													<span class="label label-danger">EMERG.</span>
												</th:block>
												<span th:text="${obj.condominio.pessoaJuridica.nomeFantasia}"></span></td>
											<td>
												<span th:text="${obj.tipoOrdemServico.tipoOrdemServicoSubordinacao} != null ? |${obj.tipoOrdemServico.tipoOrdemServicoSubordinacao.nome} /|"></span>
												<span th:text="${obj.tipoOrdemServico} != null ? ${obj.tipoOrdemServico.nome}"></span>
											</td>
											
											<td>
												<span th:text="${obj.ultimoHistoricoOrdemServico.ordemServicoStatus.nome}"></span>
												<span th:text="${obj.servicoDescricao} != '' ? '/ ' + ${obj.servicoDescricao} : ''"></span>
											</td>
											
											<td class="td-actions text-left" th:data-order="${obj.listHistoricoOrdemServico[0].dataInicio}" >
												<span th:text="${#dates.format(obj.listHistoricoOrdemServico[0].dataInicio,'dd/MM/yyyy')}"></span>
											</td>
											
											<td class="td-actions text-left"  >
												<span th:utext="${obj.getNomesResponsavelExecucaoOS()}"></span>
											</td>
											
											<td class="td-actions text-right" style="width: 120px;">
											
												<a th:href="@{/ordemservico/ficha/} + ${obj.id}" class="btn-icon " rel="tooltip" title="" data-original-title="Visualizar Informações">
													<i class="btn btn-round material-icons dp36" style="font-size: 26px;" data-toggle="ModalResponsavel">assignment</i>
												</a>
																								
<!-- 												<th:block sec:authorize="hasRole('ROLE_EMPRESA_ADMINISTRADOR')" th:if="${obj.tipoFluxo} == 2 and ${obj.ultimoHistoricoOrdemServico.ordemServicoStatus.id} == 3"> -->
<!-- 													<a href="#">  -->
<!-- 														<i class="btn btn-danger btn-round material-icons js-modal-orcamento dp36" th:data-url="@{/orcamento/} + ${obj.id}" data-toggle="ModalOrcamento" rel="tooltip" title="Orçamento" >add_shopping_cart</i> -->
<!-- 													</a> -->
<!-- 												</th:block> -->
												
<!-- 												<a href="#">  -->
<!-- 													<th:block sec:authorize="hasRole('ROLE_EMPRESA_ADMINISTRADOR')"> -->
<!-- 														<i class="btn btn-info btn-round material-icons js-modal-responsavel dp36" th:data-url="@{/ordemservico/responsavel/} + ${obj.id}" data-toggle="ModalResponsavel" rel="tooltip" title="Indicar Responsáveis" >transfer_within_a_station</i> -->
<!-- 													</th:block> -->
<!-- 													<th:block sec:authorize="hasRole('ROLE_SINDICO')"> -->
<!-- 														<i class="btn btn-info btn-round material-icons js-modal-responsavel dp36" th:data-url="@{/ordemservico/responsavel/} + ${obj.id}" data-toggle="ModalResponsavel" rel="tooltip" title="Visualizar Funcionários" >transfer_within_a_station</i> -->
<!-- 													</th:block> -->
<!-- 												</a> -->
												
<!-- 												<a href="#">  -->
<!-- 													<i class="btn btn-warning btn-round material-icons js-modal" th:data-url="@{/ordemservico/detalhar/} + ${obj.id}" data-toggle="modal" rel="tooltip" title="Detalhar OS" >list</i> -->
<!-- 												</a> -->
												
<!-- 												<a href="#" sec:authorize="hasRole('ROLE_EMPRESA_ADMINISTRADOR')" th:if="${obj.ultimoHistoricoOrdemServico.ordemServicoStatus.id} == 9">  -->
<!-- 													<i class="btn btn-danger btn-round material-icons js-modal" th:data-url="@{/ordemservico/detalhar/} + ${obj.id}" data-toggle="modal" rel="tooltip" title="Visualizar Avaliação" >speaker_notes</i> -->
<!-- 												</a> -->
<!-- 												<a href="#" sec:authorize="hasRole('ROLE_SINDICO')"  th:if="${obj.ultimoHistoricoOrdemServico.ordemServicoStatus.id} == 7">  -->
												
<!-- 													<th:block > -->
<!-- 														<i class="btn btn-danger btn-round material-icons js-modal-avaliacao" th:data-url="@{/ordemservico/avaliacao/} + ${obj.id}" data-toggle="modal" rel="tooltip" title="Avaliar Atendimento" >speaker_notes</i> -->
<!-- 													</th:block> -->
													
<!-- 													<th:block th:unless="${#lists.isEmpty(obj.listAvaliacaoOrdemServico)}"> -->
<!-- 														<i class="btn btn-info btn-round material-icons js-modal-avaliacao-visulizar" th:data-url="@{/ordemservico/avaliacao/visulizar} + ${obj.id}" data-toggle="modal" rel="tooltip" title="Avaliação Realizada" >speaker_notes</i> -->
<!-- 													</th:block> -->
													
<!-- 												</a> -->
											</td>
											
										</tr>
                                     </tbody>
                                 </table>
                             </div>
                         </div>
                         
					<div class="modal fade" id="ModalEndereco" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog modal-lg">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close js-close-modal" data-dismiss="modal" aria-hidden="true">
										<i class="material-icons">clear</i>
									</button>
									<h5 class="modal-title">
										<b>Detalhamento da OS</b>
									</h5>
								</div>
								<div class="modal-body js-container-modal"></div>
							</div>
						</div>
					</div>

					<div class="modal fade" id="ModalResponsavel" tabindex="-1"
						role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog modal-lg">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close js-close-modal"
										data-dismiss="modal" aria-hidden="true">
										<i class="material-icons">clear</i>
									</button>
									<h5 class="modal-title">
										<b>Responsáveis pela Ordem de Serviço</b>
									</h5>
								</div>
								<div class="modal-body js-container-modal-responsavel"></div>
							</div>
						</div>
					</div>

					<div class="modal fade" id="ModalOrcamento" tabindex="-1"
						role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog modal-lg">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close js-close-modal"
										data-dismiss="modal" aria-hidden="true">
										<i class="material-icons">clear</i>
									</button>
									<h5 class="modal-title">
										<b>Orçamento</b>
									</h5>
								</div>
								<div class="modal-body js-container-modal-orcamento"></div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="modal fade" id="ModalAvaliacao" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog modal-lg">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close js-close-modal" data-dismiss="modal" aria-hidden="true">
										<i class="material-icons">clear</i>
									</button>
									<h5 class="modal-title">
										<b>Pesquisa de Satisfação</b>
									</h5>
								</div>
								<div class="modal-body js-container-modal-avaliacao"></div>
							</div>
						</div>
					</div>

				<div class="row">
					<div class="col-md-12 text-right">
						<div class="modal inmodal fade" id="anexoDocumento" tabindex="-1" role="dialog" aria-hidden="true">
							<div class="modal-dialog modal-lg">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal">
											<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
										</button>
									</div>
									<div class="modal-body js-anexo text text-center"></div>

									<div class="modal-footer">
										<button sec:authorize="hasRole('ROLE_SINDICO')" type="button" class="btn btn-success js-selecionar-orcamento" th:data-url="@{orcamento/selecionar}" data-dismiss="modal">Selecionar Orçamento E Autorizar Serviço</button>
										<button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
                     </div>
                     <!--  end card  -->
                 </div>
                 <!-- end col-md-12 -->
             </div>
             <!-- end row -->
     </div>
</section>

	<section layout:fragment="javascript-extra">

		<!-- upload de imagens -->
		<script th:src="@{/vendors/js/uikit.min.js}"></script>
		<script th:src="@{/vendors/js/upload.min.js}"></script>
		<script th:src="@{/javascripts/upload-foto.js}"></script>

		<script th:src="@{/vendors/js/plugins/sweetalert/sweetalert.min.js}"></script>

		<script th:src="@{/javascripts/dialogo-excluir.js}"></script>

		<script th:src="@{/javascripts/dialogo-detalheordemservico.js}"></script>

		<!-- mascara -->
		<script th:src="@{/javascripts/mascara-input.js}"></script>
		<script th:src="@{/assets/js/jquery.mask.js}"></script>
		<script th:src="@{/vendors/js/jquery.maskMoney.min.js}"></script>


		<script th:src="@{/javascripts/combo-atualizar-combo-os.js}"></script>

		<!-- DROPZONE -->
		<script th:src="@{/vendors/js/plugins/dropzone/dropzone.js}"></script>


		<script th:src="@{/javascripts/upload-arquivo-os.js}"></script>


		<script type="text/javascript">
			$(document).ready(
				function() {
					$('#datatables').DataTable(
							{
								"pagingType" : "full_numbers",
								"lengthMenu" : [ [ 10, 25, 50, -1 ],
										[ 10, 25, 50, "All" ] ],
								responsive : true,
								language : {
									search : "_INPUT_",
									searchPlaceholder : "Localizar",
								}

							});

					var table = $('#datatables').DataTable();

						table.on('click', '.edit', function() {
						$tr = $(this).closest('tr');

						var data = table.row($tr).data();
					});

					$('.card .material-datatables label').addClass(
							'form-group');
			});
		
		
		
			$(".js-selecionar-orcamento").on("click", function() {

				idOrcamento = $(".js-iframe").attr("data-orcamento");
				url = $(this).attr("data-url");

				$.ajax({
					url : url,
					method : 'GET',
					contentType : 'application/json',
					data : {
						"idOrcamento" : idOrcamento
					},
					async : false,
					success : function(conteudo) {
						swal({
							title : "Orçamento selecionado com sucesso!",
							type : "success",
							timer : 2000,
							showConfirmButton : false
						}, function() {
							location.reload();

						});
					}
				});
			})

			$(".js-btn-anexo-os").on("click",function() {
								$(".js-anexo")
										.html(
												"<iframe align=\"center\" src=\"/divano/arquivo/arquivoos/"
														+ $(this).attr(
																"data-id")
														+ "\" style=\"width:95%; height:600px; align:center;\" frameborder=\"0\"></iframe>")
								$(".js-selecionar-orcamento").hide();
							});

			$(".js-btn-orcamento")
					.on(
							"click",
							function() {
								$(".js-anexo")
										.html(
												"<iframe class='js-iframe' align=\"center\" src=\"/divano/arquivo/arquivoorcamento/"
														+ $(this).attr(
																"data-id")
														+ "\" data-orcamento="
														+ $(this).attr(
																"data-id")
														+ " style=\"width:95%; height:600px; align:center;\" frameborder=\"0\"></iframe>")
								$(".js-selecionar-orcamento").show();
							});

			$(".js-btn-salvar").click(function() {
				$("#formarquivo").submit();
			});

			$(".js-btn-excluir").click(
					function() {

						//resetDropZone();
						campo = $(this).attr("data-id");

						nome = $(".js-nomeArquivo" + campo).val();

						id = $(".js-id" + campo).val();

						var parametro = (id != 0 ? id : nome);

						var acao = (id != 0 ? "DELETE" : "PUT");
						$.ajax({
							url : $(this).attr("data-url") + parametro,
							type : acao,
							beforeSend : adicionarCsrfToken,
							success : function(result) {

								$(".js-total-permitido")
										.val(
												parseInt($(
														".js-total-permitido")
														.val()) + 1);

								$('.js-contentType' + campo).val("");
								$('.js-nomeArquivo' + campo).val("");
								$('.js-arquivo-' + campo).hide();

								if ($('.js-nomeArquivo1').val() == ''
										|| $('.js-nomeArquivo2').val() == '') {
									$('.js-upload').show();
								}
								if (id != 0) {
									window.location.reload();
								}

							}
						});

					});

			
			$(".js-btn-excluir-orcamento").click(function() {
				//resetDropZone();
				campo = $(this).attr("data-id");
				nome = $(".js-nomeArquivoOrcamento" + campo).val();
				id = $(".js-idOrcamento" + campo).val();
				var parametro = nome;

				$.ajax({
					url : $(this).attr("data-url") + parametro,
					type : "PUT",
					beforeSend : adicionarCsrfToken,
					success : function(result) {
						$(".js-total-permitido-orcameto").val(parseInt($(".js-total-permitido-orcameto").val()) + 1);
						$('.js-contentTypeOrcamento'+ campo).val("");
						$('.js-nomeArquivoOrcamento' + campo).val("");
						$('.js-arquivo-Orcamento'+ campo).hide();
						$(".js-upload" + campo).addClass("js-mostrar");
						$(".js-upload" + campo).removeClass("js-sumir");
	
						$(".js-arquivo-Orcamento"+ campo).addClass("js-sumir");
						$(".js-arquivo-Orcamento"+ campo).removeClass("js-mostrar");
					}
				});

			});

			function adicionarCsrfToken(xhr) {
				var token = $('input[name=_csrf]').val();
				xhr.setRequestHeader('x-csrf-token', token);
			}

			//abrir modal com detalhamento da os
			$(".js-modal").click(function() {

				$.ajax({
					url : $(this).attr("data-url"),
					method : 'GET',
					async : false,
					success : function(conteudo) {
						$('.js-container-modal').html(conteudo);
						$("#ModalEndereco").modal('show');
					}
				});
			})
			
			//abrir modal com avaliação para o sindico
			$(".js-modal-avaliacao").click(function() {

				$.ajax({
					url : $(this).attr("data-url"),
					method : 'GET',
					async : false,
					success : function(conteudo) {
						$('.js-container-modal-avaliacao').html(conteudo);
						$("#ModalAvaliacao").modal('show');
					}
				});
			})

			//abrir modal com responsavel da os
			$(".js-modal-responsavel").click(
					function() {
						$.ajax({
							url : $(this).attr("data-url"),
							method : 'GET',
							async : false,
							success : function(conteudo) {
								$('.js-container-modal-responsavel').html(
										conteudo);
								$("#ModalResponsavel").modal('show');
								$(".js-pessoa-fisica-nome").each(
										function() {
											$(
													"#responsavel option[value='"
															+ $(this).attr(
																	"data-id")
															+ "']").hide();
										})
							}
						});
					})

			//abrir modal com o orçamento
			$(".js-modal-orcamento").click(function() {

				$.ajax({
					url : $(this).attr("data-url"),
					method : 'GET',
					async : false,
					success : function(conteudo) {
						$('.js-container-modal-orcamento').html(conteudo);
						$("#ModalOrcamento").modal('show');
					}
				});
			})

			function salvarNovoHistorico(urlExecucao) {

				obs = $(".observacao").val();
				idOs = $("#idOrdemServico").val();
				url = urlExecucao;

				splitURL = url.split('/');

				if (splitURL[parseInt(splitURL.length - 1)] == "executar") {
					responsavel = $("#responsavel").val();
				} else {
					responsavel = 0;
				}

				$.ajax({
					url : url,
					method : 'GET',
					contentType : 'application/json',
					data : {
						"idOS" : idOs,
						"obs" : obs,
						"responsavel" : responsavel
					},
					async : false,
					success : function(conteudo) {
						swal({
							title : "Status da OS Alterado!",
							type : "success",
							timer : 1000,
							showConfirmButton : false
						}, function() {
							window.location = $(".js-url-ordemservico").attr(
									"data-url");

						});
					}
				});
			}

			$('body').on('click', '.js-modal-btn-executar', function() {
				salvarNovoHistorico($(this).attr("url"));
			});

			$('body').on('click', '.js-modal-btn-cancelar', function() {
				salvarNovoHistorico($(this).attr("url"));
			});

			$('body').on('click', '.js-modal-btn-executada', function() {
				salvarNovoHistorico($(this).attr("url"));
			});

			$('body').on('click', '.js-modal-btn-executar-nao-executada',function() {
				salvarNovoHistorico($(this).attr("url"));
			});
			
			$('body').on('click', '.js-modal-btn-cotacao', function() {
				salvarNovoHistorico($(this).attr("url"));
			});
			
			$('body').on('click', '.js-modal-btn-visitaexecutada', function() {
				salvarNovoHistorico($(this).attr("url"));
			});
			
			$('body').on('click', '.js-modal-btn-compra', function() {
				salvarNovoHistorico($(this).attr("url"));
			});
			
			//responsavel
			$('body')
					.on(
							'click',
							'.js-modal-btn-inserir',
							function() {

								responsavel = $("#responsavel").val();
								observacao = $(".observacao").val();
								mensagemErro = "";

								if (responsavel == "") {
									$("#responsavel").parent().addClass(
											"has-error");
									mensagemErro = "Informe o Funcionário!"
								}

								if (mensagemErro != "") {
									$(".js-mensagem-erro").html(mensagemErro);
									$(".alert-danger").removeClass("hidden");
								} else {
									$(".alert-danger").addClass("hidden");
								}

								if (mensagemErro == "") {

									$
											.ajax({
												url : $(this).attr("url"),
												method : 'GET',
												contentType : 'application/json',
												data : {
													"os" : $(
															".js-ordem-servico")
															.val(),
													"responsavel" : responsavel,
													"observacao" : observacao
												},
												async : false,
												success : function(conteudo) {
													stringRetorno = "<tr class='js-tr-excluir-" + conteudo + "'><td>"
															+ $(
																	"#responsavel :selected")
																	.text()
															+ "</td>";
													stringRetorno = stringRetorno
															+ "<td>"
															+ observacao
															+ "</td>";
													stringRetorno = stringRetorno
															+ "<td class='td-actions text-right'>";
													stringRetorno = stringRetorno
															+ "<a class='btn btn-danger btn-round js-btn-excluir-responsavel' rel='tooltip' title='Excluir Registro' name='excluir' data-url='"
															+ $(
																	".js-url-responsavel-excluir")
																	.attr(
																			"data-url")
															+ "' data-id='"
															+ conteudo + "'>";
													stringRetorno = stringRetorno
															+ "<i class='material-icons'>close</i></a></td></tr>";

													$(".tbodyRetorno")
															.last()
															.append(
																	stringRetorno);

													//esconder responsavel
													$(
															"#responsavel option[value='"
																	+ responsavel
																	+ "']")
															.hide();
													$("#responsavel").val("");
													$(".observacao").val("");
												}
											});
								}

							});

			$('body').on(
					'click',
					'.js-btn-excluir-responsavel',
					function() {

						$.ajax({
							url : $(this).attr("data-url"),
							method : 'GET',
							contentType : 'application/json',
							data : {
								"id" : $(this).attr("data-id")
							},
							async : false,
							success : function(conteudo) {
								console.log(conteudo);
								$(".js-tr-excluir-" + conteudo + "").remove();

								$("#responsavel option").show();

								$(".js-pessoa-fisica-nome").each(
										function() {
											$(
													"#responsavel option[value='"
															+ $(this).attr(
																	"data-id")
															+ "']").hide();
										})
							}
						});
					});
			//responsavel

			//INSERIR TIPO DE SERVIÇO IDENTIFICADO

			$('body').on('change', '#tipoServicoIdentificado', function() {
				idOS = $("#idOrdemServico").val();
				idTipoOS = $(this).val();
				url = $(this).attr("data-url");
				urlReload = $(".js-url-detalhar-os").attr("data-url");

				$.ajax({
					url : url,
					method : 'GET',
					contentType : 'application/json',
					data : {"idOS" : idOS, "idTipoOS" : $("#tipoServicoIdentificado").val()},
					async : false,
					success : function(conteudo) {
						$(".js-div-tipo-servico").html('<i class="material-icons" style="font-size: 40px; color:green">done</i>');

						$.ajax({
							url : urlReload + idOS,
							method : 'GET',
							async : true,
							success : function(conteudo) {
								$('.js-container-modal').html(conteudo);
								$("#ModalEndereco").modal('show');
							}
						});
					}
				});
			});

			//INSERIR TIPO DE SERVIÇO IDENTIFICADO
			
			//marcar como emergencia
			$('body').on('click', '.js-emergencia', function() {
				
				idOS = $("#idOrdemServico").val();
				url = $(this).attr("data-url");
				emergencia = "";
				
				if($(this).is(":checked")){
					emergencia = 1;
				}else{
					emergencia = 0;
				}
					
				$.ajax({
					url : url,
					method : 'GET',
					contentType : 'application/json',
					data : {"idOS" : idOS, "emergencia" : emergencia},
					async : false,
				});
			});
			//marcar como emergencia
		</script>

	</section>

</body>
</html>