
<tr th:each="obj, iterationStatus : ${listOrdemServico}">
	<td th:text="${iterationStatus.count}">cont</td>
	<td th:text="${obj.condominio.pessoaJuridica.nomeFantasia}">obj</td>
	<td>
		<span th:text="${obj.tipoOrdemServico.tipoOrdemServicoSubordinacao} != null ? |${obj.tipoOrdemServico.tipoOrdemServicoSubordinacao.nome} /|"></span>
		<span th:text="${obj.tipoOrdemServico} != null ? ${obj.tipoOrdemServico.nome}"></span>
	</td>
	<td
		th:text="${obj.ultimoHistoricoOrdemServico.ordemServicoStatus.nome}">obj
	</td>
	<td class="td-actions text-left">
		<a href="#" rel="tooltip" data-toggle="modal" data-target="#anexoDocumento" 
			th:title="${orcamento.aceite} == 1 ? 'Orçamento Selecionado' : 'Orçamento Descartado'"
			th:class="${orcamento.aceite} == 1 ? 'btn btn-success btn-round js-btn-orcamento' : 'btn btn-danger btn-round js-btn-orcamento'"
			th:each="orcamento, contador : ${obj.listOrcamento}"
			th:data-id="${orcamento.id}"> &nbsp;<spam
			th:text="${contador.count}"></spam>º&nbsp;
	</a>&nbsp;&nbsp;</td>
	<td class="td-actions text-left"><a href="#" rel="tooltip"
		data-toggle="modal" data-target="#anexoDocumento"
		class="btn btn-success btn-round js-btn-anexo-os"
		th:each="foto, contador : ${obj.listFotoOrdemServico}"
		th:data-id="${foto.id}"> &nbsp;<spam th:text="${contador.count}"></spam>º&nbsp;
	</a>&nbsp;&nbsp;</td>

	<td class="td-actions text-right" style="width: 120px;"><th:block
			sec:authorize="hasRole('ROLE_EMPRESA_ADMINISTRADOR')">
			<a href="#"> <i
				class="btn btn-danger btn-round material-icons js-modal-orcamento dp36"
				th:data-url="@{/orcamento/} + ${obj.id}"
				data-toggle="ModalOrcamento" rel="tooltip" title="Orçamento">add_shopping_cart</i>
			</a>
		</th:block> <a href="#"> <th:block
				sec:authorize="hasRole('ROLE_EMPRESA_ADMINISTRADOR')">
				<i
					class="btn btn-info btn-round material-icons js-modal-responsavel dp36"
					th:data-url="@{/ordemservico/responsavel/} + ${obj.id}"
					data-toggle="ModalResponsavel" rel="tooltip"
					title="Indicar Responsáveis">transfer_within_a_station</i>
			</th:block> <th:block sec:authorize="hasRole('ROLE_SINDICO')">
				<i
					class="btn btn-info btn-round material-icons js-modal-responsavel dp36"
					th:data-url="@{/ordemservico/responsavel/} + ${obj.id}"
					data-toggle="ModalResponsavel" rel="tooltip"
					title="Visualizar Funcionários">transfer_within_a_station</i>
			</th:block>
	</a> <a href="#"> <i
			class="btn btn-warning btn-round material-icons js-modal"
			th:data-url="@{/ordemservico/detalhar/} + ${obj.id}"
			data-toggle="modal" rel="tooltip" title="Detalhar OS">list</i>
	</a></td>

</tr>