
<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:data="http://www.thymeleaf.org/extras/data" layout:decorator="layout/fragments/LayoutPadrao">
<head>


</head>
<body>
	<section layout:fragment="conteudo">
		<div class="container-fluid">
			
				<div class="row">

					<form method="POST" role="form" th:object="${conteudo}" th:action="@{/conteudo/incluir}">

						<div class="col-md-12">
							<div class="card">
								<div class="card-header card-header-icon" data-background-color="blue">
									<i class="fas fa-file-alt fa-2x"></i>
								</div>
								<div class="card-content">
									<h4 class="card-title" th:text="${conteudo.novo} ? 'Incluir Novo Conteudo' : 'Editar Conteudo'">Incluir Novo Conteudo</h4>

									<div class="alert alert-warning alert-with-icon" data-notify="container" th:if="${#fields.hasAnyErrors()}">
										<i class="material-icons" data-notify="icon">notifications</i>
										<th:block th:each="erro : ${#fields.detailedErrors()}">
											<div>
												<i class="fa fa-exclamation-circle text-info "></i> <b th:text="${erro.message}">Mensagem de erro</b>
											</div>
									</div>

									<input type="hidden" th:field="*{id}" /> 

									<div class="row">
										<div class="col-md-12">
											<div class="form-group label-floating" syndic:classforerror="titulo">
												<label class="control-label">Título *</label> 
												<input type="text" class="form-control required" placeholder="" th:field="*{titulo}" maxlength="255"/>
											</div>
										</div>
									</div>
									
									<div class="row">
										<div class="col-md-12">
											<div class="form-group label-floating" syndic:classforerror="texto">
												<label class="control-label">Descrição *</label> 
												<textarea rows="6" cols="5" class="form-control required" th:field="*{texto}" maxlength="1000"></textarea>
											</div>
										</div>
									</div>
									
									<div class="row">
										<div class="col-md-6">
												<select class="selectpicker" data-style="select-with-transition" title="Tipo de Conteudo" data-size="7" th:field="*{tipoConteudo}">
													<option th:each="obj : ${listaTipoConteudo}" th:value="${obj.id}" th:text="${obj.nome}"></option>
												</select>
										</div>
										
										<div class="col-md-3">
											<div class="form-group label-floating" >
												<label class="control-label">Data Início</label> 
												<input type="text" class="form-control datepicker data-mask" placeholder=""	
												th:field="*{dtinicio}">
											</div>
										</div>
										
										<div class="col-md-3">
											<div class="form-group label-floating" >
												<label class="control-label">Data Término</label> 
												<input type="text" class="form-control datepicker data-mask" placeholder=""	
												th:field="*{dtfim}">
											</div>
										</div>
										
									</div>
									<br/>
									<button type="button" onClick="history.back()" class="btn btn-warning pull-right">cancelar </button>
									<button type="submit" class="btn btn-info pull-right">Salvar </button>

									<div class="clearfix"></div>

								</div>
							</div>
						</div>

					</form>
				</div>
				
			</div>
	</section>

	<section layout:fragment="javascript-extra">
		<script th:src="@{/vendors/js/plugins/sweetalert/sweetalert.min.js}"></script>
		
		<script type="text/javascript">
		    $(document).ready(function() {
		    	
		        //tratamento do label da data que estava bugado com o calendário
		        $(".datepicker").blur(function(){
		        	if($(this).val() != ""){
		        		$(this).parent().removeClass("is-empty");
		        	}else{
		        		$(this).parent().addClass("is-empty");
		        	}
		        });
		        
		        $('.datepicker').datetimepicker({
		            format: 'DD/MM/YYYY',
		            icons: {
		                time: "fa fa-clock-o",
		                date: "fa fa-calendar",
		                up: "fa fa-chevron-up",
		                down: "fa fa-chevron-down",
		                previous: 'fa fa-chevron-left',
		                next: 'fa fa-chevron-right',
		                today: 'fa fa-screenshot',
		                clear: 'fa fa-trash',
		                close: 'fa fa-remove'
		            }
		        });
		
		    });
		</script>
	</section>

</body>
</html>