
<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:data="http://www.thymeleaf.org/extras/data" layout:decorator="layout/fragments/LayoutPadrao">
<head>

<link rel="stylesheet" th:href="@{/vendors/css/upload.min.css}" />

</head>
<body>
	<section layout:fragment="conteudo">
		<div class="container-fluid">

			<div class="row">

				<form method="POST" role="form" th:object="${unidade}" th:action="${unidade.novo} ? @{/unidade/nova} : @{/unidade/nova/{id}(id=${id})}">


					<div class="col-md-12">
						<div class="card">
							<div class="card-header card-header-icon" data-background-color="blue">
								<i class="material-icons">home</i>
							</div>
							<div class="card-content">
								<h4 class="card-title" >Minha Unidade</h4>


							<span class="category"
									th:text="|${condominio.pessoaJuridica.nomeFantasia} - ${condominio.endereco}|">condominio
								</span><br /> <span class="category"
									th:text="|Contatos: ${condominio.telefone1}  ${condominio.telefone2}  ${condominio.telefone3}|">Contato
								</span><br /> <span class="category"
									th:text="|Síndico: ${condominio.sidicoAtual().nome}|">sindico
								</span> <br />
								

								<div class="alert alert-warning alert-with-icon" data-notify="container" th:if="${#fields.hasAnyErrors()}">
									<i class="material-icons" data-notify="icon">notifications</i>
									<th:block th:each="erro : ${#fields.detailedErrors()}">
										<div>
											<i class="fa fa-exclamation-circle text-info "></i> <b th:text="${erro.message}">Mensagem de erro</b>
										</div>
								</div>

								<input type="hidden" th:field="*{id}" /> <input type="hidden" th:field="*{id}" /> <input type="hidden"
									th:field="*{enderecoUnidade.condominio}" />

								<div class="row">

									<div class="col-md-4" syndic:classforerror="tipoUnidade.id">
										<select class="selectpicker" data-style="select-with-transition" th:disabled="disabled" title="Tipo de Unidade" data-size="7" th:field="*{tipoUnidade.id}">
											<option value="0">Tipo de Unidade</option>
											<option th:each="tipoUnidade : ${tipoUnidade}" th:value="${tipoUnidade.id}" th:text="${tipoUnidade.Nome}"></option>
										</select>
									</div>

									<div class="col-md-4" syndic:classforerror="enderecoUnidade.id">
										<select class="selectpicker" data-style="select-with-transition"th:disabled="disabled"  title="Tipo de Endereço" data-size="7" th:field="*{enderecoUnidade.id}">
											<option value="0">Tipo de Endereço</option>
											<option th:each="enderecoUnidade: ${enderecoUnidade}" th:value="${enderecoUnidade.id}" th:text="${enderecoUnidade.descricao}"></option>
										</select>
									</div>

									<div class="col-md-4" syndic:classforerror="tipoEnderecoUnidade.id">
										<select class="selectpicker" data-style="select-with-transition" th:disabled="disabled" title="Sub Tipo de Endereço" data-size="7"
											th:field="*{tipoEnderecoUnidade.id}">
											<option value="0">Sub Tipo de Endereço</option>
											<option th:each="tipoEnderecoUnidade : ${tipoEnderecoUnidade}" th:value="${tipoEnderecoUnidade.id}"
												th:text="${tipoEnderecoUnidade.descricao}"></option>
										</select>
									</div>


								</div>

								<div class="row">


									<div class="col-md-12">
										<div class="form-group label-floating"  syndic:classforerror="unidadeHabitacional">
											<label class="control-label">Unidade Habitacional *</label> <input type="text"   th:disabled="disabled" class="form-control required " placeholder=""
												th:field="*{unidadeHabitacional}" />
										</div>
									</div>
								</div>


								<div class="row">
									<div class="col-md-6">Proprietários(s)</div>
									<div class="col-md-6">Inquilíno(s)</div>
								</div>

								<div class="row" >
									<div class="col-md-6">
									
									 <th:block th:each="pessoaunidade,iterationStatus : ${unidade.getListaProprietarioUnidade()}">
										<a class="category" th:href="@{/unidade/proprietario/editar/{id}(id = ${pessoaunidade.id})}">
										
												<i th:text="${pessoaunidade.pessoaFisica.nome}">nome</i>
											
										</a><br/>
										</th:block>

									</div>
									
									<div class="col-md-6" th:each="pessoaunidade,iterationStatus : ${unidade.getListaInquilinoUnidade()}">
										<a class="category" th:href="@{/unidade/inquilino/editar/{id}(id = ${pessoaunidade.id})}"> <th:block>
												<i th:text="${pessoaunidade.pessoaFisica.nome}">nome</i>
											</th:block>
										</a>

									</div>
								</div>

								<div class="clearfix"></div>

							</div>
						</div>
					</div>



				</form>
			</div>





			<div class="row" th:unless="${unidade.novo}">


				<div class="col-lg-3 col-md-6 col-sm-6" sec:authorize="hasRole('ROLE_PROPRIETARIO') or hasRole('ROLE_CADASTRO_MORADOR')">
					<div class="card card-stats">
						<div class="card-header card-header-icon" data-background-color="rose">
							<i class="material-icons">face</i>
						</div>
						<div class="card-content" style="height: 80px !important;">
							<p class="category" th:text="|Moradores(s) (${(#lists.size(unidade.getListaMoradoresUnidade()))})|">Moradores(s)</p>
						</div>
						<div class="card-footer">
							<div class="stats">
								<i class="material-icons">face</i> <a class="category" th:href="@{/unidade/morador/adicionar/{id}(id = ${unidade.id})}">Adicionar</a> <span
									class="text pull-right"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <i
									class="material-icons">find_in_page</i> <a class="category"
									th:href="@{/unidade/morador/listar/{id}(id = ${unidade.id})}">Listar</a>

								</span>

							</div>
						</div>
					</div>
				</div>

				
				<div class="col-lg-3 col-md-6 col-sm-6" sec:authorize="hasRole('ROLE_PROPRIETARIO') or hasRole('ROLE_CADASTRAR_VEICULOS')">
					<div class="card card-stats">
						<div class="card-header card-header-icon" data-background-color="rose">
							<i class="material-icons">directions_car</i>
						</div>
						<div class="card-content" style="height: 80px !important;">
							<p class="category" th:text="|Veículos(s)  (${(#lists.size(unidade.getListaVeiculosUnidade()))}) |">Veiculos (2)</p>
						</div>
						<div class="card-footer">
							<div class="stats">
								<i class="material-icons">face</i> <a class="category" th:href="@{/unidade/veiculo/adicionar/{id}(id = ${unidade.id})}">Adicionar</a> <span
									class="text pull-right"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <i
									class="material-icons">find_in_page</i> <a class="category"
									th:href="@{/unidade/veiculo/listar/{id}(id = ${unidade.id})}">Listar</a>

								</span>

							</div>
						</div>
					</div>
				</div>



				<div class="col-lg-3 col-md-6 col-sm-6" sec:authorize="hasRole('ROLE_PROPRIETARIO') or hasRole('ROLE_CADASTRO_ANIMAIS')">
					<div class="card card-stats">
						<div class="card-header card-header-icon" data-background-color="red">
							<i class="material-icons">pets</i>
						</div>
						<div class="card-content" style="height: 80px !important;">
							<p class="category" th:text="|Animais (${(#lists.size(unidade.animais))})|">Animais</p>
						</div>
						<div class="card-footer">
							<div class="stats">
								<i class="material-icons">face</i> <a class="category" th:href="@{/unidade/animal/adicionar/{id}(id = ${unidade.id})}">Adicionar</a> <span
									class="text pull-right"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <i
									class="material-icons">find_in_page</i> <a class="category"
									th:href="@{/unidade/animal/listar/{id}(id = ${unidade.id})}">Listar</a>

								</span>

							</div>
						</div>
					</div>
				</div>

				<div class="col-lg-3 col-md-6 col-sm-6"  sec:authorize="hasRole('ROLE_PROPRIETARIO')">
					<div class="card card-stats">
						<div class="card-header card-header-icon" data-background-color="black">
							<i class="material-icons">add_circle_outline</i>
						</div>
						<div class="card-content" style="height: 80px !important;">
							<p class="category">Funcionarios (2)</p>
						</div>
						<div class="card-footer">
							<div class="stats">
								<i class="material-icons">add_circle_outline</i> <a class="text">Adicionar</a> <span class="text pull-right">
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <i class="material-icons">find_in_page</i> <a
									class="text">Localizar </a>
								</span>

							</div>
						</div>
					</div>
				</div>


				<div class="col-lg-3 col-md-6 col-sm-6"  sec:authorize="hasRole('ROLE_PROPRIETARIO') or hasRole('ROLE_CADASTRAR_VISITANTES')">
					<div class="card card-stats">
						<div class="card-header card-header-icon" data-background-color="orange">
							<i class="material-icons">transfer_within_a_station</i>
						</div>
						<div class="card-content" style="height: 80px !important;">
							<p class="category" th:text="|Visitantes Agendados (${(#lists.size(unidade.getListaVisitantesAgendadosUnidade()))})|">Visitantes</p>
									<br/>
						</div>
						<div class="card-footer">
							<div class="stats">
								<i class="material-icons">transfer_within_a_station</i> <a class="category" th:href="@{/unidade/visitante/adicionar/{id}(id = ${unidade.id})}">Adicionar</a> <span
									class="text pull-right"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <i
									class="material-icons">find_in_page</i> <a class="category"
									th:href="@{/unidade/visitante/listar/{id}(id = ${unidade.id})}">Histórico</a>

								</span>

							</div>
						</div>
					</div>
				</div>

				<div class="col-lg-3 col-md-6 col-sm-6" sec:authorize="hasRole('ROLE_PROPRIETARIO') or hasRole('ROLE_SOLICITAR_SERVICOS')" >
					<div class="card card-stats">
						<div class="card-header card-header-icon" data-background-color="orange">
							<i class="material-icons">S</i>
						</div>
						<div class="card-content" style="height: 80px !important;">
							<p class="category" th:text="Serviços">Serviços</p>
						</div>
						<div class="card-footer">
							<div class="stats">
								<i class="material-icons">accessibility</i> 
								<a class="text" th:href="@{/unidade/atendimento/incluir}">Solicitar</a> 
								<span class="text pull-right">
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
									<i class="material-icons">find_in_page</i> 
									<a class="text" th:href="@{/unidade/atendimento/listar}">Listar </a>
								</span>

							</div>
						</div>
					</div>
				</div>
				
				
				
				<div class="col-lg-3 col-md-6 col-sm-6" sec:authorize="hasRole('ROLE_PROPRIETARIO')"  >
					<div class="card card-stats">
						<div class="card-header card-header-icon" data-background-color="orange">
							<i class="material-icons">assignment</i>
						</div>
						<div class="card-content" style="height: 80px !important;">
							<p class="category" th:text="|Meus Documentos (${(#lists.size(unidade.getListaDocumentos()))})|">Documentos</p>
						</div>
						<div class="card-footer">
							<div class="stats">
								<i class="material-icons">assignment</i> <a class="category" th:href="@{/unidade/documento/adicionarpormorador/{id}(id = ${unidade.id})}">Adicionar</a> 
								<span class="text pull-right"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <i
									class="material-icons">find_in_page</i> <a class="category"
									th:href="@{/unidade/documento/listar/{id}(id = ${unidade.id})}">Histórico</a>
									</span>

							</div>
						</div>
					</div>
				</div>



			</div>

		</div>
	</section>

	<section layout:fragment="javascript-extra">

		<!-- upload de imagens -->
		<script th:src="@{/vendors/js/uikit.min.js}"></script>
		<script th:src="@{/vendors/js/upload.min.js}"></script>
		<script th:src="@{/javascripts/upload-foto.js}"></script>



		<script th:src="@{/vendors/js/plugins/sweetalert/sweetalert.min.js}"></script>
		<!-- mascara -->
		<script th:src="@{/javascripts/mascara-input.js}"></script>
		<script th:src="@{/assets/js/jquery.mask.js}"></script>



	</section>

</body>
</html>