
<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:data="http://www.thymeleaf.org/extras/data"
	layout:decorator="layout/fragments/LayoutPadrao">
<head>

<link rel="stylesheet" th:href="@{/vendors/css/upload.min.css}" />

</head>
<body>
	<section layout:fragment="conteudo">
		<div class="content">
			<div class="container-fluid">


				<div class="row">

					<div class="col-md-12">

						<form method="POST" role="form" th:object="${unidade}"
							th:action="${unidade.novo} ? @{/unidade/nova} : @{/unidade/nova/{id}(id=${id})}">

							<input type="hidden" th:field="*{id}" /> <input type="hidden"
								th:field="*{condominio}">




							<div class="alert alert-success alert-with-icon"
								data-notify="container"
								th:if="${not #strings.isEmpty(mensagem)}">
								<i class="material-icons" data-notify="icon">check</i>
								<button type="button" aria-hidden="true" class="close">
									<i class="material-icons">close</i>
								</button>
								<span data-notify="message" th:text="${mensagem}">Mensagem
									de Sucesso</span>
							</div>

							<div class="card">
								<div class="card-header card-header-icon"
									data-background-color="blue">
									<i class="material-icons">home</i>
								</div>
								<div class="card-content">
									<h4 class="card-title" th:unless="${unidade.novo}">Editar
										Unidade</h4>
									<h4 class="card-title" th:if="${unidade.novo}">
										Incluir Nova Unidade para <strong
											th:text="${unidade.condominio.pessoaJuridica.nomeFantasia}"></strong>
									</h4>




									<div class="alert alert-warning alert-with-icon"
										data-notify="container" th:if="${#fields.hasAnyErrors()}">
										<i class="material-icons" data-notify="icon">close</i>
										<button type="button" aria-hidden="true" class="close">
											<i class="material-icons">close</i>
										</button>
										<th:block th:each="erro : ${#fields.detailedErrors()}">
											<span data-notify="message" th:utext="${erro.message}">Mensagem
												de erro</span>
										</th:block>
									</div>




									<div class="row">

										<div class="col-md-4" syndic:classforerror="tipoUnidade">
											<select class="form-control"
												data-style="select-with-transition" title="Tipo de Unidade"
												data-size="7" th:field="*{tipoUnidade}">
												<option value="0">Tipo de Unidade</option>
												<option th:each="tipoUnidade : ${tipoUnidade}"
													th:value="${tipoUnidade.id}" th:text="${tipoUnidade.Nome}"></option>
											</select>
										</div>

										<div class="col-md-4" syndic:classforerror="enderecoUnidade">
											<select class="form-control"
												data-style="select-with-transition" title="Tipo de Endereço"
												data-size="7" th:field="*{enderecoUnidade}">
												<option value="0">Tipo de Endereço</option>
												<option th:each="enderecoUnidade: ${enderecoUnidade}"
													th:value="${enderecoUnidade.id}"
													th:text="${enderecoUnidade.descricao}"></option>
											</select>
										</div>

										<div class="col-md-4"
											syndic:classforerror="tipoEnderecoUnidade">
											<select class="form-control"
												data-style="select-with-transition"
												title="Sub Tipo de Endereço" data-size="7"
												th:field="*{tipoEnderecoUnidade}">
												<option value="0">Sub Tipo de Endereço</option>
												<option
													th:each="tipoEnderecoUnidade : ${tipoEnderecoUnidade}"
													th:value="${tipoEnderecoUnidade.id}"
													th:text="${tipoEnderecoUnidade.descricao}"></option>
											</select>
										</div>


									</div>

									<div class="row">


										<div class="col-md-12">
											<div class="form-group label-floating"
												syndic:classforerror="unidadeHabitacional">
												<label class="control-label">Unidade Habitacional *</label>
												<input type="text" class="form-control required "
													placeholder="" th:field="*{unidadeHabitacional}" />
											</div>
										</div>
									</div>


									<div class="row"
										th:unless="${#lists.isEmpty(unidade.getListaProprietarioUnidade())}">
										<div class="col-md-12">Proprietários(s)</div>
									</div>

									<div class="row"
										th:each="pessoaunidade,iterationStatus : ${unidade.getListaProprietarioUnidade()}">
										<div class="col-md-12">
											<a class="category"
												th:href="@{/unidade/proprietario/editar/{id}(id = ${pessoaunidade.id})}">
												<th:block>
													<i th:text="${pessoaunidade.pessoaFisica.nome}">nome</i>
												</th:block>
											</a>


										</div>
									</div>



									<button type="button" onClick="history.back()"
										class="btn btn-warning pull-right">cancelar</button>
									<button type="submit" class="btn btn-info pull-right">Salvar</button>

									<div class="clearfix"></div>

								</div>
							</div>

						</form>
					</div>
				</div>
			</div>



			<div class="row" th:unless="${unidade.novo}">

				<div class="content">
					<div class="container-fluid">


						<div class="col-lg-3 col-md-6 col-sm-6">
							<div class="card card-stats">
								<div class="card-header card-header-icon"
									data-background-color="blue">
									<i class="material-icons">face</i>
								</div>
								<div class="card-content">
									<p class="category"
										th:text="|Proprietário(s) (${(#lists.size(unidade.getListaTodosProprietarioUnidade()))})|">Proprietário(s)</p>
									<br />
								</div>
								<div class="card-footer">
									<div class="stats">
										<i class="material-icons">face</i> <a class="category"
											th:href="@{/unidade/proprietario/adicionar/{id}(id = ${unidade.id})}">Adicionar</a>
										<span class="text pull-right">
											&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
											<i class="material-icons">find_in_page</i> <a
											class="category"
											th:href="@{/unidade/proprietario/listar/{id}(id = ${unidade.id})}">Listar</a>

										</span>

									</div>
								</div>
							</div>
						</div>



						<div class="col-lg-3 col-md-6 col-sm-6">
							<div class="card card-stats">
								<div class="card-header card-header-icon"
									data-background-color="rose">
									<i class="material-icons">group</i>
								</div>
								<div class="card-content">
									<p class="category"
										th:text="|Moradores(s) (${(#lists.size(unidade.getListaMoradoresUnidade()))})|">Moradores(s)</p>
									<br />
								</div>
								<div class="card-footer">
									<div class="stats">
										<i class="material-icons">group</i> <a class="category"
											th:href="@{/unidade/morador/adicionar/{id}(id = ${unidade.id})}">Adicionar</a>
										<span class="text pull-right">
											&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
											<i class="material-icons">find_in_page</i> <a
											class="category"
											th:href="@{/unidade/morador/listar/{id}(id = ${unidade.id})}">Listar</a>

										</span>

									</div>
								</div>
							</div>
						</div>


						<div class="col-lg-3 col-md-6 col-sm-6">
							<div class="card card-stats">
								<div class="card-header card-header-icon"
									data-background-color="green">
									<i class="material-icons">face</i>
								</div>
								<div class="card-content">
									<p class="category"
										th:text="|Inquilinos(s) (${(#lists.size(unidade.getListaInquilinosUnidade()))})|">Inquilinos/Comodado</p>
									<br />
								</div>
								<div class="card-footer">
									<div class="stats">
										<i class="material-icons">face</i> <a class="category"
											th:href="@{/unidade/inquilino/adicionar/{id}(id = ${unidade.id})}">Adicionar</a>
										<span class="text pull-right">
											&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
											<i class="material-icons">find_in_page</i> <a
											class="category"
											th:href="@{/unidade/inquilino/listar/{id}(id = ${unidade.id})}">Listar</a>

										</span>

									</div>
								</div>
							</div>
						</div>




						<div class="col-lg-3 col-md-6 col-sm-6">
							<div class="card card-stats">
								<div class="card-header card-header-icon"
									data-background-color="rose">
									<i class="material-icons">directions_car</i>
								</div>
								<div class="card-content">
									<p class="category"
										th:text="|Veículos(s)  (${(#lists.size(unidade.getListaVeiculosUnidade()))}) |">Veiculos
										(2)</p>
									<br />
								</div>
								<div class="card-footer">
									<div class="stats">
										<i class="material-icons">directions_car</i> <a
											class="category"
											th:href="@{/unidade/veiculo/adicionar/{id}(id = ${unidade.id})}">Adicionar</a>
										<span class="text pull-right">
											&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
											<i class="material-icons">find_in_page</i> <a
											class="category"
											th:href="@{/unidade/veiculo/listar/{id}(id = ${unidade.id})}">Listar</a>

										</span>

									</div>
								</div>
							</div>
						</div>



						<div class="col-lg-3 col-md-6 col-sm-6">
							<div class="card card-stats">
								<div class="card-header card-header-icon"
									data-background-color="red">
									<i class="material-icons">pets</i>
								</div>
								<div class="card-content">
									<p class="category"
										th:text="|Animais (${(#lists.size(unidade.animais))})|">Animais</p>
									<br />
								</div>
								<div class="card-footer">
									<div class="stats">
										<i class="material-icons">pets</i> <a class="category"
											th:href="@{/unidade/animal/adicionar/{id}(id = ${unidade.id})}">Adicionar</a>
										<span class="text pull-right">
											&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
											<i class="material-icons">find_in_page</i> <a
											class="category"
											th:href="@{/unidade/animal/listar/{id}(id = ${unidade.id})}">Listar</a>

										</span>

									</div>
								</div>
							</div>
						</div>


						<div class="col-lg-3 col-md-6 col-sm-6">
							<div class="card card-stats">
								<div class="card-header card-header-icon"
									data-background-color="green">
									<i class="material-icons">accessibility</i>
								</div>
								<div class="card-content">
									<p class="category"
										th:text="|Funcionário(s) (${(#lists.size(unidade.getListaFuncionariosUnidade()))})|">Funcionários</p>
									<br />
								</div>
								<div class="card-footer">
									<div class="stats">
										<i class="material-icons">accessibility</i> <a
											class="category"
											th:href="@{/unidade/funcionario/adicionar/{id}(id = ${unidade.id})}">Adicionar</a>
										<span class="text pull-right">
											&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
											<i class="material-icons">find_in_page</i> <a
											class="category"
											th:href="@{/unidade/funcionario/listar/{id}(id = ${unidade.id})}">Listar</a>

										</span>

									</div>
								</div>
							</div>
						</div>


						<div class="col-lg-3 col-md-6 col-sm-6">
							<div class="card card-stats">
								<div class="card-header card-header-icon"
									data-background-color="orange">
									<i class="material-icons">transfer_within_a_station</i>
								</div>
								<div class="card-content">
									<p class="category"
										th:text="|Visitantes Agendados (${(#lists.size(unidade.getListaVisitantesAgendadosUnidade()))})|">Visitantes</p>
									<br />
								</div>
								<div class="card-footer">
									<div class="stats">
										<i class="material-icons">transfer_within_a_station</i> <a
											class="category"
											th:href="@{/unidade/visitante/adicionar/{id}(id = ${unidade.id})}">Adicionar</a>
										<span class="text pull-right">
											&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
											<i class="material-icons">find_in_page</i> <a
											class="category"
											th:href="@{/unidade/visitante/listar/{id}(id = ${unidade.id})}">Histórico</a>

										</span>

									</div>
								</div>
							</div>
						</div>

						<div class="col-lg-3 col-md-6 col-sm-6">
							<div class="card card-stats">
								<div class="card-header card-header-icon"
									data-background-color="orange">
									<i class="material-icons">assignment</i>
								</div>
								<div class="card-content">
									<p class="category"
										th:text="|Documentos  (${(#lists.size(unidade.getListaDocumentos()))})|">Documentos</p>
									</br>
								</div>
								<div class="card-footer">
									<div class="stats">
										<i class="material-icons">assignment</i> <a class="category"
											th:href="@{/unidade/documento/adicionar/{id}(id = ${unidade.id})}">Adicionar</a>
										<span class="text pull-right">
											&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
											<i class="material-icons">find_in_page</i> <a
											class="category"
											th:href="@{/unidade/documento/listar/{id}(id = ${unidade.id})}">Histórico</a>
										</span>

									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
			<div th:replace="/syndic/unidades/listar"></div>

		</div>
	</section>

	<section layout:fragment="javascript-extra">

		<!-- upload de imagens -->
		<script th:src="@{/vendors/js/uikit.min.js}"></script>
		<script th:src="@{/vendors/js/upload.min.js}"></script>
		<script th:src="@{/javascripts/upload-foto.js}"></script>



		<script th:src="@{/vendors/js/plugins/sweetalert/sweetalert.min.js}"></script>
		<!-- mascara -->
		<script th:src="@{/javascripts/mascara-input.js}"></script>
		<script th:src="@{/assets/js/jquery.mask.js}"></script>

		<script type="text/javascript">
			$(document).ready(
					function() {
						$('#datatables').DataTable(
								{
									"pagingType" : "full_numbers",
									"lengthMenu" : [ [ 10, 25, 50, -1 ],
											[ 10, 25, 50, "All" ] ],
									responsive : true,
									language : {
										search : "_INPUT_",
										searchPlaceholder : "Localizar",
									}

								});

						var table = $('#datatables').DataTable();

						// Edit record
						table.on('click', '.edit', function() {
							$tr = $(this).closest('tr');

							var data = table.row($tr).data();
							//  alert('You press on Row: ' + data[0] + ' ' + data[1] + ' ' + data[2] + '\'s row.');
						});

						$('.card .material-datatables label').addClass(
								'form-group');
					});
		</script>

	</section>

</body>
</html>