<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
   xmlns:th="http://www.thymeleaf.org" 
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:data="http://www.thymeleaf.org/extras/data" 
	>
<head>
</head>
		<div class="content">
       		<div class="container-fluid">
       		
            	<div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header card-header-icon" th:data-background-color="orange">
                                    <i class="material-icons">list</i>
                                </div>

							<div class="card-header card-header-icon pull-right" th:data-background-color="purple">
							<a th:href="@{/unidade/gerenciar/{id}(id=${condominio.id})}" rel="tooltip" title="Adicionar Nova Unidade" > <i class="material-icons">add_circle_outline</i>
							</a>
							</div>

						<div class="card-content">
							<h4 class="card-title">
								Lista de Unidades do <strong th:text="${condominio.pessoaJuridica.nomeFantasia}">Condomínio</strong>
							</h4>
							<div class="toolbar">
								<!--                                                Here you can write extra buttons/actions for the toolbar              -->
							</div>
							<div class="material-datatables">

								<table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width: 100%">
									<thead>
										<tr>
											<th>#</th>
											<th>Tipo</th>
											<th>Endereço</th>
											<th>Tipo Endereço</th>
											<th>Unidade</th>
											<th>Proprietário(s)</th>
											<th>Contato</th>
											<th class="disabled-sorting text-right">Ação</th>
										</tr>
									</thead>
									<!-- 											<tfoot> -->
									<!-- 												<tr > -->
									<!-- 													<td>#</td> -->
									<!-- 													<td>Nome</td> -->
									<!-- 													<td>Síndico</td> -->
									<!-- 													<td>Contato</td> -->
									<!-- 													<td>Local</td> -->
									<!-- 													<td class="text-right">Ação</td> -->
									<!-- 												</tr> -->
									<!-- 											</tfoot> -->
									<tbody>
										<tr th:each="unidade,iterationStatus : ${unidades}">
											<td th:text="${iterationStatus.count}">cont</td>
											<td th:text="${unidade.tipoUnidade.nome}">Apartamento</td>
											<td th:text="${unidade.enderecoUnidade.descricao}">Endereço</td>
											<td th:text="${unidade.tipoEnderecoUnidade.descricao}">Tipo Endereço</td>
											<td th:text="${unidade.unidadeHabitacional}">Tipo Endereço</td>
											<td
												th:utext="${unidade.getListaProprietarioUnidade()}==null?'Nenhum Proprietário Cadastrado':${unidade.getListaProprietarioUnidadeNomes()}">Proprietário</td>
											<td th:utext="${unidade.getListaProprietarioUnidade()}==null?'(--) ****-****':${unidade.getListaProprietarioUnidadeTelefones()}">(--)
												****-****</td>
											<td class="text-right"><a th:href="@{/unidade/editar/{id}(id = ${unidade.id})}" class="btn btn-simple btn-warning btn-icon edit"
												rel="tooltip" title="Editar Informações"> <i class="material-icons">dvr</i>
											</a></td>
										</tr>


									</tbody>
								</table>
							</div>
							
							<div class="row "><br/>
							<a type="button" class="btn btn-warning pull-right" th:href="@{/condominio/editar/{id}(id=${condominio.id})}">Voltar </a>
								</div>
						</div>
						<!-- end content-->
					</div>
					<!--  end card  -->
                        </div>
                        <!-- end col-md-12 -->
                    </div>
                    <!-- end row -->
            </div>
	</div>
	
	
</body>
</html>