	<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:data="http://www.thymeleaf.org/extras/data" layout:decorator="layout/fragments/LayoutPadrao">
<head>

<link rel="stylesheet" th:href="@{/vendors/css/upload.min.css}" />

</head>
<body>
	<section layout:fragment="conteudo">
		<div class="container-fluid">
			
			
			<div class="row">

				<form method="POST" id="form" role="form" th:object="${pessoaFisicaVeiculo}"  th:action="${pessoaFisicaVeiculo.id}==0 ? @{/condominio/veiculo/novo} : @{/condominio/veiculo/novo/{id}(id=${pessoaFisicaVeiculo.id})}">


					<input type="hidden" th:field="*{id}"> 
					<input type="hidden" th:field="*{pessoaFisica}"> 


						<div class="col-md-12">
							<div class="card">
								<div class="card-header card-header-icon" data-background-color="orange">
									<i class="material-icons">directions_car</i>
								</div>
								<div class="card-content">
									<h4 class="card-title" th:unless="${pessoaFisicaVeiculo.novo}">Editar Veículo</h4>
									
									<th:block th:if="${pessoaFisicaVeiculo.novo}">
										<h5 class="card-title" >Incluir Veículo</h5>
									</th:block>

									<div class="alert alert-warning alert-with-icon" data-notify="container" th:if="${#fields.hasAnyErrors()}">
										<i class="material-icons" data-notify="icon">notifications</i>
										<th:block th:each="erro : ${#fields.detailedErrors()}">
										<div>
											<i class="fa fa-exclamation-circle text-info "></i> <b th:text="${erro.message}">Mensagem de erro</b>
										</div>
									</div>

								<div class="row">

									<div class="col-md-6 form-group">
										<select class="form-control atualizar-auto" atualizar="select-morador" th:field="*{pessoaFisicaUnidade.unidade}" data-style="select-with-transition"  data-size="7">
											<option value="">Unidade Habitacional <star>*</star></option>
											<option th:each="unidade : ${unidades}" th:value="${unidade.id}" th:text="${unidade.unidadeHabitacionalDescricao}"></option>
										</select>
									</div>
									
									<div class="col-md-6 form-group">
<!-- 										<select class="form-control select-morador" data-style="select-with-transition" th:field="*{pessoaFisica}" data-size="7"> -->
<!-- 											<option value="">Proprietário <star>*</star></option> -->
<!-- <!-- 											<option th:each="unidade : ${unidades}" th:value="${unidade.id}" th:text="${unidade.unidadeHabitacionalDescricao}"></option> -->
<!-- 										</select> -->
										
										<select class="js-select-pessoa form-control select-morador" th:url="@{/condominio/unidademoradores}"  th:url-tipo="@{/unidade/buscartipopessoa}"
														data-style="select-with-transition"	data-size="7" th:field="*{pessoaFisicaUnidade}">
														<option value="0">PROPRIETÁRIO DO VEÍCULO <star>*</star></option>
														<option th:each="pessoafisicaunidade,iterationStatus : ${listPessoaFisicaUnidade}"
															th:value="${pessoafisicaunidade.id}" 
															th:text="|${pessoafisicaunidade.pessoaFisica.nome}  - ${pessoafisicaunidade.tipoPessoaFisicaUnidade.nome}|"></option>
													</select>
									</div>
								</div>
								
								

								<div class="row">
								
									<div class="col-md-3 form-group" syndic:classforerror="veiculo.modelo.marca.tipoVeiculo">
													<select class="form-control atualizar-auto " atualizar="select-marca"
														data-style="select-with-transition" 
														data-size="7" th:field="*{veiculo.modelo.marca.tipoVeiculo}">
														<option value="">TIPO DE VEÍCULO <star>*</star></option>
														<option th:each="tipo,iterationStatus : ${tipoVeiculo}"
															th:value="${tipo.id}" th:text="${tipo.nome}"></option>
													</select>
												</div>
									
									
									<div class="col-md-3">
										<div class="form-group label-floating" syndic:classforerror="veiculo.placa">
											<label class="control-label">Placa </label> 
											<input type="text" class="form-control placa-mask js-placa" placeholder=""	th:field="*{veiculo.placa}" />
										</div>
									</div>
									<div class="col-md-3">
										 <div class='form-group input-group date label-floating' id='datetimepicker10' syndic:classforerror="veiculo.ano">
											<label class="control-label">Ano </label> 
											<input type="text" class="form-control js-input-ano ano-mask "  maxlength="4" placeholder=""	th:field="*{veiculo.ano}" />
											<span class="input-group-addon">
							                    <span class="glyphicon glyphicon-calendar ">
							                    </span>
							                </span>
										</div>
									</div>
									
									
									<div class="col-md-3">
													 <div class='form-group input-group date label-floating' id='datetimepicker11' syndic:classforerror="veiculo.anomodelo">
														<label class="control-label">Modelo </label> 
														<input type="text" class="form-control js-input-modelo  ano-mask"  maxlength="4" placeholder=""	th:field="*{veiculo.anomodelo}" />
														<span class="input-group-addon">
										                    <span class="glyphicon glyphicon-calendar ">
										                    </span>
										                </span>
													</div>
												</div>
									
								</div>

								<div class="row">
									<div class="col-md-4 form-group"
											syndic:classforerror="veiculo.modelo.marca" >
											<select th:url="@{/marca/pesquisarmarcas}" class="form-control atualizar-auto select-marca" atualizar="select-modelo"
												data-style="select-with-transition" title="MARCA"
												data-size="7" th:field="*{veiculo.modelo.marca}">
												<option value="">MARCA<star>*</star></option>
												<option th:each="marca,iterationStatus : ${marcaVeiculo}"
													th:value="${marca.id}" th:text="${marca.nome}"></option>
											</select>
										</div>

									<div class="col-md-4 form-group" syndic:classforerror="veiculo.modelo">
										<select th:url="@{/modelo/pesquisarmodelos}" class="form-control select-modelo" data-style="select-with-transition" title="MODELO" data-size="7" th:field="*{veiculo.modelo}">
											<option value="">MODELO<star>*</star></option>
											<option th:each="modelo,iterationStatus : ${modeloVeiculo}" th:value="${modelo.id}" th:text="${modelo.nome}"></option>
										</select>
									</div>
									
									<div class="col-md-4 form-group" syndic:classforerror="veiculo.cor">
										<select  class="form-control "	data-style="select-with-transition" title="Cor" data-size="7" th:field="*{veiculo.cor}">
											<option value="">COR<star>*</star></option>
											<option th:each="cor,iterationStatus : ${cores}" th:value="${cor.id}" th:text="${cor.nome}"></option>
										</select>
									</div>
								</div>

								<div class="row "><br/>
									<div class="col-lg-12">
										<a type="button" class="btn btn-warning pull-right" th:href="@{/sindico/condominio/editar/{id}(id=${condominio.id})}">cancelar </a>
										<button type="submit" class="btn btn-info pull-right">Salvar</button>
									</div>
								</div>
								<div class="clearfix"></div>

								</div>
							</div>
						</div>

<!-- 						<div class="col-md-4 text-center" > -->
<!-- 							<div class="card"> -->

<!-- 								<input type="hidden" class="js-nomeFoto" th:field="*{pessoaFisica.nomeFoto}" />  -->
<!-- 								<input type="hidden" class="js-contentType" th:field="*{pessoaFisica.contentType}" /> -->
<!-- 								<input type="hidden" class="js-novaFoto" th:field="*{pessoaFisica.novaFoto}" />  -->
<!-- 								<input type="hidden" class="js-urlFoto" th:field="${condominio.urlFoto}" />  -->
<!-- 								<input type="hidden" class="js-id-pessoa" th:field="*{pessoaFisica.id}" />  -->
<!-- 								<input type="hidden" class="js-idcondominio" th:field="${condominio.id}" /> vai salvar no diretorio HOME/iddocondominio/FotoPessoa/ -->
<!-- 								<input type="hidden" class="js-diretorio" id="diretorio" name="diretorio" -->
<!-- 									value="FotoPessoa" /> -->

<!-- 								<h6 class="category text-gray">&nbsp;</h6> -->
								
<!-- 								<div class="col-md-12 col-sm-12"> -->
<!-- 									<div id="foto"> -->
<!-- 										<div class="fileinput fileinput-new text-center js-container-foto" th:attr="data-url=@{/foto}" data-provides="fileinput"> -->
<!-- 											<div id="upload-drop"> -->
<!-- 												<div class="fileinput-new thumbnail"> -->
<!-- 													<img th:src="@{/assets/img/image_placeholder.jpg}"> -->
<!-- 												</div> -->
<!-- 												<div class="fileinput-preview fileinput-exists thumbnail"></div> -->
<!-- 												<div> -->
<!-- 													<span class="btn btn-info btn-file">  -->
<!-- 													<span class="fileinput-new ">FOTO</span>  -->
<!-- 													<span  class="fileinput-exists">Aguarde...</span> -->
<!-- 													<input id="upload-select" type="file" name="..."	accept=".jpg,.jpeg,.png" /> -->
<!-- 													</span>  -->
<!-- 												</div> -->
<!-- 											</div> -->
<!-- 										</div> -->

<!-- 									</div> -->
<!-- 								</div> -->
								
								
<!-- 							</div> -->
<!-- 						</div> -->
						
						

					</form>
				</div>
			
			
		</div>
	</section>

	<section layout:fragment="javascript-extra">
	
	
	<!-- upload de imagens -->
	<script th:src="@{/vendors/js/uikit.min.js}"></script>
	<script th:src="@{/vendors/js/upload.min.js}"></script>
	<script th:src="@{/javascripts/upload-foto.js}"></script>

	<!-- mascara -->
	<script th:src="@{/javascripts/mascara-input.js}"></script>
	<script th:src="@{/assets/js/jquery.mask.js}"></script>

	<script th:src="@{/javascripts/combo-atualizar-combo.js}"></script>
		
	<script type="text/javascript">
	
    $(document).ready(function() {
        
    	
    	if($(".js-unidade").val()!=''){
				carregarProprietarioAtual($(".js-unidade").attr("data-url"),$(".js-unidade").val());
			
			}	 
    	
    	
 			if($(".js-tipo-morador").val()==1 || $(".js-tipo-morador").val()==6){//proprietário ou proprietário de parte
 				$(".js-nome-mae").show();
 				
 				if($(".js-tipo-morador").val()==6){
 					$(".js-percentual").show();
 				}
 			
 				$(".js-recursos").hide();
 			} 
 			else if($(".js-tipo-morador").val()==2){//morador
 				$(".js-recursos").show();
 				$(".js-percentual").hide();
 				$(".js-nome-mae").hide();
 			}
 			else{
 				$(".js-recursos").hide();
 				$(".js-percentual").hide();
 				$(".js-nome-mae").hide();
 			}
    		 
    		 
    	
    	
    	 $(".js-chk-recurso").click(function(){
    		
    		 var ids = "";
    		 var cont = 0;
    		 
    		
    		 
    		 
    		 $('input[type=checkbox]').each(function () {
	  	           if (this.checked) {
	  	        	 	cont++;
	  	           }
    		 });
    		 
    		 if (cont>0) {
    			 $("#6").prop("checked", true);
    		 }
    		 
    		 var cont = 0;
    		 
    		 $('input[type=checkbox]').each(function () {
    	           if (this.checked) {
    	        	   if(cont==0){
    	        		   
    	        		   ids =  $(this).attr("id");
    	        	   }
    	        	   else{
    	        		   ids =  ids+","+$(this).attr("id");
    	        	   }
    	               cont++;
    	           }
    			});
    		 
    		$(".js-input-recurso").val(ids);
    		 
    	 });
    	
    	
        //tratamento do label da data que estava bugado com o calendário
        $(".datepicker").blur(function(){
        	if($(this).val() != ""){
        		$(this).parent().removeClass("is-empty");
        	}else{
        		$(this).parent().addClass("is-empty");
        	}
        });
        
        $('.datepicker').datetimepicker({
            format: 'DD/MM/YYYY',
            icons: {
                time: "fa fa-clock-o",
                date: "fa fa-calendar",
                up: "fa fa-chevron-up",
                down: "fa fa-chevron-down",
                previous: 'fa fa-chevron-left',
                next: 'fa fa-chevron-right',
                today: 'fa fa-screenshot',
                clear: 'fa fa-trash',
                close: 'fa fa-remove'
            }
        });
        
        
        $(".js-unidade").change(function(){
        	
        		
   				if($(".js-unidade").val()!=''){
   					carregarProprietarioAtual($(".js-unidade").attr("data-url"),$(".js-unidade").val());
   				
   				}
        	
        	
        	
        });
        
        
        $(".js-tipo-morador").change(function(){
   		 
   			if($(this).val()==1 || $(this).val()==6){//proprietário ou proprietário de parte
   				
   				
   				if($(this).val()==6){
 					$(".js-percentual").show();
 				}
   				else{
   					$(".js-percentual").hide();
   				}
   			
   				$(".js-nome-mae").show();
   				$(".js-recursos").hide();
   				
   				
   				if($(".js-unidade").val()!=''){
   					carregarProprietarioAtual($(".js-unidade").attr("data-url"),$(".js-unidade").val());
   				
   				}
   				
   			} 
   			else if($(this).val()==2){//morador
   				$(".js-recursos").show();
   				$(".js-nome-mae").hide();
   				$(".js-percentual").hide();
   			}
   			else{
   				$(".js-recursos").hide();
   				$(".js-percentual").hide();
   				$(".js-nome-mae").hide();
   			}
   		 
   		 
   	 	});
    }); 
        
        function carregarProprietarioAtual(caminho,unidade){
        	  $.ajax({
					url :caminho,
					method:'GET',
					contentType:'application/json',
					data: {'unidade':unidade},
					success:function(resposta){
						$('.js-proprietario').html(resposta);
						
						
					}
        	  });
        }
           

</script>

	</section>

</body>
</html>

