<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:data="http://www.thymeleaf.org/extras/data" layout:decorator="layout/fragments/LayoutPadrao"  >
<head>

<style type="text/css">
.card-content{
    height: 65px;
}
</style>

</head>
<body>
	<section layout:fragment="conteudo">
		<div class="container-fluid">
			
<!-- 			<div class="row"> -->
<!-- 				<div class="col-lg-3 col-md-6 col-sm-6"> -->
<!-- 					<div class="card card-stats"> -->
<!-- 						<div class="card-header card-header-icon" data-background-color="orange"> -->
<!-- 							<i class="material-icons">group</i> -->
<!-- 						</div> -->
<!-- 						<div class="card-content"> -->
<!-- 							<p class="category" >Tipos de Atendimento</p> -->
<!-- 							<a href="#"> -->
<!-- 							</a> -->
<!-- 						</div> -->
<!-- 						<div class="card-footer"> -->
<!-- 							<div class="stats"> -->
<!-- 								<i class="material-icons">group</i> <a class="category" th:href="@{/tipoatendimento/listar}">Listar</a> -->
<!-- 							</div> -->
<!-- 						</div> -->
<!-- 					</div> -->
<!-- 				</div> -->
<!-- 				<div class="col-lg-3 col-md-6 col-sm-6"> -->
<!-- 					<div class="card card-stats"> -->
<!-- 						<div class="card-header card-header-icon" data-background-color="blue"> -->
<!-- 							<i class="material-icons">pets</i> -->
<!-- 						</div> -->
<!-- 						<div class="card-content"> -->
<!-- 							<p class="category">Tipos de Animal<br/>&nbsp;</p> -->
<!-- 						</div> -->
<!-- 						<div class="card-footer"> -->
<!-- 							<div class="stats"> -->
<!-- 								<i class="material-icons ">announcement</i> <a class="category"  th:href="@{/tipoanimal/listar}">Listar</a> -->
<!-- 							</div> -->
<!-- 						</div> -->
<!-- 					</div> -->
<!-- 				</div> -->
				
				
<!-- 				<div class="col-lg-3 col-md-6 col-sm-6"> -->
<!-- 					<div class="card card-stats"> -->
<!-- 						<div class="card-header card-header-icon" data-background-color="red"> -->
<!-- 							<i class="material-icons">pets</i> -->
<!-- 						</div> -->
<!-- 						<div class="card-content"> -->
<!-- 							<p class="category">Raça de Animais<br/>&nbsp;</p> -->
<!-- 						</div> -->
<!-- 						<div class="card-footer"> -->
<!-- 							<div class="stats"> -->
<!-- 								<i class="material-icons">local_offer</i> <a th:href="@{/raca/listar}">Listar</a> -->
<!-- 							</div> -->
<!-- 						</div> -->
<!-- 					</div> -->
<!-- 				</div> -->
				
				
<!-- 				<div class="col-lg-3 col-md-6 col-sm-6"> -->
<!-- 					<div class="card card-stats"> -->
<!-- 						<div class="card-header card-header-icon" data-background-color="orange"> -->
<!-- 							<i class="material-icons">pets</i> -->
<!-- 						</div> -->
<!-- 						<div class="card-content"> -->
<!-- 							<p class="category">Cores de Animais<br/>&nbsp;</p> -->
<!-- 						</div> -->
<!-- 						<div class="card-footer"> -->
<!-- 							<div class="stats"> -->
<!-- 								<i class="material-icons">local_offer</i> <a th:href="@{/coranimal/listar}">Listar</a> -->
<!-- 							</div> -->
<!-- 						</div> -->
<!-- 					</div> -->
<!-- 				</div> -->
				
<!-- 				<div class="col-lg-3 col-md-6 col-sm-6"> -->
<!-- 					<div class="card card-stats"> -->
<!-- 						<div class="card-header card-header-icon" data-background-color="red"> -->
<!-- 							<i class="material-icons">directions_car</i> -->
<!-- 						</div> -->
<!-- 						<div class="card-content"> -->
<!-- 							<p class="category">Marcas de Veículo<br/>&nbsp;</p> -->
<!-- 						</div> -->
<!-- 						<div class="card-footer"> -->
<!-- 							<div class="stats"> -->
<!-- 								<i class="material-icons">local_offer</i> <a th:href="@{/marca/listar}">Listar</a> -->
<!-- 							</div> -->
<!-- 						</div> -->
<!-- 					</div> -->
<!-- 				</div> -->
				
<!-- 				<div class="col-lg-3 col-md-6 col-sm-6"> -->
<!-- 					<div class="card card-stats"> -->
<!-- 						<div class="card-header card-header-icon" data-background-color="green"> -->
<!-- 							<i class="material-icons">directions_car</i> -->
<!-- 						</div> -->
<!-- 						<div class="card-content"> -->
<!-- 							<p class="category">Modelos de Veículo<br/>&nbsp;</p> -->
<!-- 						</div> -->
<!-- 						<div class="card-footer"> -->
<!-- 							<div class="stats"> -->
<!-- 								<i class="material-icons">local_offer</i> <a  th:href="@{/modelo/listar}">listar</a> -->
<!-- 							</div> -->
<!-- 						</div> -->
<!-- 					</div> -->
<!-- 				</div> -->
			
			
			
			
<!-- 				<div class="col-lg-3 col-md-6 col-sm-6"> -->
<!-- 					<div class="card card-stats"> -->
<!-- 						<div class="card-header card-header-icon" data-background-color="green"> -->
<!-- 							<i class="material-icons">directions_car</i> -->
<!-- 						</div> -->
<!-- 						<div class="card-content"> -->
<!-- 							<p class="category">Tipo de Veículo</p> -->
<!-- 						</div> -->
<!-- 						<div class="card-footer"> -->
<!-- 							<div class="stats"> -->
<!-- 								<i class="material-icons">local_offer</i> <a  th:href="@{/tipoveiculo/listar}">listar</a> -->
<!-- 							</div> -->
<!-- 						</div> -->
<!-- 					</div> -->
<!-- 				</div> -->
				
				
<!-- 				<div class="col-lg-3 col-md-6 col-sm-6"> -->
<!-- 					<div class="card card-stats"> -->
<!-- 						<div class="card-header card-header-icon" data-background-color="orange"> -->
<!-- 							<i class="material-icons">local_offer</i> -->
<!-- 						</div> -->
<!-- 						<div class="card-content"> -->
<!-- 							<p class="category">Recursos de Sistema</p> -->
<!-- 						</div> -->
<!-- 						<div class="card-footer"> -->
<!-- 							<div class="stats"> -->
<!-- 								<i class="material-icons">local_offer</i> <a  th:href="@{/recurso/listar}">listar</a> -->
<!-- 							</div> -->
<!-- 						</div> -->
<!-- 					</div> -->
<!-- 				</div> -->
				
<!-- 				<div class="col-lg-3 col-md-6 col-sm-6"> -->
<!-- 					<div class="card card-stats"> -->
<!-- 						<div class="card-header card-header-icon" data-background-color="red"> -->
<!-- 							<i class="material-icons">brush</i> -->
<!-- 						</div> -->
<!-- 						<div class="card-content"> -->
<!-- 							<p class="category">Cores<br/>&nbsp;</p> -->
<!-- 						</div> -->
<!-- 						<div class="card-footer"> -->
<!-- 							<div class="stats"> -->
<!-- 								<i class="material-icons">local_offer</i> <a th:href="@{/cor/listar}">Listar</a> -->
<!-- 							</div> -->
<!-- 						</div> -->
<!-- 					</div> -->
<!-- 				</div> -->
				
<!-- 				<div class="col-lg-3 col-md-6 col-sm-6"> -->
<!-- 					<div class="card card-stats"> -->
<!-- 						<div class="card-header card-header-icon" data-background-color="orange"> -->
<!-- 							<i class="material-icons">accessibility</i> -->
<!-- 						</div> -->
<!-- 						<div class="card-content"> -->
<!-- 							<p class="category">Parentesco<br/>&nbsp;</p> -->
<!-- 						</div> -->
<!-- 						<div class="card-footer"> -->
<!-- 							<div class="stats"> -->
<!-- 								<i class="material-icons">local_offer</i> <a th:href="@{/parentesco/listar}">Listar</a> -->
<!-- 							</div> -->
<!-- 						</div> -->
<!-- 					</div> -->
<!-- 				</div> -->

			
			
<!-- 			<div class="col-lg-3 col-md-6 col-sm-6"> -->
<!-- 				<div class="card card-stats"> -->
<!-- 					<div class="card-header card-header-icon" data-background-color="orange"> -->
<!-- 						<i class="material-icons">content_paste</i> -->
<!-- 					</div> -->
<!-- 					<div class="card-content"> -->
<!-- 						<p class="category">Tipo de Documento<br/>&nbsp;</p> -->
<!-- 					</div> -->
<!-- 					<div class="card-footer"> -->
<!-- 						<div class="stats"> -->
<!-- 							<i class="material-icons">local_offer</i> <a th:href="@{/tipodocumento/listar}">Listar</a> -->
<!-- 						</div> -->
<!-- 					</div> -->
<!-- 				</div> -->
<!-- 			</div> -->
			
<!-- 			<div class="col-lg-3 col-md-6 col-sm-6"> -->
<!-- 				<div class="card card-stats"> -->
<!-- 					<div class="card-header card-header-icon" data-background-color="orange"> -->
<!-- 						<i class="material-icons">import_contacts</i> -->
<!-- 					</div> -->
<!-- 					<div class="card-content"> -->
<!-- 						<p class="category">Tipo de Conteúdo<br/>&nbsp;</p> -->
<!-- 					</div> -->
<!-- 					<div class="card-footer"> -->
<!-- 						<div class="stats"> -->
<!-- 							<i class="material-icons">local_offer</i> <a th:href="@{/tipoconteudo/listar}">Listar</a> -->
<!-- 						</div> -->
<!-- 					</div> -->
<!-- 				</div> -->
<!-- 			</div> -->
			
<!-- 			<div class="col-lg-3 col-md-6 col-sm-6"> -->
<!-- 				<div class="card card-stats"> -->
<!-- 					<div class="card-header card-header-icon" data-background-color="green"> -->
<!-- 						<i class="material-icons">monetization_on</i> -->
<!-- 					</div> -->
<!-- 					<div class="card-content"> -->
<!-- 						<p class="category">Regime de Trabalho</p> -->
<!-- 					</div> -->
<!-- 					<div class="card-footer"> -->
<!-- 						<div class="stats"> -->
<!-- 							<i class="material-icons">local_offer</i> <a  th:href="@{/regimetrabalho/listar}">listar</a> -->
<!-- 						</div> -->
<!-- 					</div> -->
<!-- 				</div> -->
<!-- 			</div> -->
			
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="card card-stats">
					<div class="card-header card-header-icon" data-background-color="blue">
						<i class="material-icons">work</i>
					</div>
					<div class="card-content">
						<p class="category">Gerenciar Profissões</p>
					</div>
					<div class="card-footer">
						<div class="stats">
							<i class="material-icons">local_offer</i> <a  th:href="@{/profissao}">Gerenciar</a>
						</div>
					</div>
				</div>
			</div>
			
			
			
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="card card-stats">
					<div class="card-header card-header-icon" data-background-color="blue">
						<i class="material-icons">build</i>
					</div>
					<div class="card-content">
						<p class="category">Gerenciar Áreas de Atuação</p>
					</div>
					<div class="card-footer">
						<div class="stats">
							<i class="material-icons">local_offer</i> <a  th:href="@{/areaatuacao}">Gerenciar</a>
						</div>
					</div>
				</div>
			</div>
			
			
<!-- 			<div class="col-lg-3 col-md-6 col-sm-6"> -->
<!-- 				<div class="card card-stats"> -->
<!-- 					<div class="card-header card-header-icon" data-background-color="blue"> -->
<!-- 						<i class="material-icons">settings_input_component</i> -->
<!-- 					</div> -->
<!-- 					<div class="card-content"> -->
<!-- 						<p class="category">Gerenciar Tipos de Materiais</p> -->
<!-- 					</div> -->
<!-- 					<div class="card-footer"> -->
<!-- 						<div class="stats"> -->
<!-- 							<i class="material-icons">local_offer</i> <a  th:href="@{/tipomaterial}">Gerenciar</a> -->
<!-- 						</div> -->
<!-- 					</div> -->
<!-- 				</div> -->
<!-- 			</div> -->
			
<!-- 			<div class="col-lg-3 col-md-6 col-sm-6"> -->
<!-- 				<div class="card card-stats"> -->
<!-- 					<div class="card-header card-header-icon" data-background-color="blue"> -->
<!-- 						<i class="material-icons">store_mall_directory</i> -->
<!-- 					</div> -->
<!-- 					<div class="card-content"> -->
<!-- 						<p class="category">Gerenciar Materiais</p> -->
<!-- 					</div> -->
<!-- 					<div class="card-footer"> -->
<!-- 						<div class="stats"> -->
<!-- 							<i class="material-icons">local_offer</i> <a  th:href="@{/material}">Gerenciar</a> -->
<!-- 						</div> -->
<!-- 					</div> -->
<!-- 				</div> -->
<!-- 			</div> -->
			
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="card card-stats">
					<div class="card-header card-header-icon" data-background-color="blue">
						<i class="material-icons">shopping_cart</i>
					</div>
					<div class="card-content">
						<p class="category">Gerenciar Pacotes de Serviço</p>
					</div>
					<div class="card-footer">
						<div class="stats">
							<i class="material-icons">local_offer</i> <a  th:href="@{/pacoteservicos}">Gerenciar</a>
						</div>
					</div>
				</div>
			</div>
			
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="card card-stats">
					<div class="card-header card-header-icon" data-background-color="blue">
						<i class="material-icons">business_center</i>
					</div>
					<div class="card-content">
						<p class="category">Gerenciar Pessoa Jurídica</p>
					</div>
					<div class="card-footer">
						<div class="stats">
							<i class="material-icons">local_offer</i> <a  th:href="@{/pessoajuridica}">Gerenciar</a>
						</div>
					</div>
				</div>
			</div>
			
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="card card-stats">
					<div class="card-header card-header-icon" data-background-color="blue">
						<i class="material-icons">check_circle_outline</i>
					</div>
					<div class="card-content">
						<p class="category">Gerenciar Perguntas da Avaliação</p>
					</div>
					<div class="card-footer">
						<div class="stats">
							<i class="material-icons">local_offer</i> <a  th:href="@{/perguntaavaliacao}">Gerenciar</a>
						</div>
					</div>
				</div>
			</div>
			
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="card card-stats">
					<div class="card-header card-header-icon" data-background-color="blue">
						<i class="material-icons">settings</i>
					</div>
					<div class="card-content">
						<p class="category">Gerenciar Tipos de OS</p>
					</div>
					<div class="card-footer">
						<div class="stats">
							<i class="material-icons">local_offer</i> <a  th:href="@{/tipoordemservico}">Gerenciar</a>
						</div>
					</div>
				</div>
			</div>
			
		</div>
			
		</div>
	</section>
		<section layout:fragment="javascript-extra">
	<script type="text/javascript">
	$(document).ready(function(e){
		$("#camera").click(function() {
			window.open("/foto/camera","_blank","toolbar=yes,scrollbars=yes,resizable=yes,top=500,left=500,width=400,height=400");
		});
		
	});
	</script>
	</section>
</body>
</html>