<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:data="http://www.thymeleaf.org/extras/data" layout:decorator="layout/fragments/LayoutPadrao">
<head>

<link rel="stylesheet" th:href="@{/vendors/css/upload.min.css}" />
<link rel="stylesheet" th:href="@{/vendors/css/plugins/EasyAutocomplete-1.3.5/easy-autocomplete.min.css}" />
<link rel="stylesheet" th:href="@{/vendors/css/plugins/EasyAutocomplete-1.3.5/easy-autocomplete.themes.min.css}" />

</head>
<body>
	<section layout:fragment="conteudo">
		<div class="container-fluid">

			<div class="row">

				<div class="col-md-4">
					<div class="card">
						<div class="card-header card-header-icon" data-background-color="blue">
							<i class="material-icons">business</i>
						</div>
						<div class="card-content">
							<h4 class="card-title">Busca</h4>

							<div class="row">
								<div class="col-sm-12 col-md-12">
									<div class="form-group label-floating">
										<label class="control-label">Busca </label> <input class="form-control js-parametro-input" type="text" id="parametroPesquisa"
											autofocus="autofocus" />
									</div>
								</div>
							</div>


							<form method="POST" id="form" role="form" th:object="${historicoPortaria}"
						th:action="@{/portaria/entrada}" >
						 
						 <input type="hidden"  class="js-id"   th:field="*{id}" />
						  <input type="hidden" class="js-id-cadastrante"  th:field="*{cadastrante.id}" />
						  <input type="hidden" class="js-id-unidade"  th:field="*{unidade.id}" />
						  <input type="hidden" class="js-id-condominio"  th:field="*{condominio}" />
						  <input type="hidden" class="js-id-pessoa" th:field="*{pessoaFisica}" />
						  <input type="hidden" class="js-id-veiculo"  th:field="*{pessoaFisicaVeiculo}" />
						 
							<div class="row pull-right">
								<br />
								<div class="col-md-12 form-group">
									<button type="submit" class="btn btn-success ">Permitir</button>
									<a type="button" class="btn btn-danger ">Cancelar </a>
								</div>
							</div>

						</form>
							<div class="js-container-registro">
										<div class="row">
		
		
											<div class="col-sm-12 col-md-12">
												<div class="form-group ">
													<label class="control-label">Nome Completo </label> 
													<input type="text" class="form-control js-nome" style="color:red;" disabled="disabled" placeholder="" />
												</div>
											</div>
										</div>
		
										<div class="row">
											<div class="col-md-12">
												<div class="form-group ">
													<label class="control-label">Unidade </label> 
													<input type="text" class="form-control js-unidade" style="color:red;" disabled="disabled" placeholder="" />
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-12">
												<div class="form-group ">
													<label class="control-label">Documento </label> 
													<input type="text" class="form-control js-documento cpf-mask" style="color:red;" disabled="disabled" placeholder="" />
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-12">
												<div class="form-group ">
													<label class="control-label">Veículo </label>
													 <input type="text" class="form-control  js-veiculo"  style="color:red;" disabled="disabled" placeholder="" />
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-12">
												<div class="form-group ">
													<label class="control-label">Permitido Por</label> 
													<input type="text" class="form-control  js-permitido"  style="color:red;" disabled="disabled" placeholder="" />
												</div>
											</div>
		
										</div>

							</div>
							<div class="row pull-right">
								<br />
								<div class="col-md-12 form-group">
									<a type="button" class="btn btn-warning ">Adicionar Visitante </a>
								</div>
							</div>



							<div class="clearfix"></div>

						</div>
					</div>
				</div>


				<div class="col-md-8">

					<div class="row">
						<div class="col-md-12">

							<div class="card">
								<div class="card-header card-header-icon" th:data-background-color="orange">
									<i class="material-icons">assignment</i>
								</div>


								<div class="card-content ">

									<h4 class="card-title">Últimas de Entradas</h4>



									<table style="width: 100%; padding-top: 0" border="1">
										<thead>
											<tr>
												<th>#</th>
												<th>Tipo</th>
												<th>Nome</th>
												<th>Detalhes</th>
												<th>Data Hora</th>
												<th class="disabled-sorting text-center">Ação</th>
											</tr>
										</thead>
										<tbody>
											<tr style="padding: 0px" th:each=" item ,iterationStatus:${listHistoricoPortaria}">
												<td style="padding: 0px" th:text="${iterationStatus.count}">cont</td>
												<td style="padding: 0px" th:text="${iterationStatus.count}" >tipo</td>
												<td style="padding: 0px" th:text="${item.pessoaFisica.pessoaFisica.nome}"  >Nome</td>
												<td style="padding: 0px" th:text="|${item.unidade.tipoUnidade.nome} ${item.unidade.unidadeHabitacional}, ${item.unidade.enderecoUnidade.descricao} ${item.unidade.tipoEnderecoUnidade.descricao}|"  >descrição</td>
												<td style="padding: 0px" th:text="${item.dataEntrada}"  >10/01/2017 22:01</td>
												<td style="padding: 0px" class="text-center"><a href="#" rel="tooltip" title="Detalhes"> <i class="material-icons">assignment</i>
												</a></td>
											</tr>


										</tbody>
									</table>

								</div>



							</div>
						</div>

					</div>




					<div class="row">
						<div class="col-md-12">

							<div class="card">
								<div class="card-header card-header-icon" th:data-background-color="red">
									<i class="material-icons">assignment</i>
								</div>


								<div class="card-content ">

									<h4 class="card-title">Últimas de Sáidas</h4>



									<table style="width: 100%; padding-top: 0" border="1">
										<thead>
											<tr>
												<th>#</th>
												<th>Tipo</th>
												<th>Nome</th>
												<th>Detalhes</th>
												<th>Data Hora</th>
												<th class="disabled-sorting text-center">Ação</th>
											</tr>
										</thead>
										<tbody>
											<tr style="padding: 0px">
												<td style="padding: 0px">cont</td>
												<td style="padding: 0px">tipo</td>
												<td style="padding: 0px">Nome</td>
												<td style="padding: 0px">descrição</td>
												<td style="padding: 0px">10/01/2017 22:01</td>
												<td style="padding: 0px" class="text-center"><a href="#" rel="tooltip" title="Permitir Entrada"> <i class="material-icons">assignment</i>
												</a></td>
											</tr>



										</tbody>
									</table>

								</div>



							</div>
						</div>

					</div>




				</div>
			</div>
		</div>

		<th:block th:replace="hbs/TemplateAutocompleteVisitante"></th:block>
	</section>

	<section layout:fragment="javascript-extra">

		<!-- mascara -->
		<script th:src="@{/javascripts/mascara-input.js}"></script>
		<script th:src="@{/assets/js/jquery.mask.js}"></script>
		<script th:src="@{/vendors/js/plugins/EasyAutocomplete-1.3.5/jquery.easy-autocomplete.min.js}"></script>
		<script th:src="@{/vendors/js/handlebars.min.js}"></script>
		<script th:src="@{/javascripts/pesquisa.autocomplete.js}"></script>

		<script type="text/javascript">
			$(document).ready(
					function() {

						//$(".js-parametro-input").focus();

// 						$(".js-input-nome").keyup(function() {

// 							if ($(this).val().length >= 4) {
// 								$.ajax({
// 									url : $(this).attr('data-url'),
// 									method : 'GET',
// 									contentType : 'application/json',
// 									data : {
// 										parametro : $(".js-input-nome").val()
// 									},
// 									success : function(retorno) {
// 										console.log(retorno);
// 									}
// 								});
// 							}

// 						});

// 						$(".js-placa").keyup(function() {

// 							$(this).val($(this).val().toUpperCase());

// 						});

						$('#datatables').DataTable(
								{
									"pagingType" : "full_numbers",
									"lengthMenu" : [ [ 10, 25, 50, -1 ],
											[ 10, 25, 50, "All" ] ],
									responsive : true,
									language : {
										search : "_INPUT_",
										searchPlaceholder : "Localizar",
									}

								});

						var table = $('#datatables').DataTable();

						// Edit record
						table.on('click', '.edit', function() {
							$tr = $(this).closest('tr');

							var data = table.row($tr).data();
							//  alert('You press on Row: ' + data[0] + ' ' + data[1] + ' ' + data[2] + '\'s row.');
						});

						$('.card .material-datatables label').addClass(
								'form-group');
					});
		</script>



	</section>

</body>
</html>