<div class="row">
	<div class="col-sm-12 col-md-12">
		<div class="form-group label-floating">
			<label class="control-label">Nome Completo </label> 
			<input type="text" class="form-control" value="Wallace Gomes da Silva" placeholder="" />
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="form-group label-floating">
			<label class="control-label">Unidade </label> <input type="text" class="form-control" placeholder="" />
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="form-group label-floating">
			<label class="control-label">Documento </label> <input type="text" class="form-control" placeholder="" />
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="form-group label-floating">
			<label class="control-label">Veículo </label> <input type="text" class="form-control" placeholder="" />
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="form-group label-floating">
			<label class="control-label">Permitido Por</label> <input type="text" class="form-control" placeholder="" />
		</div>
	</div>

</div>