<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:data="http://www.thymeleaf.org/extras/data" layout:decorator="layout/fragments/LayoutPadrao">
<head>
	

	
</head>
<body>
	<section layout:fragment="conteudo">
		<div class="content">
       		<div class="container-fluid">
            	
            	<div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header card-header-icon" data-background-color="red">
                                    <i class="material-icons">chat_bubble_outline</i>
                                </div>
                                
                                <div class="card-content">
                                    <h4 class="card-title">Mensagens</h4>
                                </div>
                                
                                <div class="card-content">
									<p class="category">
										<span><h3>Assunto</h3></span>
										<span><h5 th:text="${mensagem.assunto}">Assunto</h5></span>
									</p>
								</div>
								<div class="card-content" th:if="${mensagem.observacao} != ''">
									<p class="category">
										<span><h3>Mensagem</h3></span>
										<span><h5 th:utext="${mensagem.observacao}">Assunto</h5></span>
									</p>
									<br />
								</div>

								<div class="card-footer">
									<div class="stats">
										<span class="text pull-left">
											<i class="material-icons">find_in_page</i> 
											<a class="category" th:href="@{${mensagem.acao}}">Ver OS</a>
										</span>
									</div>
								</div>
								
                                <!-- end content-->
                            </div>
                            <!--  end card  -->
                        </div>
                        <!-- end col-md-12 -->
                    </div>
                    <!-- end row -->
            </div>
        </div>
        
        
        
	</section>
	
 	<section layout:fragment="javascript-extra">
 	
 	<script th:src="@{/assets/javascripts/mensagem.js}"></script>
 	
		<script type="text/javascript">
		
		    $(document).ready(function() {
		        $('.datatables').DataTable({
		            "pagingType": "full_numbers",
		            "lengthMenu": [
		                [10, 25, 50, -1],
		                [10, 25, 50, "All"]
		            ],
		            responsive: true,
		            language: {
		                search: "_INPUT_",
		                searchPlaceholder: "Pesquisar",
		            }
		
		        });
		
		       
		        
		        
		    });
		  
		    
		</script>
	</section>
	
	
</body>



</html>