<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:data="http://www.thymeleaf.org/extras/data" layout:decorator="layout/fragments/LayoutPadrao">
<head>
	

	
</head>
<body>
	<section layout:fragment="conteudo">
		<div class="content">
       		<div class="container-fluid">
            	
            	<div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header card-header-icon" data-background-color="red">
                                    <i class="material-icons">notifications</i>
                                </div>
                                
                                <div class="card-header card-header-icon pull-right" data-background-color="purple">
									<a th:href="@{/mensagem/novamensagem}"> <i class="material-icons" rel="tooltip" data-placement="bottom" title="Enviar uma Mensagem">add_circle_outline</i></a>
								</div>
								
<!-- 								<div th:if="!${#lists.isEmpty(listamensagens)}" class="card-header card-header-icon pull-right removerTodasMsgs" data-background-color="red"> -->
<!-- 									<a href="#"> <i class="material-icons" rel="tooltip" data-placement="bottom" title="Excluir todas as Mensagens">cancel</i></a> -->
<!-- 								</div> -->
                                
                                <div class="card-content">
                                    <h4 class="card-title">Mensagens</h4>
                                    
                                    <div class="alert alert-success alert-with-icon" data-notify="container" th:if="${not #strings.isEmpty(mensagem)}">
                                        <i class="material-icons" data-notify="icon">check</i>
                                        <button type="button" aria-hidden="true" class="close">
                                            <i class="material-icons">close</i>
                                        </button>
                                        <span data-notify="message" th:text="${mensagem}" >Mensagem de Sucesso</span>
                                    </div>
                                    
                                    <div class="toolbar">
                                        <!--        Here you can write extra buttons/actions for the toolbar              -->
                                    </div>
<!--                                     <div class="material-datatables"> -->
<!--                                         <table class="table table-striped table-no-bordered table-hover datatables" cellspacing="0" width="100%" style="width:100%"> -->
                                        
                                        <div class="material-datatables">
	                                        <table class="table table-striped table-no-bordered table-hover datatables" style="width:100%">
                                            <thead>
                                                <tr>
                                                	<th>#</th>
                                                    <th>De</th>
                                                    <th>Para</th>
                                                    <th>Enviado</th>
                                                    <th>Leitura</th>
                                                    <th>Assunto</th>
                                                    <th>Ler</th>
                                                </tr>
                                            </thead>
                                            <tfoot>
                                                <tr>
                                                	<th>#</th>
                                                    <th>De</th>
                                                    <th>Para</th>
                                                    <th>Enviado</th>
                                                    <th>Leitura</th>
                                                    <th>Assunto</th>
                                                    <th>Ler</th>
                                                </tr>
                                            </tfoot>
                                            <tbody>
                                            
	                                            <tr th:each="msg,iterationStatus : ${listMensagem}">
	                                            
	                                            <th:block th:if="${msg.dataRecebimento} == null">
	                                            <a th:href="@{/mensagem/lermsgpopup/{id} (id=${msg.id})}">
	                                            	<td th:utext="|<b>${iterationStatus.count}</b>|">Contador</td>
													<td th:utext="|<b>${msg.remetente.nome}</b>|">Responsavel</td>
													<td th:utext="|<b>${msg.destinatario.nome}</b>|">Solicitante</td>
													<td th:utext="|<b>${#dates.format(msg.dataInclusao, 'dd-MMM-yyyy')}</b>|">Data Envio</td>													
													<td class="text-center">-</td>
													<td th:utext="|<b>${msg.assunto == null ? '' : msg.assunto}</b>|">assuntp</td>
													<td>
														<a th:href="@{/mensagem/ler/{id} (id=${msg.id})}">
															<i class="material-icons">search</i>
														</a>
													</td>
												</a>
	                                            </th:block>
	                                            
	                                            <th:block th:if="${msg.dataRecebimento} != null">
													<td th:text="${iterationStatus.count}">Contador</td>
													<td th:text="${msg.remetente.nome}">Responsavel</td>
													<td th:text="${msg.destinatario.nome}">Solicitante</td>
													<td th:text="${#dates.format(msg.dataInclusao, 'dd-MMM-yyyy')}">Data Envio</td>
													<td th:text="${#dates.format(msg.dataRecebimento, 'dd-MMM-yyyy')}">Leitura</td>
													<td th:utext="${msg.assunto == null ? '' : msg.assunto}">assuntp</td>
													<td>
														<a th:href="@{/mensagem/ler/{id} (id=${msg.id})}">
															<i class="material-icons">search</i>
														</a>
													</td>
                                                </th:block>
                                                
												</tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!-- end content-->
                            </div>
                            <!--  end card  -->
                        </div>
                        <!-- end col-md-12 -->
                    </div>
                    <!-- end row -->
            </div>
        </div>
        
	</section>
	
 	<section layout:fragment="javascript-extra">
 	
 	<script th:src="@{/assets/javascripts/mensagem.js}"></script>
 	
<!-- 		<script type="text/javascript"> -->
		
// 		    $(document).ready(function() {
// 		        $('.datatables').DataTable({
// 		            "pagingType": "full_numbers",
// 		            "lengthMenu": [
// 		                [10, 25, 50, -1],
// 		                [10, 25, 50, "All"]
// 		            ],
// 		            responsive: true,
// 		            language: {
// 		                search: "_INPUT_",
// 		                searchPlaceholder: "Pesquisar",
// 		            }
		
// 		        });
		
		       
		        
		        
// 		    });
		  
		    
<!-- 		</script> -->
	</section>
	
	
</body>



</html>