<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:data="http://www.thymeleaf.org/extras/data">
<head>
</head>
<body>

	<div class="modal fade" id="modalleitura" tabindex="-1" role="dialog"  th:fragment="modalleituramsg">
		
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span>
					</button>
					<div class="row">
						&emsp;&emsp;<h3 class="modal-title"><i class="fa fa-envelope"></i> Mensagem</h3>
					</div>
				</div>
				<div class="modal-body ">
				
					<div class="row">
				
						<div class="card">
                             <div class="card-header">
                                 <p class="category">
                                 	<b><h5 th:text="${mensagem2.titulo == null ? '' : mensagem2.titulo}"></h5></b>
                                 </p>
                             </div>
                             <div class="card-content">
                             	
                             	<span th:utext="${mensagem2.observacao}"></span>
                             	<span th:text="${#calendars.format(mensagem2.dataInclusao,'dd/MM/yyyy')}"></span>
                                 
                             </div>
                         </div>
				
					</div>
					<div class="row">
						<a class="btn btn-success pull-right" th:href="@{/mensagem/leituramsg/{id}(id=${mensagem2.id})}">Marcar como lida</a>
						<a class="btn btn-warning pull-right" data-dismiss="modal">Ler depois</a>
					</div>

				</div>
			</div>
		</div>
	</div>
	
</body>
</html>
