<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:data="http://www.thymeleaf.org/extras/data"
	layout:decorator="layout/fragments/LayoutPadrao">
<head>

<link rel="stylesheet" th:href="@{/vendors/css/upload.min.css}" />
<link th:href="@{/vendors/css/plugins/summernote/summernote.css}" rel="stylesheet">
<link th:href="@{/vendors/css/plugins/summernote/summernote-bs3.css}" rel="stylesheet">

</head>
<body>
	<section layout:fragment="conteudo">
		<div class="content">
			<div class="container-fluid">

				<div class="row">
					<form th:object="${mensagem}" id="formMensagem" method="POST"  th:action="@{/mensagem/novamensagem}">

						<div class="col-md-12">
							<div class="card">

								<div class="card-header card-header-icon" th:data-background-color="red">
									<i class="material-icons">notifications</i>
								</div>
								
								<div class="card-content">
			
									<h4 class="card-title">
										Enviar Mensagem
									</h4>
									
									<div class="alert alert-warning alert-with-icon" data-notify="container" th:if="${#fields.hasAnyErrors()}">
										<i class="material-icons" data-notify="icon">close</i>
										<button type="button" aria-hidden="true" class="close">
											<i class="material-icons">close</i>
										</button>
										<th:block th:each="erro : ${#fields.detailedErrors()}">
											<span data-notify="message" th:utext="${erro.message}">Mensagem de erro</span>
										</th:block>
									</div>
									

									<div class="row">
										<div class="col-md-4">
		                                      <select class="selectpicker" data-show-subtext="true" data-live-search="true" data-style="btn btn-primary" data-size="7" th:field="*{destinatario.id}" >
		                                       
		                                      	<option value="0">Selecione o Destinatario *</option>
<!-- 		                                      	<option value="-1">Todos</option> -->
<!-- 		                                      	<option value="-2">Todos os Funcionários</option> -->
<!-- 		                                      	<option value="-3">Todos os Síndicos</option> -->
		                                          <option th:each="pessoa : ${listaPessoas}" th:value="${pessoa.id}" th:text="${pessoa.nome}" th:data-subtext="${pessoa.cpf} != null ? ${pessoa.cpf} : 'sem CPF' "></option>                                            
		                                      </select>
		                              	</div>
	                              	</div>
	                              	
	                              	<div class="row">
	                              		<div class="col-md-12">
											<div class="form-group label-floating">
												<label class="control-label">Título *</label> 
												<input type="text" class="form-control" th:field="*{assunto}" maxlength="150">
											</div>
										</div>
	                              	</div>
	                              	

									<div class="row">
										<div class="col-md-12">
											<div class="form-group label-floating">
												<textarea rows="4" cols="50" class="form-control summernote" th:field="*{observacao}" ></textarea>
											</div>
										</div>
									</div>
									
									<input type="hidden" id="textoObs" name="textoObs" />

									<div class="row">
										<div class="col-md-12 ">
											<a class="btn btn-danger pull-right"
												th:href="@{/mensagem/responsavel}"
												role="button">&nbsp;<strong>Cancelar</strong></a>
												
											<button type="button" class="btn pull-right js-btn-salvar"
												th:classappend="btn-success">Salvar</button>
												
												<br><br><span style="color: red;">* Campos Obrigatórios</span>
										</div>
										
									</div>
								
									<div class="clearfix"></div>

								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>

	<section layout:fragment="javascript-extra">
	
		<script th:src="@{/vendors/js/plugins/summernote/summernote.min.js}"></script>

		<script type="text/javascript">

			$(document).ready(function() {
				
				if($("#flagLogin").val() == 1 || $("#flagLogin").val() == true){
					$("#checkLogin").attr("checked","checked")
				}else{
					$("#checkLogin").removeAttr("checked")
				}
					
				$("#checkLogin").click(function(){
					if($(this).is(':checked')){
						$("#flagLogin").val(1);
					}else{
						$("#flagLogin").val(0);
					}
					
				})
				
				$(".js-btn-salvar").click(function() {
					
			 		$("#formMensagem").submit(); 
			 		
				}); 
				
				$('.summernote').summernote(
						{
									height : 150,
									// codemirror options
									theme : 'cyborg',
									toolbar : [	//[groupName, [list of button]]
											[
													'style',
													[
															'bold',
															'italic',
															'underline',
															'clear' ] ],
											[
													'font',
													[
															'strikethrough',
															'superscript',
															'subscript' ] ],
											[
													'fontsize',
													[ 'fontsize' ] ],
											[ 'color',
													[ 'color' ] ],
											[ 'table',
													[ 'table' ] ],
											[
													'para',
													[
															'ul',
															'ol',
															'paragraph' ] ],
											[
													'insert',
													[ 'link',
															'picture' ] ],
											[
													'height',
													[ 'height' ] ] ]
								});
				
			});
			
		</script>

	</section>
</body>
</html>