<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:data="http://www.thymeleaf.org/extras/data" layout:decorator="layout/fragments/LayoutPadrao">
<head>

<link th:href="@{/vendors/css/plugins/dropzone/basic.css}"
	rel="stylesheet">
<link th:href="@{/vendors/css/plugins/dropzone/dropzone.css}"
	rel="stylesheet">

</head>
<body>
	<section layout:fragment="conteudo">
		<div class="container-fluid">
			
			
			<div class="row">

				<form method="POST" id="form" role="form" th:object="${animal}"
						th:action="${animal.id}==0 ? @{/unidade/animal/novo} :
						 @{/unidade/animal/novo/{id}(id=${animal.id})}">


										<input type="hidden" th:field="*{id}"> 
										<input type="hidden" th:field="*{unidade}"> 


						<div class="col-md-12">
							<div class="card">
								<div class="card-header card-header-icon" data-background-color="blue">
									<i class="material-icons">pets</i>
								</div>
								<div class="card-content">
									<h4 class="card-title" th:unless="${animal.novo}">Editar Dados do Animal</h4>
									
									<th:block th:if="${animal.novo}">
										<h5 class="card-title"  th:utext="|Incluir Animal Para <strong>${animal.unidade.enderecoUnidade.descricao}
										  ${animal.unidade.tipoEnderecoUnidade.descricao}
										 
										   ${animal.unidade.tipoUnidade.nome}
										  
										  ${animal.unidade.unidadeHabitacional}
										 </strong>|">Incluir Animal</h5>
										
									</th:block>


									<div class="alert alert-warning alert-with-icon" data-notify="container" th:if="${#fields.hasAnyErrors()}">
										<i class="material-icons" data-notify="icon">notifications</i>
										<th:block th:each="erro : ${#fields.detailedErrors()}">
											<div>
												<i class="fa fa-exclamation-circle text-info "></i> <b th:text="${erro.message}">Mensagem de erro</b>
											</div>
									</div>



								<div class="row">

									<div class="col-md-6 " syndic:classforerror="raca.tipoAnimal">
										<select class="form-control atualizar-auto " atualizar="select-raca" data-style="select-with-transition" title="Tipo de Animal" data-size="7"
											th:field="*{raca.tipoAnimal}">
											<option value="">Tipo de  Animal</option>
											<option th:each="tipo,iterationStatus : ${listTipoAnimal}" th:value="${tipo.id}" th:text="${tipo.nome}"></option>
										</select>
									</div>
									
									<div class="col-md-6 " syndic:classforerror="raca">
										<select th:url="@{/raca/pesquisarracas}" class="form-control  select-raca" data-style="select-with-transition" title="Raça de Animal" data-size="7"
											th:field="*{raca}">
											<option value="">Raça do Animal</option>
											<option th:each="raca,iterationStatus : ${listRaca}" th:value="${raca.id}" th:text="${raca.nome}"></option>
										</select>
									</div>

								</div>
								
								
								<div class="row">

										<div class="col-md-6 " syndic:classforerror="corAnimal">
										<select class="form-control  " data-style="select-with-transition" title="Cor Predominante" data-size="7"
											th:field="*{corAnimal}">
											<option value="">Cor Predominante</option>
											<option th:each="cor,iterationStatus : ${listCorAnimal}" th:value="${cor.id}" th:text="${cor.nome}"></option>
										</select>
									</div>
											
										
									<div class="col-md-6">
											<div class="form-group label-floating" syndic:classforerror="nome">
												<label class="control-label">Nome <star>*</star></label> 
												<input type="text" class="form-control required" placeholder=""	th:field="*{nome}" />
											</div>
										</div>

								</div>

									<div class="row">
                                           
                                            <div class="col-md-12">
                                               	<div class="form-group label-floating"  syndic:classforerror="descricao" >
                                                    <label class="control-label">Descrição</label>
                                                    <input type="text" class="form-control" maxlength="255" size="255"  th:field="*{descricao}">
                                                </div>
                                           	</div> 
                             		</div>

								<div class="row">
									<div class="col-md-12">
										<br/><br/><strong>* Atenção:</strong>
										<p class="description">Neste cadastro é importante que você descreva características que possam indentificar seu animal,
										para caso em que ele seja encontrado nas depêndencia do condomínio, possamos consultar no nosso banco de dados. 
										Não se esqueça de colocar também uma bela foto <b>(LIMITE MÁXIMO DE 03 FOTOS COM TAMANHO DE 3MB)</b>.</p>
									</div>
								</div>



<!-- 								<div class="row "><br/> -->
<!-- 									<button type="button" onClick="history.back()" class="btn btn-warning pull-right">cancelar</button> -->
<!-- 									<button type="submit" class="btn btn-info pull-right">Salvar</button> -->
<!-- 								</div> -->
								<div class="clearfix"></div>

								





						<div class="col-md-4 text-center">
							<div class="card">

									
								<input type="hidden" class="js-total-permitido" value="3" />
								<!-- TOTAL DE ARQUIVOS PERMITIDOS PARA UPLOAD -->
								
								<input type="hidden" class="js-total-gerado" th:value="${#lists.size(animal.listFotoAnimal)+1}" />
								<input type="hidden" class="js-total-gerado-antes" th:value="${#lists.size(animal.listFotoAnimal)+1}" />
								
								
								<input type="hidden" class="js-url-excluir"  th:url="@{/unidade/buscartipopessoa}" th:data-url-excluir="@{/foto/animal}" value="1" /> 
								<input type="hidden" class="js-diretorio" id="diretorio" name="diretorio" value="FotoAnimal" /> 
								<input type="hidden" class="js-id" th:field="*{id}" /> 
								<input type="hidden" class="js-idcondominio" th:field="${condominio.id}" /> 
								
								<input type="hidden" class="js-nomeArquivo1" th:field="*{listFotoAnimal[0].nome}" /> 
								
								<input type="hidden" class="js-contentType1" th:field="*{listFotoAnimal[0].contentType}" />

								<!-- 2 arquivo -->
								<input type="hidden" class="js-nomeArquivo2" th:field="*{listFotoAnimal[1].nome}" /> 
								<input type="hidden" class="js-contentType2" th:field="*{listFotoAnimal[1].contentType}" />
								
								
								<!-- 3 arquivo -->
								<input type="hidden" class="js-nomeArquivo3" th:field="*{listFotoAnimal[2].nome}" /> 
								<input type="hidden" class="js-contentType3" th:field="*{listFotoAnimal[2].contentType}" />


								<input type="hidden" class="js-id1" th:field="*{listFotoAnimal[0].id}" /> 
								<input type="hidden" class="js-id2" th:field="*{listFotoAnimal[1].id}" /> 	
								
								<input type="hidden" class="js-id3" th:field="*{listFotoAnimal[2].id}" /> 
								
								
								</div>
							</div>
						</div>

								
								
							</div>
						</div>
						
						

					</form>
				
				</div>
				
				
				
				
				
				
				
				
				
				
				
				
				
                    <div class="row">
                    
                        <div class="col-md-6"  th:if="${animal.listFotoAnimal[0].id!=0 || animal.listFotoAnimal[1].id!=0 || animal.listFotoAnimal[2].id!=0}  ">
                            <div class="card">
                                <div class="card-header card-header-icon" data-background-color="green">
                                    <i class="material-icons">pets</i>
                                </div>
                                <div class="card-content">
                                    <h4 class="card-title">Fotos Cadastradas</h4>
                                    
                                    
                                 
								<th:block th:each="anexo,contador : ${animal.listFotoAnimal}" th:if="${anexo.id}!=0">
									<div  class="col-md-4 col-sm-4 col-lg-4 text-center js-arquivo-1 arquivo" style="height: 200px;">
										<a th:href="@{/foto/animal/{id} (id=${anexo.id})}" >
										<img  class="img  fileinput-new" style="width: 100px;"  th:src="@{/foto/FotoAnimal/}+${condominio.getId()}+'/'+${anexo.nome}" />
										 </a>
										<br /> 
										<a type="button" href="#" th:data-condominio="${condominio.id}" th:data-url="@{/foto/animal/}"
										 th:data-id="${contador.count}" class="btn btn-danger pull-center btn-sm js-btn-excluir">excluir</a>
									
									
									</div>

								</th:block>
                                    
                                    
                                    
                                </div>
                            </div>
                        </div>



				<th:block th:if="${animal.listFotoAnimal[0].id==0 || animal.listFotoAnimal[1].id==0 || animal.listFotoAnimal[2].id==0}  ">
					<div class="col-md-6 col-lg-6 col-sm-6 pull-left js-upload">

						<div class="card">
							<div class="card-header card-header-icon" data-background-color="rose">
								<i class="material-icons">pets</i>
							</div>
							<div class="card-content">
								<h4 class="card-title">Adicionar Fotos</h4>

								<form th:action="@{/foto/animal}" class="dropzone" id="arquivoUpload">
									<div class="fallback">
										<input name="fileToUpload" type="file" multiple />
									</div>
								</form>
							</div>
						</div>
					</div>
				</th:block>




			</div>
                                
                                
                                
                                
                                 <div class="row">
                                 <div 
									class="col-md-12 col-sm-12 pull-left alert alert-warning alert-with-icon  alert-dismissible js-limite-excedido"
									data-notify="container" style="display: none;">
									<i class="fa fa-plus fa-3x" data-notify="icon"></i> Limite de 03 Arquivos Excedido
								</div>
                                 
									<div class="col-md-12 col-sm-12  ">
										<a class="btn btn-danger pull-right"
											th:href="@{/unidade/editar/{id}(id=${animal.unidade.id})}"
											role="button">&nbsp;<strong>Cancelar</strong></a>
											
										<button type="button" class="btn pull-right js-btn-salvar"
											th:classappend="btn-success">Salvar</button>
									</div>
								</div>
						
						
						</div>	
			
			
	</section>

	<section layout:fragment="javascript-extra">
	
	
		<!-- DROPZONE -->
		<script th:src="@{/vendors/js/plugins/dropzone/dropzone.js}"></script>

		<script th:src="@{/javascripts/upload-arquivo-foto-animal.js}"></script>
	
	<script th:src="@{/javascripts/combo-atualizar-combo.js}"></script>
	
	<script type="text/javascript">
	
	
	
    $(document).ready(function() {
        
    	
    	$(".js-btn-excluir").click(function() {
	 		
			//resetDropZone();
	 		campo = $(this).attr("data-id");
	 		
	 		nome = $(".js-nomeArquivo"+campo).val();
	 		
	 		id = $(".js-id"+campo).val();
	 		
			var parametro = (id!=0?id:nome);
			
			
			var acao = (id!=0?"DELETE":"PUT");
				$.ajax({
				    url: $(".js-url-excluir").attr("data-url-excluir")+"/"+$(this).attr("data-condominio")+"/"+parametro,
				    type: acao,
				    beforeSend: adicionarCsrfToken,
				    success: function(result) {
				    	
				    	 $(".js-total-permitido").val(parseInt($(".js-total-permitido").val())-1);
				    	
				    	$('.js-contentType'+campo).val("");
						$('.js-nomeArquivo'+campo).val("");
						$('.js-arquivo-'+campo).hide();
						
						
						if(id!=0){
							window.location.reload();
						}
						
				    }
				});
				
	 		
	 		
		}); 
    	
    	function adicionarCsrfToken(xhr) {
			var token = $('input[name=_csrf]').val();
			xhr.setRequestHeader('x-csrf-token', token);
		}
    	
    	
    	$(".js-btn-salvar").click(function() {
	 		$("#form").submit(); 
		}); 
    	
    	 $(".js-chk-recurso").click(function(){
    		
    		 var ids = "";
    		 var cont = 0;
    		 
    		
    		 
    		 
    		 $('input[type=checkbox]').each(function () {
	  	           if (this.checked) {
	  	        	 	cont++;
	  	           }
    		 });
    		 
    		 if (cont>0) {
    			 $("#6").prop("checked", true);
    		 }
    		 
    		 var cont = 0;
    		 
    		 $('input[type=checkbox]').each(function () {
    	           if (this.checked) {
    	        	   if(cont==0){
    	        		   
    	        		   ids =  $(this).attr("id");
    	        	   }
    	        	   else{
    	        		   ids =  ids+","+$(this).attr("id");
    	        	   }
    	               cont++;
    	           }
    			});
    		 
    		$(".js-input-recurso").val(ids);
    		 
    	 });
    	
    	
    	
        //tratamento do label da data que estava bugado com o calendário
        $(".datepicker").blur(function(){
        	if($(this).val() != ""){
        		$(this).parent().removeClass("is-empty");
        	}else{
        		$(this).parent().addClass("is-empty");
        	}
        });
        
        $('.datepicker').datetimepicker({
            format: 'DD/MM/YYYY',
            icons: {
                time: "fa fa-clock-o",
                date: "fa fa-calendar",
                up: "fa fa-chevron-up",
                down: "fa fa-chevron-down",
                previous: 'fa fa-chevron-left',
                next: 'fa fa-chevron-right',
                today: 'fa fa-screenshot',
                clear: 'fa fa-trash',
                close: 'fa fa-remove'
            }
        });
        
        

    });
</script>

	</section>

</body>
</html>

