<div class="fileinput fileinput-new text-center js-container-foto"
	th:attr="data-url=@{/foto}" data-provides="fileinput">
	<div id="upload-drop" class="text-center">
		<div class="row">
			<div class="fileinput-new  thumbnail col-lg-12  col-md-12 col-sm-12 ">
				<img th:src="@{/assets/img/image_placeholder.jpg}">
			</div>
		</div>
		<div class="row">
		<div class="col-lg-12  col-md-12 col-sm-12">
			<div class="fileinput-preview fileinput-exists thumbnail"></div>

			<div class="btn btn-info btn-file">
				<span class="fileinput-new ">FOTO</span> 
				<span  class="fileinput-exists">Aguarde...</span>
				<input id="upload-select" type="file" name="..." accept=".jpg,.jpeg,.png" />
			</div>
		</div>
		</div>
	</div>
</div>
<script th:src="@{/vendors/js/uikit.min.js}"></script>
<script th:src="@{/vendors/js/upload.min.js}"></script>
<script th:src="@{/javascripts/upload-foto.js}"></script>