<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
   xmlns:th="http://www.thymeleaf.org" 
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:data="http://www.thymeleaf.org/extras/data" 
	layout:decorator="layout/fragments/LayoutPadrao">
<head>

 <style type="text/css">
            .webcam-container {padding:0;margin:0}
            .size640x480 { width:640px; height:480px;}
            .webcam-container object {border:1px solid #000;}
            .webcam-error {color:red;padding-top:10px;}
        </style>

</head>
<body id="index" onload="">
	<section layout:fragment="conteudo">
			<div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-header card-header-icon" data-background-color="blue">
                                    <i class="material-icons">perm_identity</i>
                                </div>
                                <div class="card-content">
                                    <h4 class="card-title">Alterar Senha
                                    </h4>
                                    
                                    <form id="RegisterValidation" th:action="@{/senha/alterar}" method="POST" role="form" th:object="${alterarSenhaDTO}" >
									
									<input type="hidden" th:field="*{condominio}">

									<div class="alert alert-warning alert-with-icon" data-notify="container" th:if="${#fields.hasAnyErrors()}">
										<i class="material-icons" data-notify="icon">notifications</i>
										<th:block th:each="erro : ${#fields.detailedErrors()}">
											<div>
												<i class="fa fa-exclamation-circle text-info "></i> <b th:text="${erro.message}">Mensagem de erro</b>
											</div>
									</div>
								
								<div class="alert alert-success alert-with-icon" data-notify="container" th:if="${not #strings.isEmpty(mensagem)}">
                                        <i class="material-icons" data-notify="icon">check</i>
                                        <button type="button" aria-hidden="true" class="close">
                                            <i class="material-icons">close</i>
                                        </button>
                                        <span data-notify="message" th:text="${mensagem}" >Mensagem de Sucesso</span>
                                    </div>


									<div class="row">          
                                       	 	<div class="col-md-12" syndic:classforerror="passwordOld">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Senha Antiga</label>
                                                    <input type="password" th:field="*{passwordOld}"  class="form-control"   >
                                                </div>
                                           	</div>  
										</div>
										<div class="row">          
                                       	 	<div class="col-md-12"  syndic:classforerror="registerPassword">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Nova Senha</label>
                                                    <input type="password" th:field="*{registerPassword}" class="form-control"  >
                                                </div>
                                           	</div>  
										</div>
										<div class="row">          
                                       	 	<div class="col-md-12"  syndic:classforerror="registerPasswordConfirmation">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Confirme a Nova Senha</label>
                                                    <input type="password"   th:field="*{registerPasswordConfirmation}"   class="form-control"   equalTo="#registerPassword">
                                                </div>
                                           	</div>  
										</div>
										
										
                                        		<button type="submit" class="btn btn-info pull-right">Salvar</button>
                                        <div class="clearfix"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>		
	</section>
	<section layout:fragment="javascript-extra">
	
	
		<script type="text/javascript">
			
		$(document).ready(function() {
			setFormValidation('#RegisterValidation');
			
			function setFormValidation(id) {
				$(id).validate({
					errorPlacement : function(error, element) {
						$(element).closest('div').addClass('has-error');
					}
				});
			}
			
			
			
					
			
		});
		

			
			
			
		</script>
	</section>

</body>
</html>