<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:data="http://www.thymeleaf.org/extras/data"
	layout:decorator="layout/fragments/LayoutPadrao">
<head>

<link rel="stylesheet" th:href="@{/vendors/css/upload.min.css}" />

</head>
<body>
	<section layout:fragment="conteudo">

		<div class="container-fluid">
			<div class="row">

				<form method="POST" id="form" role="form"
					th:object="${pessoaFisicaVeiculo}"
					th:action="${pessoaFisicaVeiculo.novo}? @{/unidade/veiculo/novo} :
						 @{/unidade/veiculo/novo/{id}(id=${pessoaFisicaVeiculo.id})}">
					
					<input type="hidden" th:field="*{id}">
					<input type="hidden" id="unidade" name="unidade" th:value="${unidade.id}">
					<input type="hidden" th:field="*{veiculo}">
					<input type="hidden" th:field="*{dataInicio}">
<!-- 					<input type="hidden" class="js-input-tipopessoa" th:field="*{tipoPessoaFisicaUnidade}"> -->

						<div class="col-md-12">

							<div class="card">
								<div class="card-header card-header-icon"
									data-background-color="blue">
									<i class="material-icons">directions_car</i>
								</div>
								<div class="card-content">
									<h4 class="card-title" th:unless="${pessoaFisicaVeiculo.novo}">Editar
										Dados do veiculo</h4>

									<th:block th:if="${pessoaFisicaVeiculo.novo}">
										<h5 class="card-title"
											th:utext="|Incluir Veículo Para <strong>${unidade.enderecoUnidade.descricao}
										  ${unidade.tipoEnderecoUnidade.descricao}
										 
										   ${unidade.tipoUnidade.nome}
										  
										  ${unidade.unidadeHabitacional}
										 </strong>|">Incluir
											Veiculo</h5>

									</th:block>


									<div class="alert alert-warning alert-with-icon"
										data-notify="container" th:if="${#fields.hasAnyErrors()}">
										<i class="material-icons" data-notify="icon">notifications</i>
										<th:block th:each="erro : ${#fields.detailedErrors()}">
											<div>
												<i class="fa fa-exclamation-circle text-info "></i> <b
													th:utext="${erro.message}">Mensagem de erro</b>
											</div>
									</div>



									<div class="row">
									
												<div class="col-md-3 form-group"	syndic:classforerror="pessoaFisica">
													<select class="form-control" th:url="@{/unidade/buscartipopessoa}"
														data-style="select-with-transition" 
														data-size="7" th:field="*{pessoaFisicaUnidade.id}">
														<option value="0">PROPRIETÁRIO DO VEÍCULO <star>*</star></option>
														<option th:each="pessoafisicaunidade,iterationStatus : ${listPessoaFisicaUnidade}"
															th:value="${pessoafisicaunidade.id}" 
															th:text="|${pessoafisicaunidade.pessoaFisica.nome}  - ${pessoafisicaunidade.tipoPessoaFisicaUnidade.nome}|"></option>
													</select>
												</div>
											
												<div class="col-md-3 form-group" syndic:classforerror="veiculo.modelo.marca.tipoVeiculo">
													<select class="form-control atualizar-auto " atualizar="select-marca"
														data-style="select-with-transition" 
														data-size="7" th:field="*{veiculo.modelo.marca.tipoVeiculo}">
														<option value="">TIPO DE VEÍCULO <star>*</star></option>
														<option th:each="tipo,iterationStatus : ${tipoVeiculo}"
															th:value="${tipo.id}" th:text="${tipo.nome}"></option>
													</select>
												</div>
																							
												<div class="col-md-2">
													<div class="form-group label-floating" syndic:classforerror="veiculo.placa">
														<label class="control-label">Placa </label> 
														<input type="text" class="form-control placa-mask js-placa" placeholder=""	th:field="*{veiculo.placa}" />
													</div>
												</div>
												<div class="col-md-2">
													 <div class='form-group input-group date label-floating' id='datetimepicker10' syndic:classforerror="veiculo.ano">
														<label class="control-label">Ano </label> 
														<input type="text" class="form-control js-input-ano ano-mask "  maxlength="4" placeholder=""	th:field="*{veiculo.ano}" />
														<span class="input-group-addon">
										                    <span class="glyphicon glyphicon-calendar ">
										                    </span>
										                </span>
													</div>
												</div>
												
												
												<div class="col-md-2">
													 <div class='form-group input-group date label-floating' id='datetimepicker11' syndic:classforerror="veiculo.anomodelo">
														<label class="control-label">Modelo </label> 
														<input type="text" class="form-control js-input-modelo  ano-mask"  maxlength="4" placeholder=""	th:field="*{veiculo.anomodelo}" />
														<span class="input-group-addon">
										                    <span class="glyphicon glyphicon-calendar ">
										                    </span>
										                </span>
													</div>
												</div>
												

									</div>

									<div class="row">
									
									
									
									
										<div class="col-md-4 form-group"
											syndic:classforerror="veiculo.modelo.marca" >
											<select th:url="@{/marca/pesquisarmarcas}" class="form-control atualizar-auto select-marca" atualizar="select-modelo"
												data-style="select-with-transition" title="MARCA"
												data-size="7" th:field="*{veiculo.modelo.marca}">
												<option value="">MARCA<star>*</star></option>
												<option th:each="marca,iterationStatus : ${marcaVeiculo}"
													th:value="${marca.id}" th:text="${marca.nome}"></option>
											</select>
										</div>

										<div class="col-md-4 form-group" syndic:classforerror="veiculo.modelo">
											<select th:url="@{/modelo/pesquisarmodelos}" class="form-control select-modelo"
												data-style="select-with-transition" title="MODELO"
												data-size="7" th:field="*{veiculo.modelo}">
												<option value="">MODELO<star>*</star></option>
												<option th:each="modelo,iterationStatus : ${modeloVeiculo}"
													th:value="${modelo.id}" th:text="${modelo.nome}"></option>
											</select>
										</div>
										
										
										<div class="col-md-4 form-group" syndic:classforerror="veiculo.cor">
											<select  class="form-control "	data-style="select-with-transition" title="Cor"
												data-size="7" th:field="*{veiculo.cor}">
												<option value="">COR<star>*</star></option>
												<option th:each="cor,iterationStatus : ${cores}"
													th:value="${cor.id}" th:text="${cor.nome}"></option>
											</select>
										</div>

									</div>



								<div class="row">
									<div class="col-md-12">
										<br />
										<br />
										<strong>* Atenção:</strong>
										<p class="description">Os veículos deste cadastro serão liberados automaticamente na portaria.</p>
									</div>
								</div>



								<div class="row ">
									<br />
									<div class="col-md-12">
										<a type="button" class="btn btn-warning pull-right" th:href="@{/unidade/editar/{id}(id=${unidade.id})}">Cancelar </a>
										<button type="submit" class="btn btn-info pull-right">Salvar</button>
									</div>
								</div>
								<div class="clearfix"></div>

							</div>
						</div>
					</div>



				</form>
			</div>
		</div>


	</section>

	<section layout:fragment="javascript-extra">



		<!-- mascara -->
		<script th:src="@{/javascripts/mascara-input.js}"></script>
		<script th:src="@{/assets/js/jquery.mask.js}"></script>
		
		<script th:src="@{/javascripts/combo-atualizar-combo.js}"></script>
		

		<script type="text/javascript">
			$(document).ready(function() {
						
						 $('#datetimepicker10').datetimepicker({
				                viewMode: 'years',
				                format: 'YYYY'
				            });
						 
						 $('#datetimepicker11').datetimepicker({
				                viewMode: 'years',
				                format: 'YYYY'
				            });
						 
						 $(".js-placa").keyup(function() {
						
							 $(this).val($(this).val().toUpperCase());
						 
						 });
							
						 
						 $(".js-input-ano").blur(function() {
								if ($(".js-input-ano").val() != "") {
									
									$(".js-input-ano").parent().removeClass("is-empty");
								} else {
									$(".js-input-ano").parent().addClass("is-empty");
								}
							});
						 
						 
						 $(".js-input-modelo").blur(function() {
								if ($(".js-input-modelo").val() != "") {
									
									$(".js-input-modelo").parent().removeClass("is-empty");
								} else {
									$(".js-input-modelo").parent().addClass("is-empty");
								}
							});
						 
						 

						
						

						//tratamento do label da data que estava bugado com o calendário
						$(".datepicker").blur(function() {
							if ($(this).val() != "") {
								$(this).parent().removeClass("is-empty");
							} else {
								$(this).parent().addClass("is-empty");
							}
						});

						$('.datepicker').datetimepicker({
							format : 'DD/MM/YYYY',
							icons : {
								time : "fa fa-clock-o",
								date : "fa fa-calendar",
								up : "fa fa-chevron-up",
								down : "fa fa-chevron-down",
								previous : 'fa fa-chevron-left',
								next : 'fa fa-chevron-right',
								today : 'fa fa-screenshot',
								clear : 'fa fa-trash',
								close : 'fa fa-remove'
							}
						});

					});
		</script>

	</section>

</body>
</html>

