<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:data="http://www.thymeleaf.org/extras/data" layout:decorator="layout/fragments/LayoutPadrao">
<head>
</head>
<section layout:fragment="conteudo">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">


					<div class="card">
						<div class="card-header card-header-icon" th:data-background-color="orange">
							<i class="material-icons">assignment</i>
						</div>

						<div class="card-header card-header-icon pull-right" th:data-background-color="purple">
							<a th:href="@{/unidade/veiculo/adicionar/{id}(id = ${unidade.id})}"> <i class="material-icons">add_circle_outline</i></a>
						</div>

						<div class="card-content ">


							<div class="alert alert-success alert-with-icon" data-notify="container" th:if="${not #strings.isEmpty(mensagem)}">
                                        <i class="material-icons" data-notify="icon">check</i>
                                        <button type="button" aria-hidden="true" class="close">
                                            <i class="material-icons">close</i>
                                        </button>
                                        <span data-notify="message" th:text="${mensagem}" >Mensagem de Sucesso</span>
                                    </div>


							<h4 class="card-title">
								Lista de Veículo da <strong class="category" th:text="|${unidade.tipoUnidade.nome} ${unidade.unidadeHabitacional}, ${unidade.enderecoUnidade.descricao} ${unidade.tipoEnderecoUnidade.descricao} - ${condominio.pessoaJuridica.nomeFantasia}  |">Uniade</strong>
							</h4>


							<div class="material-datatables">

									<table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
										<thead>
											<tr>
												<th>#</th>
												<th>Responsável</th>
												<th>Tipo</th>
												<th>Descrição</th>
												<th>Placa</th>
												<th class="disabled-sorting text-right">Ação</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="pfveiculo,iterationStatus : ${unidade.getListaVeiculosUnidade()}">
												<td th:text="${iterationStatus.count}">cont</td>
												<td th:text="${pfveiculo.pessoaFisica.nome}">reponsavel</td>
												<td th:text="${pfveiculo.veiculo.modelo.marca.tipoVeiculo.nome}">tipo</td>
												<td th:text="|${pfveiculo.veiculo.modelo.marca.nome}/${pfveiculo.veiculo.modelo.nome}-${pfveiculo.veiculo.cor.nome}|">descrição</td>
												<td th:text="${pfveiculo.veiculo.placa}">placa</td>
												<td class="text-right">
													<a th:href="|@{/unidade/veiculo/editar/}${pfveiculo.id}/${unidade.id}|" class="btn btn-simple btn-warning btn-icon edit"
														rel="tooltip" title="Editar Informações"> <i class="material-icons">assignment</i>
													</a>
												
												</td>
											</tr>


										</tbody>
									</table>
								</div>
								
								<div class="row "><br/>
									<a type="button" class="btn btn-warning pull-right" th:href="@{/unidade/editar/{id}(id=${unidade.id})}">Voltar </a>
								</div>
						</div>
						<!-- end content-->
					</div>
				</div>
			</div>
			<!--  end card  -->
		</div>
		<!-- end col-md-12 -->
	<!-- end row -->
</section>


<section layout:fragment="javascript-extra">
	<script type="text/javascript">
		$(document).ready(function() {
			$('#datatables').DataTable({
				"pagingType" : "full_numbers",
				"lengthMenu" : [ [ 10, 25, 50, -1 ], [ 10, 25, 50, "All" ] ],
				responsive : true,
				language : {
					search : "_INPUT_",
					searchPlaceholder : "Localizar",
				}

			});

			var table = $('#datatables').DataTable();

			// Edit record
			table.on('click', '.edit', function() {
				$tr = $(this).closest('tr');

				var data = table.row($tr).data();
				//  alert('You press on Row: ' + data[0] + ' ' + data[1] + ' ' + data[2] + '\'s row.');
			});

			$('.card .material-datatables label').addClass('form-group');
		});
	</script>
</section>


</body>
</html>