<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:syndic="http://www.tushtec.com.br">

<head>

<meta charset="utf-8" />
<link rel="apple-touch-icon" sizes="76x76" th:href="@{/img/cd_logo.png}" />
<link rel="icon" type="image/png" th:href="@{/img/cd_logo.png}" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<title>Solução para condomínios</title>
<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
<meta name="viewport" content="width=device-width" />

<!-- Bootstrap core CSS     -->
<link rel="stylesheet" type="text/css" th:href="@{/assets/css/bootstrap.min.css}" />

<!--  Material Dashboard CSS    -->
<link th:href="@{/assets/css/material-dashboard.css?v=1.2.0}" rel="stylesheet" />

<!--  CSS for Demo Purpose, don't include it in your project     -->
<link th:href="@{/assets/css/demo.css}" rel="stylesheet" />

<!--     Fonts and icons     -->
<link th:href="@{/assets/css/font-awesome.min.css}" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

<link rel="stylesheet" type="text/css" th:href="@{/css/syndic.css}" />

<style type="text/css">
	.close{
		background-color: red !important;
	}
	
</style>

</head>

<body>

	<input type="hidden" th:data-url="@{/mensagem/responsavel}" id="js-mensagem-responsavel" />
	<input type="hidden" th:data-url="@{/mensagem/modal}" id="js-mensagem-alerta" />
	<input type="hidden" th:data-url="@{/mensagem/alerta/ler}" id="js-mensagem-alerta-ler" />
	<input type="hidden" th:data-url="@{/mensagem/marcarlidapopup}" id="js-url-marcar-lida" />
	
	<div class="wrapper">
		<div class="sidebar" data-active-color="purple" data-background-color="white" th:data-image="@{/assets/img/ponte-jk-brasilia.jpg}">
			<!--
        Tip 1: You can change the color of active element of the sidebar using: data-active-color="purple | blue | green | orange | red | rose"
        Tip 2: you can also add an image using data-image tag
        Tip 3: you can change the color of the sidebar with data-background-color="white | black"
    -->

			<div class="logo pull-center">
				<!-- 				<a href="#" class="simple-text "> <img class="img-responsive" width="50" th:src="@{/assets/img/logo_pequena.png}"></img> -->
				&nbsp;<a th:href="@{/..}" class="simple-text text-center"> <span class=""> 
				<img width="60%"  height="80%" th:src="@{/img/cd_escura_lc.png}"></img>
						
				</span></a>
			</div>

			<div class="sidebar-wrapper">

				<div th:replace="layout/fragments/MenuPerfil"></div>
				<div th:replace="layout/fragments/MenuLateral"></div>

			</div>
		</div>
		<div class="main-panel">

			<div th:replace="layout/fragments/MenuSuperior"></div>

			<div class="content">
			
				<input type="hidden" name="idmensagens" id="idmensagens" class="js-idmensagens" th:value="${#authentication.mensagens}" >
				<section class="aw-layout-content  js-content" layout:fragment="conteudo"></section>
			</div>

			
			<footer class="footer">
				<div class="container-fluid" style="background-color: white;">
					<nav class="pull-left">
						<ul>
							<li>
								<a href="#">
									<span th:text="${#authentication.pessoaFisica.nome}"></span>
										<th:block class="row" sec:authorize="!hasRole('ROLE_SINDICO')">
											<span th:text="${#authentication.pessoaJuridica} != null ? '- '+${#authentication.pessoaJuridica.nomeFantasia} : ''"></span>
										</th:block>
								</a>
							</li>
						</ul>
					</nav>
					<p class="copyright pull-right">
						&copy;
						<script>
							document.write(new Date().getFullYear())
						</script>
						<a href="#">TushTech</a>, Tecnologia
					</p>
				</div>
			</footer>
		</div>
	</div>


	<script th:src="@{/assets/js/jquery-3.2.1.min.js}" type="text/javascript"></script>
	<script th:src="@{/vendors/js/jquery-2.1.1.js}"></script> 
	<script th:src="@{/assets/js/bootstrap.min.js}" type="text/javascript"></script>
	<script th:src="@{/assets/js/material.min.js}" type="text/javascript"></script>
	<script th:src="@{/assets/js/perfect-scrollbar.jquery.min.js}" type="text/javascript"></script>


	<!-- Library for adding dinamically elements -->
	<script th:src="@{/assets/js/arrive.min.js}" type="text/javascript"></script>


	<!-- Forms Validations Plugin -->
	<script th:src="@{/assets/js/jquery.validate.min.js}"></script>


	<!-- Promise Library for SweetAlert2 working on IE -->
	<script th:src="@{/assets/js/es6-promise-auto.min.js}"></script>


	<!--  Plugin for Date Time Picker and Full Calendar Plugin-->
	<script th:src="@{/assets/js/moment.min.js}"></script>


	<!--  Charts Plugin, full documentation here: https://gionkunz.github.io/chartist-js/ -->
	<script th:src="@{/assets/js/chartist.min.js}"></script>


	<!--  Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
	<script th:src="@{/assets/js/jquery.bootstrap-wizard.js}"></script>


	<!--  Notifications Plugin, full documentation here: http://bootstrap-notify.remabledesigns.com/    -->
	<script th:src="@{/assets/js/bootstrap-notify.js}"></script>

	<!--  Plugin for the DateTimePicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
	<script th:src="@{/assets/js/bootstrap-datetimepicker.js}"></script>

	<!-- Vector Map plugin, full documentation here: http://jvectormap.com/documentation/ -->
	<script th:src="@{/assets/js/jquery-jvectormap.js}"></script>

	<!-- Sliders Plugin, full documentation here: https://refreshless.com/nouislider/ -->
	<script th:src="@{/assets/js/nouislider.min.js}"></script>


	<!--  Google Maps Plugin    -->
<!-- 	<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script> -->


	<!--  Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
	<script th:src="@{/assets/js/jquery.select-bootstrap.js}"></script>


	<!--  DataTables.net Plugin, full documentation here: https://datatables.net/    -->
	<script th:src="@{/assets/js/jquery.datatables.js}"></script>


	<!-- Sweet Alert 2 plugin, full documentation here: https://limonte.github.io/sweetalert2/ -->
	<script th:src="@{/assets/js/sweetalert2.js}"></script>

	<!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
	<script th:src="@{/assets/js/jasny-bootstrap.min.js}"></script>


	<!--  Full Calendar Plugin, full documentation here: https://github.com/fullcalendar/fullcalendar    -->
	<script th:src="@{/assets/js/fullcalendar.min.js}"></script>

	<!-- Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
	<script th:src="@{/assets/js/jquery.tagsinput.js}"></script>


	<!-- Material Dashboard javascript methods -->
	<script th:src="@{/assets/js/material-dashboard.js?v=1.2.0}"></script>
	
	<!--  Notifications Plugin    -->
	<script th:src="@{/assets/js/bootstrap-notify.js}"></script>


	<!-- Material Dashboard DEMO methods, don't include it in your project! -->
	<script th:src="@{/assets/js/demo.js}"></script>

<!-- 	<script th:src="@{/vendors/js/fontawesome-all.min.js}"></script> -->


	<script type="text/javascript">
	
	
	
	$(document).ready(function() {
		
		getMensagens();
		
		window.setInterval(function() {
			alertaPrincipal();
		}, 10000);//30 segundos
		
		window.setInterval(function() {
			getMensagens();
		}, 10000);//30 segundos
      
	});
	
	function marcarLida(idMensagem){
		$.ajax({
			url: $("#js-url-marcar-lida").attr("data-url")+"/"+idMensagem,
			method:'GET',
			contentType:'application/json',
		});
	}
	
	function getMensagens(){
		
		$.ajax({
				url: $("#js-mensagem-responsavel").attr("data-url"),
				method:'GET',
				contentType:'application/json',
				success: function( mensagens ) {
	                var cont = 0;
	                var options = [];
	                
					mensagens.forEach(function(msg){
						
						cont++;
						
						options.push('<li><a href="'+msg.acao+'">'+msg.assunto+'</a></li>');
						
					});
					
					$(".js-mensagens").html(options.join(''));
	                $('.js-quantidade-mensagens').html(cont);
	            }
			});

		}
	
	
	
		
		function alertaPrincipal(){
			$.ajax({
// 				url : "/mensagem/alerta",
				url: $("#js-mensagem-alerta").attr("data-url")+"/"+$(".js-idmensagens").val(),
				method:'GET',
				contentType:'application/json',
				success: function( mensagens ) {
	                var cont = 0;
	                var options = [];
	                
	                if(mensagens.length > 0){
	                	
	                	var indexmsg = 0;
	                	
						var mensagem = mensagens[0] ;
						
						
						 var idsatuais = $(".js-idmensagens").val().split(",");
						 
						 
						 
						 var isok = false;
						
						 for (var i = 0; i < mensagens.length; i++) {
							
							 for (var j = 0; j < idsatuais.length; j++) {
								 
								if((mensagens[i].id != idsatuais[j]) && idsatuais[j]!=0){
									mensagem = mensagens[i];
									isok = true;
								}
								 if(isok){
									 break;
								 }
							 }
							 if(isok){
								 break;
							 }
						 }
						 
						
						
						 
		    		 	type = ['', 'card card-stats', 'success', 'warning', 'danger', 'rose', 'primary'];
		    	        color = Math.floor((Math.random() * 6) + 1);
		    	        
		    	        var adiciona = true;
		    	        for (var j = 0; j < idsatuais.length; j++) {
		    	        	if(idsatuais[j]==mensagem.id){
		    	        		adiciona = false;
		    	        	}
		    	        }
		    	        if(adiciona){
		    	        	marcarLida(mensagem.id);
		    	        	$(".js-idmensagens").val($(".js-idmensagens").val()+","+mensagem.id);
						 }		    	         	 
		    	        
		    	        if(adiciona){
		    	        	
			    	        $.notify({
			    	            icon: "notifications",
			    	            message: "<div class=\"row\">"+
			    	            "				<div class=\"col-md-2 col-sm-2 col-xs-2 logo thumbnail img-circle\"><img class\"logo thumbnail img-circle\" style=\"width:80%;\"  src=\""+(mensagem.imagem)+"\" /></div>"+
			    	            "				<div class=\"col-md-10 col-sm-10 col-xs-2\">"+
			    	            "					<table class=\"table\" ><tr><td><a href=\""+mensagem.acao+"\"><span class=\"label label-info\">"+mensagem.assunto+"</span></a></td></tr><tr><td>"+mensagem.observacao+" <a href=\""+mensagem.acao+"\">leia mais</a></td></tr></table>"+
			    	            "				</div>"+
			    	            "		</div>"
			    	        }, {
			    	            type: "card card-stats",
			    	            delay: 20000,
			    	            timer: 20000,
			    	            z_index: mensagem.id,
			    	            placement: {
			    	                from: 'bottom',
			    	                align: 'right'
			    	            }
							});
		    	       }
	                }
	            }//fim ajax
			
			});
		}
		
		$('body').on('click', '.close', function() {
			
			id=$(this).parent().css("z-index");
			
			
			$.ajax({
// 				url : "/mensagem/alerta/ler/",
				url: $("#js-mensagem-alerta-ler").attr("data-url"),
				method:'GET',
				contentType:'application/json',
				data : {
					"id" : id
				}
			});
		});
		
	</script>
	
	
	
	<script type="text/javascript">
		$(document).ready(function() {
			
			$('.datatables').DataTable({
				"pagingType" : "full_numbers",
				"lengthMenu" : [ [ 10, 25, 50, -1 ], [ 10, 25, 50, "All" ] ],
				columnDefs: [
			        {
			            type: 'date-br', 
			            targets: 4 
			        }
			    ],
				responsive : true,
				language : {
					search : "_INPUT_",
					searchPlaceholder : "Localizar",
				}

			});
			
			
			var table = $('.datatables').DataTable();

			
			// Edit record
			table.on('click', '.edit', function() {
				$tr = $(this).closest('tr');

				//var data = table.row($tr).data();
				//  alert('You press on Row: ' + data[0] + ' ' + data[1] + ' ' + data[2] + '\'s row.');
			    
			});
			

			var oTable = $('.js-tabela-index').dataTable();
             
             //ORDENAR PELA 04 COLUNA DESC
//              oTable.fnSort( [ [3,'desc']] );
             
			var oTable = $('.js-tabela-index-1').dataTable();
             
             //ORDENAR PELA 04 COLUNA DESC
             oTable.fnSort( [ [3,'desc']] );
             
			

			$('.card .material-datatables label').addClass('form-group');
			
			
			jQuery.extend(jQuery.fn.dataTableExt.oSort, {
			    "date-br-pre": function ( a ) {
			        if (a == null || a == "") {
			            return 0;
			        }
			        var brDatea = a.split('/');
			        return (brDatea[2] + brDatea[1] + brDatea[0]) * 1;
			    },

			    "date-br-asc": function ( a, b ) {
			        return ((a < b) ? -1 : ((a > b) ? 1 : 0));
			    },

			    "date-br-desc": function ( a, b ) {
			        return ((a < b) ? 1 : ((a > b) ? -1 : 0));
			    }
			});
			
			
			
			
		});
		
		
		
		
	</script>
	

	<section layout:fragment="javascript-extra"></section>

</body>

</html>