<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<div class="user">
	
		<div class="photo">
			<th:block th:if="${#authentication.pessoaFisica.nomeFoto!=null && #authentication.pessoaFisica.nomeFoto!=''}">
					<img   th:src="@{/foto/FotoPessoa/}+'ARQUIVOS'+'/thumbnail.'+${#authentication.pessoaFisica.nomeFoto}" />
			</th:block>
			
			
			<th:block th:if="${#authentication.pessoaFisica.nomeFoto==null || #authentication.pessoaFisica.nomeFoto==''}">
				<img th:src="@{/assets/img/default-avatar.png}">
			</th:block>
		
		</div>
	
	
	<div class="info">
		<a data-toggle="collapse" href="#senha" class="collapsed"   syndic:menu="@{/senha}" > 
		<span th:text="${#authentication.pessoaFisica.nome}"> Nome <b class="caret"></b>
		</span>
		</a>
		<div class="clearfix"></div>
		<div class="collapse" id="senha" syndic:menu="@{senha}">
			<ul class="nav">
				
<!-- 				<li> -->
<!-- 					<a href="#"> <span class="sidebar-mini">EP</span>  -->
<!-- 					<span class="sidebar-normal">Editar Perfil</span> -->
<!-- 					</a> -->
<!-- 				</li> -->
				<li class ="" syndic:menu="@{/senha/alterarsenha}">
					<a th:href="@{/senha/alterarsenha}" > 
					<span class="sidebar-mini">AS</span> 
					<span class="sidebar-normal">Alterar Senha</span>	
					</a>
				</li>
				
				<li>
					<a th:href="@{/sair}"> 
					<span class="sidebar-mini">S</span> 
					<span class="sidebar-normal">Sair</span>	</a>
				</li>
			</ul>
		</div>
	</div>
</div>
</body>
</html>