<nav class="navbar navbar-white navbar-absolute">
				<div class="container-fluid">
					<div class="navbar-minimize">
						<button id="minimizeSidebar" class="btn btn-round btn-white btn-fill btn-just-icon">
							<i class="material-icons visible-on-sidebar-regular">more_vert</i> <i class="material-icons visible-on-sidebar-mini">view_list</i>
						</button>
					</div>
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse">
						
							<span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> 
							<span class="icon-bar"></span>
						</button>
						
						<button type="button" class="navbar-toggle" data-toggle="collapse">
							<i class="material-icons">notifications</i> 
							<span class="notification js-quantidade-mensagens"  th:data-id="${#authentication.pessoaFisica.id}">&nbsp;</span>
						
						</button>
						
						<a class="navbar-brand" th:href="@{/}"> Inicio </a>
					</div>
					<div class="collapse navbar-collapse">
						<ul class="nav navbar-nav navbar-right">
							
							<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"> 
							<i class="material-icons">notifications</i> 
							<span class="notification js-quantidade-mensagens"  th:data-id="${#authentication.pessoaFisica.id}">&nbsp;</span>
									<p class="hidden-lg hidden-md">
										Notificações <b class="caret"></b>
									</p>
							</a>
								<ul class="dropdown-menu js-mensagens">
								</ul>
								</li>
							
							<li class="separator hidden-lg hidden-md"></li>
							<li>
								<a th:href="@{/sair}"> 
									<i class="material-icons" rel="tooltip" title="Sair" data-placement="bottom">exit_to_app</i>
									<p class="hidden-lg hidden-md">Profile</p>
								</a>
							</li>
						</ul>
<!-- 						<form class="navbar-form navbar-right" role="search"> -->
<!-- 							<div class="form-group form-search is-empty"> -->
<!-- 								<input type="text" class="form-control" placeholder="Localizar" /> <span class="material-input"></span> -->
<!-- 							</div> -->
<!-- 							<button type="submit" class="btn btn-white btn-round btn-just-icon"> -->
<!-- 								<i class="material-icons">search</i> -->
<!-- 								<div class="ripple-container"></div> -->
<!-- 							</button> -->
<!-- 						</form> -->
					</div>
				</div>
			</nav>