<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:syndic="http://www.tushtech.com.br">

<body>
	<ul class="nav">
	
		<div class="main-panel">
            <nav class="navbar navbar-transparent navbar-absolute">
                <div class="container-fluid">
                    <div class="navbar-minimize">
                        <button id="minimizeSidebar" class="btn btn-round btn-white btn-fill btn-just-icon">
                            <i class="material-icons visible-on-sidebar-regular">more_vert</i>
                            <i class="material-icons visible-on-sidebar-mini">view_list</i>
                        </button>
                    </div>
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#"> Buttons </a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                           
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="material-icons">notifications</i>
<!--                                     <span class="notification">5</span> -->
                                    <p class="hidden-lg hidden-md">
                                        Notificações
                                        <b class="caret"></b>
                                    </p>
                                </a>
                                <ul class="dropdown-menu js-mensagens">
                                </ul>
                            </li>
                          
                            <li class="separator hidden-lg hidden-md"></li>
                        </ul>
                        <form class="navbar-form navbar-right" role="search">
                        </form>
                    </div>
                </div>
            </nav>
        </div>
	
		<li class="active" syndic:menu="@{/dashboard}" data-pai=""  >
			<a th:href="@{/}"> <i class="material-icons">dashboard</i>
			<p>Resumo</p>
		</a>
		</li>
		
		<li class="" syndic:menu="@{ordemservico}" data-pai="" sec:authorize="hasRole('ROLE_ADMINISTRADOR') || hasRole('ROLE_EMPRESA_ADMINISTRADOR') || hasRole('ROLE_EMPRESA_ASSISTENTE')">
			<a th:href="@{/ordemservico}" aria-expanded="" > 
				<i class="material-icons">build</i>
				<p>	Ordem de Serviço</p>
			</a>
		</li>
		
		<li class="" syndic:menu="@{/ordemservico/finalizadas}" data-pai="" sec:authorize="hasRole('ROLE_ADMINISTRADOR') || hasRole('ROLE_SINDICO') || hasRole('ROLE_EMPRESA_ADMINISTRADOR') || hasRole('ROLE_EMPRESA_ASSISTENTE')">
			<a th:href="@{/ordemservico/finalizadas}" aria-expanded="" > 
				<i class="material-icons">offline_pin</i>
				<p>	OS Finalizadas</p>
			</a>
		</li>
		
		<li class="" syndic:menu="@{/mensagem}" data-pai="">
			<a th:href="@{/mensagem}" aria-expanded="" > 
				<i class="material-icons">chat_bubble_outline</i>
				<p>	Mensagens</p>
			</a>
		</li>
		
		<li class="" sec:authorize="hasRole('ROLE_ADMINISTRADOR') || hasRole('ROLE_EMPRESA_ADMINISTRADOR') || hasRole('ROLE_EMPRESA_ASSISTENTE')">
			<a data-toggle="collapse" href="#relatorio" aria-expanded="" > 
				<i class="material-icons">insert_chart_outlined</i>
				<p>	Estatísticas <b class="caret"></b></p>
			</a>
			
			<div class="collapse" id="relatorio" syndic:menu="@{relatorio}" >
				<ul class="nav">
					<li class="" syndic:menu="@{/relatorio}"   >
						<a th:href="@{/relatorio}"> 
							<span class="sidebar-mini">SE</span> 
							<span class="sidebar-normal">Serviços Mês Atual</span>
						</a>
					</li>
					<li class="" id="relatoriomensal" syndic:menu="@{/relatoriomensal}"   >
						<a th:href="@{/relatoriomensal}"> 
							<span class="sidebar-mini">OS</span> 
							<span class="sidebar-normal">Detalhado Por Mês</span>
						</a>
					</li>
				</ul>
			</div>
		</li>
		
		<li class="" syndic:menu="@{/pessoal}" sec:authorize="hasRole('ROLE_PROPRIETARIO') or hasRole('ROLE_MORADOR')" >
		<a data-toggle="collapse" href="#pessoal"  aria-expanded="" > <i class="material-icons">apps</i>
				<p>	Pessoal <b class="caret"></b></p>
		</a>
			<div class="collapse" id="pessoal" syndic:menu="@{pessoal}" >
				<ul class="nav">
					<li class="" syndic:menu="@{/pessoal/alterarsenha}"   >
						<a th:href="@{/pessoal/alterarsenha}"> 
							<span class="sidebar-mini">AS</span> 
							<span class="sidebar-normal">Alterar Senha</span>
						</a>
					</li>
					<li class ="" syndic:menu="@{/pessoal/unidades}"    >
						<a th:href="@{/pessoal/minhasunidades}" > 
							<span class="sidebar-mini">UN</span> 
							<span class="sidebar-normal">Minha Unidade</span>
						</a>
					</li>
					<li class="" syndic:menu="@{/pessoal/soliciatacoes}"     >
						<a  th:href="@{/pessoal/soliciatacoespessoais}" > 
							<span class="sidebar-mini">SO</span> 
							<span class="sidebar-normal">Minhas Solicitações</span>
						</a>
					</li>
					<li class="" syndic:menu="@{/pessoal/reservas}"   >
						<a  th:href="@{/pessoal/reservaspesssoais}" > 
							<span class="sidebar-mini">RE</span> 
							<span class="sidebar-normal">Reserva de Espaços</span>
						</a>
					</li>
					<li class="" syndic:menu="@{/pessoal/agenda}"   >
						<a  th:href="@{/pessoal/agendapessoal}" > 
							<span class="sidebar-mini">AG</span> 
							<span class="sidebar-normal">Agenda</span>
						</a>
					</li>
					<li class="" syndic:menu="@{/pessoal/comunicados}"   >
						<a  th:href="@{/pessoal/comunicados}" > 
							<span class="sidebar-mini">CO</span> 
							<span class="sidebar-normal">Comunicados</span>
						</a>
					</li>
					<li class="" syndic:menu="@{/pessoal/classificados}"   >
						<a  th:href="@{/pessoal/classificados}" > 
							<span class="sidebar-mini">CL</span> 
							<span class="sidebar-normal">Classificados</span>
						</a>
					</li>

				</ul>
			</div>
		</li>
		
		
		
<!-- 		<li class=""  syndic:menu="@{/sindico}"  data-pai="0" sec:authorize="hasRole('ROLE_SINDICO') or hasRole('ROLE_SINDICO_PROPRIETARIO') or hasRole('ROLE_SINDICO_MORADOR') " > -->
<!-- 		<a data-toggle="collapse" href="#sindico">  -->
<!-- 		<i class="material-icons">apps</i> -->
<!-- 				<p> -->
<!-- 					Síndico <b class="caret"></b> -->
<!-- 				</p> -->
<!-- 		</a> -->
<!-- 			<div class="collapse" id="sindico" syndic:menu="@{sindico}"> -->
<!-- 				<ul class="nav"> -->
<!-- 					<li class="" syndic:menu="@{/sindico/condominio}" > -->
<!-- 						<a th:href="@{/sindico/condominio}"> <span class="sidebar-mini"> -->
<!-- 							<i class="material-icons">business</i></span>  -->
<!-- 							<span class="sidebar-normal">Condomínio(s)</span> -->
<!-- 						</a> -->
<!-- 					</li> -->
					
<!-- 					<li class="" syndic:menu="@{/sindico/portaria}" > -->
<!-- 						<a th:href="@{/sindico/portaria/{id}(id = ${#authentication.pessoaFisica.getCondominioAtual().getId()})}"> <span class="sidebar-mini"> -->
<!-- 							<i class="material-icons">assignment_ind</i> -->
<!-- 							</span>	<span class="sidebar-normal" >Portaria</span>  -->
<!-- 						</a> -->
<!-- 					</li> -->

				
<!-- 					<li class=""  syndic:menu="@{/sindico/cac}" > -->
<!-- 						<a  data-toggle="collapse" href="#cac" >  -->
<!-- 							<i class="material-icons">apps</i> -->
<!-- 							<p> -->
<!-- 								e-CAC <b class="caret"></b> -->
<!-- 							</p> -->
<!-- 						</a> -->
<!-- 						<div class="collapse" id="cac"> -->
<!-- 							<ul class="nav"> -->
<!-- 								<li class="" syndic:menu="@{/sindico/cac/painelresumo}" > -->
<!-- 									<a th:href="@{/sindico/cac/painelresumo}">  -->
<!-- 										<span class="sidebar-mini">AS</span>  -->
<!-- 										<span class="sidebar-normal">Resumo Atendimentos</span> -->
<!-- 									</a> -->
<!-- 								</li> -->
<!-- 								<li><a href="#"> <span class="sidebar-mini">UN</span> <span class="sidebar-normal">Atendimentos</span> -->
<!-- 								</a></li> -->
<!-- 								<li class=""><a href="#"> <span class="sidebar-mini">SO</span> <span class="sidebar-normal">Resumo OS</span> -->
<!-- 								</a></li> -->
<!-- 								<li class=""><a href="#"> <span class="sidebar-mini">RE</span> <span class="sidebar-normal">Ordem de Serviço</span> -->
<!-- 								</a></li> -->
			
<!-- 							</ul> -->
<!-- 						</div> -->
						
<!-- 					</li> -->

<!-- 				</ul> -->
<!-- 			</div> -->
<!-- 		</li> -->
		
		

<!-- 		<li class="" syndic:menu="@{/administrador}" data-pai="0" sec:authorize="hasRole('ROLE_ADMINISTRADOR')"> -->
<!-- 				<a data-toggle="collapse" href="#administrador" aria-expanded="true">  -->
<!-- 				<i class="material-icons">apps</i> -->
<!-- 						<p> -->
<!-- 							Administrador <b class="caret"></b> -->
<!-- 						</p> -->
<!-- 				</a> -->
<!-- 					<div class="collapse" id="administrador" syndic:menu="@{administrador}"> -->
<!-- 						<ul class="nav"> -->
<!-- 							<li class="" syndic:menu="@{/administrador/condominio}"  > -->
<!-- 								<a th:href="@{/administrador/condominio}">  -->
<!-- 									<span class="sidebar-mini">C</span>  -->
<!-- 									<span class="sidebar-normal">Condomínios</span> -->
<!-- 								</a> -->
<!-- 							</li> -->
							
							
<!-- 							<li class=""> -->
<!-- 								<a  data-toggle="collapse" href="#sistema"  >  -->
<!-- 									<i class="material-icons">apps</i> -->
<!-- 									<p> -->
<!-- 										Sistema <b class="caret"></b> -->
<!-- 									</p> -->
<!-- 								</a> -->
<!-- 								<div class="collapse" id="sistema"> -->
<!-- 									<ul class="nav"> -->
<!-- 										<li class=""><a href="#"> <span class="sidebar-mini">PE</span> <span class="sidebar-normal">Perfil</span> -->
<!-- 										</a> -->
<!-- 										</li> -->
<!-- 										<li class=""> -->
<!-- 										<a href="#"> <span class="sidebar-mini">RE</span> <span class="sidebar-normal">Recurso</span> -->
<!-- 										</a> -->
<!-- 										</li> -->
										
<!-- 										<li class="" syndic:menu="@{/administrador/acessos}"> -->
<!-- 										<a th:href="@{/administrador/acessos}" > <span class="sidebar-mini">RE</span> <span class="sidebar-normal">Acessos</span> -->
<!-- 										</a> -->
<!-- 										</li> -->
					
<!-- 									</ul> -->
<!-- 								</div> -->
								
<!-- 							</li> -->
		
<!-- 						</ul> -->
<!-- 					</div> -->
<!-- 		</li> -->
		
		
<!-- 		<li class="" syndic:menu="@{/conteudo}" data-pai="0" sec:authorize="hasRole('ROLE_SINDICO') " > -->
<!-- 			<a th:href="@{/conteudo/listar}">  -->
<!-- 				<i class="material-icons">dashboard</i> -->
<!-- 				<p>Conteúdo</p> -->
<!-- 			</a> -->
<!-- 		</li> -->
		
		
		<li class="" syndic:menu="@{/condominio}" sec:authorize="hasRole('ROLE_SINDICO')" >
			<a th:href="@{/condominio}"> 
				<i class="material-icons">business</i>
				<p>Meu Condomínio</p>
			</a>
		</li>
		
		<li class="" syndic:menu="@{/unidade}" sec:authorize="hasRole('ROLE_MORADOR')" >
			<a th:href="@{/unidade}"> 
				<i class="material-icons">home</i>
				<p>Minha Unidade</p>
			</a>
		</li>
		
		
		
	</ul>
</body>
</html>