<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:data="http://www.thymeleaf.org/extras/data" layout:decorator="layout/fragments/LayoutPadrao">
<head>
</head>
<body>
	<section layout:fragment="conteudo">
		<div class="container-fluid">
			
			<div class="row">
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="card card-stats">
						<div class="card-header" data-background-color="orange">
							<i class="material-icons">LI</i>
						</div>
						<div class="card-content">
							<p class="category">Lider</p>
							<h3 class="card-title"><a href="/cadastro/listar/lider" class="btn-link">60</a></h3>
						</div>
						<div class="card-footer">
							<div>
								<a href="/cadastro/lider" class="btn-link"><i class="material-icons">add_circle_outline</i>Adicionar</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="card card-stats">
						<div class="card-header" data-background-color="rose">
							<i class="material-icons">CO</i>
						</div>
						<div class="card-content">
							<p class="category">Coordenador</p>
							<h3 class="card-title"><a href="#" class="btn-link">80</a></h3>
						</div>
						<div class="card-footer">
							<div>
								<a href="cadastro/coordenador" class="btn-link"><i class="material-icons">add_circle_outline</i>Adicionar</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="card card-stats">
						<div class="card-header" data-background-color="green">
							<i class="material-icons">record_voice_over</i>
						</div>
						<div class="card-content">
							<p class="category">Palestrante</p>
							<h3 class="card-title"><a href="#" class="btn-link">150</a></h3>
						</div>
						<div class="card-footer">
							<div>
								<a href="cadastro/palestrante" class="btn-link"><i class="material-icons">add_circle_outline</i>Adicionar</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="card card-stats">
						<div class="card-header" data-background-color="blue">
							<i class="material-icons">FU</i>
						</div>
						<div class="card-content">
							<p class="category">Funcionário</p>
							<h3 class="card-title"><a href="#" class="btn-link">10</a></h3>
						</div>
						<div class="card-footer">
							<div>
								<a href="cadastro/funcionario" class="btn-link"><i class="material-icons">add_circle_outline</i>Adicionar</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			
			<div class="row">
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="card card-stats">
						<div class="card-header" data-background-color="orange">
							<i class="material-icons">supervisor_account</i>
						</div>
						<div class="card-content">
							<p class="category">Comissão</p>
							<h3 class="card-title"><a href="comissao/listar" class="btn-link">4</a></h3>
						</div>
						<div class="card-footer">
							<div>
								<a href="/cadastro/comissao" class="btn-link"><i class="material-icons">add_circle_outline</i>Adicionar</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="card card-stats">
						<div class="card-header" data-background-color="rose">
							<i class="material-icons">public</i>
						</div>
						<div class="card-content">
							<p class="category">Cidade</p>
							<h3 class="card-title">60</h3>
						</div>
						<div class="card-footer">
							<div>
								<a href="" class="btn-link"><i class="material-icons">add_circle_outline</i>Adicionar</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="card card-stats">
						<div class="card-header" data-background-color="green">
							<i class="material-icons">store</i>
						</div>
						<div class="card-content">
							<p class="category">TPS Nov/2017</p>
							<h3 class="card-title">120</h3>
						</div>
						<div class="card-footer">
							<div>
								<a th:href="@{/cadastro/tps}" class="btn-link"><i class="material-icons">add_circle_outline</i>Adicionar</a>
							</div>
						</div>
					</div>
				</div>
				
			</div>
			
			
		</div>
	</section>
</body>
</html>