
<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:data="http://www.thymeleaf.org/extras/data" layout:decorator="layout/fragments/LayoutPadrao">
<head>

<!-- <link rel="stylesheet" type="text/css" th:href="@{/assets/css/leaflet.css}" /> -->
<!-- <link rel="stylesheet" type="text/css" th:href="@{/assets/css/MarkerCluster.css}" /> -->
<!-- <link rel="stylesheet" type="text/css" th:href="@{/assets/css/MarkerCluster.Default.css}" /> -->
<!-- <link rel="stylesheet" type="text/css" th:href="@{/assets/css/leaflet.measure.css}" /> -->

</head>
<body>
	<section layout:fragment="conteudo">


		<div class="content">
			<div class="container-fluid">
				
				<div class="row">
					<div class="col-md-7">
						<div class="card">
							<div class="card-header card-header-icon" data-background-color="blue">
								<i class="material-icons">timeline</i>
							</div>
							<div class="card-content">
								<h4 class="card-title">
									Média de Público <small> - por mês</small>
								</h4>
							</div>
							<div id="colouredBarsChart" class="ct-chart"></div>
						</div>
					</div>
					<div class="col-md-5">
						<div class="card">
							<div class="card-header card-header-icon" data-background-color="red">
								<i class="material-icons">pie_chart</i>
							</div>
							<div class="card-content">
								<h4 class="card-title">Pie Chart</h4>
							</div>
							<div id="chartPreferences" class="ct-chart"></div>
							<div class="card-footer">
								<h6>Legend</h6>
								<i class="fa fa-circle text-info"></i> Online <i class="fa fa-circle text-warning"></i> Portaria <i class="fa fa-circle text-danger"></i>
								Cortesia
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>







	</section>
	<section layout:fragment="javascript-extra">
		<script>
    $(document).ready(function() {
        demo.initCharts();
    });
</script>
		<!-- 	<script th:src="@{/assets/js/jquery-1.8.1.min.js}"></script> -->
		<!-- 	<script th:src="@{/assets/js/leaflet.js}"></script> -->
		<!-- 	<script th:src="@{/assets/js/leaflet.markercluster-src.js}"></script> -->
		<!-- 	<script th:src="@{/assets/js/leaflet.measure.js}"></script> -->
		<!-- 	<script th:src="@{/js/mapaconfiguracao.js}"></script> -->
	</section>
</body>
</html>