<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:data="http://www.thymeleaf.org/extras/data" >
<head>
</head>
<body>

	<div class="row">

		<div class="col-md-6">

			<!-- 		<div class="container-fluid"> -->
			<div class="card">
				<div class="card-header card-header-icon" data-background-color="blue">
					<i class="material-icons">business</i>
				</div>
				<div class="card-content">
					<h4 class="card-title" th:unless="${condominio.novo}">Dados Condomínio</h4>



					<div class="row">
						<div class="col-md-12">
							<div class="form-group label-floating">
								<label class="control-label">CNPJ: <b th:text="${condominio.pessoaJuridica.cnpj}"></b></label>
							</div>
							<br />
						</div>

						<div class="col-md-12">
							<div class="form-group label-floating">
								<label class="control-label">Nome do Condomínio: <b th:text="${condominio.pessoaJuridica.nomeFantasia}"></label>
							</div>
							<br />
						</div>
						<div class="col-md-12">
							<div class="form-group label-floating">
								<label class="control-label">Razão Social: <b th:text="${condominio.pessoaJuridica.razaoSocial}"></label>
							</div>
							<br />
						</div>

						<div class="col-md-12">
							<div class="form-group label-floating">
								<label class="control-label">Endereço: <b th:text="${condominio.endereco}"></b></label>								
							</div>
							<br />
						</div>
						<div class="col-md-12">
							<div class="form-group label-floating">
								<label class="control-label">Telefone(s): <b th:text="${condominio.telefone1}"></b> &nbsp; <b th:text="${condominio.telefone2}"></b> &nbsp; <b th:text="${condominio.telefone3}"></b>
								</label>
							</div>
							<br />
						</div>
						<div class="col-md-12">
							<div class="form-group ">
						<hr />
								<label class="control-label">Síndico:</label>  
								<a class="text text-info" th:href="@{/sindico/editar/{id}(id=${condominio.pfCondominioSindicoAtual().id})}" th:text="${condominio.sidicoAtual().getNome()}">Alterar</a>
							</div>
						</div>

						<div class="col-md-12">
							<div class="form-group label-floating">
								<label class="control-label">Email(s): <b th:text="${condominio.email1}"></b> &nbsp; <b th:text="${condominio.email2}"></b>
								</label>
							</div>
						</div>
					</div>



				</div>
			</div>

			<div class="card card-stats" th:if="${condominio.condominioPacoteServicoAtivo.pacoteServico}">
				<div class="card-header card-header-icon" data-background-color="purple">
					Pacote Contratado
				</div>
				<div class="card-content">
					
					<p class="category">
					<span>Visitas Restantes Mês Agosto (</span>
					<span th:text="${condominio.condominioPacoteServicoAtivo.pacoteServico.qtdVisitas} - ${#lists.size(listOSMesCondominio)}"></span>
					<span>)</span>
					</p>
					<br />
				</div>
				<div class="card-content" style="text-align: left;">
					<p th:text="|Pacote: ${condominio.condominioPacoteServicoAtivo.pacoteServico.nome}|"></p>
					<p th:text="|Visitas por mês: ${condominio.condominioPacoteServicoAtivo.pacoteServico.qtdVisitas}|"></p>
					<p th:text="|Descrição: ${condominio.condominioPacoteServicoAtivo.pacoteServico.descricao}|"></p>
				</div>
				<div class="card-footer">
					
					<div class="stats">
						<span class="text pull-left">
							<i class="material-icons">find_in_page</i> 
							<a class="category" th:href="@{/ordemservico}">Listar </a>
						</span>
					</div>
					<div class="stats pull-right">
						<span class="text pull-right">
							<i class="material-icons">create</i>
							<a class="category" th:href="@{/ordemservico/0}">Solicitar Atendimento </a>
						</span>
					</div>
				</div>
			</div>
			
			
		</div>

		<div class="col-lg-6 col-md-6 col-sm-6">
			<div class="row  border-bottom white-bg dashboard-header">
				<div class="card card-stats">
					<div class="card-header card-header-icon" data-background-color="default">
						Últimas Solicitações Aguardando Avaliação
					</div>
					<br />
					<div class="card-content " style="height: auto !important;" >
				
						<div class="material-datatables ">
							<table id="datatabless" class="table table-striped table-no-bordered table-hover datatabless" cellspacing="0"  width="100%" style="width:100%">
								<thead>
									<tr>
										<th>#</th>
										<th>Priori</th>
										<th>Tipo</th>
										<th>Data</th>
										<th>Status</th>
										<th class="disabled-sorting text-right">Ação</th>
									</tr>
								</thead>
								<tbody>
											<tr th:each="obj,iterationStatus : ${listOrdemServicoAvaliacao}">
												<td th:utext="${obj.protocolo}">cont</td>
												
												<td ><span class="label label-danger" th:text="${obj.emergencia}?'EMERG.':''">3</span></td>
												<td class="text text-left" th:text="${obj.tipoOrdemServico.nome}">tipo</td>
												<td  class="text text-left" th:text="${#dates.format(obj.UltimoHistoricoOrdemServico.dataInicio, 'dd/MM/yyyy HH:mm')}">Data</td>
												<td class="text-left" ><span class="label label-info" th:text="${obj.ultimoHistoricoOrdemServico.ordemServicoStatus.nome}">Status</span></td>
												<td class="text-right">
													<a th:href="@{/ordemservico/ficha/{id}(id = ${obj.id})}" class="btn btn-simple btn-warning btn-icon edit"
														rel="tooltip" title="Visualizar Informações"> <i class="material-icons">assignment</i>
													</a>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>

		<div class="col-lg-6 col-md-6 col-sm-6">
			<div class="row  border-bottom white-bg dashboard-header">
				<div class="card card-stats">
					<div class="card-header card-header-icon" data-background-color="default">
						Últimas Solicitações
					</div>
					<br />
					<div class="card-content " style="height: auto !important;" >
				
						<div class="material-datatables ">
							<table id="datatables" class="table table-striped table-no-bordered table-hover datatabless" cellspacing="0"  width="100%" style="width:100%">
								<thead>
									<tr>
										<th>#</th>
										<th>Priori</th>
										<th>Tipo</th>
										<th>Data</th>
										<th>Status</th>
										<th class="disabled-sorting text-right">Ação</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="obj,iterationStatus : ${listOs}">								
										<td th:text="${obj.protocolo}">cont</td>
										<td ><span class="label label-danger" th:text="${obj.emergencia}?'EMERG.':''">3</span></td>
										<td class="text text-left" th:text="${obj.tipoOrdemServico.nome}">tipo</td>
										<td  class="text text-left" th:text="${#dates.format(obj.UltimoHistoricoOrdemServico.dataInicio, 'dd/MM/yyyy HH:mm')}">Data</td>
										<td class="text-left" >
											<span class="label label-danger" th:text="${obj.emergencia}?'EMERG.':''">3</span>
											<span class="label label-info" th:text="|${obj.UltimoHistoricoOrdemServico.ordemServicoStatus.nome}|">Status</span>
										</td>
										<td>
											<a th:href="@{/ordemservico/ficha/{id}(id = ${obj.id})}" class="btn btn-simple btn-warning"> 
												<i class="material-icons">assignment</i>
											</a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</body>
</html>