<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:data="http://www.thymeleaf.org/extras/data" >
<head>
</head>
<body>

	<div class="row">
		<div class="col-lg-3 col-md-6 col-sm-6">
			<div class="card card-stats">
				<div class="card-header card-header-icon" data-background-color="orange">
					<i class="material-icons">business</i>
				</div>
				<div class="card-content" style="height: 100px !important;">
					<p class="category">Condomínios</p>
					<a th:href="@{/condominio/listar}" th:utext="|<p class=category > Total ${quantCondominios}</p>|"> </a>
				</div>
				<div class="card-footer">
					<div class="stats">
						<i class="material-icons">business</i> <a class="category" th:href="@{/condominio/gerenciar}">Adicionar Condomínios</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-3 col-md-6 col-sm-6">
			<div class="card card-stats">
				<div class="card-header card-header-icon" data-background-color="blue">
					<i class="material-icons">announcement</i>
				</div>
				<div class="card-content" style="height: 100px !important;">
					<p class="category">Configuração do sistema</p>
				</div>
				<div class="card-footer">
					<div class="stats">
						<i class="material-icons ">announcement</i> <a class="category" th:href="@{/administrador/configurar}">Configurar</a>
					</div>
				</div>
			</div>
		</div>
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="card card-stats">
					<div class="card-header card-header-icon" data-background-color="green">
						<i class="material-icons">people</i>
					</div>
					<div class="card-content" style="height: 100px !important;">
						<p class="category">Gerenciar Funcionários</p>
					</div>
					<div class="card-footer">
						<div class="stats">
							<i class="material-icons">local_offer</i> <a  th:href="@{/empresa/funcionarios}">Gerenciar</a>
						</div>
					</div>
				</div>
			</div>

<!-- 		<div class="col-lg-3 col-md-6 col-sm-6"> -->
<!-- 			<div class="card card-stats"> -->
<!-- 				<div class="card-header card-header-icon" data-background-color="green"> -->
<!-- 					<i class="material-icons">monetization_on</i> -->
<!-- 				</div> -->
<!-- 				<div class="card-content" style="height: 100px !important;"> -->
<!-- 					<p class="category"> -->
<!-- 						11/2017 <br /> Contas -->
<!-- 					</p> -->
<!-- 				</div> -->
<!-- 				<div class="card-footer"> -->
<!-- 					<div class="stats"> -->
<!-- 						<i class="material-icons">local_offer</i> <a id="camera" href="#">Visualizar</a> -->
<!-- 					</div> -->
<!-- 				</div> -->
<!-- 			</div> -->
<!-- 		</div> -->
	</div>


</body>
</html>