<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:data="http://www.thymeleaf.org/extras/data" >
<head>
</head>
<body>

	<div class="row">
	
	<div class="col-md-6">
	
		<div class="col-lg-6">
			<div class="card card-stats">
				<div class="card-header card-header-icon" data-background-color="orange">
					<i class="material-icons">business</i>
				</div>
				<div class="card-content" style="height: 100px !important;">
					<p class="category">Condomínios</p>
					<a th:href="@{/condominio/listar}" th:utext="|<p class=category > Total ${quantCondominios}</p>|"> </a>
				</div>
				<div class="card-footer">
					<div class="stats">
						<i class="material-icons">business</i> <a class="category" th:href="@{/condominio/gerenciar}">incluir </a>
					</div>
				</div>
			</div>
		</div>

			<div class="col-lg-6">
				<div class="card card-stats">
					<div class="card-header card-header-icon" data-background-color="red">
						<i class="material-icons">shopping_cart</i>
					</div>
					<div class="card-content" style="height: 100px !important;">
						<p class="category">Gerenciar Pacote de Serviços</p>
					</div>
					<div class="card-footer">
						<div class="stats">
							<i class="material-icons">local_offer</i> <a  th:href="@{/pacoteservicos}">Gerenciar</a>
						</div>
					</div>
				</div>
			</div>
			
			<div class="col-lg-6">
				<div class="card card-stats">
					<div class="card-header card-header-icon" data-background-color="green">
						<i class="material-icons">people</i>
					</div>
					<div class="card-content" style="height: 100px !important;">
						<p class="category">Gerenciar Funcionários</p>
					</div>
					<div class="card-footer">
						<div class="stats">
							<i class="material-icons">local_offer</i> <a  th:href="@{/empresa/funcionarios}">Gerenciar</a>
						</div>
					</div>
				</div>
			</div>
			
			<div class="col-lg-6">
				<div class="card card-stats">
					<div class="card-header card-header-icon" data-background-color="default">
						<i class="material-icons">check_circle_outline</i>
					</div>
					<div class="card-content" style="height: 100px !important;">
						<p class="category">Gerenciar Perguntas da Avaliação</p>
					</div>
					<div class="card-footer">
						<div class="stats">
							<i class="material-icons">local_offer</i> <a  th:href="@{/perguntaavaliacao}">Gerenciar</a>
						</div>
					</div>
				</div>
			</div>
			
			<div class="col-lg-6">
				<div class="card card-stats">
					<div class="card-header card-header-icon" data-background-color="blue">
						<i class="material-icons">settings</i>
					</div>
					<div class="card-content" style="height: 100px !important;">
						<p class="category">Gerenciar Tipos de OS</p>
					</div>
					<div class="card-footer">
						<div class="stats">
							<i class="material-icons">local_offer</i> <a  th:href="@{/tipoordemservico}">Gerenciar</a>
						</div>
					</div>
				</div>
			</div>
			
			<div class="col-lg-6">
				<div class="card card-stats">
					<div class="card-header card-header-icon" data-background-color="blue">
						<i class="material-icons">work</i>
					</div>
					<div class="card-content" style="height: 100px !important;">
						<p class="category">Gerenciar Profissões</p>
					</div>
					<div class="card-footer">
						<div class="stats">
							<i class="material-icons">local_offer</i> <a  th:href="@{/profissao}">Gerenciar</a>
						</div>
					</div>
				</div>
			</div>
			
		</div>
		
		
		<div class="col-lg-6">
			<div class="row  border-bottom white-bg dashboard-header col-lg-12 col-md-12 col-sm-12">
				<div class="card card-stats">
				<div class="card-header card-header-icon" data-background-color="default">
					Últimas Solicitações
				</div>
					<div class="card-content " style="height: auto !important;" >
					<div class="material-datatables ">
						<table id="datatables" class="table table-striped table-no-bordered table-hover js-tabela-index" cellspacing="0" style="width:100%">
							<thead>
								<tr>
									<th>#</th>
									<th>Tipo</th>
									<th>Data</th>
									<th>Status</th>
									<th class="disabled-sorting text-right">Ação</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="obj,iterationStatus : ${listOs}">
									<td th:utext="|${obj.protocolo}|">cont</td>
									
									<td class="text text-left" th:text="${obj.tipoOrdemServico.nome}">tipo</td>
									<td  class="text text-left" th:text="${#dates.format(obj.UltimoHistoricoOrdemServico.dataInicio, 'dd/MM/yyyy HH:mm')}">Data</td>
									<td class="text-left" >
										<span class="label label-danger" th:text="${obj.emergencia}?'EMERG.':''">3</span>
										<span class="label label-info" th:text="${obj.UltimoHistoricoOrdemServico.ordemServicoStatus.nome}">Status</span>
									</td>
									<td class="text-right">
										<a th:href="@{/ordemservico/ficha/{id}(id = ${obj.id})}" class="btn btn-simple btn-warning btn-icon edit"
											rel="tooltip" title="Visualizar Informações"> <i class="material-icons">assignment</i>
										</a>
									
									</td>
									
								</tr>

							</tbody>
						</table>
					</div>
				</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>