
<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:data="http://www.thymeleaf.org/extras/data" >
<head>

<link rel="stylesheet" th:href="@{/vendors/css/upload.min.css}" />

</head>
<body>

<div class="row">

		<div class="col-md-12">
						<div class="card">
							<div class="card-header card-header-icon" data-background-color="blue">
								<i class="material-icons">home</i>
							</div>
							<div class="card-content">
								<h4 class="card-title" >Minha(s) Unidade(s)</h4>


								<div class="row">

			
									<div class="col-md-6">
			
										<div class="row">
										
												<div class="col-md-5">
													<div class="form-group label-floating">
														<label class="control-label">Condomínio</label> <input type="text" class="form-control" disabled="disabled" placeholder=""
															th:value="|${condominio.pessoaJuridica.nomeFantasia}|"  />
													</div>
												</div>
												<div class="col-md-7">
													<div class="form-group label-floating" rel="tooltip" th:title="|${condominio.todosTelefones}|" >
														<label class="control-label"  >Telefone(s)</label> <input type="text" class="form-control" disabled="disabled" placeholder=""
															th:value="|${condominio.telefones}|"  />
													</div>
												</div>
												<div class="col-md-12">
													<div class="form-group label-floating">
														<label class="control-label">Endereço</label> <input type="text" class="form-control" disabled="disabled" placeholder=""
															th:value="|${condominio.endereco}|" />
													</div>
												</div>
												<div class="col-md-12">
													<div class="form-group label-floating">
														<label class="control-label">Síndico</label> <input type="text" class="form-control" disabled="disabled" placeholder=""
															th:value="|${condominio.sidicoAtual().nome}|" />
													</div>
												</div>
												
										</div>
			
									</div>


								
								<div class="col-md-6">
								
								
											<div class="row">
													<div class="col-md-12">
														<div class="form-group label-floating">
															<label class="control-label">Unidade</label> <input type="text" class="form-control" disabled="disabled" placeholder=""
																th:value="|${unidade.getUnidadeHabitacionalDescricao()}|"  />
														</div>
													</div>
													
												
												<div class="col-md-12" th:each="obj,iterationStatus : ${unidade.listaProprietarioUnidade}" >
												
													<div class="form-group label-floating">
															<label class="control-label" th:text="|${obj.tipoPessoaFisicaUnidade.nome}|" >Prorietário</label> 
															<input type="text" class="form-control" disabled="disabled" placeholder=""
																th:value="|${obj.pessoaFisica.nome} (${obj.parteImovel}%)|"  />
													</div>
												
												</div>
													
											</div>
								
								
								</div>
								
								</div>

								

								<div class="clearfix"></div>

							</div>
						</div>
					</div>
			</div>


</body>
</html>