<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:data="http://www.thymeleaf.org/extras/data" >
<head>
</head>
<body>

	<div class="row">
	
	
		
		
		<div class="col-lg-12">
				<div class="row  border-bottom white-bg dashboard-header col-lg-12 col-md-12 col-sm-12">

					<div class="card card-stats">
					<div class="card-header card-header-icon" data-background-color="default">
						Últimas Solicitações
					</div>
					<div class="card-content " style="height: auto !important;" >
					
					<div class="material-datatables ">

									<table id="datatables" class="table table-striped table-no-bordered table-hover js-tabela-index" cellspacing="0" width="100%" style="width:100%">
										<thead>
											<tr>
												<th>#</th>
												<th>Priori</th>
												<th>Tipo</th>
												<th>Data</th>
												<th>Condominio</th>
												<th>Status</th>
												<th class="disabled-sorting text-right">Ação</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="obj,iterationStatus : ${listOsFuncionario}">
												<td th:utext="|${iterationStatus.count}|">cont</td>
												
												<td ><span class="label label-danger" th:text="${obj.emergencia}?'EMERG.':''">3</span></td>
												<td class="text text-left" th:text="|${obj.tipoOrdemServico.tipoOrdemServicoSubordinacao.nome} / ${obj.tipoOrdemServico.nome}|">tipo</td>
												<td  class="text text-left" th:text="${#dates.format(obj.UltimoHistoricoOrdemServico.dataInicio, 'dd/MM/yyyy HH:mm')}">Data</td>
												
												<td class="text text-left" th:utext="|${obj.condominio.pessoaJuridica.nomeFantasia}|">cont</td>
												
												<td class="text-left" ><span class="label label-info" th:text="|${obj.UltimoHistoricoOrdemServico.ordemServicoStatus.nome}|">Status</span></td>
												<td class="text-right">
													<a th:href="@{/ordemservico/ficha/{id}(id = ${obj.id})}" class="btn btn-simple btn-warning btn-icon edit"
														rel="tooltip" title="Visualizar Informações"> <i class="material-icons">assignment</i>
													</a>
												
												</td>
												
											</tr>

										</tbody>
									</table>
								</div>
					</div>
					</div>
					</div>

				</div>
		
		</div>
					


</body>
</html>