<!DOCTYPE html>
<html xmlns="http://www.w3.org/199/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" th:href="@{/img/cd_logo.png}" />
    <link rel="icon" type="image/png" th:href="@{/img/cd_logo.png}" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Solução para condominios</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <!-- Bootstrap core CSS     -->
    <link th:href="@{assets/css/bootstrap.min.css}" rel="stylesheet" />
    <!--  Material Dashboard CSS    -->
    <link th:href="@{assets/css/material-dashboard.css?v=1.2.0}" rel="stylesheet" />
    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link th:href="@{/assets/css/demo.css}" rel="stylesheet" />
    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <style type="text/css">
    	.img-width{
    		width: 70% !important;
    	}
    	.bkg-black{
    		background-color: black !important;
    	}
    	.full-page:before {
   			 background-color: rgba(0, 0, 0, 0.0); 
		}
    </style>
</head>

<body class="off-canvas-sidebar">
    <nav class="navbar navbar-primary navbar-transparent navbar-absolute">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
        </div>
    </nav>
    <div class="wrapper wrapper-full-page">
       
       
<!--         <div class="full-page login-page" filter-color="blue" >    -->
          <div class="full-page login-page"  th:data-image="@{/assets/img/negocio.png}">             
            <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
            <div class="content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
                            <form th:action="@{/login}" method="POST">
                                <div class="card card-login">
                                    <div class="card-header text-center " data-background-color="white" style="background-color: #F5FBEF;">
                                    	<img th:src="@{/img/cd_escura_lc.png}" class="img-width"/>
                                    </div>
                                    <div class="card-content">                                        
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">assignment_ind</i>
                                            </span>
                                            <div class="form-group label-floating">
                                                <label class="control-label">CPF</label>
                                                <input type="text"   name="username" class="form-control required cpf-mask" maxlength="14" placeholder="123.456.371-20" value="" >
                                            </div>
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">lock_outline</i>
                                            </span>
                                            <div class="form-group label-floating">
                                                <label class="control-label">Senha</label>
                                                <input type="password" id="password" name="password" maxlength="20" value="" placeholder="********" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="footer text-center">
                                        <button type="submit" class="btn btn-warning btn-wd btn-lg">Entrar</button>
                                        <a href="esquecisenha" class="btn btn-rose btn-simple  btn-wd btn-lg">Esqueci a senha</a>
                                    </div>
                                </div>
                                
			                            
                            </form>
                            
                            
                            <div class="alert alert-success alert-with-icon" data-notify="container" th:if="${not #strings.isEmpty(mensagem)}">
								<i class="material-icons" data-notify="icon">check</i>
								<span data-notify="message" th:text="${mensagem}">Mensagem de Sucesso</span>
							</div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <footer class="footer">
                <div class="container">                
                        <script>
//                             document.write(new Date().getFullYear())
                        </script>
<!--                         <a href="http://www.creative-tim.com">Creative Tim</a>, made with love for a better web -->
<!--                     </p> -->
                </div>
            </footer>
        </div>
    </div>
</body>
<!--   Core JS Files   -->
<script th:src="@{/assets/js/jquery-3.2.1.min.js}" type="text/javascript"></script>
<script th:src="@{/assets/js/bootstrap.min.js}" type="text/javascript"></script>
<script th:src="@{/assets/js/material.min.js}" type="text/javascript"></script>
<!-- Library for adding dinamically elements -->
<script th:src="@{/assets/js/arrive.min.js}" type="text/javascript"></script>
<!-- Forms Validations Plugin -->
<script th:src="@{/assets/js/jquery.validate.min.js}"></script>
<!-- mascara -->
		<script th:src="@{/javascripts/mascara-input.js}"></script>
		<script th:src="@{/assets/js/jquery.mask.js}"></script>
<!-- Promise Library for SweetAlert2 working on IE -->
<!-- <script th:src="@{/assets/js/es6-promise-auto.min.js}"></script> -->
<!--  Plugin for Date Time Picker and Full Calendar Plugin-->
<script th:src="@{/assets/js/moment.min.js}"></script>
<!--  Charts Plugin, full documentation here: https://gionkunz.github.io/chartist-js/ -->
<!-- <script th:src="@{/assets/js/chartist.min.js}"></script> -->
<!--  Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
<!-- <script th:src="@{/assets/js/jquery.bootstrap-wizard.js}"></script> -->
<!--  Notifications Plugin, full documentation here: http://bootstrap-notify.remabledesigns.com/    -->
<!-- <script th:src="@{/assets/js/bootstrap-notify.js}"></script> -->
<!--  Plugin for the DateTimePicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
<!-- Vector Map plugin, full documentation here: http://jvectormap.com/documentation/ -->
<!-- Sliders Plugin, full documentation here: https://refreshless.com/nouislider/ -->
<!-- <script th:src="@{/assets/js/nouislider.min.js}"></script> -->

<!-- <script th:src="@{/assets/js/jquery.tagsinput.js}"></script> -->
<!-- Material Dashboard javascript methods -->
<!-- <script src="../../assets/js/material-dashboard.js?v=1.2.0"></script> -->
<!-- Material Dashboard DEMO methods, don't include it in your project! -->
<script th:src="@{/assets/js/demo.js}"></script>

<script type="text/javascript">
    $().ready(function() {
        demo.checkFullPageBackgroundImage();

        setTimeout(function() {
            // after 1000 ms we add the class animated to the login/register card
            $('.card').removeClass('card-hidden');
        }, 700)
    });
</script>

</html>