<script id="foto" type="text/x-handlebars-template">
<div class="fileinput  text-center js-container-foto-brasao"  data-provides="fileinput" data-url-brasao="/foto">
	<div id="upload-drop text-center" >
		<div class=" thumbnail">
				<img src="{{url}}"/>
				</div>
				<a href="#" class="btn btn-danger  js-remove-brasao" data-dismiss="fileinput">
          		<i class="fa fa-times"></i> Remove</a>
 			
		</div>
	</div>

</div>

</script>


