<script id="sem-foto" type="text/x-handlebars-template">

		<div id="upload-drop" >
			   <div class="fileinput-new thumbnail">
			                    <img th:src="@{/assets/img/image_placeholder.jpg}">
			                 </div>
			            <div class="fileinput-preview fileinput-exists thumbnail"></div>
					                            		<span class="btn btn-info btn-file" >
					                            			<span class="fileinput-new ">Logodd</span>
			                                               	<span class="fileinput-exists">Alterar</span>
			                                               	<input id="upload-select" type="file" name="..."  accept=".jpg,.jpeg,.png" />
			                                           	</span>
			                                           	<a href="#" class="btn btn-danger fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times"></i> Remover</a>
	   </div>

</div>

</script>


