<script id="template-autocomplete-visitante" type="text/x-handlebars-template">
	<div >
		<div >
			<span >{{nome}}</span>
			<span ><strong>{{tipopessoa}}</strong></span>
			<span ><strong>{{unidade}}</strong></span>
			<span ><strong>Pessoa que Autorizou</strong></span>
		</div>
		
	</div>
</script>