<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:data="http://www.thymeleaf.org/extras/data" 
	layout:decorator="layout/fragments/LayoutPadrao">
<head>
</head>
<body>
<section layout:fragment="conteudo">
	<div class="row">

		<div class="col-md-5">

			<!-- 		<div class="container-fluid"> -->
			<div class="card">
				<div class="card-header card-header-icon" data-background-color="blue">
					<i class="material-icons">business</i>
				</div>
				<div class="card-content">
					<h4 class="card-title" th:unless="${condominio.novo}">Dados Condomínio</h4>



					<div class="row">
						<div class="col-md-12">
							<div class="form-group label-floating">
								<p class="control-label">CNPJ: <b th:text="${condominio.pessoaJuridica.cnpj}"></b></p>
								<p class="control-label">Nome do Condomínio: <b th:text="${condominio.pessoaJuridica.nomeFantasia}"></p>
								<p class="control-label">Razão Social: <b th:text="${condominio.pessoaJuridica.razaoSocial}"></p>
								<p class="control-label">Endereço: <b th:text="${condominio.endereco}"></b></p>	
								<p class="control-label">Telefone(s): <b th:text="${condominio.telefone1}"></b> &nbsp; <b th:text="${condominio.telefone2}"></b> &nbsp; <b th:text="${condominio.telefone3}"></b>
								</p>
							</div>
						</div>

						
						<div class="col-md-12">
							<div class="form-group ">
						<hr />
								<label class="control-label">Síndico:</label>  
								<a class="text text-info" th:href="@{/sindico/editar/{id}(id=${condominio.pfCondominioSindicoAtual().id})}" th:text="${condominio.sidicoAtual().getNome()}">Alterar</a>
							</div>
						</div>

						<div class="col-md-12">
							<div class="form-group label-floating">
								<label class="control-label">Email(s): <b th:text="${condominio.email1}"></b> &nbsp; <b th:text="${condominio.email2}"></b>
								</label>
							</div>
						</div>
					</div>



				</div>
			</div>

			<div class="card card-stats" th:if="${condominio.condominioPacoteServicoAtivo.pacoteServico}">
				<div class="card-header card-header-icon" data-background-color="purple">
					Pacote Contratado
				</div>
				<div class="card-content">
					
					<p class="category">
					<span th:text="|Visitas Restantes Mês ${mesAnoAtual} (|" ></span>
					<span style="color: red;" th:text="${condominio.condominioPacoteServicoAtivo.pacoteServico.qtdVisitas} - ${#lists.size(listOSMesCondominio)}"></span>
					<span>)</span>
					</p>
					<br />
				</div>
				<div class="card-content" style="text-align: left;">
					<p th:text="|Pacote: ${condominio.condominioPacoteServicoAtivo.pacoteServico.nome}|"></p>
					<p th:text="|Visitas por mês: ${condominio.condominioPacoteServicoAtivo.pacoteServico.qtdVisitas}|"></p>
					<p th:text="|Descrição: ${condominio.condominioPacoteServicoAtivo.pacoteServico.descricao}|"></p>
				</div>
				<div class="card-footer">
					
					&nbsp;
					
				</div>
			</div>
			
			
		</div>

		<div class="col-lg-7 col-md-7 col-sm-7">
			<div class="row  border-bottom white-bg dashboard-header">
				<div class="card card-stats">
					<div class="card-header card-header-icon" data-background-color="red">
						<span th:text="${mesAnoAnterior}">
					</div>
					<br />
					<div class="card-content " style="height: auto !important;" >
				
						<div class="material-datatables ">
							<table id="datatabless" class="table table-striped table-no-bordered table-hover datatabless" cellspacing="0"  width="100%" style="width:100%">
								<thead>
									<tr>
										<th>Número da Os </th>
										<th>Data</th>
										<th>Tipo</th>
										<th>subtipo</th>
										<th>Status</th>
										<th class="disabled-sorting text-right">Ação</th>
									</tr>
								</thead>
								<tbody>
											<tr th:each="obj,iterationStatus : ${listOsAnterior}">								
											<td class="text text-left" th:text="${obj.protocolo}">cont</td>
											<td  class="text text-left" th:text="${#dates.format(obj.HistoricoAberturaOrdemServico.dataInicio, 'dd/MM/yyyy HH:mm')}">Data</td>
											<td class="text text-left" th:text="${obj.tipoOrdemServico.tipoOrdemServicoSubordinacao.nome}">tipo</td>
											<td class="text text-left" th:text="${obj.tipoOrdemServico.nome}">tipo</td>
											<td class="text-left" >
												<span class="label label-danger" th:text="${obj.emergencia}?'EMERG.':''">3</span>
												<span class="label label-info" th:text="|${obj.UltimoHistoricoOrdemServico.ordemServicoStatus.nome}|">Status</span>
											</td>
											<td class="text text-left" ><span class="label label-danger" th:text="${obj.emergencia}?'EMERG.':''">3</span></td>
											<td>
												<a th:href="@{/ordemservico/ficha/{id}(id = ${obj.id})}" class="btn btn-simple btn-warning"> 
													<i class="material-icons">assignment</i>
												</a>
											</td>
										</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>

		<div class="col-lg-7 col-md-7 col-sm-7">
			<div class="row  border-bottom white-bg dashboard-header">
				<div class="card card-stats">
					<div class="card-header card-header-icon" data-background-color=orange>
						<span th:text="${mesAnoAtual}">
					</div>
					<br />
					<div class="card-content " style="height: auto !important;" >
				
						<div class="material-datatables ">
							<table id="datatables" class="table table-striped table-no-bordered table-hover datatabless" cellspacing="0"  width="100%" style="width:100%">
								<thead>
									<tr>
										<th>Número da Os </th>
										<th>Data</th>
										<th>Tipo</th>
										<th>subtipo</th>
										<th>Status</th>
										<th class="disabled-sorting text-right">Ação</th>
									</tr>
								</thead>
								<tbody>
											<tr th:each="obj,iterationStatus : ${listOsAtual}">								
											<td class="text text-left" th:text="${obj.protocolo}">cont</td>
											<td  class="text text-left" th:text="${#dates.format(obj.HistoricoAberturaOrdemServico.dataInicio, 'dd/MM/yyyy HH:mm')}">Data</td>
											<td class="text text-left" th:text="${obj.tipoOrdemServico.tipoOrdemServicoSubordinacao.nome}">tipo</td>
											<td class="text text-left" th:text="${obj.tipoOrdemServico.nome}">tipo</td>
											<td class="text-left" >
												<span class="label label-danger" th:text="${obj.emergencia}?'EMERG.':''">3</span>
												<span class="label label-info" th:text="|${obj.UltimoHistoricoOrdemServico.ordemServicoStatus.nome}|">Status</span>
											</td>
											<td class="text text-left" ><span class="label label-danger" th:text="${obj.emergencia}?'EMERG.':''">3</span></td>
											<td>
												<a th:href="@{/ordemservico/ficha/{id}(id = ${obj.id})}" class="btn btn-simple btn-warning"> 
													<i class="material-icons">assignment</i>
												</a>
											</td>
										</tr>
										</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	   </section>
</body>
</html>