<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:data="http://www.thymeleaf.org/extras/data"
	layout:decorator="layout/fragments/LayoutPadrao">
<head>
<style>
#chartdiv {
  width: 100%;
  height: 100%;
}

</style>
</head>
<body>
<section layout:fragment="conteudo">
	 <div class="content">
             
             
            <div class="row">
            
            <div class="col-lg-4">
					<div class="row  border-bottom white-bg dashboard-header col-lg-12 col-md-12 col-sm-12">
							<div class="card card-stats">
								<div class="card-header card-header-icon" data-background-color="default">
									Tipos de Serviço
								</div>
									<div class="card-content " style="height: auto !important; " >
									<div class="material-datatables ">
										<canvas id="tiposServico"></canvas>
									</div>
								</div>
							</div>
					</div>
			</div>
			
			<div class="col-lg-4">
					<div class="row  border-bottom white-bg dashboard-header col-lg-12 col-md-12 col-sm-12">
							<div class="card card-stats">
								<div class="card-header card-header-icon" data-background-color="default">
									Status por OS (Tempo Real)
								</div>
									<div class="card-content " style="height: auto !important; " >
									<div class="material-datatables ">
										<canvas id="statusOS"></canvas>
									</div>
								</div>
							</div>
					</div>
			</div>
            
            <div class="col-lg-4">
					<div class="row  border-bottom white-bg dashboard-header col-lg-12 col-md-12 col-sm-12">
							<div class="card card-stats">
								<div class="card-header card-header-icon" data-background-color="default">
									Pacote de Serviço
								</div>
									<div class="card-content " style="height: auto !important; " >
									<div class="material-datatables ">
										<canvas id="pacoteServico"></canvas>
									</div>
								</div>
							</div>
					</div>
			</div>
            
            
        </div>
             
             
             
                 
                    <div class="row">
					
						<div class="col-lg-12">
							<div class="row  border-bottom white-bg dashboard-header col-lg-12 col-md-12 col-sm-12">
								<div class="card card-stats">
								<div class="card-header card-header-icon" data-background-color="default">
									Consumo de cotas por condomínio mensal
								</div>
									<div class="card-content "  >
									<div class="material-datatables ">
										<table id="datatables" class="table table-striped table-no-bordered table-hover js-tabela-index" cellspacing="0" width="100%" style="width:100%">
											<thead>
												<tr>
													<th>Condomínio</th>
													<th>Pacote Serviço</th>
													<th>Quantidade OS</th>
													<th>Utilizado</th>
													<th>Mão de Obra</th>
													<th>Material</th>
													<th>Detalhes</th>
												</tr>
											</thead>
											<tbody>
												<tr th:each="obj,iterationStatus : ${listRelatorioConsumoCotasOSDTO}">
													<td class="text text-left" th:text="${obj.nome}">tipo</td>
													<td class="text text-left" th:text="${obj.nomePacoteServico}">tipo</td>
													<td class="text text-left" th:text="${obj.quantidadeVisitas}">tipo</td>
													<td class="text text-left" th:text="${obj.osAberta}">tipo</td>
													<td class="text text-left" th:text="${#numbers.formatCurrency(obj.valorMaodeObra)}">tipo</td>
													<td class="text text-left" th:text="${#numbers.formatCurrency(obj.valorMaterial)}">tipo</td>
													<td class="text text-left" >
													<a th:href="@{/relatorio/condominio/{id}(id=${obj.codigo})}" class="warning edit" rel="tooltip" title="Detalhes Condomínio"> 
													<i class="material-icons">assignment</i>
												</a> 
													</td>
												</tr>
				
											</tbody>
										</table>
									</div>
								</div>
								</div>
							</div>
						</div>
	
                    </div>
                    
                    </div>
       
     </section>
     <section layout:fragment="javascript-extra">
     <script th:src="@{/vendors/js/plugins/chartJs/Chart.min.js}"></script>
<!-- 		<script th:src="@{/vendors/js/Chart.bundle.js}"></script> -->
<!-- 		<script th:src="@{/vendors/js/utils.js}"></script> -->
     
     
        <script th:inline="javascript">
        
     		
     		var tipoServico = [[${tipoServico}]];
     		
     		
	    	
	    	 var nome = [];
 	        var quantidade = [];    	        
 	       var cores = [];
 	       
 	       
//  	      var chartColors = window.chartColors;
// 		    var color = Chart.helpers.color;
 	       
 	       
 	        tipoServico.forEach(function(obj){
 	        	nome.unshift(obj.nome);
 	        	quantidade.unshift(obj.quantidade);
 	        	cores.unshift(obj.cor);
 	        });
 	        
     		
			var tiposServicoPizza = {
				type: 'pie',
				data: {
					datasets: [{
						data: quantidade,
						backgroundColor: cores,
						label: 'Dataset 1'
					}],
					labels: nome
				},
				options: {
					responsive: true
				}
			};
			
			
			var OsPorNatureza = [[${OsPorNatureza}]];
	        
	        var nome2 = [];
	        var quantidade2 = [];
	        var cores2 = [];
	        
	        OsPorNatureza.forEach(function(obj){
	        	nome2.unshift(obj.nome);
	        	quantidade2.unshift(obj.quantidade);
	        	cores2.unshift(obj.cor);
	        });


			var statusOSPizza = {
				type: 'pie',
				data: {
					datasets: [{
						data: quantidade2,
						backgroundColor: cores2,
						label: 'Dataset 2'
					}],
					labels:	nome2
				},
				options: {
					responsive: true
				}
			};
	
			
			var pacote = [[${pacoteServico}]];
	        
	        var nomes = [];
	        var valores = [];
	        var cores = [];
	        
	        pacote.forEach(function(obj){
	        	nomes.unshift(obj.pacoteServico);
	        	valores.unshift(obj.quantidade);
	        	cores.unshift(obj.cor);
	        });
			
			var pacotePizza = {
					type: 'pie',
					data: {
						datasets: [{
							data: valores,
							backgroundColor: cores,
							label: 'Dataset 3'
						}],
						labels: nomes
					},
					options: {
						responsive: true
					}
				};
			
			
			
			window.onload = function() {
				var ctx1 = document.getElementById('tiposServico').getContext('2d');
				window.myPie2 = new Chart(ctx1, tiposServicoPizza);
				var ctx2 = document.getElementById('statusOS').getContext('2d');
				new Chart(ctx2, statusOSPizza);
				var ctx3 = document.getElementById('pacoteServico').getContext('2d');
				new Chart(ctx3, pacotePizza);
				//var ctx4 = document.getElementById('gratificacoes').getContext('2d');
				//new Chart(ctx4, gratificacoes);
			};
        </script>
     
     
     
     
     </section>
             
</body>
</html>