<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:data="http://www.thymeleaf.org/extras/data"
	layout:decorator="layout/fragments/LayoutPadrao">
<head>

	<link rel="stylesheet" th:href="@{/vendors/css/upload.min.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/vendors/css/plugins/sweetalert/sweetalert.css}" />
	<link th:href="@{/vendors/css/plugins/dropzone/basic.css}" rel="stylesheet">
	<link th:href="@{/vendors/css/plugins/dropzone/dropzone.css}" rel="stylesheet">
	
	<style type="text/css">
		.dropzone{
			padding: 6px 20px;
		}
		.cl_emergencia{
			background-color: #FF7F7F !important;
		}
	</style>

</head>
<body>
	<section layout:fragment="conteudo">
		<div class="content">
		
			<form method="POST" th:action="@{/relatoriomensal}" class="form-horizontal">
				<div class="row">
					<div class="col-md-12">
						<div class="card">
							<div class="card-header card-header-icon" data-background-color="orange">
		                        <i class="material-icons">list</i>
		                    </div>
		                    <div class="card-content">
								<h4 class="card-title">Filtro para Relatório</h4>
		                    </div>
		                    
		                    <div class="card-content">
			                    <div class="row">	                 		
			                    	<div class="col-md-3">
			                    		<select class="form-control" name="condominio" data-style="select-with-transition" title="Condomínio" data-size="7">
											<option value="">Selecione o Condomínio</option>
											<option value="0" th:selected="(${condSelecionado}=='0'?'selected':'false')">Todos</option>
											<option th:each="obj : ${listCondominio}" th:value="${obj.id}" 
												th:text="|${obj.pessoaJuridica.nomeFantasia} - ${obj.pessoaJuridica.cnpj}|" th:selected="(${condSelecionado} == ${obj.id})"></option>
										</select>
			                    	</div>
			                    	 <div class="col-md-3">
			                    		<select class="form-control" name="ano" data-style="select-with-transition" title="Ano" data-size="7">
											
											<option value="">Selecione o Ano</option>
											<option value="0" th:selected="(${anoSelecionado}=='0'?'selected':'false')">Todos</option>
											<option value="2019" th:selected="(${anoSelecionado}=='2019'?'selected':'false')">2019</option>
											<option value="2020" th:selected="(${anoSelecionado}=='2020'?'selected':'false')">2020</option>
										</select>
			                    	</div>
			                    	 <div class="col-md-3">
<!-- 			                    		<select class="form-control" name="meses" data-style="select-with-transition" title="Meses do Ano" data-size="7"> -->
<!-- 											<option value="">Selecione o Mês *</option> -->
<!-- 											<option th:each="obj : ${listMeses}" th:value="${obj.id}" th:text="|${obj.nome}|"></option> -->
<!-- 										</select> -->
										<select  class="form-control" name="mes" data-style="select-with-transition" title="Mês" data-size="7">
										    <option selected="selected" value="">Selecione o Mês</option>
										    <option value="0" th:selected="(${mesSelecionado}=='0'?'selected':'false')">Todos</option>
											<option th:each="mes : ${listaMesesDoAno}" th:if="${mes.id} != 0" th:value="${mes.id}" 
																th:text="${mes.descricao}" th:selected="(${mesSelecionado} == ${mes.id})"></option>
										</select>
			                    	</div>
<!-- 			                    	<div class="col-md-3"> -->
<!-- 			                    		<select class="form-control" name="status" data-style="select-with-transition" title="Status da OS" data-size="7"> -->
<!-- 											<option value="">Selecione o status da OS *</option> -->
<!-- 											<option th:each="obj : ${listOrdemServicoStatus}" th:value="${obj.id}" th:text="|${obj.nome}|" th:selected="(${status} == ${obj.id})"></option> -->
<!-- 										</select> -->
<!-- 			                    	</div> -->
			                    	<div class="col-md-1">
										<button type="submit" class="btn btn-success btn-primary" data-dismiss="modal">Buscar</button>
									</div>
			                   	</div>
		                   	</div>
		            	</div>
		            </div>
		        </div>
			</form>
			
			
<!-- 			GRAFICOS -->
			<div class="row">
            
	            <div class="col-lg-4">
						<div class="row  border-bottom white-bg dashboard-header col-lg-12 col-md-12 col-sm-12">
								<div class="card card-stats">
									<div class="card-header card-header-icon" data-background-color="default">
										Quantidade de Os
									</div>
										<div class="card-content " style="height: auto !important; " >
										<div class="material-datatables ">
											<canvas id="tiposServico"></canvas>
										</div>
									</div>
								</div>
						</div>
				</div>
			
				<div class="col-lg-4">
						<div class="row  border-bottom white-bg dashboard-header col-lg-12 col-md-12 col-sm-12">
								<div class="card card-stats">
									<div class="card-header card-header-icon" data-background-color="default">
										Status por OS
									</div>
										<div class="card-content " style="height: auto !important; " >
										<div class="material-datatables ">
											<canvas id="statusOS"></canvas>
										</div>
									</div>
								</div>
						</div>
				</div>
            
<!-- 	            <div class="col-lg-4"> -->
<!-- 						<div class="row  border-bottom white-bg dashboard-header col-lg-12 col-md-12 col-sm-12"> -->
<!-- 								<div class="card card-stats"> -->
<!-- 									<div class="card-header card-header-icon" data-background-color="default"> -->
<!-- 										Pacote de Serviço -->
<!-- 									</div> -->
<!-- 										<div class="card-content " style="height: auto !important; " > -->
<!-- 										<div class="material-datatables "> -->
<!-- 											<canvas id="pacoteServico"></canvas> -->
<!-- 										</div> -->
<!-- 									</div> -->
<!-- 								</div> -->
<!-- 						</div> -->
<!-- 				</div> -->
            
            
        	</div>
<!-- 			GRAFICOS -->
			

<!-- 		LISTA TOTAL -->   

				<div class="row">
					
						<div class="col-lg-12">
							<div class="row  border-bottom white-bg dashboard-header col-lg-12 col-md-12 col-sm-12">
								<div class="card card-stats">
								<div class="card-header card-header-icon" data-background-color="default">
									Estatísticas de OS do Mês de <span th:text="${mesNome}"></span>
								</div>
									<div class="card-content "  >
									<div class="material-datatables ">
										<table id="datatables" class="table table-striped table-no-bordered table-hover js-tabela-index" cellspacing="0" width="100%" style="width:100%">
											<thead>
												<tr>
													<th>Condomínio</th>
													<th>Pacote Serviço</th>
													<th>Mês/Ano</th>
													<th>Quantidade OS</th>
													<th>Utilizado</th>
													<th>Mão de Obra</th>
													<th>Material</th>
													<th>Detalhes</th>
												</tr>
											</thead>
											<tbody>
												<tr th:each="obj,iterationStatus : ${listRelatorioConsumoCotasOSDTO}">
													<td class="text text-left" th:text="${obj.nome}">tipo</td>
													<td class="text text-left" th:text="${obj.nomePacoteServico}">tipo</td>
													<td class="text text-left" th:text="|${obj.mes}/${obj.ano}|">data</td>
													<td class="text text-left" th:text="${obj.quantidadeVisitas}">tipo</td>
													<td class="text text-left" th:text="${obj.osAberta}">tipo</td>
													<td class="text text-left" th:text="${#numbers.formatCurrency(obj.valorMaodeObra)}">tipo</td>
													<td class="text text-left" th:text="${#numbers.formatCurrency(obj.valorMaterial)}">tipo</td>
													<td class="text text-left" >
													<a th:href="@{/relatorio/condominio/{id}(id=${obj.codigo})}" class="warning edit" rel="tooltip" title="Detalhes Condomínio"> 
													<i class="material-icons">assignment</i>
												</a> 
													</td>
												</tr>
				
											</tbody>
										</table>
									</div>
								</div>
								</div>
							</div>
						</div>
	
                    </div>

<!-- 		LISTA TOTAL -->   



<!-- 		LISTAGEM -->

             <div class="row" th:if="!${#lists.isEmpty(listOrdemServico)}">
                 <div class="col-md-12">
                     <div class="card">
                         <div class="card-header card-header-icon" data-background-color="orange">
                             <i class="material-icons">list</i>
                         </div>
                         
                         <input type="hidden" th:data-url="@{/ordemservico/detalhar/}" class="js-url-detalhar-os"  />
                         
                         <div class="card-content">
                             <h4 class="card-title">Lista </h4>
                             <div class="toolbar">
                             </div>
                             <div class="material-datatables">
                                 <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                                     <thead>
                                         <tr>
                                           	<th>#</th>
											<th>Condomínio</th>
											<th>Tipo de OS</th>
											<th>Status OS</th>
											<th>Data Abertura</th>
											<th>Última Atualização</th>
											<th>Funcionário</th>
											<th class="disabled-sorting text-right" style="width: 100px;" >Ação</th>
                                         </tr>
                                     </thead>  
                                     <tbody>
                                         <tr th:each="obj, iterationStatus : ${listOrdemServico}" >
											<td th:text="${obj.protocolo}" th:id="${obj.id}" class="js-id-td-os">cont</td>
											
											<td>
												<th:block th:if="${obj.emergencia}">
													<span class="label label-danger">EMERG.</span>
												</th:block>
												<span th:text="${obj.condominio.pessoaJuridica.nomeFantasia}"></span></td>
											<td>
												<span th:text="${obj.tipoOrdemServico.tipoOrdemServicoSubordinacao} != null ? |${obj.tipoOrdemServico.tipoOrdemServicoSubordinacao.nome} /|"></span>
												<span th:text="${obj.tipoOrdemServico} != null ? ${obj.tipoOrdemServico.nome}"></span>
											</td>
											
											<td>
												<span th:text="${obj.ultimoHistoricoOrdemServico.ordemServicoStatus.nome}"></span>
												<span th:text="${obj.servicoDescricao} != '' ? '/ ' + ${obj.servicoDescricao} : ''"></span>
											</td>
											
											<td class="td-actions text-left"  >
												<span th:text="${#dates.format(obj.listHistoricoOrdemServico[0].dataInicio,'dd/MM/yyyy')}"></span>
											</td>
											
											<td class="td-actions text-left"  >
												<span th:text="${#dates.format(obj.ultimoHistoricoOrdemServico.dataInicio,'dd/MM/yyyy')}"></span>
											</td>
											
											<td class="td-actions text-left"  >
												<span th:utext="${obj.getNomesResponsavelExecucaoOS()}"></span>
											</td>
											
											<td class="td-actions text-right" style="width: 120px;">
											
												<a th:href="@{/ordemservico/ficha/} + ${obj.id}" class="btn-icon " rel="tooltip" title="" data-original-title="Visualizar Informações">
													<i class="btn btn-round material-icons dp36" style="font-size: 26px;" data-toggle="ModalResponsavel">assignment</i>
												</a>
																								
											</td>
											
										</tr>
                                     </tbody>
                                 </table>
                             </div>
                         </div>
                         
					
						</div>
				
				
                     </div>
<!--                       end card  -->
                 </div>
<!-- 		LISTAGEM -->   


              
                 <!-- end col-md-12 -->
             </div>
             <!-- end row -->
</section>

	<section layout:fragment="javascript-extra">

		<script th:src="@{/vendors/js/plugins/chartJs/Chart.min.js}"></script>


		<script type="text/javascript">
// 			$(document).ready(
// 				function() {
// 					$('#datatables').DataTable(
// 							{
// 								"pagingType" : "full_numbers",
// 								"lengthMenu" : [ [ 10, 25, 50, -1 ],
// 										[ 10, 25, 50, "All" ] ],
// 								responsive : true,
// 								language : {
// 									search : "_INPUT_",
// 									searchPlaceholder : "Localizar",
// 								}

// 							});

// 					var table = $('#datatables').DataTable();

// 						table.on('click', '.edit', function() {
// 						$tr = $(this).closest('tr');

// 						var data = table.row($tr).data();
// 					});

// 					$('.card .material-datatables label').addClass(
// 							'form-group');
// 			});
			

// 			function adicionarCsrfToken(xhr) {
// 				var token = $('input[name=_csrf]').val();
// 				xhr.setRequestHeader('x-csrf-token', token);
// 			}
			
</script>
<script th:inline="javascript">
//        GRAFICOS
     		
     		
//      		grafico de quantidade de os
     		var tipoServico = [[${tipoServico}]];
	    	
	    	 var nome = [];
 	        var quantidade = [];    	        
 	       var cores = [];
 	       
 	       
//  	      var chartColors = window.chartColors;
// 		    var color = Chart.helpers.color;
 	       
 	       
 	        tipoServico.forEach(function(obj){
 	        	nome.unshift(obj.nome+" - "+obj.quantidade);
 	        	quantidade.unshift(obj.quantidade);
 	        	cores.unshift(obj.cor);
 	        });
 	        
     		
			var tiposServicoPizza = {
				type: 'pie',
				data: {
					datasets: [{
						data: quantidade,
						backgroundColor: cores,
						label: 'Dataset 1'
					}],
					labels: nome
				},
				options: {
					responsive: true,
					showAllTooltips: false
				}
			};
//  		grafico de quantidade de os


//      	grafico de status por OS			

			var OsPorNatureza = [[${OsPorNatureza}]];
	        
	        var nome2 = []; 
	        var quantidade2 = [];
	        var cores2 = [];
	        
	        OsPorNatureza.forEach(function(obj){
	        	nome2.unshift(obj.nome+" - "+obj.quantidade);
	        	quantidade2.unshift(obj.quantidade);
	        	cores2.unshift(obj.cor);
	        });


			var statusOSPizza = {
				type: 'pie',
				data: {
					datasets: [{
						data: quantidade2,
						backgroundColor: cores2,
						label: 'Dataset 2'
					}],
					labels: nome2
				},
				options: {
					responsive: true
				}
			};
			

//      	grafico de status por OS



// 			var pacote = [[${pacoteServico}]];
	        
// 	        var nomes = [];
// 	        var valores = [];
// 	        var cores = [];
	        
// 	        pacote.forEach(function(obj){
// 	        	nomes.unshift(obj.pacoteServico);
// 	        	valores.unshift(obj.quantidade);
// 	        	cores.unshift(obj.cor);
// 	        });
			
// 			var pacotePizza = {
// 					type: 'pie',
// 					data: {
// 						datasets: [{
// 							data: valores,
// 							backgroundColor: cores,
// 							label: 'Dataset 3'
// 						}],
// 						labels: nomes
// 					},
// 					options: {
// 						responsive: true
// 					}
// 				};
			
			
			
			window.onload = function() {
				var ctx1 = document.getElementById('tiposServico').getContext('2d');
				window.myPie2 = new Chart(ctx1, tiposServicoPizza);
				var ctx2 = document.getElementById('statusOS').getContext('2d');
				new Chart(ctx2, statusOSPizza);
// 				var ctx3 = document.getElementById('pacoteServico').getContext('2d');
// 				new Chart(ctx3, pacotePizza);
				//var ctx4 = document.getElementById('gratificacoes').getContext('2d');
				//new Chart(ctx4, gratificacoes);
			};
			
			
		</script>

	</section>

</body>
</html>