<div class="material-datatables">



									<table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
										<thead>
											<tr>
												<th>#</th>
												<th>Nome</th>
												<th>Selecionar</th>
											</tr>
										</thead>
										<tbody>
										
										
											<tr th:each="profissao,iterationStatus : ${profissoes}">
												<td th:text="${iterationStatus.count}">cont</td>
												<td th:text="${profissao.nome}">Nome</td>
												<td class="text-left">
													<div class="checkbox">
	                                           			 <label>
	                                                	<input type="checkbox" class="js-chk" th:name="|profi_${profissao.id}|" th:id="${profissao.id}"   > 
	                                           			 </label>
	                                       			 </div>
												
												</td>
											</tr>


										</tbody>
									</table>
								</div>