<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
   xmlns:th="http://www.thymeleaf.org" 
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:data="http://www.thymeleaf.org/extras/data" 
	layout:decorator="layout/fragments/LayoutPadrao">
<head>
</head>
<section layout:fragment="conteudo">
       		<div class="container-fluid">
       		
       		<div class="alert alert-success alert-with-icon" data-notify="container" th:if="${not #strings.isEmpty(mensagem)}">
				<i class="material-icons" data-notify="icon">check</i>
				<button type="button" aria-hidden="true" class="close">
					<i class="material-icons">close</i>
				</button>
				<span data-notify="message" th:text="${mensagem}">Mensagem de Sucesso</span>
			</div>
       		
       		
            	<div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header card-header-icon" th:data-background-color="blue">
                                    <i class="material-icons">pets</i>
                                </div>
                                
                                <div class="card-header card-header-icon pull-right" th:data-background-color="purple">
							<a th:href="@{/tipoanimal/incluir}" rel="tooltip" title="Adicionar novo tipo de animal"> <i class="material-icons">add_circle_outline</i></a>
						</div>
                                
                                
                                <div class="card-content">
                                    <h4 class="card-title">Lista de Tipos de Animais</h4>
                                    <div class="toolbar">
<!--                                                Here you can write extra buttons/actions for the toolbar              -->
                                    </div>
                                    <div class="material-datatables">

										<table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%" >
											<thead>
												<tr>
													<th>#</th>
													<th>Nome</th>
													<th class="disabled-sorting">Ação</th>
												</tr>
											</thead>
<!-- 											<tfoot> -->
<!-- 												<tr > -->
<!-- 													<td>#</td> -->
<!-- 													<td>Nome</td> -->
<!-- 													<td>Síndico</td> -->
<!-- 													<td>Contato</td> -->
<!-- 													<td>Local</td> -->
<!-- 													<td class="text-right">Ação</td> -->
<!-- 												</tr> -->
<!-- 											</tfoot> -->
											<tbody>
												<tr th:each="obj,iterationStatus : ${tipoAnimal}" >
													<td th:text="${iterationStatus.count}" >João</td>
													<td th:text="${obj.nome}" >nome</td>
													<td>
														<a th:href="@{/tipoanimal/editar/{id}(id = ${obj.id})}" class="btn btn-simple btn-warning btn-icon edit" rel="tooltip" title="Editar Informações">
															<i class="material-icons">dvr</i>
														</a> 
														<a href="#" class="btn btn-simple btn-danger btn-icon remove" rel="tooltip" title="Excluir"><i class="material-icons">close</i></a>
													</td>
												</tr>
		
											</tbody>
										</table>
									</div>
                                </div>
                                <!-- end content-->
                            </div>
                            <!--  end card  -->
                        </div>
                        <!-- end col-md-12 -->
                    </div>
                    <!-- end row -->
            </div>
	</section>
	
	
 	<section layout:fragment="javascript-extra">
		<script type="text/javascript">
		    $(document).ready(function() {
		        $('#datatables').DataTable({
		            "pagingType": "full_numbers",
		            "lengthMenu": [
		                [10, 25, 50, -1],
		                [10, 25, 50, "All"]
		            ],
		            responsive: true,
		            language: {
		                search: "_INPUT_",
		                searchPlaceholder: "Localizar",
		            }
		
		        });
		
		
		        var table = $('#datatables').DataTable();
		
		        // Edit record
		        table.on('click', '.edit', function() {
		            $tr = $(this).closest('tr');
		
		            var data = table.row($tr).data();
		          //  alert('You press on Row: ' + data[0] + ' ' + data[1] + ' ' + data[2] + '\'s row.');
		        });
		

		
		        $('.card .material-datatables label').addClass('form-group');
		    });
		</script>
	</section>
	
	
</body>
</html>