<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:data="http://www.thymeleaf.org/extras/data">
<head>

<link rel="stylesheet" th:href="@{/vendors/css/upload.min.css}" />

</head>
<body>

	<div class="row">

		<div class="col-md-8">

			<!-- 		<div class="container-fluid"> -->
			<div class="card">
				<div class="card-header card-header-icon"
					data-background-color="blue">
					<i class="material-icons">business</i>
				</div>
				<div class="card-content">
					<h4 class="card-title" th:unless="${condominio.novo}">Dados
						Condomínio</h4>

					<div class="row">
						<div class="col-md-6">
							<div class="form-group label-floating">
								<label class="control-label">CNPJ :<b
									th:text="${condominio.pessoaJuridica.cnpj}"></b></label>
							</div>
						</div>

						<div class="col-md-6">
							<div class="form-group label-floating">
								<label class="control-label">Nome do Condomínio: <b
									th:text="${condominio.pessoaJuridica.nomeFantasia}"></b></label>
							</div>
						</div>
					</div>


					<div class="row">
						<div class="col-md-6">
							<div class="form-group label-floating">
								<label class="control-label">Razão Social: <b th:text="${condominio.pessoaJuridica.razaoSocial}"></b></label>
							</div>
						</div>

						<div class="col-md-6">
							<div class="form-group label-floating">
								<label class="control-label">Endereço: <b
									th:text="${condominio.endereco}"></b></label>
							</div>
						</div>
					</div>



					<div class="row">
						<div class="col-md-12">
							<div class="form-group label-floating">
								<label class="control-label">Telefone(s): <b
									th:field="${condominio.telefone1}"></b> <b
									th:field="${condominio.telefone2}"></b> <b
									th:field="${condominio.telefone3}"></b>
								</label>
							</div>
						</div>
					</div>


					<div class="row">
						<div class="col-md-12">
							<div class="form-group label-floating">
								<label class="control-label">Email(s): <b
									th:field="${condominio.email1}"></b> <b
									th:field="${condominio.email2}"></b>
								</label>
							</div>
						</div>
					</div>



				</div>
			</div>
			
			
			<div th:replace="/syndic/condominios/formulariocards"></div>

		</div>

		<div class="col-lg-4 col-md-4 col-sm-4">
			<div class="row">
				<div class="row  border-bottom white-bg dashboard-header">
					<div class="col-lg-12 col-md-12 col-sm-12">
					
						<h2>Últimas Solicitações</h2>
						<small>2**** mensagens e <span th:text="${quantAtendimentos}"></span> solicitações.</small>

						<ul class="list-group clear-list m-t">

							<th:block th:each="obj : ${listAtendimentoAberto}">
								<li class="list-group-item">
									<span class="pull-right"> 18/02 12:00 </span> 
									<span th:class="|label label-${obj.cor}|" th:text="${obj.tipoAtendimento.prioridade}">5</span> 
									<span th:text="${obj.tipoAtendimento.nome}"></span> 
								</li>
							</th:block>
						</ul>
					</div>

				</div>
			</div>
		</div>
	</div>


</body>
</html>