<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
   xmlns:th="http://www.thymeleaf.org" 
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:data="http://www.thymeleaf.org/extras/data" >
<head>
</head>
<body>
	 <div class="content">
         <div class="container-fluid">
             <div class="row">
                 <div class="col-md-12">
                     <div class="card">
                         <div class="card-header card-header-icon" data-background-color="orange">
                             <i class="material-icons">list</i>
                         </div>
                         <div class="card-content">
                             <h4 class="card-title">Área de Atuação</h4>
                             <div class="toolbar">
                             </div>
                             <div class="material-datatables">
                                 <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                                     <thead>
                                         <tr>
                                           	<th>#</th>
											<th>Área de Atuação</th>
											<th>Observação</th>
											<th class="disabled-sorting text-right" style="width: 100px;" >Ação</th>
                                         </tr>
                                     </thead>                                    
                                     <tbody>
                                         <tr th:each="obj, iterationStatus : ${listAreaAtuacao}">
											<td th:text="${iterationStatus.count}">cont</td>
											<td th:text="${obj.nome}">obj</td>
											<td th:text="${obj.descricao}">obj</td>
											<td class="td-actions text-right" style="width: 100px;">
												<a th:href="@{/areaatuacao/{id}(id = ${obj.id})}" class="btn btn-warning btn-round edit" rel="tooltip" title="Editar Registro"> 
													<i class="material-icons">create</i>
												</a> 
												<a class="btn btn-danger btn-round btn-excluir" rel="tooltip" title="Excluir Registro" name="excluir" id="excluir" th:data-url="@{/areaatuacao/} + ${obj.id}" th:data-id="${obj.id}" th:data-retorno="@{/areaatuacao}" th:value="${id}"> 
													<i class="material-icons">close</i>
												</a>
											</td>
										</tr>
                                     </tbody>
                                 </table>
                             </div>
                         </div>
                         <!-- end content-->
                     </div>
                     <!--  end card  -->
                 </div>
                 <!-- end col-md-12 -->
             </div>
             <!-- end row -->
         </div>
     </div>
</body>
</html>