/*
#############################
#UTILIDADES
#############################
*/

.erro{
	font-weight:bold;
	color: #FF000;
}

.syndic-required > .control-label:after{
	font-weight:bold;
	content:" *";
}


/* Upload */
.syndic-upload {
	padding: 15px;
	height:auto;
	border: 1px dashed #ddd;
	border-radius: 4px;
	background: #fafafa;
	
	text-align: center;
}

.syndic-upload-form-file {
	display: inline-block;
    vertical-align: middle;
    position: relative;
    overflow: hidden;
    margin-bottom: 1px;
}

.syndic-upload-form-file > input[type=file] {
	position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    opacity: 0;
    cursor: pointer;
    
    font-size: 500px;
}


/*
#############################
#UTILIDADES SIM/NAO
#############################
*/
.onoffswitch {
    position: relative; width: 92px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 26px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 31px; padding: 0; line-height: 31px;
    font-size: 13px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "SIM";
    padding-left: 12px;
    background-color: #31BF92; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "NÃO";
    padding-right: 12px;
    background-color: #FAE1E1; color: #DB9E9E;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 19px; margin: 6px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 57px;
    border: 2px solid #999999; border-radius: 26px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}