<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:data="http://www.thymeleaf.org/extras/data" layout:decorator="layout/fragments/LayoutPadrao">
<head>
</head>
<section layout:fragment="conteudo">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">


					<div class="card">
						<div class="card-header card-header-icon" th:data-background-color="orange">
							<i class="material-icons">assignment</i>
						</div>


						<div class="card-content ">


							<h4 class="card-title">
								Auditoria de Acessos 
							</h4>


							<div class="material-datatables">

									<table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
										<thead>
											<tr>
												<th>#</th>
												<th>Nome</th>
												<th>Login</th>
												<th>Logout</th>
												<th class="disabled-sorting text-right">Ação</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="login,iterationStatus : ${listLogins}">
												<td th:text="${iterationStatus.count}">cont</td>
												<td th:text="${login.pessoaFisica.nome}">noem</td>
												<td th:text="${login.dataLogin}">Data/hora</td>
												<td th:text="${login.dataLogout}">Data/hora</td>
												<td>
												
												
											
												
												</td>
												<td class="text-right">
													<a href="#" class="btn btn-simple btn-warning btn-icon edit"
														rel="tooltip" title="Editar Informações"> <i class="material-icons">assignment</i>
													</a>
												
												</td>
											</tr>


										</tbody>
									</table>
								</div>
								
								<div class="row "><br/>
									<a type="button" class="btn btn-warning pull-right" th:href="@{/}">Voltar </a>
								</div>
						</div>
						<!-- end content-->
					</div>
				</div>
			</div>
			<!--  end card  -->
		</div>
		<!-- end col-md-12 -->
	<!-- end row -->
</section>


<section layout:fragment="javascript-extra">
	<script type="text/javascript">
		$(document).ready(function() {
			$('#datatables').DataTable({
				"pagingType" : "full_numbers",
				"lengthMenu" : [ [ 10, 25, 50, -1 ], [ 10, 25, 50, "All" ] ],
				responsive : true,
				language : {
					search : "_INPUT_",
					searchPlaceholder : "Localizar",
				}

			});

			var table = $('#datatables').DataTable();

			// Edit record
			table.on('click', '.edit', function() {
				$tr = $(this).closest('tr');

				var data = table.row($tr).data();
				//  alert('You press on Row: ' + data[0] + ' ' + data[1] + ' ' + data[2] + '\'s row.');
			});

			$('.card .material-datatables label').addClass('form-group');
		});
	</script>
</section>


</body>
</html>