<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:data="http://www.thymeleaf.org/extras/data" layout:decorator="layout/fragments/LayoutPadrao">
<head>
</head>
<section layout:fragment="conteudo">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">


					<div class="card">
						<div class="card-header card-header-icon" th:data-background-color="orange">
							<i class="material-icons">assignment</i>
						</div>

						<div class="card-header card-header-icon pull-right" th:data-background-color="purple">
							<a th:href="@{/unidade/atendimento/incluir}"> <i rel="tooltip" title="Adicionar Registro" class="material-icons">add_circle_outline</i></a>
						</div>

						<div class="card-content ">


							<div class="alert alert-success alert-dismissable" th:if="${not #strings.isEmpty(mensagem)}">
								<button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
								<i class="fa fa-exclamation-circle fa-lg"></i><span th:text="${mensagem}"> Mensagem de Sucesso</span>
							</div>


<!-- 							<h4 class="card-title"> -->
<!-- 								Lista de Proprietários da <strong class="category" th:text="|${unidade.tipoUnidade.nome} ${unidade.unidadeHabitacional}, ${unidade.enderecoUnidade.descricao} ${unidade.tipoEnderecoUnidade.descricao} - ${condominio.pessoaJuridica.nomeFantasia}  |">Uniade</strong> -->
<!-- 							</h4> -->


							<div class="material-datatables">

									<table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
										<thead>
											<tr>
			                                    <th>Protocolo</th>
												<th>Solicitante</th>                                  
			                                    <th>Tipo de Atendimento</th>
			                                    <th>Abertura</th>	
			                                    <th>Descrição</th>
											</tr>
										</thead>
											<tbody >
			                    				<tr th:each="obj,iterationStatus : ${atendimento}">
				                                    <td th:text="|${obj.protocoloZeros}|"></td>
				                                	<td th:text="${obj.pessoaFisica.nome}"></td>
				                                	<td th:text="${obj.tipoAtendimento.idSubordinacao.nome} + ' - ' + ${obj.tipoAtendimento.nome}"></td>
				                                    <td th:text="${#dates.format(obj.dataCadastro, 'dd-MMM-yyyy')}"></td>
				                                    <td th:text="${obj.descricao}"></td>
				                                </tr>
		                    			</tbody>
									</table>
								</div>								
								
								<div class="row ">
									<div class="col-md-12">
										<a type="button" class="btn btn-warning pull-right" th:href="@{/unidade/editarpormorador}">Voltar </a>
									</div>
								</div>
						</div>
						<!-- end content-->
					</div>
				</div>
			</div>
			<!--  end card  -->
		</div>	
		<!-- end col-md-12 -->		
	<!-- end row -->
	
	
	<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<div class="card">						

						<div class="card-content ">
							<div class="chat-activity-list" th:each="obj,iterationStatus : ${atendimento.listAtendimentoResposta}">
									<th:block th:if="${#authentication.pessoaFisica.id} != ${obj.pessoaFisica.id}">
                    					<div class="chat-element bg-warning">
                        					<a href="#" class="pull-left">
<!--                         							<small class="text-muted" th:text="${#dates.format(obj.dataResposta, 'dd/MM/yyyy')}">Today 4:21 pm - 12.06.2014</small> -->
<!--                             					<img alt="image" class="img-circle" src="img/a2.jpg"> -->
<!--                             					<img alt="image" class="img-circle thumbnail" th:src="@{/foto/FotoFuncionarios/{nome}(nome=${'thumbnail.'+#authentication.pessoaFisica.nomeFoto})}" /> -->
                        					</a>
	                        				<div class="media-body">
<!-- 	                            				<small class="pull-right text-navy">1m ago</small> -->
	                            				<strong th:text="${obj.pessoaFisica.nome}">Mike Smith</strong>
	                            				<p class="m-b-xs" th:text="${obj.resposta}"></p>
	                            				<small class="text-muted" th:text="${#dates.format(obj.dataResposta, 'dd/MM/yyyy')}">Today 4:21 pm - 12.06.2014</small>
	                        				</div>
                    					</div>
                    					<hr />
									</th:block>
									<th:block th:if="${#authentication.pessoaFisica.id} == ${obj.pessoaFisica.id}">
                    					<div class="chat-element right bg-success">
                       						<a href="#" class="pull-right">
<!--                             				<img alt="image" class="img-circle" src="img/a4.jpg"> -->
                        					</a>
                        					<div class="media-body text-right ">
<!--                             					<small class="pull-left">5m ago</small> -->
                            					<strong th:text="${obj.pessoaFisica.nome}">Mike Smith</strong>
                            					<p class="m-b-xs" th:text="${obj.resposta}"></p>
                            					<small class="text-muted" th:text="${#dates.format(obj.dataResposta, 'dd/MM/yyyy')}">Today 4:21 pm - 12.06.2014</small>
                        					</div>
                    					</div>
										<hr />
									</th:block>

                				</div>
                				
                				
               				<div class="chat-form">
	                            <form method="POST" th:object="${atendimentoResposta}" name="form" id="form" th:action="@{/atendimento/resposta}">
	                    			<div class="alert alert-success alert-dismissable" th:if="${not #strings.isEmpty(mensagem)}">
										<button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
										<i class="fa fa-exclamation-circle fa-lg"></i><span th:text="${mensagem}"> Mensagem de Sucesso</span>
									</div>
						
									<div class="alert alert-danger alert-with-icon" data-notify="container" th:if="${#fields.hasAnyErrors()}">
                                        <i class="material-icons" data-notify="icon">notifications</i>
                                        <button type="button" aria-hidden="true" class="close">
                                            <i class="material-icons">close</i>
                                        </button>
                                        
                                        <th:block th:each="erro : ${#fields.detailedErrors()}">
                                        	<span th:text="${erro.message}">Mensagem de erro</span>
                                        </th:block>
                                    </div>
                    			
                    				<input type="hidden" th:field="*{atendimento}">
	                                
	                                <div class="form-group">
	                                    <textarea class="form-control required" aria-required="true" placeholder="Escreva sua mensagem aqui!!!" th:field="*{resposta}"></textarea>
	                                </div>
	                                <div class="text-right">
	                                    <button type="submit" id="btnEnviar" class="btn btn-sm btn-primary m-t-n-xs"><strong>Enviar Mensagem</strong></button>
	                                    <a href="#" id="foo"></a>
	                                </div>
	                            </form>
	                        </div>
			
						</div>
						<!-- end content-->
					</div>
				</div>
			</div>
			<!--  end card  -->
		</div>	
	
	
</section>


<section layout:fragment="javascript-extra">
	<script type="text/javascript">
	
	 $("html, body").animate({ scrollTop: $(document).height() }, 1000);
	
		$(document).ready(function() {
			$('#datatables').DataTable({
				"pagingType" : "full_numbers",
				"lengthMenu" : [ [ 10, 25, 50, -1 ], [ 10, 25, 50, "All" ] ],
				responsive : true,
				language : {
					search : "_INPUT_",
					searchPlaceholder : "Localizar",
				}

			});

			var table = $('#datatables').DataTable();

			// Edit record
			table.on('click', '.edit', function() {
				$tr = $(this).closest('tr');

				var data = table.row($tr).data();
				//  alert('You press on Row: ' + data[0] + ' ' + data[1] + ' ' + data[2] + '\'s row.');
			});

			$('.card .material-datatables label').addClass('form-group');
			
			$("#send").click(function(event){
	            $(event.target).attr('disabled', 'disabled');
	        });

		});
	</script>
</section>


</body>
</html>