
<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:data="http://www.thymeleaf.org/extras/data" layout:decorator="layout/fragments/LayoutPadrao">
<head>

<link rel="stylesheet" th:href="@{/vendors/css/upload.min.css}" />

</head>
<body>
	<section layout:fragment="conteudo">
		<div class="container-fluid">
			
				<div class="row">

					<form method="POST" role="form" th:object="${atendimento}" th:action="@{/unidade/atendimento/incluir}">

						<div class="col-md-12">
							<div class="card">
								<div class="card-header card-header-icon" data-background-color="blue">
									<i class="material-icons">S</i> 
								</div>
								<div class="card-content">
									<h4 class="card-title" th:text="${atendimento.id} == 0 ? 'Solicitar Novo Atendimento' : 'Editar Tipo de Animal'">Incluir Novo Atendimento</h4>

									<div class="alert alert-warning alert-with-icon" data-notify="container" th:if="${#fields.hasAnyErrors()}">
										<i class="material-icons" data-notify="icon">notifications</i>
										<th:block th:each="erro : ${#fields.detailedErrors()}">
											<div>
												<i class="fa fa-exclamation-circle text-info "></i> <b th:text="${erro.message}">Mensagem de erro</b>
											</div>
									</div>

									<input type="hidden" th:field="*{id}" /> 
									<input type="text" th:field="*{unidade}" /> 
									<input type="text" th:field="*{pessoaFisica}" /> 
									
									
									<div class="row">
									
										<div class="col-md-6" syndic:classforerror="tipoAtendimento.idSubordinacao" >
				                    	   	<label  class="control-label">Tipo de Atendimento</label> 
				                    	   	
				 	                    	<select class="form-control atualizar-auto" atualizar="subtipoatendimento" th:field="*{tipoAtendimento.idSubordinacao}">            
					                    		<option value="" selected="selected" >Selecione o Tipo de Atendimento</option>	
				 								<option th:each="tpAtendimento,iterationStatus : ${listTipoAtendimentoPrincipal}" th:value="${tpAtendimento.id}"  th:text="${tpAtendimento.nome}"></option>
				 							</select>
				 						</div>
				 						
				 						<div class="col-md-6 " syndic:classforerror="tipoAtendimento" >
				 							<label  class="control-label">Subtipo de Atendimento</label> 
				 							
				 							<div class="sgp-field-action">
				 								<select class="form-control subtipoatendimento" th:url="@{/unidade/atendimento/listarsubtipoatendimento}" th:Field="*{tipoAtendimento}">
				 									<option value="">Selecione o subtipo</option>
				 									<option th:each="obj : ${subtipoatendimento}" th:value="${obj.id}" th:text="${obj.nome}"></option>
				 								</select>
				 								
				 								<div class="sgp-field-__icon js-img-loading" style="display:none;">
				 									<img th:src="@{/img/mini-loading.gif}" />
												</div>
											</div>
										</div>	
										
<!-- 										<div class="row"> -->
<!-- 	                              	 		<div class="col-md-6" > -->
<!-- 		                                       	<select atualizar="select-cidade" class="form-control atualizar-auto select-uf" data-live-search="true" data-style="select-with-transition" id="estado" title="Estado" th:field="*{cidade.ufe.id}"> -->
<!-- 		                                           	<option value=0 selected="selected">Selecione o Estado</option> -->
<!-- 													<option th:each="uf : ${listaUfs}" th:value="${uf.id}" th:text="${uf.sigla}"></option>                                                        -->
<!-- 		                                       	</select> -->
<!-- 	                                        </div> -->
<!-- 	                                        <div class="col-md-6"> -->
<!-- 	                                        	<select url="/cidade/pesquisarcidades"  class="form-control select-cidade" data-live-search="true" data-style="select-with-transition" title="Cidade" th:field="*{cidade}"> -->
<!-- 	                                            	<option value=0 selected="selected">Selecione a cidade</option> -->
<!-- 	                                                <th:block th:if="*{id}!=0"> -->
<!-- 														<option th:each="cidade : ${listaCidades}" th:value="${cidade.id}" th:text="${cidade.nome}"></option> -->
<!-- 													</th:block> -->
<!-- 	                                            </select> -->
<!-- 	                                        </div> -->
<!-- 										</div> -->

										<div class="col-md-12">
											<div class="form-group label-floating" syndic:classforerror="descricao">
												<label class="control-label">Descrição *</label> 
												<textarea class="form-control required" th:field="*{descricao}" rows="6"></textarea>
											</div>
										</div>
									</div>
									
									<button type="button" onClick="history.back()" class="btn btn-warning pull-right">cancelar </button>
									<button type="submit" class="btn btn-info pull-right">Salvar </button>

									<div class="clearfix"></div>

								</div>
							</div>
						</div>

					</form>
				</div>
				
			</div>
	</section>

	<section layout:fragment="javascript-extra">

		<script th:src="@{/vendors/js/plugins/sweetalert/sweetalert.min.js}"></script>
		<!-- mascara -->
		<script th:src="@{/javascripts/mascara-input.js}"></script>
		<script th:src="@{/assets/js/jquery.mask.js}"></script>
		
		<script th:src="@{/javascripts/combo-atualizar-combo.js}"></script>


	</section>

</body>
</html>