<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:data="http://www.thymeleaf.org/extras/data" layout:decorator="layout/fragments/LayoutPadrao">
<head>
</head>
<section layout:fragment="conteudo">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">


					<div class="card">
						<div class="card-header card-header-icon" th:data-background-color="orange">
							<i class="material-icons">assignment</i>
						</div>

						<div class="card-header card-header-icon pull-right" th:data-background-color="purple">
							<a th:href="@{/unidade/atendimento/incluir}"> <i rel="tooltip" title="Adicionar Registro" class="material-icons">add_circle_outline</i></a>
						</div>

						<div class="card-content ">
							
							<br />
							<br />

							<div class="alert alert-success alert-with-icon" data-notify="container" th:if="${not #strings.isEmpty(mensagem)}">
								<i class="material-icons" data-notify="icon">check</i>
								<button type="button" aria-hidden="true" class="close">
									<i class="material-icons">close</i>
								</button>
								<span data-notify="message" th:text="${mensagem}">Mensagem de Sucesso</span>
							</div>

<!-- 							<h4 class="card-title"> -->
<!-- 								Lista de Proprietários da <strong class="category" th:text="|${unidade.tipoUnidade.nome} ${unidade.unidadeHabitacional}, ${unidade.enderecoUnidade.descricao} ${unidade.tipoEnderecoUnidade.descricao} - ${condominio.pessoaJuridica.nomeFantasia}  |">Uniade</strong> -->
<!-- 							</h4> -->


							<div class="material-datatables">

									<table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
										<thead>
											<tr>
												<th>Protocolo</th>
						                        <th>Nome</th>
						                        <th>Atendimento</th>
						                        <th>Data Cadastro</th>
						                        <th>Descrição</th>
						                        <th>Status</th>
						                        <th>Ação</th>
											</tr>
										</thead>
											<tbody >
			                    				<tr th:each="obj,iterationStatus : ${listAtendimento}">
			                         			<td th:text="|${obj.protocoloZeros}|"></td>
						                        <td th:text="${obj.pessoaFisica.nome}"></td>
						                        <td th:text="|${obj.tipoAtendimento.idSubordinacao.nome}/${obj.tipoAtendimento.nome}|"></td>
						                        <td th:text="${#dates.format(obj.dataCadastro, 'dd/MM/yyyy')}"></td>
						                        <td  th:if="${#strings.length(obj.descricao)}>=30 " ><span th:text="${#strings.substring(obj.descricao,0,30)}" rel="tooltip" th:title="${obj.descricao}" > </span></td>
						                        <td th:if="${#strings.length(obj.descricao)} < 30 " th:text="${obj.descricao}"></td>
						                        <td th:text="${obj.ultimoStatusAtendimento.statusChamado.nome}"></td>
						                        <td>
						                        	&nbsp;
					                        		<a th:href="@{/atendimento/resposta/{idatendimento}(idatendimento = ${obj.id})}" data-toggle="tooltip" data-placement="top" title="Chat"> 
					                        			<i class="material-icons">chat</i>
					                        		</a>												
					                        		&nbsp;
					                        		<a th:href="@{/ordemservico/listar/{idatendimento}(idatendimento = ${obj.id})}" data-toggle="tooltip" data-placement="top" title="Ordem de Serviço"> 
					                        			<i class="material-icons">build</i>
					                        		</a>
					                        		&nbsp;
					                        		<a th:href="@{/atendimento/cancelar/{idatendimento}(idatendimento = ${obj.id})}" data-toggle="tooltip" data-placement="top" title="Cancelar Solicitação"> 
					                        			<i class="material-icons">cancel</i>
					                        		</a>
												</td>
		                    				</tr>
		                    			</tbody>
									</table>
								</div>
								
								<div class="row "><br/>
									<a type="button" class="btn btn-warning pull-right" th:href="@{/unidade/editarpormorador}">Voltar </a>
								</div>
						</div>
						<!-- end content-->
					</div>
				</div>
			</div>
			<!--  end card  -->
		</div>
		<!-- end col-md-12 -->
	<!-- end row -->
</section>


<section layout:fragment="javascript-extra">
	<script type="text/javascript">
		$(document).ready(function() {
			$(function () {
				  $('[data-toggle="tooltip"]').tooltip()
				})
			
			$('#datatables').DataTable({
				"pagingType" : "full_numbers",
				"lengthMenu" : [ [ 10, 25, 50, -1 ], [ 10, 25, 50, "All" ] ],
				responsive : true,
				language : {
					search : "_INPUT_",
					searchPlaceholder : "Localizar",
				}

			});

			var table = $('#datatables').DataTable();

			// Edit record
			table.on('click', '.edit', function() {
				$tr = $(this).closest('tr');

				var data = table.row($tr).data();
				//  alert('You press on Row: ' + data[0] + ' ' + data[1] + ' ' + data[2] + '\'s row.');
			});

			$('.card .material-datatables label').addClass('form-group');
		});
	</script>
</section>


</body>
</html>