<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>

<style>
.preto{
	font-weight: bold;;
	font-size: 25px;
	color:#000000;
}
.laranja{
	font-weight: bold;
	font-size: 25px;
	color: #ff981e;
}
.tudo{
	text-align: center;
	margin-left: 30%;

}

</style>

</head>
<body style="font-family: Arial; font-size: 14px;">


	<table id="tudo" style="border: 0px; width: 640px; height: 480px;">



		<tr>
			<td style="text-align: center;">



				<div>
					<table border="0">
					<tr>
							<td>
							<span class="preto"> CONDOMÍNIO</span> <span class="laranja" >DIRETO</span>
							</td>
						</tr>
						<tr>
							<td><br />
							<br />
								<h2 style="color: #808080" th:text="|Olá ! ${pf.nome}|">Olá,
									WALLACE GOMES DA SILVA</h2> Foi gerada uma senha de acesso para o
								sitema <strong>CONDOMÍNIO DIRETO</strong> <br /> Login: <strong
								style="color: #808080"><span th:text="${email.nome}">gomesw@gmail.com</span></strong>
								<br /> Sua senha: <strong style="color: #808080"><span
									th:text="${senha}">12345678</span></strong> <br /> <br /> Você vai ter o
								papel de : <strong style="color: #808080"><span
									th:text="${funcao}">Assistente</span></strong>

								<p>
									<a style="color: #808080"
										href="http://www.condominiodireto.com.br">http://www.condominiodireto.com.br</a>
								</p>

								<p>Obrigado.</p></td>
						</tr>
						<tr>
							<td><img alt="" width="60px;"
								src="http://www.condominiodireto.com.br/img/cd_clara_lc.png">
							</td>
						</tr>
					</table>
				</div>



			</td>
		</tr>


	</table>



</body>
</html>