<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>

<style>
.preto{
	font-weight: bold;;
	font-size: 25px;
	color:#000000;
}
.laranja{
	font-weight: bold;
	font-size: 25px;
	color: #ff981e;
}
.tudo{
	text-align: center;
	margin-left: 30%;

}

</style>

</head>
<body style="font-family: Arial; font-size: 14px;">
	<table id="tudo" style="border: 0px; width: 640px; height: 480px;">

		<tr>
			<td style="text-align: center;">

				<div>
					<table  id="tudo" style="border: 1px; width: 630px; height: 470px;" >
					<tr>
							<td>
							<span class="preto"> CONDOMÍNIO</span> <span class="laranja" >DIRETO</span>
							</td>
						</tr>
						<tr>
							<td><br />
							<br />
								<h2 style="color: #808080" >Olá,
									</h2> Houve uma movimentação na Ordem de Serviço <span th:text="${ordemServico.protocolo}"></span> <strong>CONDOMÍNIO DIRETO</strong> <br />
									<br /> 
								
							
								<table border="1">
								
								<tr>
									<th>Status</th><th>Início</th><th>Fim</th><th>Tempo Decorrido</th><th>Observações</th>
								</tr>
								
								<tr th:each="obj, iterationStatus : ${ordemServico.listHistoricoOrdemServico}" >
									<td th:text="${iterationStatus.count}">cont</td>
									<td th:text="${obj.ordemServicoStatus.nome}">obj</td>
									<td th:text="${#dates.format(obj.dataInicio, 'dd/MM/yyyy HH:mm')}">obj</td>						
									<td th:text="${#dates.format(obj.dataFim, 'dd/MM/yyyy HH:mm')}">obj</td>
									<td th:text="${obj.getDiferencaData()}">obj</td>
									<td th:text="${obj.descricao}" >obj</td>
								</tr>
								
								</table>

								<p>
									<a style="color: #808080"
										href="http://www.condominiodireto.com.br">http://www.condominiodireto.com.br</a>
								</p>

								<p>Obrigado.</p></td>
						</tr>
						<tr>
							<td><img alt="" width="60px;"
								src="http://www.condominiodireto.com.br/img/cd_clara_lc.png">
							</td>
						</tr>
					</table>
				</div>



			</td>
		</tr>


	</table>



</body>
</html>