


<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
   	xmlns:th="http://www.thymeleaf.org" 
   	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:data="http://www.thymeleaf.org/extras/data" >
	
<head>
<style type="text/css">
.js-sumir{
	display:none;
}
.js-mostrar{
	display:block;
}
</style>

</head>
<body>
<div class="row">
	<div class="col-md-12">
		<div class="timeline-heading">
          	
        </div>
              
        <div class="alert alert-info">
              <span><span th:text="|${ordemServico.condominio.pessoaJuridica.nomeFantasia} - ${ordemServico.tipoOrdemServico.nome}|"></span><b><span th:text="|Status OS - ${ordemServico.ultimoHistoricoOrdemServico.ordemServicoStatus.nome}|"></span></b></span>
          </div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<form>
		
			<div class="alert alert-warning alert-with-icon hidden" data-notify="container">
				<i class="material-icons" data-notify="icon">close</i>
				<button type="button" aria-hidden="true" class="close">
					<i class="material-icons">close</i>
				</button>
				<span data-notify="message" class="js-mensagem-erro"></span>
			</div>
		
			<input type="hidden" id="ordemServico" th:value="${ordemServico.id}" />
			
			<div class="modal-footer">
			
<!-- 				<th:block sec:authorize="hasRole('ROLE_SINDICO')"> -->
<!-- 					<th:block th:if="${ordemServico.ultimoHistoricoOrdemServico.ordemServicoStatus.id} != 4 and ${ordemServico.ultimoHistoricoOrdemServico.ordemServicoStatus.id} != 6 and ${ordemServico.ultimoHistoricoOrdemServico.ordemServicoStatus.id} != 4"> -->
<!-- 						<button type="button" class="btn btn-primary btn-raised js-modal-btn-adicionar-iten" th:url="@{/Anexo/item/adicionar}">Selecionar</button> -->
<!-- 					</th:block> -->
<!-- 				</th:block> -->
			
			</div>
			
					<!-- 1 arquivo -->
					<input type="hidden" class="js-total-permitido-anexo" value="4" />
					
					
					<input type="hidden" class="js-iniciando-upload" th:value="${#lists.size(ordemServico.anexosOrdemServico)}" />
					<!-- TOTAL DE ARQUIVOS PERMITIDOS PARA UPLOAD -->
					<input type="hidden" class="js-url-excluirAnexo" th:data-url="@{/arquivo/anexo/excluir}" value="1" /> 
					<input type="hidden" class="js-diretorioAnexo" id="diretorio" name="diretorio" value="ArquivosOsAnexo" /> 
					<input type="hidden" class="js-idAnexo" th:field="${ordemServico.id}" /> 
					
					<input type="hidden" class="js-nomeArquivoAnexo1" th:field="${ordemServico.anexosOrdemServico[0].nome}" /> 
					<input type="hidden" class="js-contentTypeAnexo1" th:field="${ordemServico.anexosOrdemServico[0].contentType}" />

					<!-- 2 arquivo -->
					<input type="hidden" class="js-nomeArquivoAnexo2" th:field="${ordemServico.anexosOrdemServico[1].nome}" /> 
					<input type="hidden" class="js-contentTypeAnexo2" th:field="${ordemServico.anexosOrdemServico[1].contentType}" />
					
					<!-- 3 arquivo -->
					<input type="hidden" class="js-nomeArquivoAnexo3" th:field="${ordemServico.anexosOrdemServico[2].nome}" /> 
					<input type="hidden" class="js-contentTypeAnexo3" th:field="${ordemServico.anexosOrdemServico[2].contentType}" />
					
					<!-- 4 arquivo -->
					<input type="hidden" class="js-nomeArquivoAnexo4" th:field="${ordemServico.anexosOrdemServico[3].nome}" /> 
					<input type="hidden" class="js-contentTypeAnexo4" th:field="${ordemServico.anexosOrdemServico[3].contentType}" />


					<input type="hidden" class="js-idAnexo1" th:field="${ordemServico.anexosOrdemServico[0].id}" /> 
					<input type="hidden" class="js-idAnexo2" th:field="${ordemServico.anexosOrdemServico[1].id}" /> 
					<input type="hidden" class="js-idAnexo3" th:field="${ordemServico.anexosOrdemServico[2].id}" /> 
					<input type="hidden" class="js-idAnexo4" th:field="${ordemServico.anexosOrdemServico[3].id}" /> 
			
				</form>
		
									<div class="row">
										
										
											
											
											<th:block th:each="anexo,contador : ${ordemServico.anexosOrdemServico}"  th:if="${contador.count}<=4" >
													
												<div  th:class="|col-md-2 col-sm-2 text-center js-arquivo-Anexo${contador.count} ${anexo.id==0 ? 'js-sumir' : 'js-mostrar'}|">
													<span class="bigger-150 bolder"  >Arquivo</span><br /><i class="material-icons">attach_file</i> 
													<span th:class="|js-imagem-anexo${contador.count}|"></span>
													<br /> 
													<a  type="button" href="#" th:data-url="@{/ordemservico/anexo}" th:data-id="${contador.count}" class="btn btn-danger pull-center btn-sm js-btn-excluir-anexo">excluir</a>
												</div>
											
											
												<div th:class="|col-md-2 col-sm-2 pull-left js-upload${contador.count} |" >
													<form th:action="@{/arquivo/anexo}"  th:object="${ordemServico}" class="dropzone" th:id="|arquivoUploadAnexo${contador.count}|" th:name="|arquivoUploadAnexo${contador.count}|">
														<div class="fallback">
															<input name="fileToUpload" type="file" multiple />
														</div>
													</form>
												</div>
											
											</th:block>
											
											
											
										</div>
										
										
										<div class="row"  sec:authorize="hasRole('ROLE_SINDICO') ">
												<div class="col-md-12 col-sm-12 " >
												
														<h4>
															<strong>
															&nbsp;Atenção !</strong> Ao adicionar seu orçamento a empresa executora vai descartar os outros orçamentos, e dar prioridade ao seu para compra de materiais.
														</h4>
														
												
												</div>
										
										</div>
										
									<hr />	
									
									<button type="button" class="btn  btn-primary btn-raised pull-right js-btn-fechar" style="z-index: 100;" data-dismiss="modal">Fechar</button>
	</div>
</div>
<br/>
<script th:src="@{/javascripts/upload-anexos-os.js}"></script>
<script type="text/javascript">




// $(".js-btn-fechar").click(function() {
$('body').on('click', '.js-btn-fechar', function() {
	window.location.reload();
}); 
// $(".js-btn-excluir-Anexo").click(function() {
$('body').on('click', '.js-btn-excluir-Anexo', function() {
	//resetDropZone();
		campo = $(this).attr("data-id");
		nome = $(".js-nomeArquivoAnexo"+campo).val();
		
		id = $(".js-idAnexo"+campo).val();
		

		var parametro = nome;

		$.ajax({
		    url: $(this).attr("data-url")+"/"+parametro,
		    type: "PUT",
		    beforeSend: adicionarCsrfToken,
		    success: function(result) {
		    	
		    	 $(".js-total-permitido-anexo").val(parseInt($(".js-total-permitido-anexo").val())+1);
		    	
		    	$('.js-contentTypeAnexo'+campo).val("");
				$('.js-nomeArquivoAnexo'+campo).val("");
				$('.js-arquivo-Anexo'+campo).hide();
				
				$(".js-upload"+campo).show();
				$(".js-upload"+campo).removeClass("js-sumir");
				
				$(".js-arquivo-Anexo"+campo).addClass("js-sumir");
				$(".js-arquivo-Anexo"+campo).removeClass("js-mostrar");
		    }
		});
		
		
		
}); 

	function adicionarCsrfToken(xhr) {
		var token = $('input[name=_csrf]').val();
		xhr.setRequestHeader('x-csrf-token', token);
	}
</script>
</body>



</html>