


<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
   	xmlns:th="http://www.thymeleaf.org" 
   	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:data="http://www.thymeleaf.org/extras/data" >
	
<head>
<style type="text/css">
.js-sumir{
	display:none;
}
.js-mostrar{
	display:block;
}
</style>

</head>
<body>
<div class="row">
	<div class="col-md-12">
		<div class="timeline-heading">
          	
        </div>
              
        <div class="alert alert-info">
              <span><span th:text="|${ordemServico.condominio.pessoaJuridica.nomeFantasia} - ${ordemServico.tipoOrdemServico.nome}|"></span><b>
              <span th:text="|Status OS - ${ordemServico.ultimoHistoricoOrdemServico.ordemServicoStatus.nome}|"></span></b></span>
          </div>
          
          <b>Fotos Complementares - Obrigatóriamente foto não pode ser Arquivo</b>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<form>
		
			<div class="alert alert-warning alert-with-icon hidden" data-notify="container">
				<i class="material-icons" data-notify="icon">close</i>
				<button type="button" aria-hidden="true" class="close">
					<i class="material-icons">close</i>
				</button>
				<span data-notify="message" class="js-mensagem-erro"></span>
			</div>
		
			<input type="hidden" id="ordemServico" th:value="${ordemServico.id}" />
			
			<div class="modal-footer">
			
			</div>
			
					<!-- 1 arquivo -->
					<input type="hidden" class="js-total-permitido-foto-andamento" value="5" />
					
					
					<input type="hidden" class="js-iniciando-upload" th:value="${#lists.size(ordemServico.fotosAndamentoOs)}" />
					<!-- TOTAL DE ARQUIVOS PERMITIDOS PARA UPLOAD -->
					<input type="hidden" class="js-url-excluir" th:data-url="@{/arquivo/financeiro/excluir}" value="1" /> 
					<input type="hidden" class="js-diretorio" id="diretorio" name="diretorio" value="ArquivosOs" /> 
					<input type="hidden" class="js-id" th:field="${ordemServico.id}" /> 
					
					<input type="hidden" class="js-nomeArquivo1" th:value="${fotos[0].nome}" /> 
					<input type="hidden" class="js-contentType1" th:value="${fotos[0].contentType}" />

					<!-- 2 arquivo -->
					<input type="hidden" class="js-nomeArquivo2" th:value="${fotos[1].nome}" /> 
					<input type="hidden" class="js-contentType2" th:value="${fotos[1].contentType}" /> 
					
					<input type="hidden" class="js-nomeArquivo3" th:value="${fotos[2].nome}" /> 
					<input type="hidden" class="js-contentType3" th:value="${fotos[2].contentType}" /> 
					
					<input type="hidden" class="js-nomeArquivo4" th:value="${fotos[3].nome}" /> 
					<input type="hidden" class="js-contentType4" th:value="${fotos[3].contentType}" /> 
					
					
					
					<input type="hidden" class="js-id1" th:value="${fotos[0].id}" /> 
					<input  type="hidden" class="js-id2" th:value="${fotos[1].id}" />
					<input  type="hidden" class="js-id3" th:value="${fotos[2].id}" />
					<input  type="hidden" class="js-id4" th:value="${fotos[3].id}" />
			
				</form>
		
									<div class="row">
											
											<th:block th:each="anexo,contador : ${fotos}" th:if="${contador.count}<=4"   >
											
													<div  th:class="|col-md-2 col-sm-2 text-center js-arquivo-foto${contador.count} ${anexo.id==0 ? 'js-sumir' : 'js-mostrar'}|">
														<span class="bigger-150 bolder"  >Foto</span><br />
														<span class="bigger-150 bolder">
														<span th:class="|js-imagem-arquivo${contador.count}|"> &nbsp;</span>
										               <img alt="" th:if="${anexo.id!=0}"  style="width: 120px; height: 120px;" th:src="@{/arquivo/arquivoos/{id} (id=${anexo.id})}"></span>
														<br /> 
														<a  type="button" href="#" th:data-url="@{/arquivo/foto/andamento}" th:data-id="${contador.count}" class="btn btn-danger pull-center btn-sm js-btn-excluir-foto">excluir</a>
													</div>
											
											
												<div th:class="|col-md-2 col-sm-2 pull-left js-upload${contador.count} ${anexo.id!=0  ? 'js-sumir' :'js-mostrar'}   |" >
													<!-- th:if="${documento.nome}==null" -->
													<form th:action="@{/arquivo/andamento/os}"  th:object="${ordemServico}" class="dropzone" th:id="|arquivoUploadFotoAndamento${contador.count}|" th:name="|arquivoUploadFotoAndamento${contador.count}|">
														<div class="fallback">
															<input name="fileToUpload" type="file" multiple />
														</div>
													</form>
												</div>
											
											</th:block>
											
											
											
										</div>
										
										
										
									<hr />	
									
									<button type="button" class="btn  btn-primary btn-raised pull-right js-btn-fechar" style="z-index: 100;" data-dismiss="modal">Fechar</button>
	</div>
</div>
<br/>
<script th:src="@{/javascripts/upload-arquivo-foto-andamento.js}"></script>
<script type="text/javascript">




// $(".js-btn-fechar").click(function() {
$('body').on('click', '.js-btn-fechar', function() {
	window.location.reload();
}); 
// $(".js-btn-excluir-orcamento").click(function() {
$('body').on('click', '.js-btn-excluir-foto', function() {
	//resetDropZone();
		campo = $(this).attr("data-id");
		nome = $(".js-nomeArquivo"+campo).val();
		id = $(".js-id"+campo).val();

		var parametro = nome;
	
		$.ajax({
		    url: $(this).attr("data-url")+"/"+parametro,
		    type: "PUT",
		    beforeSend: adicionarCsrfToken,
		    success: function(result) {
				
				$(".js-total-permitido-foto-andamento").val(parseInt($(".js-total-permitido-foto-andamento").val()) + 1);
				
				$('.js-contentType' + campo).val("");
				$('.js-nomeArquivo' + campo).val("");
				$('.js-arquivo-foto' + campo).hide();
				$(".js-upload" + campo).addClass("js-mostrar");
				$(".js-upload" + campo).removeClass("js-sumir");
				$(".js-arquivo-foto" + campo).addClass("js-sumir");
				$(".js-arquivo-foto" + campo).removeClass("js-mostrar");
				
				
		    }
		});
		
		
		
}); 

	function adicionarCsrfToken(xhr) {
		var token = $('input[name=_csrf]').val();
		xhr.setRequestHeader('x-csrf-token', token);
	}
</script>
</body>



</html>