	<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:data="http://www.thymeleaf.org/extras/data" layout:decorator="layout/fragments/LayoutPadrao">
<head>

<link rel="stylesheet" th:href="@{/vendors/css/upload.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/vendors/css/plugins/sweetalert/sweetalert.css}" />
<style type="text/css">

.sumir{
	display: none;
}
</style>
</head>
<body>
	<section layout:fragment="conteudo">
		<div class="container-fluid">
			
			<div class="row">

				<form method="POST" id="form" role="form" th:object="${pessoaJuridicaPessoaFisica}"
						th:action="@{/empresa/funcionario/{id}(id=${pessoaJuridicaPessoaFisica.id})}">

										<input type="hidden" th:field="*{id}"> 
										<input type="hidden" th:field="*{pessoaJuridica}"> 
										<input type="hidden" class="js-pessoa-id" th:field="*{pessoaFisica}"> 


					<div class="col-md-12">
						<div class="alert alert-success alert-with-icon" data-notify="container" th:if="${not #strings.isEmpty(mensagem)}">
                                        <i class="material-icons" data-notify="icon">check</i>
                                        <button type="button" aria-hidden="true" class="close">
                                            <i class="material-icons">close</i>
                                        </button>
                                        <span data-notify="message" th:text="${mensagem}" >Mensagem de Sucesso</span>
                                    </div>
							</div>
						<div class="col-md-8">
						
						
							<div class="card">
								<div class="card-header card-header-icon" data-background-color="blue">
									<i class="material-icons">face</i>
								</div>
								<div class="card-content">
									<h4 class="card-title" th:unless="${pessoaJuridicaPessoaFisica.novo}">Editar Funcionário</h4>
									
									<th:block th:if="${pessoaJuridicaPessoaFisica.novo}">
										<h5 class="card-title"  th:utext="|Incluir Funcionário Para <strong>${pessoaJuridicaPessoaFisica.pessoaJuridica.nomeFantasia}</strong>|">Incluir Funcionario</h5>
										
									</th:block>


									<div class="alert alert-warning alert-with-icon" data-notify="container" th:if="${#fields.hasAnyErrors()}">
										<i class="material-icons" data-notify="icon">notifications</i>
										<th:block th:each="erro : ${#fields.detailedErrors()}">
											<div>
												<i class="fa fa-exclamation-circle text-info "></i> <b th:text="${erro.message}">Mensagem de erro</b>
											</div>
									</div>

									<div class="row">
										<div class="col-md-6 form-group" syndic:classforerror="funcaoPessoaJuridica">
											<select class="form-control" data-style="select-with-transition" title="Cargo do Funcionario" data-size="7" th:field="*{funcaoPessoaJuridica}">
											<option value="">Selecione o cargo do funcionário <star>*</star></option>
												<option th:each="funcao : ${funcoes}" th:value="${funcao.id}" th:text="${funcao.nome}"></option>
											</select>
										</div>
									</div>

								<div class="form-group  col-sm-12  bw-required"	corretor:classforerror="nome">
									<label for="nome" class="control-label">Especialidade(s)</label> 
									
									<div class="card-body">
									
									
										<th:block th:each="profissao,iterationStatus : ${profissoes}" >
											<button type="button" th:class="|btn btn-primary btn-round sumir js-profissao-${profissao.id}|"  >
													<span th:text="${profissao.nome}"></span> 
													<i th:class="|material-icons js-btn-profissao js-btn-${profissao.id}|"  th:data-btn-id="|${profissao.id}|">
																highlight_off
												   </i>
											</button>
										
										</th:block>
										
										<button type="button"  class="btn btn-just-icon btn-round btn-link btn-behance js-btn-icone"	data-toggle="modal" data-target="#exampleModal">
											<i class="material-icons">
												queue
											</i>
										</button>
									</div>
								</div>
								

								<div class="row">
										
										<div class="col-md-12">
											<div class="form-group label-floating" syndic:classforerror="pessoaFisica.nome">
												<label class="control-label">Nome Completo <star>*</star></label> 
												<input type="text" class="form-control required" placeholder=""	th:field="*{pessoaFisica.nome}" />
											</div>
										</div>
	
									</div>

									<div class="row">
										
										<div class="col-md-4">
											<div class="form-group label-floating " syndic:classforerror="inicio" >
												<label class="control-label">Data Início<star>*</star></label> 
												<input type="text" class="form-control datepicker data-mask" th:field="*{inicio}">
											</div>
										</div>
										
										<div class="col-md-4">
											<div class="form-group label-floating" >
												<label class="control-label">Data Fim</label> 
												<input type="text" class="form-control datepicker data-mask" placeholder=""	
												th:field="*{dataFim}">
											</div>
										</div>
										
									</div>

									<div class="row">
									
										<div class="col-md-6">
											<div class="form-group label-floating " syndic:classforerror="pessoaFisica.cpf">
												<label class="control-label">CPF <star>*</star></label> 
												<input type="text"  class="form-control required cpf-mask" placeholder=""	th:field="*{pessoaFisica.cpf}">
											</div>
										</div>
										
										<div class="col-md-3">
											<div class="form-group label-floating " syndic:classforerror="pessoaFisica.dataNascimento" >
												<label class="control-label" >Data Nascimento <star>*</star></label> 
												<input type="text" class="form-control datepicker data-mask" placeholder=""	
												th:field="*{pessoaFisica.dataNascimento}">
											</div>
										</div>
										
										<div class="col-md-3 form-group" syndic:classforerror="pessoaFisica.sexo">
											<select class="form-control" data-style="select-with-transition" data-size="7" th:field="*{pessoaFisica.sexo}">
												<option value="">SEXO <star>*</star></option>
												<option th:each="sex,iterationStatus : ${sexo}" th:value="${sex.id}" th:text="${sex.nome}"></option>
											</select>
										</div>
										
								</div>
								
								<div class="row">
									<div class="col-md-6">
										<input type="hidden" th:field="*{pessoaFisica.emails[0].id}"></input>
											<div class="form-group label-floating" syndic:classforerror="pessoaFisica.emails[0].nome">
												<label class="control-label">E-mail <star>*</star></label> 
												<input type="email"   class="form-control" email="true" 
												th:field="*{pessoaFisica.emails[0].nome}">
											</div>
									</div>
										
<!--                                       <div class="col-md-2"> -->
<!--                                           <div class="form-group label-floating"  syndic:classforerror="pessoaFisica.telefones[0].ddd"> -->
<!--                                               <label class="control-label">DDD<star>*</star></label> -->
<!--                                               <input type="text" class="form-control" maxlength="2" th:field="*{pessoaFisica.telefones[0].ddd}"> -->
<!--                                           </div> -->
<!--                                       </div>     -->
<!--                                       <div class="col-md-4"> -->
<!--                                          	<div class="form-group label-floating"  syndic:classforerror="pessoaFisica.telefones[0].numero" > -->
<!--                                               <label class="control-label">Telefone<star>*</star></label> -->
<!--                                               <input type="text" class="form-control telefone-mask" th:field="*{pessoaFisica.telefones[0].numero}"> -->
<!--                                           </div> -->
<!--                                      </div> -->
                                     
                                     
                                     	<div class="col-md-6">
												<div class="form-group label-floating"
													syndic:classforerror="pessoaFisica.telefones[0].numero">
													<label class="control-label">Telefone</label> <input
														type="text" maxlength="15" size="15"
														class="form-control required telefonecompleto-mask"
														placeholder="" th:field="*{pessoaFisica.telefones[0].numero}">
												</div>
											</div>
                                     
                                      
	                       		</div>

								

								<br/>


								<div class="row "><br/>
								
									<button type="button" onClick="history.back()"	class="btn btn-warning pull-right">Cancelar</button>
									
									<button type="button" class="btn btn-info pull-right btn-danger js-excluir">excluir</button>
									
									<button type="submit" class="btn btn-info pull-right">Salvar</button>
									
									<button th:if="${pessoaJuridicaPessoaFisica.id!=0}" th:data-url="@{/empresa/funcionario/enviarsenha}" type="button" class="btn btn-info pull-right js-gerar-senha">Gerar Senha</button>
								
								</div>
								<div class="clearfix"></div>

								</div>
							</div>
						</div>


						<div class="col-md-4 text-center">
							<div class="card">

								<input type="hidden" class="js-nomeFoto" th:field="*{pessoaFisica.nomeFoto}" /> 
								<input type="hidden" class="js-contentType" th:field="*{pessoaFisica.contentType}" />
								<input type="hidden" class="js-novaFoto" th:field="*{pessoaFisica.novaFoto}" /> 
								<input type="hidden" class="js-urlFoto" value="url" /> 
								<input type="hidden" class="js-id-pessoa" th:field="*{pessoaFisica.id}" /> 
								<input type="hidden" class="js-idcondominio" th:field="*{pessoaJuridica.id}" /> <!-- vai salvar no diretorio HOME/iddocondominio/FotoPessoa/ -->
								<input type="hidden" class="js-diretorio" id="diretorio" name="diretorio"
									value="FotoPessoa" />

								<h6 class="category text-gray">&nbsp;</h6>
								
								<div class="col-md-12 col-sm-12">
									<div id="foto">
										<div class="fileinput fileinput-new text-center js-container-foto" th:attr="data-url=@{/foto}" data-provides="fileinput">
											<div id="upload-drop">
												<div class="fileinput-new thumbnail">
													<img th:src="@{/assets/img/image_placeholder.jpg}">
												</div>
												<div class="fileinput-preview fileinput-exists thumbnail"></div>
												<div>
													<span class="btn btn-info btn-file"> 
													<span class="fileinput-new ">FOTO</span> 
													<span  class="fileinput-exists">Aguarde...</span>
													<input id="upload-select" type="file" name="..."	accept=".jpg,.jpeg,.png" />
													</span> 
												</div>
											</div>
										</div>

									</div>
								</div>
								
							</div>
						</div>
						<input type="hidden" value="" th:field="*{profissoesIds}"  /> 
					</form>
				</div>
			
		</div>


		<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Lista de profissões para seleciona-la</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div th:replace="/syndic/empresa/profissoes"></div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-dismiss="modal">Fechar</button>
					</div>
				</div>
			</div>
		</div>



	</section>

	<section layout:fragment="javascript-extra">
	
	
		<!-- upload de imagens -->
		<script th:src="@{/vendors/js/uikit.min.js}"></script>
		<script th:src="@{/vendors/js/upload.min.js}"></script>
		<script th:src="@{/javascripts/upload-foto.js}"></script>
		<script th:src="@{/vendors/js/plugins/sweetalert/sweetalert.min.js}"></script>
		
	
		<!-- mascara -->
		<script th:src="@{/vendors/js/jquery.maskMoney.min.js}"></script>
		<script th:src="@{/assets/js/jquery.mask.js}"></script>
		<script th:src="@{/javascripts/mascara-input.js}"></script>
		
	
	<script type="text/javascript">
	
    $(document).ready(function() {
    	
    	
    	$(".js-excluir").on("click",function(){
    				
    	        	swal({
    					title: "Atenção!!!",
    					text: "O funcionário será excluído, deseja continuar?",
    					type: "warning",
    					showCancelButton: true,
    					confirmButtonColor: "#DD6B55",
    					confirmButtonText: "Confirmar!",
    					cancelButtonText: "Cancelar!",
    					closeOnConfirm: false,
    					closeOnCancel: true
    				},				
    					//inicio da validação
    					function(isConfirm){
    						if (isConfirm) {
    							$.ajax({  
    								url: "/empresa/funcionario/excluir/"+$(".js-pessoa-id").val(),
    								method: "GET",
    								assync: false,
    								success: function(){
    									window.location.href="/empresa/funcionarios";
    								}
    							})
    						}//fim if isConfirm						
    					}//fim da validação
    				)//fim swal 1
            })
    	
    	var ids = $("#profissoesIds").val().split(",");
    	
    	$(ids).each(function(index, value ) {
			
    		$(".js-profissao-"+value).show(500);
    		$("#"+value).prop( "checked" , true);
    		
		});
		
    	
    	
		$(".js-btn-profissao").click(function() {
			$("#profissoesIds").val("");
			$(".js-profissao-"+$(this).attr("data-btn-id")).hide(500);
				
			$("#"+$(this).attr("data-btn-id")).prop( "checked" , false);
    		
			
			$(".js-chk").each(function() {
				if($(this).is(':checked')){
					$(".js-profissao-"+$(this).attr("id")).show(500);
					
					$("#profissoesIds").val($("#profissoesIds").val()+$(this).attr("id")+",");
				}
				else{
					$(".js-profissao-"+$(this).attr("id")).hide(500);
				}
			});
    		$("#profissoesIds").val($("#profissoesIds").val()+"0");
			
			
		});
    	
    	
    	$(".js-chk").click(function() {
    		
    		$("#profissoesIds").val("");
    		$(".js-chk").each(function() {
				
				if($(this).is(':checked')){
					$(".js-profissao-"+$(this).attr("id")).show(500);
					
					$("#profissoesIds").val($("#profissoesIds").val()+$(this).attr("id")+",");
				}
				else{
					$(".js-profissao-"+$(this).attr("id")).hide(500);
				}
			});
    		$("#profissoesIds").val($("#profissoesIds").val()+"0");
    		
			
		});
    	
 			$(".js-gerar-senha").click(function(){
    		 $("#form").attr("action",$(this).attr("data-url"));
    		 $("#form").submit();
    		 
    		 
    	 });
    	
    	
		//tratamento do label da data que estava bugado com o calendário
		$(".datepicker").blur(function() {
			if ($(this).val() != "") {
				$(this).parent().removeClass("is-empty");
			} else {
				$(this).parent().addClass("is-empty");
			}
		});

		$('.datepicker').datetimepicker({
			format : 'DD/MM/YYYY',
			icons : {
				time : "fa fa-clock-o",
				date : "fa fa-calendar",
				up : "fa fa-chevron-up",
				down : "fa fa-chevron-down",
				previous : 'fa fa-chevron-left',
				next : 'fa fa-chevron-right',
				today : 'fa fa-screenshot',
				clear : 'fa fa-trash',
				close : 'fa fa-remove'
			}
		});

    });
</script>

	</section>

</body>
</html>

