<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:data="http://www.thymeleaf.org/extras/data"
	layout:decorator="layout/fragments/LayoutPadrao">
<head>
</head>
<body>
	<section layout:fragment="conteudo">



		<div class="content">
			<div class="container-fluid"></div>


			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header card-header-icon"
							th:data-background-color="orange">
							<i class="material-icons">view_module</i>
						</div>

						<div class="card-header card-header-icon pull-right"
							th:data-background-color="purple">
							<a href="#"> <i class="material-icons" data-toggle="modal"
								data-target="#ModalEndereco"  rel="tooltip"
												title="Adicionar Registro" >add_circle_outline</i>
							</a>
						</div>

						<div class="card-content">
							<h4 class="card-title">
								Tipos de Endereço do <strong
									th:text="${condominio.pessoaJuridica}==null?' ': ${condominio.pessoaJuridica.nomeFantasia}">Condomínio</strong>
							</h4>
							<div class="toolbar">
								<!--                                                Here you can write extra buttons/actions for the toolbar              -->
							</div>
							<div class="material-datatables">

								<table id="datatables"
									class="table table-condensed table-striped table-no-bordered table-hover"
									cellspacing="0" width="100%" style="width: 100%">
									<thead>
										<tr>
											<th>#</th>
											<th>Descrição</th>
											<th class="disabled-sorting text-right">Ação</th>
										</tr>
									</thead>
									<!-- 											<tfoot> -->
									<!-- 												<tr > -->
									<!-- 													<td>#</td> -->
									<!-- 													<td>Nome</td> -->
									<!-- 													<td>Síndico</td> -->
									<!-- 													<td>Contato</td> -->
									<!-- 													<td>Local</td> -->
									<!-- 													<td class="text-right">Ação</td> -->
									<!-- 												</tr> -->
									<!-- 											</tfoot> -->
									<tbody>
										<tr
											th:each="endereco,iterationStatus : ${condominio.enderecoUnidade}">
											<td th:text="${iterationStatus.count}">#</td>
											<td th:text="${endereco.descricao}">endereco</td>
											<td class="text-right"><a
												th:href="@{/enderecamento/excluir/{id}(id = ${endereco.id})}"
												class="btn btn-sm btn-danger btn-round" rel="tooltip"
												title="Excluir Registro"> <i class="material-icons">close</i>
											</a></td>
										</tr>

									</tbody>
								</table>
							</div>
						</div>

					</div>
				</div>



			</div>
		</div>



		<div class="content">
			<div class="container-fluid"></div>


			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header card-header-icon"
							th:data-background-color="red">
							<i class="material-icons">view_module</i>
						</div>

						<div class="card-header card-header-icon pull-right"
							th:data-background-color="purple">
							<a href="#"> <i class="material-icons" data-toggle="modal"
								data-target="#ModalTipoEndereco" rel="tooltip"
												title="Adicionar Registro">add_circle_outline</i>
							</a>
						</div>

						<div class="card-content">
							<h4 class="card-title">
								Sub - Tipos de Endereço do <strong
									th:text="${condominio.pessoaJuridica.nomeFantasia}">Condomínio</strong>
							</h4>
							<div class="toolbar">
								<!--                                                Here you can write extra buttons/actions for the toolbar              -->
							</div>
							<div class="material-datatables">

								<table id="datatables1"
									class="table table-striped table-no-bordered table-hover table-condensed"
									cellspacing="0" width="100%" style="width: 100%">
									<thead>
										<tr>
											<th>#</th>
											<th>Descrição</th>
											<th class="disabled-sorting text-right">Ação</th>
										</tr>
									</thead>
									<!-- 											<tfoot> -->
									<!-- 												<tr > -->
									<!-- 													<td>#</td> -->
									<!-- 													<td>Nome</td> -->
									<!-- 													<td>Síndico</td> -->
									<!-- 													<td>Contato</td> -->
									<!-- 													<td>Local</td> -->
									<!-- 													<td class="text-right">Ação</td> -->
									<!-- 												</tr> -->
									<!-- 											</tfoot> -->
									<tbody>
										<tr
											th:each="tipo,iterationStatus : ${condominio.tipoEnderecoUnidade}">
											<td th:text="${iterationStatus.count}">#</td>
											<td th:text="${tipo.descricao}">endereco</td>
											<td class="text-right"><a
												th:href="@{/enderecamento/excluirtipo/{id}(id = ${tipo.id})}"
												class="btn btn-sm btn-danger btn-round" rel="tooltip"
												title="Excluir Registro"> <i class="material-icons">close</i>
											</a></td>
										</tr>

									</tbody>
								</table>
							</div>
						</div>

					</div>
				</div>



			</div>
		</div>


		<div class="content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<div class="card">
							<div class="card-header card-header-icon"
								data-background-color="rose">
								<i class="material-icons">view_module</i>
							</div>
							<div class="card-content">
								<h4 class="card-title">
									<strong>Configurando Endereço do Condomínio</strong>
								</h4>

								<span class="category"
									th:text="|${condominio.pessoaJuridica.nomeFantasia} - ${condominio.endereco}|">condominio
								</span><br /> <span class="category"
									th:text="|Contatos: ${condominio.telefone1}  ${condominio.telefone2}  ${condominio.telefone3}|">Contato
								</span><br /> <span class="category"
									th:text="|Síndico: ${condominio.sidicoAtual().nome}|">sindico
								</span> <br />
								<form method="POST" role="form" th:object="${condominio}"
									th:action="@{/}">
									<input type="hidden" class="js-input-codigo-condominio"
										th:value="${condominio.id}">



									<p />
									<div class="row">
										<div class="col-md-10">
											<span class="text">Aqui você pode criar o formato de
												endereçamento que terá no condomínio Ex.: Quadra 3 Conj. A
												onde <b>Quadra 3</b> é o Tipo enquanto<b> Conj. A</b> é o
												Sub-Tipo de endereço desta forma configurar o endereçamento
												que existe no seu condomínio. Posteriormente no cadastro das
												Unidades Habitacionais ultilizar a combinação que desejar.
											</span>
										</div>
									</div>

									<div class="row">
										<div class="col-md-12">
											<br />
											<th:block sec:authorize="hasRole('ROLE_SINDICO') " >
											<a th:href="@{/condominio/editar/{id}(id = ${condominio.id})}"	class="btn btn-warning pull-left">Voltar</a>
											</th:block>
											
										</div>
									</div>

								</form>




								<div class="modal fade" id="ModalEndereco" tabindex="-1"
									role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header">
												<button type="button" class="close js-close-modal"
													data-dismiss="modal" aria-hidden="true">
													<i class="material-icons">clear</i>
												</button>
												<h4 class="modal-title">Cadastro De tipo de Endereço</h4>
											</div>
											<div class="modal-body">
												<div
													class="alert  alert-danger  hidden  js-mensagem-endereco"
													role="alert"></div>
												<form th:action="@{/enderecamento/endereco/novo}">
													<div class="col-md-12">
														<div class="form-group label-floating">
															<label class="control-label">Descrição do Tipo de
																Endereço <star>*</star>
															</label> <input type="text"
																class="form-control required js-input-descricao-endereco"
																placeholder="" />
														</div>
													</div>

													<div class="col-md-12">
														<strong>(Ex.:Quadra 02 ,Rua 4,Conj 30)</strong>
													</div>
												</form>
											</div>
											<div class="modal-footer">
												<button type="button"
													class="btn  btn-primary btn-raised js-modal-endereco-btn-salvar">Salvar</button>
												<button type="button"
													class="btn btn-danger btn-raised js-close-modal-endereco"
													data-dismiss="modal">Fechar</button>
											</div>
										</div>
									</div>
								</div>









								<div class="modal fade" id="ModalTipoEndereco" tabindex="-1"
									role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal"
													aria-hidden="true">
													<i class="material-icons">clear</i>
												</button>
												<h4 class="modal-title">Cadastro De Sub-tipo de
													Endereço</h4>
											</div>
											<div class="modal-body">
												<div
													class="alert  alert-danger  hidden  js-mensagem-tipoendereco"
													role="alert"></div>
												<form role="form"
													th:action="@{/enderecamento/tipoendereco/novo}">
													<div class="col-md-12">
														<div class="form-group label-floating">
															<label class="control-label">Descrição do Sub
																Tipo de Endereço <star>*</star>
															</label> <input type="text"
																class="form-control required js-input-descricao-tipoendereco"
																placeholder="" />
														</div>
													</div>

													<div class="col-md-12">
														<strong>(Ex.:Quadra 02 ,Rua 4,Conj 30)</strong>
													</div>
												</form>
											</div>
											<div class="modal-footer">
												<button type="button"
													class="btn  btn-primary btn-raised js-modal-tipoendereco-btn-salvar">Salvar</button>
												<button type="button"
													class="btn btn-danger btn-raised js-close-modal-tipoendereco"
													data-dismiss="modal">Fechar</button>
											</div>
										</div>
									</div>
								</div>



							</div>


						</div>


					</div>

				</div>

			</div>

		</div>

	</section>


	<section layout:fragment="javascript-extra">
		<script th:src="@{/javascripts/enderecamento.tipo-rapido.js}"></script>
		<script th:src="@{/javascripts/enderecamento.subtipo-rapido.js}"></script>


		<script type="text/javascript">
		    $(document).ready(function() {
// 		        $('#datatables').DataTable({
// 		            "pagingType": "full_numbers",
// 		            "lengthMenu": [
// 		                [10, 25, 50, -1],
// 		                [10, 25, 50, "All"]
// 		            ],
// 		            responsive: true,
// 		            language: {
// 		                search: "_INPUT_",
// 		                searchPlaceholder: "Localizar",
// 		            }
		
// 		        });
		
		
// 		        var table = $('#datatables').DataTable();
		
// 		        // Edit record
// 		        table.on('click', '.edit', function() {
// 		            $tr = $(this).closest('tr');
		
// 		            var data = table.row($tr).data();
// 		          //  alert('You press on Row: ' + data[0] + ' ' + data[1] + ' ' + data[2] + '\'s row.');
// 		        });
		        
		        
		        
		        $('#datatables1').DataTable({
		            "pagingType": "full_numbers",
		            "lengthMenu": [
		                [10, 25, 50, -1],
		                [10, 25, 50, "All"]
		            ],
		            responsive: true,
		            language: {
		                search: "_INPUT_",
		                searchPlaceholder: "Localizar",
		            }
		
		        });
		
		
		        var table = $('#datatables').DataTable();
		
		        // Edit record
		        table.on('click', '.edit', function() {
		            $tr = $(this).closest('tr');
		
		            var data = table.row($tr).data();
		          //  alert('You press on Row: ' + data[0] + ' ' + data[1] + ' ' + data[2] + '\'s row.');
		        });
		

		
		        $('.card .material-datatables label').addClass('form-group');
		    });
		</script>

	</section>

</body>
</html>