	<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:data="http://www.thymeleaf.org/extras/data" layout:decorator="layout/fragments/LayoutPadrao">
<head>

<link rel="stylesheet" th:href="@{/vendors/css/upload.min.css}" />

</head>
<body>
	<section layout:fragment="conteudo">
		<div class="container-fluid">
			
			
			<div class="row">

				<form method="POST" id="form" role="form" th:object="${pessoaFisicaUnidade}"
						th:action="${pessoaFisicaUnidade.id}==0 ? @{/unidade/funcionario/novo} :
						 @{/unidade/funcionario/novo/{id}(id=${pessoaFisicaUnidade.id})}">


										<input type="hidden" th:field="*{id}"> 
										<input type="hidden" th:field="*{unidade}"> 
										<input type="hidden" th:field="*{pessoaFisica}"> 
										<input type="hidden" th:field="*{tipoPessoaFisicaUnidade}"> 
										<input type="hidden" th:field="*{pessoaFisica.pessoaFisicaVeiculo[0].veiculo.id}">


						<div class="col-md-8">
							<div class="card">
								<div class="card-header card-header-icon" data-background-color="blue">
									<i class="material-icons">business</i>
								</div>
								<div class="card-content">
									<h4 class="card-title" th:unless="${pessoaFisicaUnidade.novo}">Editar Funcionário e/ou Prestador de Serviço</h4>
									
									<th:block th:if="${pessoaFisicaUnidade.novo}">
										<h5 class="card-title"  th:utext="|Incluir Editar Funcionário e/ou Prestador de Serviço Para <strong>${pessoaFisicaUnidade.unidade.enderecoUnidade.descricao}
										  ${pessoaFisicaUnidade.unidade.tipoEnderecoUnidade.descricao}
										 
										   ${pessoaFisicaUnidade.unidade.tipoUnidade.nome}
										  
										  ${pessoaFisicaUnidade.unidade.unidadeHabitacional}
										 </strong>|">Incluir Funcionario</h5>
										
									</th:block>


									<div class="alert alert-warning alert-with-icon" data-notify="container" th:if="${#fields.hasAnyErrors()}">
										<i class="material-icons" data-notify="icon">notifications</i>
										<th:block th:each="erro : ${#fields.detailedErrors()}">
											<div>
												<i class="fa fa-exclamation-circle text-info "></i> <b th:utext="${erro.message}">Mensagem de erro</b>
											</div>
									</div>



								<div class="row">

									
									<div class="col-md-12">
											<div class="form-group label-floating" syndic:classforerror="pessoaFisica.nome">
												<label class="control-label">Nome Completo <star>*</star></label> 
												<input type="text" class="form-control required" placeholder=""	th:field="*{pessoaFisica.nome}" />
											</div>
										</div>

								</div>

								<div class="row">
										
										
										<div class="col-md-4">
											<div class="form-group label-floating " syndic:classforerror="dataInicio" >
												<label class="control-label">Data Início<star>*</star></label> 
												<input type="text" class="form-control datepicker data-mask" th:field="*{dataInicio}">
											</div>
										</div>
										
										<div class="col-md-4">
											<div class="form-group label-floating" >
												<label class="control-label">Data Fim</label> 
												<input type="text" class="form-control datepicker data-mask" placeholder=""	
												th:field="*{dataFim}">
											</div>
										</div>
										
										<div class="col-md-4">
											<div class="form-group label-floating " syndic:classforerror="pessoaFisica.cpf">
												<label class="control-label">CPF </label> 
												<input type="text"  class="form-control required cpf-mask" placeholder=""	th:field="*{pessoaFisica.cpf}">
											</div>
										</div>
										
									</div>


									<div class="row">
										
										
										
										<div class="col-md-4">
											<div class="form-group label-floating " syndic:classforerror="pessoaFisica.dataNascimento" >
												<label class="control-label" >Data Nascimento <star>*</star></label> 
												<input type="text" class="form-control datepicker data-mask" placeholder=""	
												th:field="*{pessoaFisica.dataNascimento}">
											</div>
										</div>
										
										<div class="col-md-4 form-group" syndic:classforerror="pessoaFisica.sexo">
											<select class="form-control" data-style="select-with-transition" data-size="7" th:field="*{pessoaFisica.sexo}">
												<option value="">SEXO <star>*</star></option>
												<option th:each="sex,iterationStatus : ${sexo}" th:value="${sex.id}" th:text="${sex.nome}"></option>
											</select>
										</div>
										
										<div class="col-md-4">
										<input type="hidden" th:field="*{pessoaFisica.emails[0].id}"></input>
											<div class="form-group label-floating" syndic:classforerror="pessoaFisica.emails[0].nome">
												<label class="control-label">E-mail </label> 
												<input type="email"   class="form-control" email="true" 
												th:field="*{pessoaFisica.emails[0].nome}">
											</div>
										</div>
								 
										

								</div>
								


									<div class="row">
<!--                                             <div class="col-md-1"> -->
<!--                                                 <div class="form-group label-floating"  syndic:classforerror="pessoaFisica.telefones[0].ddd"> -->
<!--                                                     <label class="control-label">DDD</label> -->
<!--                                                     <input type="text" class="form-control" th:field="*{pessoaFisica.telefones[0].ddd}"> -->
<!--                                                 </div> -->
<!--                                             </div>     -->
<!--                                             <div class="col-md-5"> -->
<!--                                                	<div class="form-group label-floating"  syndic:classforerror="pessoaFisica.telefones[0].numero" > -->
<!--                                                     <label class="control-label">Telefone</label> -->
<!--                                                     <input type="text" class="form-control telefone-mask" th:field="*{pessoaFisica.telefones[0].numero}"> -->
<!--                                                 </div> -->
<!--                                            	</div>  -->
                                           	
                                           	
                                           	<div class="col-md-6">
												<div class="form-group label-floating"
													syndic:classforerror="pessoaFisica.telefones[0].numero">
													<label class="control-label">Telefone</label> <input
														type="text" maxlength="15" size="15"
														class="form-control required telefonecompleto-mask"
														placeholder="" th:field="*{pessoaFisica.telefones[0].numero}">
												</div>
											</div>
                                           	
                                           	
                             		</div>








								<div class="row">
								
								<input type="hidden" class="js-input-veiculo"  th:value="${snveiculo}"  name="snveiculo" id="snveiculo" ></input>
									<div class="col-md-12">
										<br />
										
										<div class="checkbox checkbox-inline">
										<label> 
										<strong>Este Funcionário vai usar veículo para acessar o condomínio?&nbsp;&nbsp;&nbsp;</strong>
										<input type="checkbox" id="1" class="js-chk-veiculo" th:checked="${snveiculo}==1" name="optionsCheckboxes"> Sim
										</label>
									</div>
									</div>
								</div>

<br />

								<div class="row">
									
									<div class="col-md-3 form-group" syndic:classforerror="pessoaFisica.pessoaFisicaVeiculo[0].veiculo.modelo.marca.tipoVeiculo">
													<select class="form-control atualizar-auto  js-select-tipoveiculo " atualizar="select-marca"
														data-style="select-with-transition"  disabled="disabled"
														data-size="7" th:field="*{pessoaFisica.pessoaFisicaVeiculo[0].veiculo.modelo.marca.tipoVeiculo}">
														<option value="">TIPO DE VEÍCULO <star>*</star></option>
														<option th:each="tipo,iterationStatus : ${tipoVeiculo}"
															th:value="${tipo.id}" th:text="${tipo.nome}"></option>
													</select>
												</div>

									<div class="col-md-3">
										<div class="form-group label-floating"
											syndic:classforerror="pessoaFisica.pessoaFisicaVeiculo[0].veiculo.placa">
											<label class="control-label ">Placa </label> <input
												type="text" class="form-control placa-mask js-input-placa" disabled="disabled"
												placeholder=""
												th:field="*{pessoaFisica.pessoaFisicaVeiculo[0].veiculo.placa}" />
										</div>
									</div>
									<div class="col-md-3">
										<div class='form-group input-group date label-floating'
											id='datetimepicker10'
											syndic:classforerror="pessoaFisica.pessoaFisicaVeiculo[0].veiculo.ano">
											<label class="control-label ">Ano </label> <input type="text" disabled="disabled"
												class="form-control js-input-ano ano-mask " maxlength="4"
												placeholder=""
												th:field="*{pessoaFisica.pessoaFisicaVeiculo[0].veiculo.ano}" />
											<span class="input-group-addon"> <span
												class="glyphicon glyphicon-calendar "> </span>
											</span>
										</div>
									</div>


									<div class="col-md-3">
										<div class='form-group input-group date label-floating'
											id='datetimepicker11'
											syndic:classforerror="pessoaFisica.pessoaFisicaVeiculo[0].veiculo.anomodelo">
											<label class="control-label ">Modelo </label> <input
												type="text" class="form-control js-input-modelo  ano-mask" disabled="disabled"
												maxlength="4" placeholder=""
												th:field="*{pessoaFisica.pessoaFisicaVeiculo[0].veiculo.anomodelo}" />
											<span class="input-group-addon"> <span
												class="glyphicon glyphicon-calendar "> </span>
											</span>
										</div>
									</div>


								</div>

									<div class="row">
									
									
									
									
										<div class="col-md-4 form-group"
											syndic:classforerror="pessoaFisica.pessoaFisicaVeiculo[0].veiculo.modelo.marca" >
											<select th:url="@{/marca/pesquisarmarcas}" class="form-control atualizar-auto select-marca js-select-marca" atualizar="select-modelo"
												data-style="select-with-transition" title="MARCA" disabled="disabled"
												data-size="7" th:field="*{pessoaFisica.pessoaFisicaVeiculo[0].veiculo.modelo.marca}">
												<option value="">MARCA<star>*</star></option>
												<option th:each="marca,iterationStatus : ${marcaVeiculo}"
													th:value="${marca.id}" th:text="${marca.nome}"></option>
											</select>
										</div>

										<div class="col-md-4 form-group" syndic:classforerror="pessoaFisica.pessoaFisicaVeiculo[0].veiculo.modelo">
											<select th:url="@{/modelo/pesquisarmodelos}" class="form-control select-modelo js-select-modelo"
												data-style="select-with-transition" title="MODELO" disabled="disabled"
												data-size="7" th:field="*{pessoaFisica.pessoaFisicaVeiculo[0].veiculo.modelo}">
												<option value="">MODELO<star>*</star></option>
												<option th:each="modelo,iterationStatus : ${modeloVeiculo}"
													th:value="${modelo.id}" th:text="${modelo.nome}"></option>
											</select>
										</div>
										
										
										<div class="col-md-4 form-group" syndic:classforerror="pessoaFisica.pessoaFisicaVeiculo[0].veiculo.cor">
											<select  class="form-control js-select-cor"	data-style="select-with-transition" title="Cor" disabled="disabled"
												data-size="7" th:field="*{pessoaFisica.pessoaFisicaVeiculo[0].veiculo.cor}">
												<option value="">COR<star>*</star></option>
												<option th:each="cor,iterationStatus : ${cores}"
													th:value="${cor.id}" th:text="${cor.nome}"></option>
											</select>
										</div>

									</div>



                             		
                             		
                             		

								<div class="row">
									<div class="col-md-12">
										<h4 ><strong>* Atenção</strong></h4>
										<h5 class="description">Esse cadastro vai permitir o acesso do seu funcionário e/ou prestador de serviço na portaria do condomínio conforme, os dias da semana que você escolher</h5>
									</div>
								</div>

								<div class="row "><br/>
									<a type="button" class="btn btn-warning pull-right" th:href="@{/unidade/editar/{id}(id=${pessoaFisicaUnidade.unidade.id})}">cancelar </a>
									<button type="submit" class="btn btn-info pull-right">Salvar</button>
									<button th:if="${pessoaFisicaUnidade.id!=0}" type="button" class="btn btn-info pull-right js-gerar-senha">Gerar Senha</button>
								</div>
								<div class="clearfix"></div>

								</div>
							</div>
						</div>





						<div class="col-md-4 text-center">
							<div class="card">

								<input type="hidden" class="js-nomeFoto" th:field="*{pessoaFisica.nomeFoto}" /> 
								<input type="hidden" class="js-contentType" th:field="*{pessoaFisica.contentType}" />
								<input type="hidden" class="js-novaFoto" th:field="*{pessoaFisica.novaFoto}" /> 
								<input type="hidden" class="js-urlFoto" th:field="${condominio.urlFoto}" /> 
								<input type="hidden" class="js-id-pessoa" th:field="*{pessoaFisica.id}" /> 
								<input type="hidden" class="js-idcondominio" th:field="${condominio.id}" /> <!-- vai salvar no diretorio HOME/iddocondominio/FotoPessoa/ -->
								<input type="hidden" class="js-diretorio" id="diretorio" name="diretorio"
									value="FotoPessoa" />

								<h6 class="category text-gray">&nbsp;</h6>
								
								<div class="col-md-12 col-sm-12">
									<div id="foto">
										<div class="fileinput fileinput-new text-center js-container-foto" th:attr="data-url=@{/foto}" data-provides="fileinput">
											<div id="upload-drop">
												<div class="fileinput-new thumbnail">
													<img th:src="@{/assets/img/image_placeholder.jpg}">
												</div>
												<div class="fileinput-preview fileinput-exists thumbnail"></div>
												<div>
													<span class="btn btn-info btn-file"> 
													<span class="fileinput-new ">FOTO</span> 
													<span  class="fileinput-exists">Aguarde...</span>
													<input id="upload-select" type="file" name="..."	accept=".jpg,.jpeg,.png" />
													</span> 
												</div>
											</div>
										</div>

									</div>
								</div>
								
								
							</div>
						</div>
						
						

					</form>
				</div>
			
			
		</div>
	</section>

	<section layout:fragment="javascript-extra">
	
	
			<!-- upload de imagens -->
		<script th:src="@{/vendors/js/uikit.min.js}"></script>
		<script th:src="@{/vendors/js/upload.min.js}"></script>
		<script th:src="@{/javascripts/upload-foto.js}"></script>
	
	<!-- mascara -->
		<script th:src="@{/javascripts/mascara-input.js}"></script>
		<script th:src="@{/assets/js/jquery.mask.js}"></script>
		
		
		<script th:src="@{/javascripts/combo-atualizar-combo.js}"></script>
	
	<script type="text/javascript">
	
	
	
    $(document).ready(function() {
    	
    	if($(".js-chk-veiculo").is(':checked')){
    		 $(".js-select-marca").prop("disabled", false);
    		 $(".js-select-modelo").prop("disabled", false);
    		 $(".js-select-tipoveiculo").prop("disabled", false);
    		 $(".js-input-placa").prop("disabled", false);
    		 $(".js-input-ano").prop("disabled", false);
    		 $(".js-input-modelo").prop("disabled", false);
    		 $(".js-select-cor").prop("disabled", false);
    	}
    	
    	 $(".js-chk-veiculo").click(function(){
     		
    		 var ids = "";
    		 var cont = 0;
    		 
    		 $('input[type=checkbox]').each(function () {
	  	           if (this.checked) {
	  	        	 	cont++;
	  	           }
    		 });
    		 
    		 if (cont>0) {
    			 $("#1").prop("checked", true);
    		 }
    		 
    		 var cont = 0;
    		 
    		 $('input[type=checkbox]').each(function () {
    	           if (this.checked) {
    	        	   if(cont==0){
    	        		   
    	        		   ids =  $(this).attr("id");
    	        	   }
    	        	   else{
    	        		   ids =  ids+","+$(this).attr("id");
    	        	   }
    	               cont++;
    	               
    	               habilitarCampos();
    	               
    	           }
    	           else{
    	        	   desahabilitarCampos(); 
    	           }
    			});
    		 
    		$(".js-input-veiculo").val(ids);
    		 
    	 });
    	
    	 function habilitarCampos(){
    		 
    		 $(".js-select-marca").prop("disabled", false);
    		 $(".js-select-modelo").prop("disabled", false);
    		 $(".js-select-tipoveiculo").prop("disabled", false);
    		 $(".js-input-placa").prop("disabled", false);
    		 $(".js-input-ano").prop("disabled", false);
    		 $(".js-input-modelo").prop("disabled", false);
    		 $(".js-select-cor").prop("disabled", false);
    		 
    	 }
    	 
    	 function desahabilitarCampos(){
    		 
    		 
    		 $(".js-select-marca").prop("disabled", true);
    		 $(".js-select-modelo").prop("disabled", true);
    		 $(".js-select-tipoveiculo").prop("disabled", true);
    		 $(".js-input-placa").prop("disabled", true);
    		 $(".js-input-ano").prop("disabled", true);
    		 $(".js-input-modelo").prop("disabled", true);
    		 $(".js-select-cor").prop("disabled", true);
    		 
    	 }
    	 
        
    	 $('#datetimepicker10').datetimepicker({
             viewMode: 'years',
             format: 'YYYY'
         });
		 
		 $('#datetimepicker11').datetimepicker({
             viewMode: 'years',
             format: 'YYYY'
         });
		 
		 
		 $(".js-input-placa").keyup(function() {
		
			 $(this).val($(this).val().toUpperCase());
		 
		 });
			
		 
		 $(".js-input-ano").blur(function() {
				if ($(".js-input-ano").val() != "") {
					
					$(".js-input-ano").parent().removeClass("is-empty");
				} else {
					$(".js-input-ano").parent().addClass("is-empty");
				}
			});
		 
		 
		 $(".js-input-modelo").blur(function() {
				if ($(".js-input-modelo").val() != "") {
					
					$(".js-input-modelo").parent().removeClass("is-empty");
				} else {
					$(".js-input-modelo").parent().addClass("is-empty");
				}
			});
		 
		 

		
		

		//tratamento do label da data que estava bugado com o calendário
		$(".datepicker").blur(function() {
			if ($(this).val() != "") {
				$(this).parent().removeClass("is-empty");
			} else {
				$(this).parent().addClass("is-empty");
			}
		});

		$('.datepicker').datetimepicker({
			format : 'DD/MM/YYYY',
			icons : {
				time : "fa fa-clock-o",
				date : "fa fa-calendar",
				up : "fa fa-chevron-up",
				down : "fa fa-chevron-down",
				previous : 'fa fa-chevron-left',
				next : 'fa fa-chevron-right',
				today : 'fa fa-screenshot',
				clear : 'fa fa-trash',
				close : 'fa fa-remove'
			}
		});

    });
</script>

	</section>

</body>
</html>

