<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:data="http://www.thymeleaf.org/extras/data"
	layout:decorator="layout/fragments/LayoutPadrao">
<head>

<link rel="stylesheet" th:href="@{/vendors/css/upload.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/vendors/css/bootstrap-switch.min.css}"/>

</head>
<body>
	<section layout:fragment="conteudo">


			<div class="alert alert-success alert-with-icon"
							data-notify="container" th:if="${not #strings.isEmpty(mensagem)}">
							<i class="material-icons" data-notify="icon">check</i>
							<button type="button" aria-hidden="true" class="close">
								<i class="material-icons">close</i>
							</button>
							<span data-notify="message" th:text="${mensagem}">Mensagem
								de Sucesso</span>
						</div>

		<th:block sec:authorize="hasRole('ROLE_ADMINISTRADOR') || hasRole('ROLE_EMPRESA_ADMINISTRADOR')">
			<div th:replace="/syndic/condominios/formularioadministrador"></div>
		</th:block>

		<th:block sec:authorize="hasRole('ROLE_SINDICO') && !hasRole('ROLE_ADMINISTRADOR')">
			<div th:replace="/syndic/condominios/formulariosindico"></div>
		</th:block>
		
		

	</section>

	<section layout:fragment="javascript-extra">

		<!-- upload de imagens -->
		<script th:src="@{/vendors/js/uikit.min.js}"></script>
		<script th:src="@{/vendors/js/upload.min.js}"></script>
		<script th:src="@{/javascripts/upload-foto.js}"></script>



		<script th:src="@{/vendors/js/plugins/sweetalert/sweetalert.min.js}"></script>
		<!-- mascara -->
		<script th:src="@{/vendors/js/jquery.maskMoney.min.js}"></script>
		<script th:src="@{/javascripts/mascara-input.js}"></script>
		<script th:src="@{/assets/js/jquery.mask.js}"></script>
		
		<script th:src="@{/vendors/js/bootstrap-switch.min.js}"></script>

		<script>
		$('.js-status').bootstrapSwitch();
		</script>

	</section>

</body>
</html>