<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:data="http://www.thymeleaf.org/extras/data">
<head>

<link rel="stylesheet" th:href="@{/vendors/css/upload.min.css}" />

</head>
<body>
		
		

		<div class="row" th:unless="${condominio.novo}">
			<div class="col-lg-12 col-md-12 col-sm-12">

			
				<div class="row">
					<div class="col-lg-4 col-md-4 col-sm-4">
						<div class="card card-stats">
							<div class="card-header card-header-icon"
								data-background-color="blue">
								
								
								<th:block th:if="${condominio.sindico}">
									<th:block th:if="${condominio.sidicoAtual().nomeFoto}!=''">
										<i class="material-icons"> <img
											th:src="@{/foto/FotoPessoa/}+${condominio.id}+'/thumbnail.'+${condominio.sidicoAtual().nomeFoto}" />
										</i>
									</th:block>
									<th:block
										th:unless="${condominio.sidicoAtual().nomeFoto}!=''">
										<i class="material-icons">face</i>
									</th:block>
								</th:block>
								

								<th:block th:unless="${condominio.sindico}">
									<i class="material-icons">face</i>
								</th:block>
							</div>
							
							<div class="card-content" th:if="${condominio.sindico}">
								<p class="category">Síndico Atual</p>
								<br />
								<h4 ><a th:href="@{/sindico/editar/{id}(id=${condominio.pfCondominioSindicoAtual().id})}"
										th:text="${condominio.sidicoAtual().getNome()}"> Alterar </a> </h4>
							</div>
							
							
							<div class="card-content" th:unless="${condominio.sindico}">
								<p class="category">Síndico Atual</p>
								<br />
								<a th:href="@{/sindico/{id}(id=${condominio.id})}"> Incluir Síndico </a>
							</div>
							
							
							
							
							<div class="card-footer" th:if="${condominio.sindico}" >
								<div class="stats">
										
								<i class="material-icons">face</i> <a class="category "
										th:href="@{/sindico/listar/{id}(id=${condominio.id})}">Histórico</a>
										
										&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="material-icons">compare_arrows</i> <a class="category "
										th:href="@{/sindico/{id}(id=${condominio.id})}">Substituir</a>
								</div>
							</div>
							
							
							<div class="card-footer" th:unless="${condominio.sindico}">
								<div class="stats">
									<i class="material-icons">face</i> <a class="category"
										th:href="@{/sindico/{id}(id=${condominio.id})}">Incluir</a>
										
										<span class="pull-right">&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;<i class="material-icons ">list</i> <a class="category "
										th:href="@{/sindico/listar/{id}(id=${condominio.id})}">Listar</a></span>
								</div>
							</div>
						</div>
						
						
					</div>
					
					<div class="col-lg-4 col-md-4 col-sm-4" sec:authorize="hasRole('ROLE_EMPRESA_ADMINISTRADOR') || hasRole('ROLE_EMPRESA_ASSISTENTE')">
						<div class="card card-stats">
							<div class="card-header card-header-icon" data-background-color="">
								<i class="material-icons">card_travel</i>
							</div>
							
							<div class="card-content">
								<p class="category">Pacote Serviço</p>
								<br />								
								<h4 >
									<th:block th:if="${condominio.condominioPacoteServicoAtivo.id} != 0">
										<a th:href="@{/condominio/pacoteservico/editar/{id}(id=${condominio.condominioPacoteServicoAtivo.id})}" th:text="${condominio.condominioPacoteServicoAtivo.pacoteServico.nome}"> Alterar </a> 
									</th:block>
								
									<th:block th:unless="${condominio.condominioPacoteServicoAtivo.id} != 0">
										<a th:href="@{#}"> Sem Pacote de Serviço</a> 
									</th:block>
								</h4>
							</div>
							
							<div class="card-footer">
								<div class="stats">
									<i class="material-icons">card_travel</i> 
									<a class="category" th:href="@{/condominio/pacoteservico/gerenciar/{idCondominio}(idCondominio=${id})}">Configurar</a>
								</div>
							</div>
						</div>
					</div>

				<th:block sec:authorize="hasRole('ROLE_ADMINISTRADOR')">			

		
					<div class="col-lg-4 col-md-4 col-sm-4">
						<div class="card card-stats">
							<div class="card-header card-header-icon"
								data-background-color="red">
								<i class="material-icons">dashboard</i>
							</div>
							<div class="card-content">
								<p class="category">Endereçamento</p>
							</div>
							<br />
							<div class="card-footer">
								<div class="stats">
									<i class="material-icons">dashboard</i> <a class="category"
										th:href="@{/enderecamento/incluir/{id}(id=${id})}">Configurar</a>
								</div>
							</div>
						</div>
					</div>

					<div class="col-lg-4 col-md-4 col-sm-4">
						<div class="card card-stats">
							<div class="card-header card-header-icon"
								data-background-color="orange">
								<i class="material-icons">home</i>
							</div>
							<div class="card-content">
								<p class="category" th:text="|Unidades (${quantUnidades})|">Unidades
									(200)</p>
								<br />
							</div>
							<div class="card-footer">
								<div class="stats">
									<i class="material-icons">home</i> <a
										class="category"
										th:href="@{/unidade/gerenciar/{id}(id=${condominio.id})}">Gerenciar</a>
<!-- 									<span class="text pull-right"> -->
<!-- 										&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <i class="material-icons">find_in_page</i> -->
<!-- 										<a class="category" -->
<!-- 										th:href="@{/unidade/listar/{id}(id=${condominio.id})}">Localizar -->
<!-- 									</a> -->
<!-- 									</span> -->

								</div>
							</div>
						</div>
					</div>

					<div class="col-lg-4 col-md-4 col-sm-4">
						<div class="card card-stats">
							<div class="card-header card-header-icon"
								data-background-color="green">
								<i class="material-icons">group</i>
							</div>
							<div class="card-content">
								<p class="category"
									th:text="|Pessoas nas Unidades (${quantMoradores})|">Moradores
									(200)</p>
								<br />
							</div>
							<div class="card-footer">
								<div class="stats">
									<i class="material-icons">add_circle_outline</i> <a
										class="category"
										th:href="@{/adicionarmoradores/{id}(id=${condominio.id})}">Adicionar</a>
									<span class="text pull-right">
										&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <i class="material-icons">find_in_page</i>
										<a class="category"
										th:href="@{/condominio/listarmoradores/{id}(id=${condominio.id})}">Localizar
									</a>
									</span>

								</div>
							</div>
						</div>
					</div>

					<div class="col-lg-4 col-md-4 col-sm-4">
						<div class="card card-stats">
							<div class="card-header card-header-icon"
								data-background-color="rose">
								<i class="material-icons">group</i>
							</div>
							<div class="card-content">
								<p class="category">Funcionários Condomínio</p>
								<br />
							</div>
							<div class="card-footer">
								<div class="stats">

									<i class="material-icons">face</i> <a class="category"
										th:href="@{/administrador/condominio/funcionario/{id}(id=${condominio.id})}">Adicionar</a>

									<span class="text pull-right">
										&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
										<i class="material-icons">find_in_page</i> <a class="category"
										th:href="@{/administrador/condominio/funcionario/listar/{id}(id=${condominio.id})}">Listar</a>
									</span>

								</div>
							</div>
						</div>
					</div>

					<div class="col-lg-4 col-md-4 col-sm-4">
						<div class="card card-stats">
							<div class="card-header card-header-icon"
								data-background-color="purple">
								<i class="material-icons">notifications</i>
							</div>
							<div class="card-content">
								<p class="category"
									th:text="|Atendimento (${quantAtendimentos})|">Unidades
									(200)</p>
								<br />
							</div>
							<div class="card-footer">
								<div class="stats">
									<span class="text pull-left"> <i class="material-icons">find_in_page</i>
										<a class="category"
										th:href="@{/sindico/atendimento/listar/{id}(id=${condominio.id})}">Listar
									</a>
									</span>
								</div>
							</div>
						</div>
					</div>

					<div class="col-lg-4 col-md-4 col-sm-4">
						<div class="card card-stats">
							<div class="card-header card-header-icon"
								data-background-color="orange">
								<i class="material-icons">directions_car</i>
							</div>
							<div class="card-content">
								<p class="category"
									th:text="|Veículos nas Unidades (${quantVeiculos})|">veiculos
									(200)</p>
								<br />
							</div>
							<div class="card-footer">
								<div class="stats">
									<i class="material-icons">add_circle_outline</i> <a
										class="category"
										th:href="@{/condominio/adicionarveiculo/{id}(id=${condominio.id})}">Adicionar</a>
									<span class="text pull-right">
										&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <i class="material-icons">find_in_page</i>
										<a class="category"
										th:href="@{/condominio/listarveiculos/{id}(id=${condominio.id})}">Localizar
									</a>
									</span>

								</div>
							</div>
						</div>
					</div>


					<div class="col-lg-4 col-md-4 col-sm-4">
						<div class="card card-stats">
							<div class="card-header card-header-icon"
								data-background-color="green">
								<i class="material-icons">cloud_upload</i>
							</div>
							<div class="card-content">
								<p class="category">Divulgar Documentos</p>
								<br />
							</div>
							<div class="card-footer">
								<div class="stats">

									<i class="material-icons">cloud_upload</i> <a class="category"
										th:href="@{/condominio/documentos/{id}(id=${condominio.id})}">publicar</a>

									<span class="text pull-right">
										&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
										<i class="material-icons">find_in_page</i> <a class="category"
										th:href="@{/condominio/documentos/buscar/{id}(id=${condominio.id})}">Listar</a>
									</span>

								</div>
							</div>
						</div>
					</div>

					<div class="col-lg-4 col-md-4 col-sm-4">
						<div class="card card-stats">
							<div class="card-header card-header-icon"
								data-background-color="danger">
								<i class="material-icons">pets</i>
							</div>
							<div class="card-content">
								<p class="category"
									th:text="|Animais nas Unidades (${quantAnimais})|">animais
									(200)</p>
								<br />
							</div>
							<div class="card-footer">
								<div class="stats">
									<i class="material-icons">add_circle_outline</i> <a
										class="category"
										th:href="@{/condominio/animal/{id}(id=${condominio.id})}">Adicionar</a>
									<span class="text pull-right">
										&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <i class="material-icons">find_in_page</i>
										<a class="category"
										th:href="@{/condominio/listaranimais/{id}(id=${condominio.id})}">Localizar
									</a>
									</span>

								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4">
						<div class="card card-stats">
							<div class="card-header card-header-icon" data-background-color="red">
								<i class="material-icons">settings</i>
							</div>
							<div class="card-content">
								<p class="category">Ordem de Serviço</p>
								<br />
							</div>
							<div class="card-footer">
								<div class="stats">
									<i class="material-icons">add_circle_outline</i> 
									<a class="category" th:href="@{/ordemservico/incluir/{id}(id=${condominio.id})}">Nova OS</a> 
									<span class="text pull-right"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <i class="material-icons">find_in_page</i> 
										<a class="category"	th:href="@{/ordemservico/listar/{id}(id=${condominio.id})}">Localizar </a>
									</span>
	
								</div>
							</div>
						</div>
					</div>
				</th:block>
				</div>
				
				
					
			</div>
		</div>


</body>
</html>