
<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:data="http://www.thymeleaf.org/extras/data">
<head>

<link rel="stylesheet" th:href="@{/vendors/css/upload.min.css}" />

</head>
<body>


	<div class="row">
		<div class="col-md-8">
			<form method="POST" role="form" th:object="${condominio}"
				th:action="${condominio.novo} ? @{/condominio/novo} : @{/condominio/novo/{id}(id=${id})}">


				<div class="card">
					<div class="card-header card-header-icon"
						data-background-color="blue">
						<i class="material-icons">business</i>
					</div>
					<div class="card-content">
						<h4 class="card-title" th:unless="${condominio.novo}">Editar
							Condomínio</h4>
						<h4 class="card-title" th:if="${condominio.novo}">Incluir
							Novo Condomínio</h4>



						<div class="alert alert-warning alert-with-icon"
							data-notify="container" th:if="${#fields.hasAnyErrors()}">
							<i class="material-icons" data-notify="icon">notifications</i>
							<th:block th:each="erro : ${#fields.detailedErrors()}">
								<div>
									<i class="fa fa-exclamation-circle text-info "></i> <b
										th:text="${erro.message}">Mensagem de erro</b>
								</div>
						</div>

						<input type="hidden" th:field="*{id}" /> 
						<input type="hidden" th:field="*{id}" /> <input type="hidden"
							th:field="*{pessoaJuridica}" />

						<div class="row">
							<div class="col-md-7">
								<div class="form-group label-floating"
									>
									<label class="control-label">CNPJ *</label> <input disabled="disabled" type="text"
										class="form-control required cnpj-mask " placeholder=""
										th:value="${condominio.pessoaJuridica.cnpj}" />
										
										 <input disabled="disabled" type="hidden" id="pessoajuridica.cnpj" name="pessoajuridica.cnpj"
										class="form-control required cnpj-mask " placeholder=""
										th:field="*{pessoaJuridica.cnpj}" />
								</div>
							</div>
						</div>


						<div class="row">
							<div class="col-md-12">
								<div class="form-group label-floating"
									>
									<label class="control-label">Nome do Condomínio*</label> <input
										disabled="disabled" type="text" class="form-control required" placeholder=""
										th:value="${condominio.pessoaJuridica.nomeFantasia}" maxlength="255">
										
										<input
										 type="hidden" class="form-control required" placeholder=""
										th:field="*{pessoaJuridica.nomeFantasia}" maxlength="255">
								</div>
							</div>
						</div>


						<div class="row">
							<div class="col-md-12">
								<div class="form-group label-floating"
									syndic:classforerror="pessoaJuridica.razaoSocial">
									<label class="control-label">Razão Social *</label> 
									<input
										disabled="disabled" type="text" class="form-control required" placeholder=""
										th:value="${condominio.pessoaJuridica.razaoSocial}" maxlength="255">
										
										 <input
										 type="hidden" class="form-control required" placeholder=""
										th:field="*{pessoaJuridica.razaoSocial}" maxlength="255">
								</div>
							</div>
						</div>


						<div class="row">
							<div class="col-md-12">
								<div class="form-group label-floating"
									syndic:classforerror="endereco">
									<label class="control-label">Endereço *</label> <input
										disabled="disabled" type="text" maxlength="255" class="form-control required"
										placeholder="" th:field="*{endereco}">
								</div>
							</div>
						</div>



						<div class="row">
							<div class="col-md-4">
								<div class="form-group label-floating"
									syndic:classforerror="endereco">
									<label class="control-label">1º Telefone</label> <input
										type="text" maxlength="15" size="15"
										class="form-control required telefonecompleto-mask"
										placeholder="" th:field="*{telefone1}">
								</div>
							</div>

							<div class="col-md-4">
								<div class="form-group label-floating"
									syndic:classforerror="endereco">
									<label class="control-label">2º Telefone</label> <input
										type="text" maxlength="15" size="15"
										class="form-control required telefonecompleto-mask"
										placeholder="" th:field="*{telefone2}">
								</div>
							</div>

							<div class="col-md-4">
								<div class="form-group label-floating"
									syndic:classforerror="endereco">
									<label class="control-label">3º Telefone</label> <input
										type="text" maxlength="15" size="15"
										class="form-control required telefonecompleto-mask"
										placeholder="" th:field="*{telefone3}">
								</div>
							</div>
						</div>


						<div class="row">
							<div class="col-md-12">
								<div class="form-group label-floating"
									syndic:classforerror="email1">
									<label class="control-label">1º Email</label> <input
										type="email" maxlength="80" size="80"
										class="form-control required " placeholder=""
										th:field="*{email1}">
								</div>
							</div>

						</div>

						<div class="row">
							<div class="col-md-12">
								<div class="form-group label-floating"
									syndic:classforerror="email2">
									<label class="control-label">2º Email</label> <input
										type="email" maxlength="80" size="80" class="form-control "
										placeholder="" th:field="*{email2}">
								</div>
							</div>

						</div>





						<button type="button" onClick="history.back()"
							class="btn btn-warning pull-right">cancelar</button>
						<button type="submit" class="btn btn-info pull-right">Salvar
						</button>

						<div class="clearfix"></div>

					</div>
				</div>


				<input type="hidden" class="js-nomeFoto" th:field="*{nomeFoto}" />
				<input type="hidden" class="js-contentType"
					th:field="*{contentType}" /> <input type="hidden"
					class="js-novaFoto" th:field="*{novaFoto}" /> <input type="hidden"
					class="js-urlFoto" th:field="*{urlFoto}" /> <input type="hidden"
					class="js-id-pessoa" value="0" /> <input type="hidden"
					class="js-idcondominio" th:field="*{id}" /> <input type="hidden"
					class="js-diretorio" id="diretorio" name="diretorio"
					value="LogoMarca" />


			</form>
			
			<div th:replace="/syndic/condominios/formulariocards"></div>
			
		</div>

		<div class="col-md-4">
		
		
			<div class="card">


				<h6 class="category text-gray">&nbsp;</h6>

				<div class="col-md-12 col-sm-12 text-center">
					<div id="foto">
						<div class="fileinput fileinput-new text-center js-container-foto"
							th:attr="data-url=@{/foto}" data-provides="fileinput">
							<div id="upload-drop">
								<div class="row">
									<div class="col-md-12 col-sm-12">
										<div class="fileinput-new thumbnail">
											<img th:src="@{/assets/img/image_placeholder.jpg}">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12 col-sm-12">
										<div class="fileinput-preview fileinput-exists thumbnail"></div>
										<span class="btn btn-info btn-file"> <span
											class="fileinput-new ">Logo</span> <span
											class="fileinput-exists">Aguarde...</span> <input
											id="upload-select" type="file" name="..."
											accept=".jpg,.jpeg,.png" />
										</span>
									</div>
								</div>

							</div>
						</div>

					</div>
				</div>
			</div>


		</div>



	</div>


</body>
</html>