<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
   xmlns:th="http://www.thymeleaf.org" 
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:data="http://www.thymeleaf.org/extras/data" 
	layout:decorator="layout/fragments/LayoutPadrao">
<head>
</head>
<section layout:fragment="conteudo">
		<div class="content">
       		<div class="container-fluid">
            	<div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header card-header-icon" th:data-background-color="${cor}">
                                    <i class="material-icons">business</i>
                                </div>
                                <div class="card-content">
                                    <h4 class="card-title">Lista de Condomínios</h4>
                                    <div class="toolbar">
                                        <!--        Here you can write extra buttons/actions for the toolbar              -->
                                    </div>
                                    <div class="material-datatables">

										<table id="datatables" class="table table-striped table-no-bordered table-hover" >
											<thead>
												<tr>
													<th>#</th>
													<th>Nome</th>
													<th>Síndico</th>
													<th>Contato</th>
													<th>Local</th>
													<th class="disabled-sorting text-right">Ação</th>
												</tr>
											</thead>
											<tfoot>
												<tr >
													<th>#</th>
													<th>Nome</th>
													<th>Síndico</th>
													<th>Contato</th>
													<th>Local</th>
													<th class="text-right">Ação</th>
												</tr>
											</tfoot>
											<tbody>
												<tr th:each="pfcondominio,iterationStatus : ${condominios}" >
													<td th:text="${iterationStatus.count}" >João</td>
													<td th:text="${pfcondominio.condominio.pessoaJuridica.nomeFantasia}" >cnpj</td>
													<td th:text="${pfcondominio.pessoaFisica.nome}">Nome do Sindico</td>
													<td th:if="${#lists.isEmpty(pfcondominio.pessoaFisica.telefones)}" >(--) ****-****</td>
													<td th:unless="${#lists.isEmpty(pfcondominio.pessoaFisica.telefones)}" th:text="${pfcondominio.pessoaFisica.telefones[0].NumeroFormatado}">(62) 2200-3322</td>
													<td >--------</td>
													<td class="text-right">
													<a th:href="@{/sindico/condominio/editar/{id}(id = ${pfcondominio.condominio.id})}" 
													class="btn btn-simple btn-warning btn-icon edit" rel="tooltip" title="Editar Informações">
													<i class="material-icons">dvr</i></a> 
													</td>
												</tr>
		
											</tbody>
										</table>
									</div>
                                </div>
                                <!-- end content-->
                            </div>
                            <!--  end card  -->
                        </div>
                        <!-- end col-md-12 -->
                    </div>
                    <!-- end row -->
            </div>
        </div>
	</section>
	
	
 	<section layout:fragment="javascript-extra">
		<script type="text/javascript">
		    $(document).ready(function() {
		        $('#datatables').DataTable({
		            "pagingType": "full_numbers",
		            "lengthMenu": [
		                [10, 25, 50, -1],
		                [10, 25, 50, "All"]
		            ],
		            responsive: true,
		            language: {
		                search: "_INPUT_",
		                searchPlaceholder: "Localizar",
		            }
		
		        });
		
		
		        var table = $('#datatables').DataTable();
		
		        // Edit record
		        table.on('click', '.edit', function() {
		            $tr = $(this).closest('tr');
		
		            var data = table.row($tr).data();
		          //  alert('You press on Row: ' + data[0] + ' ' + data[1] + ' ' + data[2] + '\'s row.');
		        });
		
		        // Delete a record
// 		        table.on('click', '.remove', function(e) {
// 		            $tr = $(this).closest('tr');
// 		            table.row($tr).remove().draw();
// 		            e.preventDefault();
// 		        });
		
		        //Like record
// 		        table.on('click', '.like', function() {
// 		            alert('You clicked on Like button');
// 		        });
		
		        $('.card .material-datatables label').addClass('form-group');
		    });
		</script>
	</section>
	
	
</body>
</html>