<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
   xmlns:th="http://www.thymeleaf.org" 
   xmlns:sec="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:data="http://www.thymeleaf.org/extras/data" >
<head>
</head>
<body>
<div class="row">
	<div class="col-md-12">
<!-- 		<div class="timeline-heading"> -->
          	
<!--         </div> -->
        <div class="alert alert-info">
              <span><span th:text="|${ordemServico.condominio.pessoaJuridica.nomeFantasia} - ${ordemServico.tipoOrdemServico.nome}|"></span></span>
        </div>
        <div class="alert alert-danger alert-with-icon hidden" data-notify="container">
			<i class="material-icons" data-notify="icon">close</i>
			<button type="button" aria-hidden="true" class="close">
				<i class="material-icons">close</i>
			</button>
			<span data-notify="message" class="js-mensagem-erro"></span>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="material-datatables">
			<table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
				<thead>
					<tr>
						<th>Funcionário</th>
						<th>Observação</th>
						<th class="text-right" sec:authorize="hasRole('ROLE_EMPRESA_ADMINISTRADOR')">Ação</th>
					</tr>
				</thead>
				<tbody class="tbodyRetorno">
					<tr th:each="objPF, iterationStatus : ${ordemServico.listPessoaFisicaOrdemServico}" th:class="|js-tr-excluir-${objPF.id}|">
						<td class="js-pessoa-fisica-nome" th:data-id="${objPF.pessoaFisica.id}" th:text="${objPF.pessoaFisica.nome}">obj</td>
						<td th:text="${objPF.observacao}">obj</td>
						<td class="td-actions text-right">
						
							<th:block th:if="${ordemServico.ultimoHistoricoOrdemServico.ordemServicoStatus.id} != 6  and ${ordemServico.ultimoHistoricoOrdemServico.ordemServicoStatus.id} != 4" sec:authorize="hasRole('ROLE_EMPRESA_ADMINISTRADOR')">
								<a class="btn btn-danger btn-round js-btn-excluir-responsavel" rel="tooltip" title="Excluir Registro" name="excluir" th:data-url="@{/ordemservico/responsavel/excluir}" th:data-id="${objPF.id}"> 
									<i class="material-icons">close</i>
								</a>
							</th:block>
						</td>
					</tr>					
				</tbody>
			</table>			
		</div>
	</div>
</div>

<div class="row" sec:authorize="hasRole('ROLE_EMPRESA_ADMINISTRADOR')">
	<div class="col-md-12">
		<form>
		
			<th:block th:if="${ordemServico.ultimoHistoricoOrdemServico.ordemServicoStatus.id} != 6  and ${ordemServico.ultimoHistoricoOrdemServico.ordemServicoStatus.id} != 4">
				
				<input type="hidden" class="js-ordem-servico" id="idOrdemServico" th:value="${ordemServico.id}" />
				
				<div class="form-group">
					<select class="form-control" data-style="select-with-transition" title="Responsável *" id="responsavel" data-size="7">
						<option value="">SELECIONE O FUNCIONÁRIO *</option>
						<option th:each="obj : ${listFuncionario}" th:value="${obj.id}" th:text="${obj.nome}"></option>
					</select>
				</div>
				
				<div>
					<div class="form-group label-floating">
						<label class="control-label">Observação <star>*</star></label>
						<textarea rows=2 class="form-control required observacao"></textarea>
					</div>
				</div>
				
			</th:block>
			<div class="modal-footer">

				<input type="hidden" class="js-url-ordemservico" th:data-url="@{/ordemservico}" />
				<input type="hidden" class="js-url-responsavel-excluir" th:data-url="@{/ordemservico/responsavel/excluir}" />

				<th:block th:if="${ordemServico.ultimoHistoricoOrdemServico.ordemServicoStatus.id} != 6  and ${ordemServico.ultimoHistoricoOrdemServico.ordemServicoStatus.id} != 4">
					<button type="button" class="btn btn-primary btn-raised js-modal-btn-inserir" th:url="@{/ordemservico/responsavel/inserir}">Inserir</button>
				</th:block>
				<button type="button" class="btn btn-raised btn-primary" data-dismiss="modal">Fechar</button>
			</div>
		</form>
	</div>
</div>
<div class="row" sec:authorize="!hasRole('ROLE_SINDICO')">
	<div class="col-md-12">
		<small><strong>Selecione um funcionário e caso necessário faça uma observação referente a Ordem de Serviço!</strong></small>
	</div>
</div>

<br/>

</body>
</html>